USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [ERF].[CalculateZScores]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=============================================
PROCEDURE NAME: [ERF].[CalculateZScores]
=============================================
DESCRIPTION: Generic stored procedure that calculates Z-scores for any dataset 
             provided via ERF.ZTableType table variable.

PARAMETERS:  @InputTbl - Table variable of type ERF.ZTableType containing categorised data:
             - Category1-5: Hierarchical categorisation fields
             - CategoryValue1: First numeric value to analyse
             - CategoryValue2: Second numeric value to analyse
             - SK_Date: Date identifier in numeric format

REVISION HISTORY:
Date        Author          Description
----------- --------------- --------------------------------
06/05/2025  Sridhar Peddi    Modified to properly handle zero standard deviation

USAGE EXAMPLE:
    DECLARE @DataTable AS ERF.ZTableType
    INSERT INTO @DataTable VALUES ('Cat1Value', 'Cat2Value', 'Cat3Value', '', '', 100.0, 1500.0, 20240531)
    EXEC ERF.CalculateZScores @DataTable

NOTES: 
- Calculates Z-scores for both CategoryValue1 and CategoryValue2
- Properly handles cases where standard deviation equals zero
- Z-scores indicate how many standard deviations a value is from the mean
- Supports analysis across multiple hierarchical dimensions
=============================================*/
CREATE PROCEDURE [ERF].[CalculateZScores]
(
    @InputTbl ERF.ZTableType READONLY  
)
AS  
BEGIN  
    -- Calculate means and standard deviations for each category grouping
    ;WITH Activity_Avg_Std AS (
        SELECT
            Category1, Category2, Category3, Category4, Category5,
            SK_Date,
            -- Calculate mean and standard deviation for first value
            AVG(CategoryValue1) OVER (PARTITION BY Category1, Category2, Category3, Category4, Category5) as AvgValue1,
            STDEV(CategoryValue1) OVER (PARTITION BY Category1, Category2, Category3, Category4, Category5) as StdCategoryValue1,
            -- Calculate mean and standard deviation for second value
            AVG(CategoryValue2) OVER (PARTITION BY Category1, Category2, Category3, Category4, Category5) as AvgValue2,
            STDEV(CategoryValue2) OVER (PARTITION BY Category1, Category2, Category3, Category4, Category5) as StdCategoryValue2
        FROM @InputTbl
    ),
    -- Calculate Z-scores with appropriate handling of zero standard deviation
    Z_Score_CTE AS (
        SELECT 
           A.Category1, A.Category2, A.Category3, A.Category4, A.Category5, A.SK_Date,
           CategoryValue1,
           B.AvgValue1,
           -- Fix for zero standard deviation cases
           CASE 
               WHEN B.StdCategoryValue1 > 0 THEN (A.CategoryValue1 - B.AvgValue1) / B.StdCategoryValue1 
               WHEN A.CategoryValue1 = B.AvgValue1 THEN NULL -- All values identical
               ELSE 999999 -- Data anomaly flag
           END as Zscore1,    
           CategoryValue2,
           B.AvgValue2,
           -- Fix for zero standard deviation cases
           CASE 
               WHEN B.StdCategoryValue2 > 0 THEN (A.CategoryValue2 - B.AvgValue2) / B.StdCategoryValue2 
               WHEN A.CategoryValue2 = B.AvgValue2 THEN NULL -- All values identical
               ELSE 999999 -- Data anomaly flag
           END as Zscore2    
        FROM @InputTbl A
        INNER JOIN Activity_Avg_Std B
            ON A.Category1 = B.Category1 
            AND A.Category2 = B.Category2 
            AND A.Category3 = B.Category3 
            AND A.Category4 = B.Category4 
            AND A.Category5 = B.Category5 
            AND A.SK_Date = B.SK_Date
    )
    -- Return results for further processing
    SELECT * FROM Z_Score_CTE
END
GO
