USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [ERF].[GenerateKeyStats_POD]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=============================================
PROCEDURE NAME: [ERF].[GenerateKeyStats_POD]
=============================================
DESCRIPTION: Generates statistics for Point of Delivery (POD) data by calculating
             Z-scores to identify statistical outliers in activity and cost data.
             
             This procedure aggregates data from ERF.vw_LatestRepricedData by management type,
             provider, and financial year, then calculates Z-scores to identify
             patterns and outliers.

PARAMETERS:  None - Data is sourced from ERF.vw_LatestRepricedData

REVISION HISTORY:
Date        Author          Description
----------- --------------- --------------------------------
06/05/2024  Sridhar Peddi    Original Creation
06/05/2025  Sridhar Peddi    Added documentation and improved temporary table handling

USAGE EXAMPLE:
    EXEC ERF.GenerateKeyStats_POD

NOTES: 
- Creates a temporary table (ERF.tmp_Zscores_POD) with the results
- Uses generic ERF.CalculateZScores procedure for statistical analysis
- Z-scores can be used to identify unusual patterns in provider activity/cost
=============================================*/
CREATE PROCEDURE [ERF].[GenerateKeyStats_POD]
AS
BEGIN
    -- Declare table variables for input and output
    DECLARE @MyTVP AS ERF.ZTableType
    DECLARE @MyTVPResults as ERF.ZscoreResults
    
    -- Populate input table with aggregated data
    -- Management Type, Provider Code, and Financial Year are the primary dimensions
    INSERT INTO @MyTVP
    SELECT [Der_Management_Type]       -- Category1: Point of Delivery type
          ,[Provider_Code]             -- Category2: Provider organisation
          ,[FiscalCalendarYearName]    -- Category3: Financial year
          ,'' as Category4             -- Category4: Not used in this context
          ,'' as Category5             -- Category5: Not used in this context
          ,SUM([Activity]) as [Activity]   -- CategoryValue1: Activity volume
          ,SUM(Cost) as Cost               -- CategoryValue2: Cost value
          ,[End_Of_Month]              -- SK_Date: Month end date
      FROM [Data_Lab_SWL].[ERF].[vw_LatestRepricedData]
      GROUP BY [Der_Management_Type]
          ,[Provider_Code]
          ,[FiscalCalendarYearName]      
          ,[End_Of_Month]
    
    -- Calculate Z-scores using the generic calculation procedure
    INSERT INTO @MyTVPResults
    EXEC ERF.CalculateZScores @MyTVP
    
    -- Handle temporary results table - drop if exists
    IF EXISTS (SELECT * FROM sys.objects 
               WHERE object_id = OBJECT_ID(N'[ERF].[tmp_Zscores_POD]') 
               AND type in (N'U'))
    BEGIN
        DROP TABLE ERF.tmp_Zscores_POD;
    END
    
    -- Create results table with Z-score data
    -- Note: Commented code suggests optional alerting logic could be added
    ; WITH data AS (
        SELECT *
        -- Optional alerting logic (currently disabled):
        -- CASE WHEN abs(ZScore1) > 1.95 THEN '1' ELSE 0 END as Alert1
        FROM @MyTVPResults
    )
    -- Store results in temporary table for further analysis
    -- Note: Time-based filtering could be added if needed
    SELECT * INTO ERF.tmp_Zscores_POD FROM data 
    -- Optional filtering logic (currently disabled):
    -- WHERE Alert = 1 AND SK_Date >= 20230401

	SELECT * FROM ERF.tmp_Zscores_POD
END
GO
