USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [ERF].[sp_ProcessERFData_2526]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**
--------------------------------------------------------------------------
-- Stored Procedure: ERF.ProcessERFData_2526
-- Description:  Process ERF data based on the year parameter, applies the necessary rules to extract the data into relevant tables and audits the entire extraction process
-- Author: Sridhar Peddi 
-- Created: 28-09-2023 - SP - Process ERF data based on the year parameter. Creates an entry in the table ERF.tbl_Log and updates with the @description
-- Changes: 03/06/2024 - SP - Modified the SQL code to work with FY change, amemended the tariff tables, applied the 24/25 rules and definitions
-- Parameters:
-- @year_to_refresh: Specifies the year for data refresh. ex '2024/2025'
-- @description: Provides a brief description of the procedure's purpose. 'M1 Refresh'
-- @tarrif_to_apply: The tariff that needs applying
	Change Log
	09/08/2024 - SP - Added new column [TotalCostInclMFF_Topup] to [Data_Lab_SWL].[ERF].[tbl_IP_RePriced_Activity] and [Data_Lab_SWL].[ERF].[tbl_OP_RePriced_Activity]
	03/07/2025 - SP - Adapted for 25/26
	30/09/2025 - SP - Have added the CAM logic
	31/10/2025 - SP - Cleaned up the comments
--------------------------------------------------------------------------
**/
CREATE    PROC [ERF].[sp_ProcessERFData_2526] (@year_to_refresh varchar(15),  @description varchar(250))
AS

--DECLARE @year_to_refresh varchar(20) = '2024/2025', @description varchar(250) = 'M6 with fixed payaward tariff and correct MFF (from ISL)'
DECLARE @bl_version_ip float, @currentDateTime DATETIME, @currentUser VARCHAR(150), @bl_version_op float, @cy_version_ip float,@cy_version_op float, @LoadBaseLineData bit, @RowsInserted int, @tarrif_to_apply varchar(9)



SELECT @bl_version_ip = ISNULL(MAX([Version]), 1) from [Data_Lab_SWL].ERF.tbl_IP_RePriced_Activity WHERE [Tariff_Used]='2025/2026' AND  ((LEFT(dv_FinYear,4) = LEFT(@year_to_refresh,4)) OR @year_to_refresh = 'ALL') --AND  Tariff_Used  IN (SELECT Fin_Year FROM ERF.tbl_Current_Tariff_Used WHERE IsCurrent=1) 
SELECT @bl_version_op = ISNULL(MAX([Version]), 1) from [Data_Lab_SWL].ERF.tbl_OP_RePriced_Activity WHERE [Tariff_Used]='2025/2026' AND  ((LEFT(dv_FinYear,4) = LEFT(@year_to_refresh,4)) OR @year_to_refresh = 'ALL') --AND  Tariff_Used  IN (SELECT Fin_Year FROM ERF.tbl_Current_Tariff_Used WHERE IsCurrent=1)  -- Handles nulls by defaulting to 0

-- Increment version by 0.1
SET @bl_version_ip = @bl_version_ip + 0.1
SET @bl_version_op = @bl_version_op + 0.1
SET @tarrif_to_apply = '2025/2026'
-- Get current date and time
SET @currentDateTime = GETDATE()

--Enable or Disable Baseline Load
SET @LoadBaseLineData = 1
-- Get connected user
SET @currentUser = SYSTEM_USER

-- Declare a variable to capture LogId
DECLARE @IP_LogId INT, @OP_LogId INT, @CAM_LogId int


--Only run the baseline once. If baseline needs to be rerun then comment the below IF condition
IF (@bl_version_ip >= 1 AND @bl_version_op >= 1 AND @LoadBaseLineData = 1)
BEGIN TRY

	-- Insert a new log record and capture the inserted LogId
	INSERT INTO ERF.tbl_Log  (LogDescription, JobStart, JobStatus, [CurrentVersion])
	VALUES (CONCAT('IP:',@description), GETDATE(), 0,@bl_version_ip)

	SET @IP_LogId = SCOPE_IDENTITY()
	PRINT concat('@bl_version_op :',@bl_version_op, ' @bl_version_ip: ',@bl_version_ip, ' @currentDateTime: ',@currentDateTime, ' @currentUser: ', @currentUser, ' LogId:',@IP_LogId)
	
	PRINT 'Inserting the data from ERF Views into [Data_Lab_SWL].[ERF].[tbl_IP_RePriced_Activity]...'
	-- Insert new records with incremented version, current date and time, and connected user
	INSERT INTO [Data_Lab_SWL].[ERF].[tbl_IP_RePriced_Activity]
			   ([Der_Activity_Month],[dv_FinMonth],[Provider_Code],[Provider_Type],[Commissioner_Code],[CommissionedBy],[Der_Management_Type],[Spell_Core_HRG],[Treatment_Function_Code],[Site_code_of_Treatment]
			   ,[Excess_bed_days],[LongStay_Day_Tariff],[Price],[2023_24_MFF],[Activity],[TotalCostInclMFF],[TotalCostInclMFF_Topup],[Version],[DateInserted],[InsertedBy],
			   [dv_FinYear],[Tariff_Used],LogId,Organisation_Code_PCT_of_Residence, ServiceCode,[Organisation_Code_PCT_of_GP_Practice], 
			   SK_EncounterID, GP_Practice_Code_Original_Data, POD_Detail, Admission_Date, Discharge_Date)
	SELECT [Der_Activity_Month],[dv_FinMonth],[Provider_Code],[Provider_Type],[Commissioner_Code],[CommissionedBy],[Der_Management_Type],[Spell_Core_HRG],[Treatment_Function_Code],[Site_code_of_Treatment]
			,[Excess_bed_days] ,[LongStay_Day_Tariff],[Price],MFF_Applied,[Activity],[TotalCostInclMFF],[TotalCostInclMFF_Topup],@bl_version_ip, @currentDateTime, @currentUser,		  
		  dv_FinYear,[Tariff_Used], @IP_LogId,Organisation_Code_PCT_of_Residence, ServiceCode,[Organisation_Code_PCT_of_GP_Practice], 
		  SK_EncounterID,  GP_Practice_Code_Original_Data, POD_Detail,Admission_Date, Discharge_Date
	FROM [Data_Lab_SWL].ERF.vw_IP_RePriced_Activity_2526 
	WHERE 1=1
		AND (LEFT(dv_FinYear,4) = LEFT(@year_to_refresh,4))

	SET @RowsInserted = @@ROWCOUNT;

	PRINT 'Updating the table  ERF.tbl_Log ...'
	-- Finally, update JobEnd using captured LogId
	UPDATE  ERF.tbl_Log 
	SET JobEnd = GETDATE(), JobStatus = 1, RecordsInserted = @RowsInserted
	WHERE Id = @IP_LogId
	PRINT 'INSERT INTO ERF.tbl_Log ...'
	---- Insert a new log record and capture the inserted LogId for Outpatient
	INSERT INTO ERF.tbl_Log  (LogDescription, JobStart, JobStatus, [CurrentVersion])
	VALUES (CONCAT('OP:',@description), GETDATE(), 0, @bl_version_op)

	SET @OP_LogId = SCOPE_IDENTITY()

	PRINT 'Inserting the data from ERF OP View into [ERF].[tbl_OP_RePriced_Activity]...'

	SET @RowsInserted = @@ROWCOUNT;

	 --Insert new records with incremented version, current date and time, and connected user
	INSERT INTO [ERF].[tbl_OP_RePriced_Activity]
			   ([Der_Activity_Month],[dv_FinMonth],[Provider_Code],[Provider_Type],[Commissioner_Code],[CommissionedBy],[Der_Appointment_Type],[HRG_Code],[Treatment_Function_Code],[Site_code_of_Treatment],
			   [National_Price],[Price_to_apply],[Activity],[MFF],[TotalCostInclMFF],[TotalCostInclMFF_Topup],
			   [Version],[DateInserted],[InsertedBy], [dv_FinYear],[Tariff_Used],LogId,Organisation_Code_PCT_of_Residence, ServiceCode,[Organisation_Code_PCT_of_GP_Practice]
			   ,SK_EncounterID, GP_Practice_Code_Original_Data, POD_Detail, Appointment_Date)
	SELECT 
		[Der_Activity_Month],[dv_FinMonth],[Provider_Code],[Provider_Type],[Commissioner_Code],[CommissionedBy],[Der_Appointment_Type],
		[HRG_Code],[Treatment_Function_Code],[Site_code_of_Treatment], [National_Price],[Price_to_apply],[Activity],MFF,[TotalCostInclMFF],[TotalCostInclMFF_Topup],
		@bl_version_op as [Version], @currentDateTime as DateInserted, @currentUser as InsertedBy,dv_FinYear,[Tariff_Used],@OP_LogId as LogId	,Organisation_Code_PCT_of_Residence, ServiceCode,
		[Organisation_Code_PCT_of_GP_Practice],SK_EncounterID, GP_Practice_Code_Original_Data, POD_Detail,Appointment_Date
		--INTO ERF.tbl_test22
	FROM [Data_Lab_SWL].ERF.vw_OP_RePriced_Activity_2526
	WHERE 1=1
		AND (LEFT(dv_FinYear,4) = LEFT(@year_to_refresh,4))

	SET @RowsInserted = @@ROWCOUNT;
	PRINT 'Updating the table  ERF.tbl_Log following OP updated ...'	

		-- Finally, update JobEnd using captured LogId
	UPDATE  ERF.tbl_Log 
	SET JobEnd = GETDATE(), JobStatus = 1, RecordsInserted = @RowsInserted
	WHERE Id = @OP_LogId


	---- Insert a new log record and capture the inserted LogId for CAM
	INSERT INTO ERF.tbl_Log  (LogDescription, JobStart, JobStatus, [CurrentVersion])
	VALUES (CONCAT('CAM:',@description), GETDATE(), 0, @bl_version_op)

	SET @CAM_LogId = SCOPE_IDENTITY()


	--Delete the temp table which hosts the CAM data
	IF OBJECT_ID('temp.tbl_IP_CAM') IS NOT NULL
    DROP TABLE temp.tbl_IP_CAM;

	--Extracts the CAM based records (based o SUS using the function [CAM].[fn_CommissionerAssignment] )
	SELECT *, @CAM_LogId as LogId
	INTO temp.tbl_IP_CAM -- it also has OP & IP 
	FROM [CAM].[fn_CommissionerAssignment] ('2025/2026', NULL, NULL, NULL);

	-- Finally, update JobEnd using captured LogId for CAM
	UPDATE  ERF.tbl_Log 
	SET JobEnd = GETDATE(), JobStatus = 1, RecordsInserted = @RowsInserted
	WHERE Id = @CAM_LogId

	Update A
	SET A.CAM_Commissioner_Code = c.[CAM_Commissioner_Code], 
	A.CAM_Assignment_Reason = c.[Commissioner Assignment Reason],
	A.CAM_Service_Category = C.[CAM_Service_Category]
	from [ERF].[tbl_OP_RePriced_Activity] a				
	inner join temp.tbl_IP_CAM c on c.[RecordIdentifier] = a.SK_EncounterID
	where a.LogId = @OP_LogId and Dataset = 'OP'

	Update A
	SET A.CAM_Commissioner_Code = c.[CAM_Commissioner_Code], 
	A.CAM_Assignment_Reason = c.[Commissioner Assignment Reason],
	A.CAM_Service_Category = C.[CAM_Service_Category]
	from [ERF].[tbl_IP_RePriced_Activity] a
	--inner join [SUS].[IP].[EncounterDenormalised_DateRange] b on a.SK_EncounterID = b.SK_EncounterID
	inner join temp.tbl_IP_CAM c on c.[RecordIdentifier] = a.SK_EncounterID
	where a.LogId = @IP_LogId and Dataset = 'IP'
	   	 

END TRY
BEGIN CATCH
   PRINT(CONCAT('Error found ----->ErrorNumber:',ERROR_NUMBER(), ' ErrorMessage:',   ERROR_MESSAGE()))
END CATCH

GO
