USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [ERF].[GenerateKeyStats]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*=============================================
PROCEDURE NAME: [ERF].[GenerateKeyStats]
=============================================
DESCRIPTION: Generates statistical metrics for healthcare activity and cost data
             by calculating Z-scores to identify statistical outliers.
             
             This procedure is a generic version of the data analysis framework
             that extracts data from ERF.vw_LatestRepricedData, calculates Z-scores,
             and stores results for further analysis.

PARAMETERS:  None - Data is sourced from ERF.vw_LatestRepricedData

REVISION HISTORY:
Date        Author          Description
----------- --------------- --------------------------------
06/05/2025  Sridhar Peddi	Creation date
06/05/2025  Sridhar Peddi    Added documentation and improved code structure

USAGE EXAMPLE:
    EXEC ERF.GenerateKeyStats

NOTES: 
- Creates a temporary table (ERF.tmp_Zscores) with the statistical results
- Uses the generic ERF.CalculateZScores procedure for statistical analysis
- Results can be used to identify unusual patterns in healthcare metrics
- Compare with ERF.GenerateKeyStats_POD for point-of-delivery specific analysis
=============================================*/
CREATE PROCEDURE [ERF].[GenerateKeyStats]
AS
BEGIN
    -- Declare table variables for input and output
    DECLARE @MyTVP AS ERF.ZTableType
    DECLARE @MyTVPResults as ERF.ZscoreResults
    
    -- Populate input table with data from the latest repriced dataset
    INSERT INTO @MyTVP
    SELECT * FROM ERF.vw_LatestRepricedData
    
    -- Calculate Z-scores using the generic calculation procedure
    INSERT INTO @MyTVPResults
    EXEC ERF.CalculateZScores @MyTVP
    
    -- Handle temporary results table - drop if exists
    IF EXISTS (SELECT * FROM sys.objects 
               WHERE object_id = OBJECT_ID(N'[ERF].[tmp_Zscores]') 
               AND type in (N'U'))
    BEGIN
        DROP TABLE ERF.tmp_Zscores;
    END
    
    -- Create results table with Z-score data
    ; WITH data AS (
        SELECT *
        -- Optional alerting logic could be added here if needed:
        -- CASE WHEN abs(ZScore1) > 1.95 THEN '1' ELSE 0 END as Alert
        FROM @MyTVPResults
    )
    -- Store results in temporary table for further analysis
    SELECT * INTO ERF.tmp_Zscores FROM data
    -- Optional filtering could be added here if needed:
    -- WHERE Alert = 1 AND SK_Date >= 20230401
	SELECT * FROM ERF.tmp_Zscores
END
GO
