USE [Data_Lab_SWL]
GO
/****** Object:  UserDefinedFunction [IP].[GetPodType]    Script Date: 02/01/2026 10:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-------------------------------------------------------------------------------------------------
Function Name: SWL.GetPodType
Author: Sridhar Peddi
Created On: 27/11/2023
Last Modified: 

Description: This function determines the type of patient admission (Pod) based on various criteria related to the admission method, patient classification, intended management, and dates associated with the hospital provider spell.
Parameters:
    @Admission_Method_Hospital_Provider_Spell VARCHAR(50): Admission method code of the hospital provider spell.
    @Patient_Classification VARCHAR(50): Classification of the patient for the given admission.    
    @Intended_Management VARCHAR(50): Intended management plan for the patient's treatment.
    @Episode_Start_Date DATE: Start date of the patient's episode.
    @Episode_End_Date DATE: End date of the patient's episode.
    @Start_Date_Hospital_Provider_Spell DATE: Start date of the hospital provider spell.    
    @End_Date_Hospital_Provider_Spell DATE: End date of the hospital provider spell.
Returns:
    VARCHAR(100): Returns a string indicating the type of Pod, such as 'Regular Day Admission', 'Elective Ordinary (Acute) E.M.10b', 'Elective Daycase (Acute) E.M.10a', etc.
Remarks:
    - The function categorizes admissions into various types based on the admission method, patient classification, intended management, and the duration of the hospital stay.
    - It's essential to ensure that the date parameters are accurate to derive the correct Pod type.
    - This function is optimized for specific use cases within the SWL schema and may need adjustments for other schemas.
------------------------------------------------------------------------------------------------------------------
*/
ALTER FUNCTION [IP].[GetPodType]
(
    @Admission_Method_Hospital_Provider_Spell VARCHAR(50),
    @Patient_Classification VARCHAR(50),
    @Intended_Management VARCHAR(50), -- Kept for compatibility, though not strictly used in basic logic
    @AdmissionDate DATE,
    @DischargeDate DATE,
    @HRG varchar(10) -- Increased length slightly for safety
)
RETURNS VARCHAR(100)
AS
BEGIN
    DECLARE @PodType VARCHAR(150) = 'Other'
    
    -- Calculate Length of Stay. 
    -- Note: If DischargeDate is NULL (current inpatient), LOS usually defaults to datediff from run date, 
    -- but here we assume 0 or handle externally.
    DECLARE @LOS INT = ISNULL(DATEDIFF(day, @AdmissionDate, @DischargeDate), 0)

    -------------------------------------------------------
    -- 1. ELECTIVE (Admission Methods 11, 12, 13)
    -------------------------------------------------------
    IF @Admission_Method_Hospital_Provider_Spell IN ('11','12','13')
    BEGIN
        -- Regular Day Admission (Patient Class 3)
        IF @Patient_Classification = '3'
            SET @PodType = 'RADAY'
        
        -- Regular Night Admission (Patient Class 4)
        ELSE IF @Patient_Classification = '4'
            SET @PodType = 'RANIGHT'
            
        -- Daycase (Patient Class 2 AND LOS is 0)
        ELSE IF @Patient_Classification = '2' AND @LOS = 0
            SET @PodType = 'DC'
            
        -- Ordinary Elective (EL)
        -- Covers: Class 1 (any LOS) OR Class 2 (converted to Inpatient/LOS > 0)
        ELSE 
            SET @PodType = 'EL'
    END

    -------------------------------------------------------
    -- 2. NON-EMERGENCY / OTHER NON-ELECTIVE 
    -- (Methods 31-32, 81-83 per PDF)
    -------------------------------------------------------
    ELSE IF @Admission_Method_Hospital_Provider_Spell IN ('31','32','81','82','83')
    BEGIN
        SET @PodType = 'NELNE'
    END

    -------------------------------------------------------
    -- 3. EMERGENCY (Methods 21-25, 28, 2A-2D)
    -------------------------------------------------------
    -- Uses LIKE '2%' to capture both numeric (21) and alphanumeric (2A) codes
    ELSE IF @Admission_Method_Hospital_Provider_Spell LIKE '2%'
    BEGIN
        -- Short Stay Emergency (NELST)
        -- Logic: LOS 0 or 1 AND HRG exists in the Reduced Short Stay Tariff list
        IF (@LOS <= 1) AND EXISTS (
            SELECT 1 
            FROM [Data_Lab_SWL].[SWL].[tbl_Tariff_APC_OPPROC] 
            WHERE Reduced_Short_Stay_Emergency_Tariff_Applicable = 'YES' 
            AND HRG_Code = @HRG
        )
            SET @PodType = 'NELST'
        ELSE
            -- Standard Emergency Spell (NEL)
            SET @PodType = 'NEL'
    END

    -------------------------------------------------------
    -- 4. GENERIC / FALLBACK
    -------------------------------------------------------
    ELSE
    BEGIN
        SET @PodType = 'Other'
    END
        
    RETURN @PodType
END

--RETURNS VARCHAR(100)
--AS
--BEGIN
--    DECLARE @PodType VARCHAR(150)
    
--    IF @Admission_Method_Hospital_Provider_Spell LIKE '1%'
--    BEGIN
--        -- Elective cases
--        IF @Patient_Classification IN ('3', '4') AND DATEDIFF(day, @AdmissionDate, @DischargeDate) <= 0 SET @PodType = 'Regular Day Admission'
--        ELSE IF @Patient_Classification = '4' AND DATEDIFF(day, @AdmissionDate, @DischargeDate) = 1 SET @PodType = 'Regular Night Admission'
--       -- Merging the conditions for Elective Ordinary and Elective Daycase
--		ELSE IF (@Patient_Classification IN ('1', '2', '3', '4', '5') OR @Patient_Classification IS NULL) AND (@Intended_Management IN ('1', '2') OR @Intended_Management IS NULL)
--		BEGIN
--			IF DATEDIFF(day, @AdmissionDate, @DischargeDate) <= 0 
--				SET @PodType = 'Daycase'
--			ELSE
--				SET @PodType = 'Elective'
--		END
--        ELSE
--            SET @PodType = 'Other' -- Default for other elective cases
--    END
--    ELSE
--    BEGIN
--      -- Non-Elective cases
--		IF @Admission_Method_Hospital_Provider_Spell LIKE '2%' OR @Admission_Method_Hospital_Provider_Spell LIKE '3%' OR @Admission_Method_Hospital_Provider_Spell LIKE '8%'
--		BEGIN
--			SET @PodType = 'Non-Elective'
--			--IF DATEDIFF(day, @AdmissionDate, @DischargeDate) <= 0
--			--	SET @PodType = 'Non-Elective (0 LoS)'
--			--ELSE
--			--	SET @PodType = 'Non-Elective (1+ LoS)'
--		END
--    END
--    RETURN @PodType
--END
