USE [Data_Lab_SWL]
GO
/****** Object:  UserDefinedFunction [OP].[GetPodType]    Script Date: 02/01/2026 10:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--=============================================
-- Function: [OP].[GetPodType]
-- =============================================
-- Description:
--   This function determines the Point of Delivery (POD) Type 
--   for an outpatient attendance based on HRG code, 
--   attendance status, first attendance indicator, 
--   and specialty code.
--
-- Parameters:
--   @HRG                        - VARCHAR(5)  - HRG code associated with the attendance
--   @Attended_Or_Did_Not_Attend - VARCHAR(1)  - 
--   @First_Attendance           - VARCHAR(1)  - '1' or '3' for first attendance, '2' or '4' for follow-up
--   @Main_Specialty_Code        - VARCHAR(3)  - Specialty code of the consultant managing the appointment
--
-- Returns:
--   VARCHAR(100) - POD type classification
--
-- Change Log:
--   2025-02-14 - Sridhar Peddi - Initial function creation
--   2025-12-31 - Sridhar Peddi - Modified the int check for First Attendances and Attended_Or_Did_Not_Attend to string
-- =============================================

ALTER   FUNCTION [OP].[GetPodType]
(    
	@HRG varchar(5),
	@Attended_Or_Did_Not_Attend varchar(1),
	@First_Attendance varchar(1),
	@Main_Specialty_Code varchar(3)
)
RETURNS VARCHAR(100)
AS
BEGIN
	DECLARE @PodType VARCHAR(150)
	SET @PodType =  
	CASE 
		-- Base Category: OP, NF2F, DNA
		WHEN @First_Attendance IN ('1', '3', '2', '4') THEN 'OP'  		
		WHEN @Attended_Or_Did_Not_Attend IN ('5','6') THEN 'DNA'  -- Did not attend
	END 
	+
	-- Procedure Identification
	CASE 
		WHEN @HRG NOT LIKE 'WF%' AND @HRG NOT LIKE 'UZ%' THEN 
			'PROC'  -- Non-PbR OP Procedure			
		ELSE ''
	END 
	+
	-- Attendance Type (Only if not a procedure)
	CASE 
		WHEN @HRG LIKE 'WF%' THEN 
			CASE 
				WHEN @First_Attendance IN ('1', '3') THEN 'FA'  -- First Attendance
				WHEN @First_Attendance IN ('2', '4') THEN 'FUP' -- Follow-up Attendance
			END
		ELSE ''
	END 
	+
	-- Single or Multi Professional (Only for attendances, not procedures)
	CASE 
		WHEN @HRG LIKE 'WF01%' THEN 'SP'  -- Single Professional
		WHEN @HRG LIKE 'WF02%' THEN 'MP'  -- Multi-Professional
		ELSE ''
	END 
	+
	-- Consultant or Non-Consultant Led (Only for attendances, not procedures)
	CASE 
		WHEN @HRG LIKE 'WF%' THEN 
			CASE WHEN @Main_Specialty_Code NOT IN ('560', '900', '901', '902', '903', '904', '950', '960') THEN 'CL' ELSE 'NCL' END
		ELSE ''
	END
	--AS PGI_SUS_Category

	+
	CASE WHEN @HRG LIKE 'WF01C%' OR @HRG LIKE 'WF01D%' OR @HRG LIKE 'WF02C%' OR @HRG LIKE 'WF02D%' THEN 'NF2F'  -- Non-Face-to-Face 
	ELSE '' END
		
	RETURN @PodType
END

