USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_OP_OSV_AggregatedMetrics]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








/********************************************************************************
-- View Name: [Unified].[vw_OP_OSV_AggregatedMetrics]
--
-- Description: Aggregates total activity and OSV category submissions for OP appointments.
--
-- Change Log:
--   Date         Author          Description
--   ----------   --------------  -------------------------------------------------
--   2025-03-23   Sridhar Peddi   Initial creation of the view.
--   2024-11-29   Your Name       Included unmapped fields with NULL placeholders.
--
********************************************************************************/

CREATE VIEW [Unified].[vw_OP_OSV_AggregatedMetrics] AS
WITH AppointmentData AS (
  SELECT 
    [appointment.commissioning.service_agreement.provider] AS [Organisation_Code_Code_of_Provider],
    SWL.GetProviderType([appointment.commissioning.service_agreement.provider],[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date]) AS Provider_Type,
    Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] AS OSV_Charging_Category,
    [SWL].[GetOSVCategory]([appointment.patient.overseas_visitor_charging_category_at_cds_activity_date]) AS OSV_Description,
    Appt.[appointment.patient.overseas_visitor.classification] AS OSV_Classification,
    CAST(REPLACE(dt.FiscalCalendarYearName, '-', '/20') AS VARCHAR(9)) AS dv_FinYear,
    CASE 
      WHEN Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] IS NOT NULL 
        AND Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] <> '9'
        AND Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] IN ('A','B','C','D','E','F','P')
      THEN 1 
      ELSE 0 
    END AS OSV_Category_Submitted,
    CASE 
      WHEN Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] IS NOT NULL 
        AND Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] = '9'
      THEN 1 
      ELSE 0 
    END AS OSV_Default_Category_Submitted,
    1 AS Activity,
    dt.FiscalCalendarMonthNumber AS dv_FinMonth,
    dt.EndOfMonthDate
  FROM [Data_Store_SUS_Unified].[OP].[appointment] Appt WITH (NOLOCK)
  LEFT JOIN [Dictionary].[dbo].[Dates] dt WITH (NOLOCK) ON dt.FullDate = Appt.[system.transaction.cds_activity_date]
  WHERE REPLACE(dt.FiscalCalendarYearName, '-', '/20') IN ( '2024/2025',  '2025/2026')
    AND [appointment.commissioning.service_agreement.provider] IN ('RVR','RPY','RAX','RJ6','RJ7')
    AND COALESCE(Appt.[appointment.attended_or_dna], -1) IN ('5','6')
)
SELECT 
  [Organisation_Code_Code_of_Provider], 
  Provider_Type,
  dv_FinYear, 
  dv_FinMonth,
  EndOfMonthDate,
  'Total Activity (Unified SUS)' AS Metric, 
  SUM(Activity) AS [Value]
FROM AppointmentData 
GROUP BY [Organisation_Code_Code_of_Provider], dv_FinYear, dv_FinMonth, EndOfMonthDate, Provider_Type

UNION ALL

SELECT 
  [Organisation_Code_Code_of_Provider] , 
  Provider_Type,
  dv_FinYear, 
  dv_FinMonth, 
  EndOfMonthDate,
  OSV_Description AS Metric, 
  SUM(OSV_Category_Submitted) AS [Value]
FROM AppointmentData 
WHERE OSV_Description IS NOT NULL
GROUP BY [Organisation_Code_Code_of_Provider], OSV_Description, dv_FinYear, dv_FinMonth, EndOfMonthDate, Provider_Type

UNION ALL

SELECT 
  [Organisation_Code_Code_of_Provider], 
  Provider_Type,
  dv_FinYear, 
  dv_FinMonth, 
  EndOfMonthDate,
  'OSV Default Category Submitted (Unified SUS)' AS Metric, 
  SUM(OSV_Default_Category_Submitted) AS [Value]
FROM AppointmentData 
GROUP BY [Organisation_Code_Code_of_Provider], dv_FinYear, dv_FinMonth, EndOfMonthDate, Provider_Type;
GO
