USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_OP_Attednances]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





/*
25-06-2025  Sridhar Peddi  Amended to point to the materialised Unified SUS table
*/
CREATE VIEW [Unified].[vw_OP_Attednances]
AS

with data as (
SELECT [SK_EncounterID]
      ,[dv_Query_ID]
      ,[Generated_Record_ID]
      ,[Attendance_Identifier]
      ,[Spell_Identifier]
      ,[Unique_CDS_Identifier]
      ,[dv_FinYear]
      ,[dv_FinMonth]
      ,[dv_Activity_Period_Date]
      ,[Appointment_Date]
      ,[Appointment_Time]
      ,[dv_CDSActivityDate]
      ,[Referrer_Code]
      ,[Referring_Organisation_Code]
      ,[Referral_Request_Received_Date]
      ,[Priority_Type]
      ,[Service_Type_Requested]
      ,[Source_of_Referral_for_Outpatients]
      ,[Is_Valid_UBRN]
      ,[UBRN_Occurrence_Count]
      ,[Organisation_Code_Patient_Pathway_Identifier]
      ,[RTT_Patient_Pathway_Identifier]
      ,[RTT_Period_Start_Date]
      ,[RTT_Period_End_Date]
      ,[dv_RTT_Length_Derived]
      ,[RTT_Status]
      ,[Administrative_Category]
      ,[First_Attendance]
      ,[Attended_Or_Did_Not_Attend]
      ,[Outcome_of_Attendance]
      ,[Location_Type_Code]
      ,[SK_PatientID]
      ,[DW_NHS_Number]
      ,[Local_Patient_Identifier]
      ,[Ethnic_Category_Code]
      ,[Age]
      ,[dv_YearOfBirth]
      ,[Gender_Code]
      ,[Postcode_of_Usual_Address]
      ,[dv_LSOA]
      ,[OSV_Charging_Category]
      ,[OSV_Classification]
      ,[GP_Code]
      ,[GP_Practice_Code_Original_Data]
      ,[GP_Practice_Code_Derived]
      ,[Consultant_Code]
      ,[Medical_Staff_Type_Seeing_Patient]
      ,[Main_Specialty_Code]
      ,[Treatment_Function_Code]
      ,[Local_Sub_Specialty_Code]
      ,[Clinic_Code]
      ,[Consultant_Code_63]
      ,[Provider_Reference_No]
      ,[Commissioner_Reference_No]
      ,[Commissioning_Serial_No_Agreement_No]
      ,[NHS_Service_Agreement_Line_No]
      ,[Organisation_Code_Code_of_Provider]
      ,[Site_code_of_Treatment]
      ,[Organisation_Code_PCT_of_Residence]
      ,[Patient_Postcode_Derived_PCT]
      ,[Organisation_Code_Code_of_Commissioner]
      ,[PCT_Derived_from_GP_Practice]
      ,[dv_SpecCom_ServiceCode_National]
      ,[Spell_NPOC]
      ,[dv_Commissioner_Code_of_Residence]
      ,[dv_Purchaser_ID]
      ,[Core_HRG]
      ,[Operation_Status]
      ,[Number_Diagnosis]
      ,[Primary_Diagnosis_Code]
      ,[Secondary_Diagnosis_Code_1]
      ,[Secondary_Diagnosis_Code_2]
      ,[Secondary_Diagnosis_Code_3]
      ,[Secondary_Diagnosis_Code_4]
      ,[Secondary_Diagnosis_Code_5]
      ,[Secondary_Diagnosis_Code_6]
      ,[Secondary_Diagnosis_Code_7]
      ,[Secondary_Diagnosis_Code_8]
      ,[Secondary_Diagnosis_Code_9]
      ,[Secondary_Diagnosis_Code_10]
      ,[Secondary_Diagnosis_Code_11]
      ,[Secondary_Diagnosis_Code_12]
      ,[Number_Procedures]
      ,[Primary_Procedure_Code]
      ,[Primary_Procedure_Date]
      ,[Secondary_Procedure_Code_1]
      ,[Secondary_Procedure_Date_1]
      ,[Secondary_Procedure_Code_2]
      ,[Secondary_Procedure_Date_2]
      ,[Secondary_Procedure_Code_3]
      ,[Secondary_Procedure_Date_3]
      ,[Secondary_Procedure_Code_4]
      ,[Secondary_Procedure_Date_4]
      ,[Secondary_Procedure_Code_5]
      ,[Secondary_Procedure_Date_5]
      ,[Secondary_Procedure_Code_6]
      ,[Secondary_Procedure_Date_6]
      ,[Secondary_Procedure_Code_7]
      ,[Secondary_Procedure_Date_7]
      ,[Secondary_Procedure_Code_8]
      ,[Secondary_Procedure_Date_8]
      ,[Secondary_Procedure_Code_9]
      ,[Secondary_Procedure_Date_9]
      ,[Secondary_Procedure_Code_10]
      ,[Secondary_Procedure_Date_10]
      ,[Secondary_Procedure_Code_11]
      ,[Secondary_Procedure_Date_11]
      ,[Secondary_Procedure_Code_12]
      ,[Secondary_Procedure_Date_12]
      ,[dv_Unbundled_HRG_1]
      ,[dv_Unbundled_HRG_2]
      ,[dv_Unbundled_HRG_3]
      ,[dv_Unbundled_HRG_4]
      ,[dv_Unbundled_HRG_5]
      ,[dv_Unbundled_HRG_6]
      ,[dv_Unbundled_HRG_7]
      ,[dv_Unbundled_HRG_8]
      ,[dv_Unbundled_HRG_9]
      ,[dv_Unbundled_HRG_10]
      ,[dv_Unbundled_HRG_11]
      ,[dv_Unbundled_HRG_12]
      ,[dv_Number_Unbundled_HRGs]
      ,[dv_Number_Unbundled_Non_Priced_HRGs]
      ,[dv_Number_Unbundled_Priced_HRGs]
      ,[Spell_In_PbR_Not_In_PbR]
      ,[dv_ApplicableTariff]
      ,[dv_MFF_Index_Applied]
      ,[Tariff_Initial_Amount_National]
      ,[Tariff_Pre_MFF_Adjusted_National]
      ,[Tariff_Total_Payment_National]
      ,[Pbr_Final_Tariff]
      ,[dv_Total_Cost_Inc_MFF]
      --,[IsERFActivity]
      --,[ERF_Price_To_Apply_Temp]
      --,[ERF_Specialist_Topup_Temp]
      --,[IsOPFA]
      --,[IsOPFU]
      --,[IsOPPROC]
      --,[IsSingleProfessional]
      --,[IsMultiProfessional]
      --,[IsConsultantLed]
      --,[IsNonConsultantLed]
      --,[IsNonFaceToFace]
      --,[IsFaceToFace]
      --,[POD_Detailed]
      --,[DataAtInclusionPoint]
      --,[LogId]
  FROM [Data_Lab_SWL].[Unified].[tbl_OP_EncounterDenormalised_Active]

  union all

  SELECT [SK_EncounterID]
      ,[dv_Query_ID]
      ,[Generated_Record_ID]
      ,[Attendance_Identifier]
      ,[Spell_Identifier]
      ,[Unique_CDS_Identifier]
      ,[dv_FinYear]
      ,[dv_FinMonth]
      ,[dv_Activity_Period_Date]
      ,[Appointment_Date]
      ,[Appointment_Time]
      ,[dv_CDSActivityDate]
      ,[Referrer_Code]
      ,[Referring_Organisation_Code]
      ,[Referral_Request_Received_Date]
      ,[Priority_Type]
      ,[Service_Type_Requested]
      ,[Source_of_Referral_for_Outpatients]
      ,[Is_Valid_UBRN]
      ,[UBRN_Occurrence_Count]
      ,[Organisation_Code_Patient_Pathway_Identifier]
      ,[RTT_Patient_Pathway_Identifier]
      ,[RTT_Period_Start_Date]
      ,[RTT_Period_End_Date]
      ,[dv_RTT_Length_Derived]
      ,[RTT_Status]
      ,[Administrative_Category]
      ,[First_Attendance]
      ,[Attended_Or_Did_Not_Attend]
      ,[Outcome_of_Attendance]
      ,[Location_Type_Code]
      ,[SK_PatientID]
      ,[DW_NHS_Number]
      ,[Local_Patient_Identifier]
      ,[Ethnic_Category_Code]
      ,[Age]
      ,[dv_YearOfBirth]
      ,[Gender_Code]
      ,[Postcode_of_Usual_Address]
      ,[dv_LSOA]
      ,[OSV_Charging_Category]
      ,[OSV_Classification]
      ,[GP_Code]
      ,[GP_Practice_Code_Original_Data]
      ,[GP_Practice_Code_Derived]
      ,[Consultant_Code]
      ,[Medical_Staff_Type_Seeing_Patient]
      ,[Main_Specialty_Code]
      ,[Treatment_Function_Code]
      ,[Local_Sub_Specialty_Code]
      ,[Clinic_Code]
      ,[Consultant_Code_63]
      ,[Provider_Reference_No]
      ,[Commissioner_Reference_No]
      ,[Commissioning_Serial_No_Agreement_No]
      ,[NHS_Service_Agreement_Line_No]
      ,[Organisation_Code_Code_of_Provider]
      ,[Site_code_of_Treatment]
      ,[Organisation_Code_PCT_of_Residence]
      ,[Patient_Postcode_Derived_PCT]
      ,[Organisation_Code_Code_of_Commissioner]
      ,[PCT_Derived_from_GP_Practice]
      ,[dv_SpecCom_ServiceCode_National]
      ,[Spell_NPOC]
      ,[dv_Commissioner_Code_of_Residence]
      ,[dv_Purchaser_ID]
      ,[Core_HRG]
      ,[Operation_Status]
      ,[Number_Diagnosis]
      ,[Primary_Diagnosis_Code]
      ,[Secondary_Diagnosis_Code_1]
      ,[Secondary_Diagnosis_Code_2]
      ,[Secondary_Diagnosis_Code_3]
      ,[Secondary_Diagnosis_Code_4]
      ,[Secondary_Diagnosis_Code_5]
      ,[Secondary_Diagnosis_Code_6]
      ,[Secondary_Diagnosis_Code_7]
      ,[Secondary_Diagnosis_Code_8]
      ,[Secondary_Diagnosis_Code_9]
      ,[Secondary_Diagnosis_Code_10]
      ,[Secondary_Diagnosis_Code_11]
      ,[Secondary_Diagnosis_Code_12]
      ,[Number_Procedures]
      ,[Primary_Procedure_Code]
      ,[Primary_Procedure_Date]
      ,[Secondary_Procedure_Code_1]
      ,[Secondary_Procedure_Date_1]
      ,[Secondary_Procedure_Code_2]
      ,[Secondary_Procedure_Date_2]
      ,[Secondary_Procedure_Code_3]
      ,[Secondary_Procedure_Date_3]
      ,[Secondary_Procedure_Code_4]
      ,[Secondary_Procedure_Date_4]
      ,[Secondary_Procedure_Code_5]
      ,[Secondary_Procedure_Date_5]
      ,[Secondary_Procedure_Code_6]
      ,[Secondary_Procedure_Date_6]
      ,[Secondary_Procedure_Code_7]
      ,[Secondary_Procedure_Date_7]
      ,[Secondary_Procedure_Code_8]
      ,[Secondary_Procedure_Date_8]
      ,[Secondary_Procedure_Code_9]
      ,[Secondary_Procedure_Date_9]
      ,[Secondary_Procedure_Code_10]
      ,[Secondary_Procedure_Date_10]
      ,[Secondary_Procedure_Code_11]
      ,[Secondary_Procedure_Date_11]
      ,[Secondary_Procedure_Code_12]
      ,[Secondary_Procedure_Date_12]
      ,[dv_Unbundled_HRG_1]
      ,[dv_Unbundled_HRG_2]
      ,[dv_Unbundled_HRG_3]
      ,[dv_Unbundled_HRG_4]
      ,[dv_Unbundled_HRG_5]
      ,[dv_Unbundled_HRG_6]
      ,[dv_Unbundled_HRG_7]
      ,[dv_Unbundled_HRG_8]
      ,[dv_Unbundled_HRG_9]
      ,[dv_Unbundled_HRG_10]
      ,[dv_Unbundled_HRG_11]
      ,[dv_Unbundled_HRG_12]
      ,[dv_Number_Unbundled_HRGs]
      ,[dv_Number_Unbundled_Non_Priced_HRGs]
      ,[dv_Number_Unbundled_Priced_HRGs]
      ,[Spell_In_PbR_Not_In_PbR]
      ,[dv_ApplicableTariff]
      ,[dv_MFF_Index_Applied]
      ,[Tariff_Initial_Amount_National]
      ,[Tariff_Pre_MFF_Adjusted_National]
      ,[Tariff_Total_Payment_National]
      ,[Pbr_Final_Tariff]
      ,[dv_Total_Cost_Inc_MFF]
      --,null as [IsERFActivity]
      --,null as  [ERF_Price_To_Apply_Temp]
      --,null as [ERF_Specialist_Topup_Temp]
      --,null as [IsOPFA]
      --,null as [IsOPFU]
      --,null as [IsOPPROC]
      --,[IsSingleProfessional]
      --,[IsMultiProfessional]
      --,[IsConsultantLed]
      --,[IsNonConsultantLed]
      --,[IsNonFaceToFace]
      --,[IsFaceToFace]
      --,[POD_Detailed]
      --,[DataAtInclusionPoint]
      --,[LogId]
  FROM [Unified].[tbl_oP_EncounterDenormalised_FY_2023_2024]

)
SELECT 
    -- ================================
    -- DATASET IDENTIFICATION & RECORD KEYS
    -- Core identifiers that uniquely identify each record and dataset type
    -- ================================
    'OP' AS Dataset -- Static identifier indicating this is Outpatient data
    ,SK_PatientID -- Surrogate key for patient identification
    ,a.[SK_EncounterID] -- Unique encounter identifier for the appointment
    ,SK_Date -- Surrogate key for date dimension linking
    ,Local_Patient_Identifier -- Provider's local patient identifier
    ,Unique_CDS_Identifier -- Commissioning Data Set unique identifier
    ,Attendance_Identifier -- Provider-generated attendance identifier

    -- ================================
    -- FINANCIAL PERIOD & TEMPORAL INFORMATION
    -- Date fields, financial periods, and calendar information for reporting
    -- ================================
    ,dt.FiscalCalendarYearName -- Fiscal year name from date dimension
    ,dt.FiscalCalendarMonthName -- Fiscal month name from date dimension
    ,dt.FiscalCalendarMonthNumber -- Fiscal month number from date dimension
    ,[dv_FinYear] -- Derived financial year in YYYY/YY format
    ,[dv_FinMonth] -- Derived financial month number
    ,[Appointment_Date] -- Date of the outpatient appointment
    ,[dv_Activity_Period_Date] -- Activity period date in YYYYMMDD format
    ,EndOfISOWeekDate as WeekEndingDt -- End date of the ISO week
    ,ISOWeekOfFiscalYearNumber as WeekNumber -- Week number within fiscal year
    ,EndOfMonthDate -- End date of the calendar month
    ,[DayofWeek] -- Day of week name
    ,Referral_Request_Received_Date -- Date referral request was received

    -- ================================
    -- PATIENT DEMOGRAPHICS & CHARACTERISTICS
    -- Patient demographic information and personal characteristics
    -- ================================
    ,CASE
        WHEN Gender_Code IN (2) THEN 'Female'
        WHEN Gender_Code IN (1) THEN 'Male'
        ELSE 'NotKnown'
    END AS Gender -- Patient gender derived from gender code
    ,CASE
        WHEN Age BETWEEN 0 AND 4 THEN '0-4'
        WHEN Age BETWEEN 5 AND 9 THEN '5-9'
        WHEN Age BETWEEN 10 AND 14 THEN '10-14'
        WHEN Age BETWEEN 15 AND 19 THEN '15-19'
        WHEN Age BETWEEN 20 AND 30 THEN '20-30'
        WHEN Age BETWEEN 31 AND 49 THEN '31-49'
        WHEN Age BETWEEN 50 AND 64 THEN '50-64'
        WHEN Age BETWEEN 65 AND 74 THEN '65-74'
        WHEN Age BETWEEN 75 AND 79 THEN '75-84'
        WHEN Age >= 85 THEN '85+'
        ELSE 'N/K'
    END AS [Age_Band] -- Patient age grouped into bands
    ,e2.[EthnicityCategory] -- Patient ethnicity category
    ,e2.[EthnicityDesc] -- Patient ethnicity description

    -- ================================
    -- CLINICAL SPECIALTIES & CARE TEAM
    -- Information about clinical specialties, treatment functions, and care providers
    -- ================================
    ,Treatment_Function_Code -- Treatment function code for the appointment
    ,T.TFC_Description -- Treatment function code description
    ,TFC_Description as [SpecialtyName] -- Specialty name (alias for TFC description)
    ,Treatment_Function_Code + ' - ' + TFC_Description AS [SpecialtyName2] -- Combined specialty code and description
    ,Main_Specialty_Code -- Main specialty code of the consultant
    ,T.TFC_Group -- Treatment function code grouping
    ,Clinic_Code -- Code identifying the clinic or facility
    ,Consultant_Code -- Code of the consultant providing care

    -- ================================
    -- ORGANISATIONAL CODES & PROVIDER INFORMATION
    -- Healthcare organisations, commissioners, and provider details
    -- ================================
    ,Organisation_Code_Code_of_Commissioner -- Commissioner organisation code
    ,Organisation_Code_Code_of_Provider -- Provider organisation code
    ,[Organisation_Code_Code_of_Provider] AS ProviderCode -- Provider code (duplicate for compatibility)
    ,O2.[Organisation_Name] AS ProviderName -- Provider organisation name
    ,Site_Code_of_Treatment -- Site code where treatment occurred
    ,O3.[Organisation_Name] AS ProviderSiteName -- Provider site name
    ,LEFT(Organisation_Code_Code_Of_Commissioner, 3) AS CommissionerCode -- First 3 characters of commissioner code
    ,Organisation_Code_PCT_of_Residence -- Patient's PCT/CCG of residence
    ,Provider_Type = CASE 
        WHEN LEFT(A.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') then 'SWL Trust'
        WHEN LEFT(A.Organisation_Code_Code_of_Commissioner,3) IN ('36L','07V','08J','08P','08R','08T','08X') AND (A.Organisation_Code_Code_of_Provider) IN ('NPG00', 'NT3X3', 'NT436', 'NVC01', 'NVC11', 'R0F4N', 'M7C9Q') THEN 'ISP'
        WHEN LEFT(A.Organisation_Code_Code_of_Commissioner,3) IN ('36L','07V','08J','08P','08R','08T','08X') AND LEFT(A.Organisation_Code_Code_of_Provider, 3) IN ('R1H', 'R1K', 'RA2', 'RAL', 'RAN', 'RDU', 'RJ1', 'RJ2', 'RJZ', 'RP4', 'RP6', 'RQM', 'RRV', 'RTK', 'RTP', 'RY', 'RYR') THEN 'OOS'
        ELSE 'Unknown'
    END -- Derived provider type classification

    -- ================================
    -- GP REGISTRATION & PRIMARY CARE
    -- General practice registration and primary care information
    -- ================================
    ,GP_Practice_Code_Original_Data -- Original GP practice code from submission
    ,GP_Practice_Code_Derived -- GP practice code derived from PDS
    ,GP_Practice_Code_Derived + ' - ' + O.[Organisation_Name] AS GP_Description -- Combined GP practice code and name

    -- ================================
    -- REFERRAL INFORMATION & PATHWAYS
    -- Referral details, sources, and pathway information
    -- ================================
    ,CASE
        WHEN [Priority_Type] = 1 THEN '1 - Routine'
        WHEN [Priority_Type] = 2 THEN '2 - Urgent'
        WHEN [Priority_Type] = 3 THEN '3 - Two Week Wait'
        ELSE 'N/K - Not Known'
    END AS PriorityType -- Referral priority type description
    ,[Source_of_Referral_for_Outpatients] -- Source of referral code
    ,CASE
        WHEN [Source_of_Referral_for_Outpatients] IN (06, 07, 12, 13, 14, 15, 16, 17, 92, 93, 97, 01, 02, 05, 11, 04, 10) THEN 'Other'
        WHEN [Source_of_Referral_for_Outpatients] IN (03) THEN 'GP Referral'
    END AS Referral_Summary1 -- High-level referral source grouping
    ,CASE
        WHEN [Source_of_Referral_for_Outpatients] IN (06, 07, 12, 13, 14, 15, 16, 17, 92, 93, 97) THEN 'Other'
        WHEN [Source_of_Referral_for_Outpatients] IN (01, 02, 05, 11) THEN 'C2C'
        WHEN [Source_of_Referral_for_Outpatients] IN (03) THEN 'GP'
        WHEN [Source_of_Referral_for_Outpatients] IN (04, 10) THEN 'A&E'
        ELSE 'N/K'
    END AS Referral_Summary2 -- Detailed referral source grouping
    ,a.Is_Valid_UBRN -- Flag indicating if UBRN is valid
    ,CASE WHEN DateDiff(day,Referral_Request_Received_Date,Appointment_Date) = 0 then 1 else 0 end as RefSameDayFlag -- Flag for same-day referrals

    -- ================================
    -- APPOINTMENT DETAILS & ATTENDANCE
    -- Appointment characteristics, attendance status, and outcomes
    -- ================================
    ,[First_Attendance] -- First attendance indicator code
    ,CASE
        WHEN [First_Attendance] IN (1, 3) THEN 'OP 1st'
        WHEN [First_Attendance] IN (2, 4) THEN 'OP FUP'
    END AS Attendance_Type -- Attendance type description
    ,CASE
        WHEN [First_Attendance] IN (1, 3) THEN 'OP 1st'
        WHEN [First_Attendance] IN (2, 4) THEN 'OP FUP'
    END AS POD -- Point of delivery classification
    ,concat(CASE 
        WHEN [First_Attendance] IN (1,3) THEN 'Outpatient 1st Attendances'
        WHEN [First_Attendance] IN (2,4) THEN 'Outpatient FU Attendances'
        END, CASE 
        WHEN LEFT(core_hrg,2) in ('WF') then '' 
        ELSE ' - Proc' 
        END) as POD_Group -- Detailed point of delivery grouping
	,[OP].[GetPodType]([Core_HRG],Attended_Or_Did_Not_Attend,First_Attendance,Main_Specialty_Code) as POD_Detailed
    ,Attended_Or_Did_Not_Attend -- Attendance status code
    ,Administrative_Category -- Administrative category of appointment
    ,CASE
        WHEN Outcome_Of_Attendance IN (1) THEN 'Discharged'
        WHEN Outcome_Of_Attendance IN (2, 4) THEN 'Not Discharged'
    END AS Outcome_Of_Attendance -- Outcome of attendance description

    -- ================================
    -- CLINICAL CODING & HRG INFORMATION
    -- Healthcare Resource Groups, diagnosis, and procedure coding
    -- ================================
    ,Core_HRG -- Core Healthcare Resource Group code
    ,Core_HRG + ' - ' + HRGDescription AS HRGDescription -- Combined HRG code and description
    ,HRGChapter -- HRG chapter classification
    ,HRGSubChapter -- HRG sub-chapter classification
    ,[Primary_Procedure_Code] -- Primary procedure code (OPCS-4)
    ,Primary_Diagnosis_Code -- Primary diagnosis code (ICD-10)
    ,[Primary_Procedure_Code] + ' - ' + p.[Description] AS Primary_Procedure_Description -- Combined procedure code and description
    ,[Category] AS Primary_Procedure_Category -- Primary procedure category
    ,d.Code + ' - ' + d.[ShortDescription] AS Primary_Diagnosis_Description -- Combined diagnosis code and description
    ,'' AS Secondary_Diagnosis_Description -- Placeholder for secondary diagnosis
    ,d.[Chapter] AS Primary_Diagnosis_Chapter_Description -- Primary diagnosis chapter
    ,d.[SubChapter] AS Primary_Diagnosis_SubChapter_Description -- Primary diagnosis sub-chapter
    ,'' AS Procedure_Diagnoses_Split -- Placeholder for procedure/diagnosis split
    ,CASE WHEN HRGCode LIKE 'WF%' THEN'Specialty' ELSE 'Procedure' END AS Cost_Method -- Costing method classification

    -- ================================
    -- WAITING TIMES & RTT METRICS
    -- Referral to treatment times and waiting time calculations
    -- ================================
    ,CASE WHEN [First_Attendance] IN (1,3) and [Referral_Request_Received_Date] is not null then  
        DATEDIFF(Week,[Referral_Request_Received_Date],[Appointment_Date])
        ELSE 0 
    END as WaitingTime_Weeks -- Waiting time in weeks from referral to appointment

    -- ================================
    -- CALENDAR FLAGS & SPECIAL DATES
    -- Weekend, bank holiday, and strike day indicators
    -- ================================
    ,CASE WHEN dt.DayOfWeekNumber IN (1,7) then 1 ELSE 0 END as WeekEnding_Activity -- Flag for weekend activity
    ,coalesce(bh.IsBankholiday,0) as IsBankholiday -- Bank holiday indicator
    ,coalesce(sd.IsStrikeday,0) as IsStrikeday -- Strike day indicator
    ,dt.IsWeekend -- Weekend indicator flag
    ,CASE WHEN IsWeekend = 1 then 0 ELSE 1 END as IsWeekday -- Weekday indicator flag

    -- ================================
    -- ACTIVITY MEASURES & COUNTS
    -- Basic activity counting measures
    -- ================================
    ,1 AS Activity -- Activity count (always 1 per record)

    -- ================================
    -- COSTING & TARIFF INFORMATION
    -- National tariffs, costs, and pricing information
    -- ================================
    ,COALESCE([Tariff_Total_Payment_National], 0) AS Cost -- Total national tariff cost
    ,[dv_MFF_Index_Applied] -- Market Forces Factor index applied
    ,[dv_ApplicableTariff] -- Description of applicable tariff
    ,[Tariff_Initial_Amount_National] -- Initial national tariff amount
    ,[Tariff_Pre_MFF_Adjusted_National] -- Pre-MFF adjusted tariff amount
    ,[Tariff_Total_Payment_National] -- Total payment including adjustments
    ,[Pbr_Final_Tariff] -- Final Payment by Results tariff

    -- ================================
    -- ELECTIVE RECOVERY FUND (ERF) CALCULATIONS
    -- ERF-specific pricing, activity identification, and cost calculations
    -- ================================
    --,IsERFActivity -- Flag indicating if activity qualifies for ERF
    --,CASE WHEN IsERFActivity=1 THEN ERF_Price_to_apply_Temp ELSE 0 END as ERF_Price_To_Apply -- ERF price when applicable (zero if not ERF)
    --,CASE WHEN IsERFActivity=1 THEN ERF_Price_to_apply_Temp * [dv_MFF_Index_Applied] ELSE 0 END as ERF_CostInclMFF -- ERF cost including Market Forces Factor
    --,CASE WHEN IsERFActivity=1 THEN ERF_Price_to_apply_Temp * [dv_MFF_Index_Applied] * ERF_Specialist_Topup_Temp ELSE 0 END as ERF_CostInclMFF_Topup -- ERF cost including MFF and specialist top-up

FROM  data a WITH (NOLOCK)
LEFT JOIN [Dictionary].[dbo].[HRG] h WITH (NOLOCK)
    ON h.HRGCode = A.Core_HRG
LEFT JOIN [Dictionary].[dbo].[Organisation] o WITH (NOLOCK)
    ON o.Organisation_Code = A.[GP_Practice_Code_Derived]
LEFT JOIN [Dictionary].[dbo].[Organisation] o2 WITH (NOLOCK)
    ON o2.[Organisation_Code] = LEFT(A.[Organisation_Code_Code_Of_Provider], 3)
LEFT JOIN [Dictionary].[dbo].[Organisation] o3 WITH (NOLOCK)
    ON o3.[Organisation_Code] = A.Site_Code_of_Treatment
LEFT JOIN [Dictionary].[dbo].[Procedure] p WITH (NOLOCK)
    ON p.Code = a.[Primary_Procedure_Code]
LEFT JOIN [Dictionary].[dbo].[Diagnosis] d WITH (NOLOCK)
    ON d.[Code] = a.Primary_Diagnosis_Code
LEFT JOIN [Dictionary].[dbo].[Ethnicity] e WITH (NOLOCK)
    ON e.[BK_EthnicityCode] = [Ethnic_Category_Code]
LEFT JOIN [Dictionary].[dbo].[Ethnicity2] e2 WITH (NOLOCK)
    ON e2.[SK_EthnicityID] = e.[SK_EthnicityID]
LEFT JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] T WITH (NOLOCK) 
    ON T.[TFC] = A.Treatment_Function_code
LEFT JOIN [Dictionary].[OP].[DNAIndicators] DNA WITH (NOLOCK)
    ON A.Attended_Or_Did_Not_Attend = CAST(dna.BK_DNACode AS bigint)
LEFT JOIN [Dictionary].[OP].AttendanceTypes att WITH (NOLOCK)
    ON att.BK_AttendanceTypeCode = First_Attendance
LEFT JOIN [Dictionary].[dbo].[Dates] dt WITH (NOLOCK)
    ON dt.FullDate = A.Appointment_Date
LEFT JOIN [Dictionary].[dbo].[Organisation] ORG 
    ON ORG.Organisation_Code = CASE 
        WHEN RIGHT(Organisation_Code_Code_of_Provider,2)= '00' 
        THEN LEFT(Organisation_Code_Code_of_Provider,3) 
        ELSE Organisation_Code_Code_of_Provider 
        END
LEFT JOIN [SWL].[vw_Bankholidays_Daily] bh 
    ON bh.BankholidayDate = dt.FullDate
LEFT JOIN [SWL].[vw_Strikedays_Daily] sd 
    ON sd.Strikedate = dt.FullDate

WHERE 
    [dv_CDSActivityDate] >= '2023-04-01' -- Filter for activity from April 2024 onwards


GO
