USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_APC_OSV_AggregatedMetrics]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









/********************************************************************************
-- View Name: [Unified].[[vw_APC_OSV_AggregatedMetrics]]
--
-- Description: Aggregates OSV category submissions and total spells for APC spells.
--
-- Change Log:
--   Date         Author          Description
--   ----------   --------------  -------------------------------------------------
--   2025-03-23   Sridhar Peddi   Initial creation of the view.
--   2024-11-29   Your Name       Included unmapped fields with NULL placeholders.
--
********************************************************************************/

CREATE VIEW [Unified].[vw_APC_OSV_AggregatedMetrics] AS
WITH DATA AS (
    SELECT 
        APC.[spell.commissioning.service_agreement.provider_derived] AS [Organisation_Code_Code_of_Provider],
		SWL.GetProviderType([spell.commissioning.service_agreement.provider_derived],[spell.commissioning.service_agreement.commissioner]) as Provider_Type,
        --APC.[spell.commissioning.service_agreement.commissioner] AS [Organisation_Code_Code_of_Commissioner], -- Not used downstream
        osv.[category] AS [OSV_Charging_Category],
        [SWL].[GetOSVCategory](osv.[category]) AS OSV_Description,
        osv2.[classification] AS [OSV_Classification], -- Not used downstream
        --DTFC.[care_professional.treatment_function] AS [Treatment_Function_Code], -- Not used downstream
        CAST(REPLACE(dt.FiscalCalendarYearName, '-', '/20') AS VARCHAR(9)) AS [dv_FinYear],
        CASE 
            WHEN (osv.[category] IS NOT NULL AND osv.[category] <> '9' AND osv.[category] IN ('A','B','C','D','E','F','P'))
            THEN 1 ELSE 0 
        END AS OSV_Category_Submitted,
        CASE 
            WHEN (osv.[category] IS NOT NULL AND osv.[category] = '9')
            THEN 1 ELSE 0 
        END AS OSV_Default_Category_Submitted,
        dt.FiscalCalendarMonthNumber AS [dv_FinMonth],
        1 AS Activity,
		dt.EndOfMonthDate
    FROM [Data_Store_SUS_Unified].[APC].[spell] APC
        INNER JOIN [Dictionary].[dbo].[Dates] dt 
            ON APC.[spell.discharge.date] = dt.FullDate
         LEFT JOIN [Data_Store_SUS_Unified].[APC].[spell.episodes] DTFC 
            ON APC.PRIMARYKEY_ID = DTFC.PRIMARYKEY_ID AND APC.[dmicImportLogId] = DTFC.[dmicImportLogId]
		 LEFT JOIN [Data_Store_SUS_Unified].[APC].[spell.episodes.patient.overseas_visitor_charging_category] osv 
            ON APC.PRIMARYKEY_ID = osv.PRIMARYKEY_ID AND APC.[dmicImportLogId] = osv.[dmicImportLogId] AND osv.EPISODES_ID = DTFC.EPISODES_ID
         LEFT JOIN [Data_Store_SUS_Unified].[APC].[spell.episodes.patient.overseas_visitor] osv2 
            ON APC.PRIMARYKEY_ID = osv2.PRIMARYKEY_ID AND APC.[dmicImportLogId] = osv2.[dmicImportLogId] AND osv2.EPISODES_ID = DTFC.EPISODES_ID
    WHERE REPLACE(dt.FiscalCalendarYearName, '-', '/20') IN ( '2024/2025',  '2025/2026')
      AND APC.[spell.commissioning.service_agreement.provider_derived] IN ('RVR','RPY','RAX','RJ6','RJ7')
      AND APC.[spell.open_spell_indicator] = 0
	  AND dominant_episode_flag = 1
)
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    OSV_Description AS Metric, 
    SUM(OSV_Category_Submitted) AS [Value]
FROM DATA 
WHERE OSV_Description IS NOT NULL
GROUP BY [Organisation_Code_Code_of_Provider], OSV_Description, [dv_FinYear], [dv_FinMonth],Provider_Type,EndOfMonthDate
UNION ALL
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    'OSV Default Category Submitted (Unified SUS)' AS Metric, 
    SUM(OSV_Default_Category_Submitted) AS [Value]
FROM DATA 
WHERE OSV_Description IS NOT NULL
GROUP BY [Organisation_Code_Code_of_Provider], [dv_FinYear], Provider_Type,[dv_FinMonth],EndOfMonthDate
UNION ALL
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    'Total Activity (Unified SUS)' AS Metric, 
    SUM(Activity) AS [Value]
FROM DATA 
GROUP BY [Organisation_Code_Code_of_Provider], [dv_FinYear], Provider_Type,[dv_FinMonth],EndOfMonthDate
GO
