USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_SP_Main_To_PBR]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--View from Derek which creates the mapping from Unified Spells to Spells (PBR) which is then used be denormalised tables
--Do not use this for anything else
--Sridhar Peddi 08/01/2025
CREATE VIEW [Unified].[vw_SP_Main_To_PBR]
AS
SELECT s.[PRIMARYKEY_ID],
e.EPISODES_ID,
s.[system.record.version] AS [SUS Version],                                                                                      -- Derived (DPP - Y)
       s.[system.record.identifier] AS [Spell Identifier],                                                                              -- Derived (DPP - Y)
       NULL AS [Parent Spell Identifier],                                                                                               -- Obsolete (DPP - N)
       NULL AS [Pseudonymised Status],                                                                                                  -- Obsolete (DPP - N)
       --ISNULL(CAST(sr.[RFA_7] AS CHAR(1)), '') + ISNULL(CAST(sr.[RFA_6] AS CHAR(1)), '')
       --+ ISNULL(CAST(sr.[RFA_5] AS CHAR(1)), '') + ISNULL(CAST(sr.[RFA_4] AS CHAR(1)), '')
       --+ ISNULL(CAST(sr.[RFA_3] AS CHAR(1)), '') + ISNULL(CAST(sr.[RFA_2] AS CHAR(1)), '')
       --+ ISNULL(CAST(sr.[RFA_1] AS CHAR(1)), '') AS [Reason Access Provided],                                                           -- Derived (DPP - Y)
       s.[spell.patient.identity.local_patient_identifier.value] AS [Local Patient Identifier],                                        -- Submitted (DPP - Y)
       s.[spell.patient.identity.local_patient_identifier.issuer] AS [Org Code Local Patient Identifier],                               -- Submitted (DPP - Y)
       s.[spell.patient.identity.nhs_number.value Pseudo] AS [NHS Number],                                                                    -- Submitted (DPP - Y)
       LEFT(s.[spell.referral_to_treatment.patient_pathway_identifier.issuer], 10) AS [Organisation Code Patient Pathway Identifier],   -- Submitted (DPP - Y)
       s.[spell.referral_to_treatment.patient_pathway_identifier.value Pseudo] AS [RTT Patient Pathway Identifier],                           -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.referral_to_treatment.period_end_date], 112) AS [RTT Period End Date],                              -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.referral_to_treatment.period_start_date], 112) AS [RTT Period Start Date],                          -- Submitted (DPP - Y)
       s.[spell.referral_to_treatment.period_status] AS [RTT Status],                                                                   -- Submitted (DPP - Y)
       s.[spell.referral_to_treatment.ubrn.value Pseudo] AS [Unique Booking Reference Number (Converted)],                                    -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.patient.identity.birth_date], 112) AS [Birth Date],                                                -- Submitted (DPP - N)
       s.[spell.patient.identity.age_at_cds_activity_date] AS [Age At CDS Activity Date],                                               -- Submitted (DPP - Y)
       s.[spell.patient.identity.age_on_admission] AS [Age At Start of Spell],                                                          -- Submitted (DPP - Y)
       s.[spell.patient.identity.age_at_record_end] AS [Age At End of Spell],                                                           -- Submitted (DPP - Y)
       s.[spell.patient.identity.spell_age] AS [Spell Age],                                                                             -- Derived (DPP - Y)
       s.[spell.commissioning.tariff_calculation.patient_type] AS [Patient Type],                                                       -- Derived (DPP - Y)
       s.[spell.patient.identity.carer_support_indicator] AS [Carer Support Indicator],                                                 -- Submitted (DPP - Y)
       s.[spell.patient.mental_health_act_legal_status.classification] AS [Legal Status Classification Code],                           -- Submitted (DPP - Y)
       s.[spell.patient.identity.ethnic_category] AS [Ethnic Category Code],                                                            -- Submitted (DPP - Y)
       s.[spell.patient.identity.marital_status] AS [Marital Status],                                                                   -- Submitted (DPP - Y)
       s.[spell.patient.identity.nhs_number.status] AS [NHS Number Status Indicator],                                                   -- Submitted (DPP - Y)
       s.[spell.patient.identity.gender] AS [Gender Code],                                                                              -- Submitted (DPP - Y)
       s.[spell.patient.residence.postcode Pseudo] AS [Postcode of Usual Address],                                                            -- Submitted (DPP - N)
       LEFT(s.[spell.patient.mother.postcode Pseudo], 6) AS [Postcode Sector of Usual Address],                                                       -- Derived (DPP - Y)
       s.[spell.patient.residence.residence_ccg] AS [Organisation Code (PCT of Residence)],                                             -- Submitted (DPP - Y)
       NULL AS [Patient Postcode Derived PCT Type],                                                                                     -- Derived (DPP - Y)
       s.[spell.patient.residence_derived.residence_ccg_from_patient_postcode] AS [Patient Postcode Derived PCT],                       -- Derived (DPP - Y)
       s.[spell.hospital_provider_spell_number] AS [Hospital Provider Spell No],                                                       -- Submitted (DPP - Y)
       s.[spell.admission.administrative_category] AS [ADMINISTRATIVE CATEGORY (ON ADMISSION)],                                         -- Submitted (DPP - Y)
       NULL AS [Administrative Category (Derived)],                                                                                     -- Obsolete (DPP - Y)
       s.[spell.admission.patient_classification] AS [Patient Classification],                                                          -- Submitted (DPP - Y)
       s.[spell.admission.method] AS [Admission Method (Hospital Provider Spell)],                                                      -- Submitted (DPP - Y)
       s.[spell.admission.admission_type] AS [Admission Type (Derived)],                                                                -- Derived (DPP - Y)
       s.[spell.admission.admission_sub_type] AS [Admission Subtype (Derived)],                                                         -- Derived (DPP - Y)
       s.[spell.discharge.destination] AS [Discharge Destination (Hospital Provider Spell)],                                            -- Submitted (DPP - Y)
       s.[spell.discharge.method] AS [Discharge Method (Hospital Provider Spell)],                                                      -- Submitted (DPP - Y)
       s.[spell.admission.source] AS [Source of Admission (Hospital Provider Spell)],                                                   -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.admission.date], 112) AS [Start Date (Hospital Provider Spell)],                                    -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.discharge.ready_date], 112) AS [Ready for Discharge Date],                                          -- Derived (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.discharge.date], 112) AS [End Date (Hospital Provider Spell)],                                      -- Submitted (DPP - Y)
       NULL AS [Delay Discharge Reason],                                                                                                -- Obsolete (DPP - N)
       s.[spell.commissioning.tariff_calculation.excluded_from_pbr] AS [Spell In PbR/Not In PbR],                                       -- Derived (DPP - Y)
       exc.[exclusion_reasons_1] AS [Spell Exclusion Reason],                                                                           -- Derived (DPP - Y)
       NULL AS [Spell Version As At Date And Time],                                                                                     -- Obsolete (DPP - N)
       s.[spell.commissioning.service_agreement.applicable_costing_period] AS [Applicable Costing Period],                              -- Derived (DPP - Y)
       LEFT(s.[spell.commissioning.service_agreement.commissioning_serial_number], 6) AS [Commissioner Serial No (Agreement No)],       -- Submitted (DPP - Y)
       s.[spell.commissioning.service_agreement.line_number] AS [NHS Service Agreement Line No],                                        -- Submitted (DPP - Y)
       s.[spell.commissioning.service_agreement.provider_reference_number] AS [Provider Reference No],                                  -- Submitted (DPP - Y)
       s.[spell.commissioning.service_agreement.commissioner_reference_number] AS [Commissioner Reference No],                          -- Submitted (DPP - Y)
       NULL AS [SHA Commissioner],                                                                                                      -- Derived (DPP - Y)
       s.[spell.care_location.organisation_geographies.sha_provider] AS [SHA Provider],                                                 -- Derived (DPP - Y)
       s.[spell.commissioning.service_agreement.provider_derived] AS [Organisation Code (Code of Provider)],                            -- Derived (DPP - Y)
       s.[spell.commissioning.service_agreement.provider] AS [Provider Code (Original Data)],                                           -- Submitted (DPP - Y)
       s.[spell.care_location.site_code_of_treatment] AS [Provider Site Code],                                                          -- Submitted (DPP - Y)
       s.[spell.commissioning.service_agreement.commissioner] AS [Organisation Code (Code of Commissioner)],                            -- Derived (DPP - Y)
       s.[spell.commissioning.service_agreement.commissioner] AS [Commissioner Code (Original Data)],                                   -- Submitted (DPP - Y)
       NULL AS [Commissioner Site Code],                                                                                                -- Obsolete (DPP - N)
       NULL AS [Organisation Code Type Commissioner],                                                                                   -- Obsolete (DPP - N)
       NULL AS [PCT Derived from GP],                                                                                                   -- Obsolete (DPP - N)
       s.[spell.patient.registration_derived.responsible_ccg_from_pds] AS [PCT Derived from GP Practice],                               -- Derived (DPP - Y)
       NULL AS [GP Practice Derived from PDS],                                                                                          -- Derived (DPP - Y)
       e.[care_professional.main_specialty] AS [Main Specialty Code],                                                                   -- Submitted (DPP - Y)
       e.[care_professional.treatment_function] AS [Treatment Function Code],                                                           -- Submitted (DPP - Y)
       NULL AS [Registered GMP Code],                                                                                                   -- Obsolete (DPP - N)
       s.[spell.patient.registration.general_practitioner] AS [GP Code (Original data)],                                                -- Submitted (DPP - Y)
       NULL AS [GP Practice Code],                                                                                                      -- Obsolete (DPP - Y)
       NULL AS [GP Consortium Code],                                                                                                    -- Obsolete (DPP - N)
       s.[spell.patient.registration.general_practice] AS [GP Practice Code (Original Data)],                                           -- Submitted (DPP - Y)
       s.[spell.patient.registration_derived.general_practice_from_pds] AS [GP Practice Code (Derived)],                                -- Derived (DPP - Y)
       NULL AS [Organisation Code Type GP Practice],                                                                                    -- Obsolete (DPP - N)
       s.[spell.referral.referrer] AS [Referrer Code],                                                                                  -- Submitted (DPP - Y)
       s.[spell.referral.referring_organisation] AS [Referring Organisation Code],                                                      -- Submitted (DPP - Y)
       s.[spell.admission.duration_elective_wait] AS [Duration of Elective Wait],                                                       -- Submitted (DPP - Y)
       s.[spell.admission.intended_management] AS [Intended Management],                                                                -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), s.[spell.referral.decided_to_admit_date], 112) AS [Decided To Admit Date],                                   -- Submitted (DPP - Y)
       s.[spell.discharge.length_of_hospital_stay] AS [Length of Stay (Hospital Provider Spell)],                                       -- Derived (DPP - Y)
       NULL AS [PbR NCC PCC Adjusted Length of Stay],                                                                                   -- Obsolete (DPP - N)
       s.[spell.commissioning.tariff_calculation.pbr_length_of_stay.qualifying_days] AS [PbR Final Adjusted Length of Stay],            -- Derived (DPP - Y)
       NULL AS [Number of Commissioners in PbR Spell],                                                                                  -- Derived (DPP - Y)
       max1.Num_Diag AS [Number Diagnosis],                                                                                   -- Derived (DPP - Y)
       NULL AS [Number Hospital Provider Spell ID],                                                                                     -- Obsolete (DPP - N)
       max2.Num_proc AS [Number Procedures],                                                                                 -- Derived (DPP - Y)
       max3.Num_unb AS [Number Unbundled HRGs],                                                                     -- Derived (DPP - Y)
       Unb_NonTariff.Num_nontariff_Unb AS [Number Unbundled Non Priced HRGs],                                        -- Derived (DPP - Y)
       Unb_Tariff.Num_tariff_Unb AS [Number Unbundled Priced HRGs],                                                  -- Derived (DPP - Y)
       s.[spell.pbr_excluded_episodes_in_spell] AS [Excluded Episodes in Hospital Provider Spell],                                      -- Derived (DPP - Y)
       NULL AS [Number SSCs],                                                                                                           -- Derived (DPP - Y)
       NULL AS [Number BPT Indicators],                                                                                                 -- Derived (DPP - Y)
       s.[spell.commissioning.tariff_calculation.pbr_length_of_stay.trim_point] AS [PbR Spell Trimpoint Days],                          -- Derived (DPP - Y)
       s.[spell.commissioning.tariff_calculation.pbr_length_of_stay.excess_bed_days] AS [PbR Days Beyond Trimpoint],                    -- Derived (DPP - Y)
	   CC_ACC.[length_of_stay] AS [Spell ACC Length Of Stay],                                                                         -- Derived (DPP - Y)
       CC_NCC.[length_of_stay] AS [Spell NCC Length Of Stay],                                                                         -- Derived (DPP - Y)
       CC_PCC.[length_of_stay] AS [Spell PCC Length Of Stay],                                                                         -- Derived (DPP - Y)
       s.[spell.clinical_coding.grouper_derived.primary_diagnosis] AS [Spell Primary Diagnosis],                                        -- Submitted (DPP - Y)
       NULL AS [Spell Secondary Diagnosis],                                                                                             -- Obsolete (DPP - Y)
       s.[spell.clinical_coding.grouper_derived.dominant_procedure] AS [Spell Dominant Procedure],                                      -- Derived (DPP - Y)
       o.[code_1] AS [Primary Procedure Code],                                                                                          -- Submitted (DPP - Y)
       NULL AS [Significant Specialised Service Code],                                                                                  -- Derived (DPP - Y)
       NULL AS [Specialised Service Code 1],                                                                                            -- Derived (DPP - Y)
       NULL AS [Specialised Service Code 2],                                                                                            -- Derived (DPP - Y)
       NULL AS [Specialised Service Code 3],                                                                                            -- Derived (DPP - Y)
       NULL AS [Specialised Service Code 4],                                                                                            -- Derived (DPP - Y)
       NULL AS [Specialised Service Code 5],                                                                                            -- Derived (DPP - Y)
       s.[spell.commissioning.grouping.best_practice_flag] AS [BPT Indicator 1],                                                        -- Derived (DPP - Y)
       s.[spell.commissioning.grouping.best_practice_action] AS [BPT Indicator 1 Action],                                               -- Derived (DPP - Y)
       NULL AS [BPT Indicator 2],                                                                                                       -- Derived (DPP - Y)
       NULL AS [BPT Indicator 2 Action],                                                                                                -- Derived (DPP - Y)
       NULL AS [BPT Indicator 3],                                                                                                       -- Derived (DPP - Y)
       NULL AS [BPT Indicator 3 Action],                                                                                                -- Derived (DPP - Y)
       NULL AS [BPT Indicator 4],                                                                                                       -- Derived (DPP - Y)
       NULL AS [BPT Indicator 4 Action],                                                                                                -- Derived (DPP - Y)
       NULL AS [BPT Indicator 5],                                                                                                       -- Derived (DPP - Y)
       NULL AS [BPT Indicator 5 Action],                                                                                                -- Derived (DPP - Y)
       CAST(s.[spell.commissioning.tariff_calculation.initial_tariff] AS INT) AS [Tariff Initial Amount National],                      -- Derived (DPP - Y)
       NULL AS [Tariff Day Case National],                                                                                              -- Obsolete (DPP - N)
       NULL AS [Tariff Short Stay Emergency National],                                                                                  -- Obsolete (DPP - N)
       CAST(s.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT) AS [Tariff Service Adjustment National],                    -- Derived (DPP - Y)
       CAST(s.[spell.commissioning.tariff_calculation.per_diem_rate] AS INT) AS [Tariff Long Stay Rate National],                       -- Derived (DPP - Y)
       CAST(s.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS INT) AS [Tariff Long Stay Payment National],           -- Derived (DPP - Y)
       CAST(s.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT) AS [Aggregate UnBundled Adjustment National], -- Derived (DPP - Y)
       NULL AS [Tariff Financial Adjustment National],                                                                                  -- Obsolete (DPP - N)
       NULL AS [Tariff Adjustment Future Use_1 National],                                                                               -- Obsolete (DPP - N)
       NULL AS [Tariff Adjustment Future Use_2 National],                                                                               -- Obsolete (DPP - N)
       NULL AS [Applied MFF Elective],                                                                                                  -- Derived (DPP - N)
       NULL AS [Applied MFF Non Elective],                                                                                              -- Derived (DPP - N)
       CASE
           WHEN s.[spell.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND s.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(s.[spell.commissioning.tariff_calculation.final_price] AS INT), 0)
               - (ISNULL(CAST(s.[spell.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                  + ISNULL(CAST(s.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS INT), 0)
                  + ISNULL(CAST(s.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT), 0)
                  + ISNULL(CAST(s.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
                 )
       END AS [MFF Adjustment],                                                                                                         -- Derived (DPP - Y)
       CASE
           WHEN s.[spell.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND s.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(s.[spell.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
               + ISNULL(CAST(s.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS INT), 0)
               + ISNULL(CAST(s.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT), 0)
               + ISNULL(CAST(s.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
       END AS [Tariff Pre MFF Adjusted National],                                                                                       -- Derived (DPP - Y)
       CAST(s.[spell.commissioning.tariff_calculation.final_price] AS INT) AS [Tariff Total Payment National],                          -- Derived (DPP - Y)
       NULL AS [Tariff Initial Amount Non Mandatory],                                                                                   -- Obsolete (DPP - N)
       NULL AS [Tariff Day Case Non Mandatory],                                                                                         -- Obsolete (DPP - N)
       NULL AS [Tariff Short Stay Emergency Non Mandatory],                                                                             -- Obsolete (DPP - N)
       NULL AS [Tariff Spec Serv Adjustment Non Mandatory],                                                                             -- Obsolete (DPP - N)
       NULL AS [Tariff Long Stay Rate Non Mandatory],                                                                                   -- Obsolete (DPP - N)
       NULL AS [Tariff Long Stay Payment Non Mandatory],                                                                                -- Obsolete (DPP - N)
       NULL AS [Aggregate UnBundled Adjustment Non Mandatory],                                                                          -- Obsolete (DPP - N)
       NULL AS [Tariff Financial Adjustment Non Mandatory],                                                                             -- Obsolete (DPP - N)
       NULL AS [Tariff Adjustment Future Use_1 Non Mandatory],                                                                          -- Obsolete (DPP - N)
       NULL AS [Tariff Adjustment Future Use_2 Non Mandatory],                                                                          -- Obsolete (DPP - N)
       NULL AS [Applied MFF Elective Non Mandatory],                                                                                    -- Obsolete (DPP - N)
       NULL AS [Applied MFF Non Elective Non Mandatory],                                                                                -- Obsolete (DPP - N)
       NULL AS [Tariff Pre MFF Adjusted Non Mandatory],                                                                                 -- Obsolete (DPP - N)
       NULL AS [Tariff Total Payment Non Mandatory],                                                                                    -- Obsolete (DPP - N)
       NULL AS [Non Mandatory Core Tariff (with UB)],                                                                                   -- Obsolete (DPP - N)
       NULL AS [Optional APC BPT Adjustment],                                                                                           -- Obsolete (DPP - N)
       NULL AS [Tarrif Initial Amount Local],                                                                                           -- Obsolete (DPP - N)
       NULL AS [Tariff Day Case Local],                                                                                                 -- Obsolete (DPP - N)
       NULL AS [Tariff Short Stay Emergency Local],                                                                                     -- Obsolete (DPP - N)
       NULL AS [Tariff Long Stay Rate Local],                                                                                           -- Obsolete (DPP - N)
       NULL AS [Aggregate UnBundled Adjustment Local],                                                                                  -- Obsolete (DPP - N)
       NULL AS [Tariff Long Stay Payment Local],                                                                                        -- Obsolete (DPP - N)
       NULL AS [Tariff Total Payment Local],                                                                                            -- Obsolete (DPP - Y)
       NULL AS [Local Core Tariff (with UB)],                                                                                           -- Obsolete (DPP - N)
       CAST(s.[spell.commissioning.tariff_calculation.final_price] AS INT) AS [PbR Final Tariff],                                       -- Derived (DPP - Y)
       s.[spell.commissioning.tariff_calculation.tariff_applied] AS [Final Tariff Applied],                                             -- Derived (DPP - Y)
       NULL AS [PbR Costed Indicator],                                                                                                  -- Obsolete (DPP - N)
       s.[spell.commissioning.grouping.grouping_method] AS [Grouping Method],                                                           -- Derived (DPP - Y)
       NULL AS [Configurable Indicator],                                                                                                -- Obsolete (DPP - N)
       CAST(s.[spell.commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) AS [Code Cleaning],                                   -- Derived (DPP - Y)
       s.[spell.commissioning.grouping.core_hrg] AS [Spell Core HRG],                                                                   -- Derived (DPP - Y)
       NULL AS [Core HRG Version (Calculated)],                                                                                         -- Derived (DPP - Y)
       NULL AS [HRG Submitted],                                                                                                         -- Obsolete (DPP - N)
       NULL AS [HRG Version (Submitted)],                                                                                               -- Obsolete (DPP - N)
       s.[system.report.grouper_version] AS [Grouping Algorithm Version],                                                               -- Derived (DPP - Y)
       NULL AS [Grouping Reference Data Version],                                                                                       -- Obsolete (DPP - Y)
       NULL AS [Grouping HRG Version],                                                                                                  -- Obsolete (DPP - Y)
       hrg.[unbundled_hrg_1] AS [Unbundled HRG 1],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_2] AS [Unbundled HRG 2],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_3] AS [Unbundled HRG 3],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_4] AS [Unbundled HRG 4],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_5] AS [Unbundled HRG 5],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_6] AS [Unbundled HRG 6],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_7] AS [Unbundled HRG 7],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_8] AS [Unbundled HRG 8],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_9] AS [Unbundled HRG 9],                                                                                      -- Derived (DPP - Y)
       hrg.[unbundled_hrg_10] AS [Unbundled HRG 10],                                                                                    -- Derived (DPP - Y)
       hrg.[unbundled_hrg_11] AS [Unbundled HRG 11],                                                                                    -- Derived (DPP - Y)
       hrg.[unbundled_hrg_12] AS [Unbundled HRG 12],                                                                                    -- Derived (DPP - Y)
       s.[spell.commissioning.grouping.programme_budgeting_category] AS [Spell Programme Budgeting Category],                           -- Derived (DPP - Y)
       NULL AS [Number of Babies],                                                                                                      -- Obsolete (DPP - Y)
       s.[spell.has_data_quality_error] AS [PbR Spell Error Status],                                                                    -- Derived (DPP - Y)
       NULL AS [PbR Spell Frozen Indicator],                                                                                            -- Obsolete (DPP - N)
       NULL AS [PbR Spell Status Indicator],                                                                                            -- Obsolete (DPP - N)
       NULL AS [Match Criterion Indicator],                                                                                             -- Obsolete (DPP - N)
       NULL AS [RAP DH Tariff Adjustment Child],                                                                                        -- Obsolete (DPP - Y)
       NULL AS [RAP Validation Child Indicator],                                                                                        -- Obsolete (DPP - Y)
       NULL AS [RAP Spell Type],                                                                                                        -- Obsolete (DPP - Y)
       CONVERT(VARCHAR(8), e.[system.transaction.cds_applicable_date], 112) AS [Applicable Date],                                       -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), e.[system.transaction.cds_extract_date], 112) AS [Extract Date],                                             -- Submitted (DPP - Y)
       NULL AS [Extract Type],                                                                                                          -- Obsolete (DPP - N)
       s.[spell.commissioning.tariff_calculation.pbr_length_of_stay.rehabilitation_days] AS [Spare 1],                                  -- Submitted (DPP - Y)
       s.[spell.commissioning.tariff_calculation.pbr_length_of_stay.palliative_care_days] AS [Spare 2],                                 -- Derived (DPP - Y)
       NULL AS [Spare 3],                                                                                                               -- Derived (DPP - Y)
       NULL AS [Spare 4],                                                                                                               -- Derived (DPP - Y)
       NULL AS [Spare 5],                                                                                                               -- Obsolete (DPP - N)
       s.[spell.commissioning.pss_grouping.national_programme_code] AS [Spell NPOC],                                                    -- Derived (DPP - Y)
       s.[spell.commissioning.pss_grouping.prescribed_service_line_code] AS [Spell Service Line],                                       -- Derived (DPP - Y)
       NULL AS [Commissioning Region],                                                                                                  -- Obsolete (DPP - Y)
       e.[system.interchange.cds_message_version_number] AS [CDS Schema Version],                                                       -- Submitted (DPP - Y)
                                                                                                                                        --,REPLACE(CONVERT(VARCHAR(8),s.[system.report.query_date],112) + CONVERT(VARCHAR(8),s.[system.report.query_time],114),':','') AS [Query Date]    -- Derived (DPP - Y)
       CAST(LEFT(CONVERT(VARCHAR(10), s.[system.report.query_date], 112), 4)
            + SUBSTRING(CONVERT(VARCHAR(10), s.[system.report.query_date], 112), 5, 2)
            + RIGHT(CONVERT(VARCHAR(10), s.[system.report.query_date], 112), 2) + LEFT(s.[system.report.query_time], 2)
            + SUBSTRING(s.[system.report.query_time], 4, 2) + RIGHT(s.[system.report.query_time], 2) AS VARCHAR(14)) AS [Query Date],
       s.[system.report.query_identifier] AS [Unique Query Id],                                                                         -- Derived (DPP - Y)
       e.[system.transaction.cds_prime_recipient] AS [Prime Recipient],                                                                 -- Submitted (DPP - Y)
       CASE
           WHEN c.[cds_recipients_2] IS NULL THEN
               ''
           ELSE
               ' ' + CAST(c.[cds_recipients_2] AS VARCHAR(8))
       END + CASE
                 WHEN c.[cds_recipients_3] IS NULL THEN
                     ''
                 ELSE
                     ' ' + CAST(c.[cds_recipients_3] AS VARCHAR(8))
             END + CASE
                       WHEN c.[cds_recipients_4] IS NULL THEN
                           ''
                       ELSE
                           ' ' + CAST(c.[cds_recipients_4] AS VARCHAR(8))
                   END + CASE
                             WHEN c.[cds_recipients_5] IS NULL THEN
                                 ''
                             ELSE
                                 ' ' + CAST(c.[cds_recipients_5] AS VARCHAR(8))
                         END + CASE
                                   WHEN c.[cds_recipients_6] IS NULL THEN
                                       ''
                                   ELSE
                                       ' ' + CAST(c.[cds_recipients_6] AS VARCHAR(8))
                               END + CASE
                                         WHEN c.[cds_recipients_7] IS NULL THEN
                                             ''
                                         ELSE
                                             ' ' + CAST(c.[cds_recipients_7] AS VARCHAR(8))
                                     END + CASE
                                               WHEN c.[cds_recipients_8] IS NULL THEN
                                                   ''
                                               ELSE
                                                   ' ' + CAST(c.[cds_recipients_8] AS VARCHAR(8))
                                           END AS [Copy Recipients],                                                                    -- Submitted
       s.[spell.commissioning.commissioner_assignment.commissioner] AS [Derived Commissioner],                                          -- Derived (DPP - Y)
       s.[spell.commissioning.commissioner_assignment.flowchart_reference] AS [Derived Commissioner Type],                              -- Derived (DPP - Y)
       s.[spell.open_spell_indicator] AS [Open Spell Indicator],                                                                        -- Derived (DPP - Y)
       s.[spell.commissioning.evidence_based_intervention.category] AS [Evidence Based Intervention Category],                          -- Derived (DPP - Y)
       s.[spell.commissioning.evidence_based_intervention.type] AS [Evidence Based Intervention Type]                                  -- Derived (DPP - Y)
FROM [Data_Store_SUS_Unified].apc.spell s
    INNER JOIN [Data_Store_SUS_Unified].apc.[spell.episodes] e
        ON s.[PRIMARYKEY_ID] = e.[PRIMARYKEY_ID]
           AND s.dmicImportLogId = e.dmicImportLogId
           AND e.[dominant_episode_flag] = 1
   	left outer join [Data_Store_SUS_Unified].[APC].[spell.commissioning.tariff_calculation.exclusion_reasons] excl on excl.PRIMARYKEY_ID = s.PRIMARYKEY_ID and excl.dmicImportLogId = e.dmicImportLogId and excl.EXCLUSION_REASONS_ID = 1
     LEFT JOIN
    (
        SELECT [PRIMARYKEY_ID],
               [dmicImportLogId],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 1 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_1],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 2 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_2],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 3 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_3],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 4 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_4],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 5 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_5],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 6 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_6],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 7 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_7],
               MAX(   CASE
                          WHEN [EXCLUSION_REASONS_ID] = 8 THEN
                              [exclusion_reasons]
                      END
                  ) AS [exclusion_reasons_8]
        FROM [Data_Store_SUS_Unified].[APC].[spell.commissioning.tariff_calculation.exclusion_reasons]
        GROUP BY [PRIMARYKEY_ID],
                 [dmicImportLogId]
    ) exc
        ON s.[PRIMARYKEY_ID] = exc.[PRIMARYKEY_ID]
           AND s.[dmicImportLogId] = exc.[dmicImportLogId]
    LEFT JOIN
    (
        SELECT [PRIMARYKEY_ID],
               [dmicImportLogId],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 2 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_2],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 3 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_3],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 4 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_4],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 5 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_5],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 6 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_6],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 7 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_7],
               MAX(   CASE
                          WHEN [CDS_RECIPIENTS_ID] = 8 THEN
                              [cds_recipients]
                      END
                  ) AS [cds_recipients_8]
        FROM [Data_Store_SUS_Unified].[APC].[system.transaction.cds_recipients]
        GROUP BY [PRIMARYKEY_ID],
                 [dmicImportLogId]
    ) c
        ON s.[PRIMARYKEY_ID] = c.[PRIMARYKEY_ID]
           AND s.[dmicImportLogId] = c.[dmicImportLogId]
    LEFT JOIN
    (
        SELECT 
		[PRIMARYKEY_ID],
		[dmicImportLogId],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 1 THEN [code] END) AS [unbundled_hrg_1],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 2 THEN [code] END) AS [unbundled_hrg_2],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 3 THEN [code] END) AS [unbundled_hrg_3],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 4 THEN [code] END) AS [unbundled_hrg_4],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 5 THEN [code] END) AS [unbundled_hrg_5],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 6 THEN [code] END) AS [unbundled_hrg_6],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 7 THEN [code] END) AS [unbundled_hrg_7],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 8 THEN [code] END) AS [unbundled_hrg_8],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 9 THEN [code] END) AS [unbundled_hrg_9],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 10 THEN [code] END) AS [unbundled_hrg_10],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 11 THEN [code] END) AS [unbundled_hrg_11],
		MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 12 THEN [code] END) AS [unbundled_hrg_12]
	FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg]
        GROUP BY [PRIMARYKEY_ID],
                 [dmicImportLogId]
    ) hrg
        ON s.[PRIMARYKEY_ID] = hrg.[PRIMARYKEY_ID]
           AND s.[dmicImportLogId] = hrg.[dmicImportLogId]
    LEFT JOIN
    (
        SELECT [PRIMARYKEY_ID],
               [EPISODES_ID],
               [dmicImportLogId],
               MAX(   CASE
                          WHEN [OPCS_ID] = 1 THEN
                              [code]
                      END
                  ) AS [code_1],
               MAX(   CASE
                          WHEN [OPCS_ID] = 2 THEN
                              [code]
                      END
                  ) AS [code_2],
               MAX(   CASE
                          WHEN [OPCS_ID] = 3 THEN
                              [code]
                      END
                  ) AS [code_3],
               MAX(   CASE
                          WHEN [OPCS_ID] = 4 THEN
                              [code]
                      END
                  ) AS [code_4],
               MAX(   CASE
                          WHEN [OPCS_ID] = 5 THEN
                              [code]
                      END
                  ) AS [code_5],
               MAX(   CASE
                          WHEN [OPCS_ID] = 6 THEN
                              [code]
                      END
                  ) AS [code_6],
               MAX(   CASE
                          WHEN [OPCS_ID] = 7 THEN
                              [code]
                      END
                  ) AS [code_7],
               MAX(   CASE
                          WHEN [OPCS_ID] = 8 THEN
                              [code]
                      END
                  ) AS [code_8],
               MAX(   CASE
                          WHEN [OPCS_ID] = 9 THEN
                              [code]
                      END
                  ) AS [code_9],
               MAX(   CASE
                          WHEN [OPCS_ID] = 10 THEN
                              [code]
                      END
                  ) AS [code_10],
               MAX(   CASE
                          WHEN [OPCS_ID] = 11 THEN
                              [code]
                      END
                  ) AS [code_11],
               MAX(   CASE
                          WHEN [OPCS_ID] = 12 THEN
                              [code]
                      END
                  ) AS [code_12],
               MAX(   CASE
                          WHEN [OPCS_ID] = 13 THEN
                              [code]
                      END
                  ) AS [code_13]
        FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.procedure.opcs]
        GROUP BY [PRIMARYKEY_ID],
                 [EPISODES_ID],
                 [dmicImportLogId]
    ) o
        ON e.[PRIMARYKEY_ID] = o.[PRIMARYKEY_ID]
           AND e.[EPISODES_ID] = o.[EPISODES_ID]
           AND e.[dmicImportLogId] = o.[dmicImportLogId]
    --OUTER APPLY [processing].[NumDiag_APCSp_NEL](s.[system.record.identifier], d.dmicImportLogId) numdiag
    --OUTER APPLY [processing].[NumProc_APCSp_NEL](s.[system.record.identifier], d.dmicImportLogId) numproc
    --OUTER APPLY [processing].[NumUnBunHRGs_APCSp_NEL](s.[system.record.identifier], d.dmicImportLogId) numunbunhrgs
    --OUTER APPLY [processing].[NumUnBunNonPricedHRGs_APCSp](s.[system.record.identifier], d.dmicImportLogId) numunbunnonpricedhrgs
    --OUTER APPLY [processing].[NumUnBunPricedHRGs_APCSp](s.[system.record.identifier], d.dmicImportLogId) numunbunpricedhrgs
    --OUTER APPLY [processing].[CC_LOS_APCSp_ACC](s.[system.record.identifier], d.dmicImportLogId) cclosacc
    --OUTER APPLY [processing].[CC_LOS_APCSp_NCC](s.[system.record.identifier], d.dmicImportLogId) cclosncc
    --OUTER APPLY [processing].[CC_LOS_APCSp_PCC](s.[system.record.identifier], d.dmicImportLogId) cclospcc
    --OUTER APPLY [dbo].[PaddedPostCode_DK](pe.[spell.patient.residence.postcode]) padded
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], count(*) As Num_Diag from [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.diagnosis.icd] group by PRIMARYKEY_ID, [dmicImportLogId] ) max1 on max1.PRIMARYKEY_ID = s.PRIMARYKEY_ID and max1.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], count(*) As Num_proc from [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.procedure.opcs] group by PRIMARYKEY_ID, [dmicImportLogId] ) max2 on max2.PRIMARYKEY_ID = s.PRIMARYKEY_ID and max2.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], count(*) As Num_unb from [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg] group by PRIMARYKEY_ID, [dmicImportLogId] ) max3 on max3.PRIMARYKEY_ID = s.PRIMARYKEY_ID and max3.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], count(*) As Num_tariff_Unb from [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg] where tariff > 0 group by PRIMARYKEY_ID, [dmicImportLogId] ) Unb_Tariff on Unb_Tariff.PRIMARYKEY_ID = s.PRIMARYKEY_ID and Unb_Tariff.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], count(*) As Num_nontariff_Unb from [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg] where tariff is null group by PRIMARYKEY_ID, [dmicImportLogId] ) Unb_NonTariff on Unb_NonTariff.PRIMARYKEY_ID = s.PRIMARYKEY_ID and Unb_NonTariff.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select ep.PRIMARYKEY_ID, ep.dmicImportLogId, sum(ep.length_of_stay) as Length_of_stay from [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated.allocated_episodes] ep inner join [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated] sp on ep.PRIMARYKEY_ID = sp.PRIMARYKEY_ID and ep.CRITICAL_CARE_CONSOLIDATED_ID = sp.CRITICAL_CARE_CONSOLIDATED_ID and ep.dmicImportLogId = sp.dmicImportLogId where [identifier.cc_period_type] = 'ACC' group by ep.PRIMARYKEY_ID, ep.dmicImportLogId ) CC_ACC on CC_ACC.PRIMARYKEY_ID = s.PRIMARYKEY_ID and CC_ACC.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select ep.PRIMARYKEY_ID, ep.dmicImportLogId, sum(ep.length_of_stay) as Length_of_stay from [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated.allocated_episodes] ep inner join [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated] sp on ep.PRIMARYKEY_ID = sp.PRIMARYKEY_ID and ep.CRITICAL_CARE_CONSOLIDATED_ID = sp.CRITICAL_CARE_CONSOLIDATED_ID and ep.dmicImportLogId = sp.dmicImportLogId where [identifier.cc_period_type] = 'NCC' group by ep.PRIMARYKEY_ID, ep.dmicImportLogId ) CC_NCC on CC_NCC.PRIMARYKEY_ID = s.PRIMARYKEY_ID and CC_NCC.dmicImportLogId = s.dmicImportLogId
	LEFT JOIN 
	( select ep.PRIMARYKEY_ID, ep.dmicImportLogId, sum(ep.length_of_stay) as Length_of_stay from [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated.allocated_episodes] ep inner join [Data_Store_SUS_Unified].[APC].[spell.critical_care_consolidated] sp on ep.PRIMARYKEY_ID = sp.PRIMARYKEY_ID and ep.CRITICAL_CARE_CONSOLIDATED_ID = sp.CRITICAL_CARE_CONSOLIDATED_ID and ep.dmicImportLogId = sp.dmicImportLogId where [identifier.cc_period_type] = 'PCC' group by ep.PRIMARYKEY_ID, ep.dmicImportLogId ) CC_PCC on CC_PCC.PRIMARYKEY_ID = s.PRIMARYKEY_ID and CC_PCC.dmicImportLogId = s.dmicImportLogId
GO
