USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_ED_EncounterDenormalised_DateRange_v2]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Unified].[vw_ED_EncounterDenormalised_DateRange_v2]
AS
WITH DATA AS (
SELECT

    m.[PRIMARYKEY_ID] AS [SK_EncounterID],
    CAST(m.[system.record.version] AS VARCHAR(17)) AS [SUS_Version],
    m.[system.record.cds_record_identifier] AS [NHS_RID_From_Provider],
    CAST(m.[attendance.unique_identifier] AS VARCHAR(32)) AS [Attendance_Identifier],
    CAST(m.[system.record.identifier] AS VARCHAR(32)) AS [Generated_Record_ID],
    m.[system.record.cds_record_type] AS [CDS_Record_Type],
    m.[system.record.cds_group_indicator] AS [CDS_Group_Indicator],
    CAST(m.[system.transaction.cds_bulk_replacement_group] AS VARCHAR(3)) AS [Bulk_Replacement_CDS_Group],
    CASE
      WHEN CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1)) = '1' THEN '2'
      ELSE CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1))
    END AS [Att_In_PbR_Not_In_PbR],
    CAST(exclusion_reasons.exclusion_reasons AS VARCHAR(100)) AS [Exclusion_Reason],
    m.[system.record.confidentiality_category] AS [Confidentiality_Category],
    CASE
      WHEN CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) IS NULL THEN 0
      ELSE CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1))
    END AS [Code_Cleaning],

    ----------------------------------------------------------------------------
    -- Patient Identifiers (Existing)
    ----------------------------------------------------------------------------
    CAST(m.[patient.local_patient_identifier.value] AS VARCHAR(32)) AS [Local_Patient_Identifier],
    m.[patient.local_patient_identifier.issuer] AS [Org_Code_Local_Patient_Identifier],
    m.[patient.nhs_number.value Pseudo] AS SK_PatientID,

    ----------------------------------------------------------------------------
    -- Demographics: Birth Date, Age, Gender, etc. (Existing)
    ----------------------------------------------------------------------------
    m.[patient.age_at_cds_activity_date] AS [Age_At_CDS_Activity_Date],
    m.[patient.age_at_arrival] AS [Derived_Age],
    m.[patient.patient_type] AS [Patient_Type],
    m.[patient.age_range] AS [Age_Range_Derived],
    m.[patient.hes_age_at_arrival] AS [Age_at_Record_Start],
    m.[patient.hes_age_at_departure] AS [Age_at_Record_End],
	m.[patient.ethnic_category] AS [Ethnic_Category_Code],
    m.[patient.nhs_number.status] AS [NHS_Number_Status_Indicator],
    CASE WHEN m.[patient.stated_gender] = 'X' THEN '0' ELSE m.[patient.stated_gender] END AS [Gender_Code],
    m.[patient.usual_address.postcode Pseudo] AS [Postcode_of_Usual_Address],
    m.[patient.residence_ccg] AS [Organisation_Code_PCT_of_Residence],
    m.[patient.residence_ccg_from_patient_postcode] AS [Patient_Postcode_Derived_PCT],
    m.[patient.usual_address.postcode_district] AS [Area_Code_Derived],
    m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT_Responsible],
    m.[patient.usual_address.country] AS [Country],

    ----------------------------------------------------------------------------
    -- EM Attendance (Existing)
    ----------------------------------------------------------------------------
    m.[attendance.arrival.attendance_identifier] AS [EM_Attendance_Number],
    m.[attendance.arrival.arrival_mode.code] AS [EM_Mode_of_Arrival],
    m.[attendance.arrival.attendance_category] AS [EM_Attendance_Category],
    m.[attendance.discharge.status.code] AS [EM_Attendance_Disposal],
    m.[clinical.injury.place.type] AS [EM_Incident_Location_Type],
    NULL AS [EM_Staff_Member_Code],
    m.[attendance.arrival.attendance_source.code]  AS [EM_Referral_Source],
    m.[attendance.arrival.date] AS [Arrival_Date],
    NULL AS [EM_Patient_Group],
    m.[attendance.conclusion.time] AS [EM_Attendance_Conclusion_Time],
    m.[attendance.departure.time] AS [EM_Departure_Time],
    m.[attendance.initial_assessment.time] AS [EM_Initial_Assessment_Time],
    m.[attendance.seen_for_treatment.time] AS [EM_Time_Seen_for_Treatment],
    LEFT(m.[attendance.arrival.time],5) AS [Arrival_Time],
    CONVERT(VARCHAR(8), m.[attendance.departure.date], 112) AS [dv_Activity_Period_Date],
    m.[attendance.conclusion.time_since_arrival] AS [EM_Conclusion_Waiting_Time_Minutes],
    (DATEDIFF(minute,
        CASE WHEN TRY_CAST(m.[attendance.arrival.date] AS DATETIME) IS NOT NULL AND TRY_CAST(LEFT(m.[attendance.arrival.time],8) AS TIME) IS NOT NULL THEN TRY_CAST(m.[attendance.arrival.date] AS DATETIME) + TRY_CAST(LEFT(m.[attendance.arrival.time],8) AS DATETIME) ELSE NULL END,
        CASE WHEN TRY_CAST(m.[attendance.departure.date] AS DATETIME) IS NOT NULL AND TRY_CAST(LEFT(m.[attendance.departure.time],8) AS TIME) IS NOT NULL THEN TRY_CAST(m.[attendance.departure.date] AS DATETIME) + TRY_CAST(LEFT(m.[attendance.departure.time],8) AS DATETIME) ELSE NULL END
     )) AS [EM_Duration_Time_Minutes],
    m.[attendance.seen_for_treatment.time_since_arrival] AS [EM_Treatment_Wait_Time_Minutes],

    ----------------------------------------------------------------------------
    -- Commissioning and Service Agreements (Existing)
    ----------------------------------------------------------------------------
    m.[commissioning.service_agreement.commissioning_serial_number] AS [Commissioning_Serial_No_Agreement_No],
    m.[commissioning.service_agreement.line_number] AS [NHS_Service_Agreement_Line_No],
    m.[commissioning.service_agreement.provider_reference_number] AS [Provider_Reference_No],
    m.[commissioning.service_agreement.commissioner_reference_number] AS [Commissioner_Reference_No],
    m.[commissioning.service_agreement.sha_commissioner] AS [SHA_Commissioner],
    m.[attendance.location.sha_provider] AS [SHA_Provider],
    m.[system.record.provider] AS [Organisation_Code_Code_of_Provider],
    m.[attendance.location.site] AS [Provider_Site_Code],
    m.[system.record.commissioner] AS [Organisation_Code_Code_of_Commissioner],
    m.[commissioning.service_agreement.commissioner] AS [Commissioner_Code_Original_Data],
    m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT_Derived_from_GP_Practice],
    NULL AS [GP_Practice_Derived_from_PDS],
    m.[commissioning.service_agreement.provider] AS [Provider_Code_Original_Data],
    m.[patient.gp_registration.general_practitioner] AS [Registered_GMP_Code_Original_Data],
    m.[patient.gp_registration.general_practice] AS [GP_Practice_Code_Original_Data],
    ISNULL(m.[patient.gp_registration.pds_general_practice], m.[patient.gp_registration.general_practice]) AS [GP_Practice_Code],

    ----------------------------------------------------------------------------
    -- National Pricing / Tariff (Existing)
    ----------------------------------------------------------------------------
    m.[commissioning.national_pricing.costing_period] AS [Applicable_Costing_Period],
    m.[commissioning.grouping.health_resource_group] AS [Core_HRG],
    m.[commissioning.grouping.grouper_version] AS [HRG_Code_Version_Calculated],
    NULL AS [HRG_Dominant_Grouping_Variable_Procedure],

    ----------------------------------------------------------------------------
    -- Diagnosis Info (Schemes) (Existing)
    ----------------------------------------------------------------------------
    'SNOMED CT' AS [Diagnosis_Scheme_In_Use],
    NULL AS [ICD_10_Primary_Diagnosis],

    ----------------------------------------------------------------------------
    -- Investigation Schemes (Existing)
    ----------------------------------------------------------------------------
    'SNOMED CT' AS [Investigation_Scheme_In_Use],

    ----------------------------------------------------------------------------
    -- Procedure / Treatment Schemes (Existing)
    ----------------------------------------------------------------------------
    'SNOMED CT' AS [Procedure_Scheme_In_Use],

    ----------------------------------------------------------------------------
    -- Department Type, Tariffs, Etc. (Existing)
    ----------------------------------------------------------------------------
    m.[attendance.location.department_type] AS [EM_Department_Type],
    m.[commissioning.national_pricing.tariff] AS [Tariff_Initial_Amount_National],
    m.[commissioning.national_pricing.tariff] AS [Tariff_Pre_MFF_Adjusted_National],
    m.[commissioning.national_pricing.market_forces_factor] AS [Applied_MFF_National],
    m.[commissioning.national_pricing.market_forces_adjustment] AS [MFF_Adjustment],
    (m.[commissioning.national_pricing.tariff] + m.[commissioning.national_pricing.market_forces_adjustment]) AS [Tariff_Total_Payment_National],
    m.[commissioning.national_pricing.final_price] AS [PbR_Final_Tariff],
    m.[commissioning.national_pricing.tariff_description] AS [Final_Tariff_Applied],
    CASE WHEN max1.Num_Diag IS NULL THEN 0 ELSE max1.Num_Diag END AS [Number_Diagnosis],
    CASE WHEN max3.Num_Treat IS NULL THEN 0 ELSE max3.Num_Treat END AS [Number_Procedures],
    CASE WHEN max2.Num_Inv IS NULL THEN 0 ELSE max2.Num_Inv END AS [Number_EM_Investigations],
    CASE WHEN max3.Num_Treat IS NULL THEN 0 ELSE max3.Num_Treat END AS [Number_EM_Treatments],
    m.[system.record.sender] AS [Organisation_Code_Sender],
    CONVERT(VARCHAR(8), m.[system.interchange.received_date], 112) AS [Staging_Loaded_Date],
    m.[system.transaction.cds_protocol_identifier] AS [Protocol_Identifier],
    m.[system.transaction.cds_unique_identifier]  AS [Unique_CDS_Identifier],
    CONVERT(VARCHAR(8), m.[system.transaction.cds_applicable_date], 112) AS [Applicable_Date_and_Time], -- Date part only
    m.[system.transaction.cds_extract_date] AS [Extract_Date_Source], -- Keeping source before formatting
    m.[system.transaction.cds_report_period_start_date] AS [Report_Period_Start_Date_Source],
    m.[system.transaction.cds_report_period_end_date]   AS [Report_Period_End_Date_Source],
    m.[system.record.finished_indicator] AS [Finished_Indicator],
    m.[system.interchange.identifier] AS [Interchange_ID],
    m.[attendance.location.site] AS [Attendance_Site_Code],
    m.[system.record.prime_recipient] AS [Prime_Recipient],
    m.[attendance.location.postcode_district] AS [Provider_Location],
    m.[system.transaction.cds_update_type] AS [Update_Type],
    CAST(m.[commissioning.grouping.grouper_version] AS VARCHAR(8)) AS [Grouping_Algorithm_Version],
    m.[system.interchange.schema_version] AS [CDS_Schema_Version],
    CAST(
      LEFT(CONVERT(VARCHAR(10), m.[system.report.query_date], 112),4)
      + SUBSTRING(CONVERT(VARCHAR(10), m.[system.report.query_date], 112), 5,2)
      + RIGHT(CONVERT(VARCHAR(10), m.[system.report.query_date], 112),2)
      + LEFT(m.[system.report.query_time],2)
      + SUBSTRING(m.[system.report.query_time],4,2)
      + RIGHT(m.[system.report.query_time],2)
      AS VARCHAR(14)
    ) AS [Query_Date],
    m.[system.report.query_identifier] AS [Unique_Query_Id],

	--Derived and unmapped (Existing)
	'Unified SUS ECDS' AS [dv_Extract_Type],
	m.[system.report.query_identifier] AS dv_Query_ID,
	REPLACE(dt.FiscalCalendarYearName,'-','/20') AS [dv_FinYear],
    dt.FiscalCalendarMonthNumber AS [dv_FinMonth],
	m.[attendance.initial_assessment.date] AS dv_EM_Initial_Assessment_Date,
	m.[attendance.seen_for_treatment.date] AS dv_EM_Date_Seen_for_Treatment,
	m.[attendance.conclusion.date] AS dv_EM_Attendance_Conclusion_Date,
	m.[attendance.departure.date] AS EM_Departure_Date,
	m.[patient.usual_address.lsoa_11] AS dv_LSOA,

    ----------------------------------------------------------------------------
    -- ECDS v4.0 Specific Columns (Existing)
    ----------------------------------------------------------------------------
    m.[schema_version] AS [ECDS_Schema_Version_v4],
    m.[attendance.location.activity_type] AS [Urgent_And_Emergency_Care_Activity_Type_v4],
    m.[attendance.arrival.timestamp] AS [Attendance_Arrival_Timestamp_v4],
    m.[attendance.arrival.consultation_mechanism] AS [Attendance_Consultation_Mechanism_v4],
    m.[attendance.initial_assessment.timestamp] AS [Attendance_Initial_Assessment_Timestamp_v4],
    m.[attendance.seen_for_treatment.timestamp] AS [Attendance_Seen_For_Treatment_Timestamp_v4],
    m.[attendance.clinically_ready_to_proceed.timestamp] AS [Attendance_Clinically_Ready_To_Proceed_Timestamp_v4],
    m.[attendance.departure.timestamp] AS [Attendance_Departure_Timestamp_v4],
    m.[attendance.decision_to_admit.timestamp] AS [Attendance_Decision_To_Admit_Timestamp_v4],
    m.[attendance.extended_care_episode_identifier] AS [Attendance_Extended_Care_Episode_Identifier_v4],
    m.[clinical.injury.timestamp] AS [Injury_Timestamp_v4],
    m.[clinical.coding.fit_note.assessment_date] AS [Fit_Note_Assessment_Date_v4],
    m.[clinical.coding.fit_note.condition] AS [Fit_Note_Condition_SNOMED_v4],
    m.[clinical.coding.fit_note.start_date] AS [Fit_Note_Start_Date_v4],
    m.[clinical.coding.fit_note.end_date] AS [Fit_Note_End_Date_v4],
    m.[clinical.coding.fit_note.duration] AS [Fit_Note_Duration_v4],
    m.[attendance.discharge.information_given.indicator] AS [Discharge_Information_Given_Indicator_v4],

    ----------------------------------------------------------------------------------------------------
    -- NEWLY ADDED ECDS v3.5 FIELDS FROM emergency_care - VERIFY AND TEST AGAINST SOURCE TABLE SCHEMA --
    ----------------------------------------------------------------------------------------------------
    -- System/Transaction Group
    m.[system.transaction.cds_applicable_time] AS [CDS_Applicable_Time],
    m.[system.transaction.cds_extract_time] AS [CDS_Extract_Time],
    m.[system.record.cds_activity_date] AS [CDS_Activity_Date_Source], -- Raw ECDS Activity Date
    -- Patient Demographics & Details Group
    m.[patient.nhs_number.is_valid] AS [Patient_NHS_Number_Is_Valid_ECDS],
    m.[patient.fractional_age_at_arrival] AS [Patient_Fractional_Age_At_Arrival_ECDS],
    m.[patient.usual_address.is_postcode_valid] AS [Patient_Usual_Address_Is_Postcode_Valid_ECDS],
    m.[patient.usual_address.oa_11] AS [Patient_Usual_Address_OA11_ECDS],
    m.[patient.usual_address.msoa_11] AS [Patient_Usual_Address_MSOA11_ECDS],
    m.[patient.usual_address.government_office_region] AS [Patient_Usual_Address_GOR_ECDS],
    m.[patient.usual_address.residence_county] AS [Patient_Usual_Address_County_ECDS],
    m.[patient.usual_address.local_authority_district] AS [Patient_Usual_Address_LA_District_ECDS],
    m.[patient.usual_address.parliamentary_constituency] AS [Patient_Usual_Address_Parliamentary_Constituency_ECDS],
    m.[patient.usual_address.index_of_multiple_deprivation.decile] AS [Patient_IMD_Decile_ECDS],
    m.[patient.usual_address.index_of_multiple_deprivation.decile_description] AS [Patient_IMD_Decile_Description_ECDS],
    m.[patient.usual_address.rural_urban_indicator] AS [Patient_Rural_Urban_Indicator_ECDS],
    m.[patient.usual_address.cancer_registry] AS [Patient_Cancer_Registry_ECDS],
    m.[patient.usual_address.commissioning_region] AS [Patient_Commissioning_Region_ECDS],
    m.[patient.hes_ccg_from_patient_postcode] AS [Patient_HES_CCG_From_Postcode_ECDS],
    m.[patient.gp_registration.hes_ccg_from_general_practice] AS [Patient_HES_CCG_From_GP_ECDS],
    m.[patient.gp_registration.hes_responsible_ccg.value] AS [Patient_HES_Responsible_CCG_Value_ECDS],
    m.[patient.gp_registration.hes_responsible_ccg.origin] AS [Patient_HES_Responsible_CCG_Origin_ECDS],
    m.[patient.accommodation_status.code] AS [Patient_Accommodation_Status_Code_ECDS],
    m.[patient.accommodation_status.is_code_approved] AS [Patient_Accommodation_Status_Is_Code_Approved_ECDS],
    m.[patient.preferred_spoken_language.code] AS [Patient_Preferred_Spoken_Language_Code_ECDS],
    m.[patient.preferred_spoken_language.is_code_approved] AS [Patient_Preferred_Spoken_Language_Is_Code_Approved_ECDS],
    m.[patient.accessible_information_professional_required.code] AS [Patient_Accessible_Info_Prof_Required_Code_ECDS],
    m.[patient.accessible_information_professional_required.is_code_approved] AS [Patient_Accessible_Info_Prof_Required_Is_Code_Approved_ECDS],
    m.[patient.interpreter_language.code] AS [Patient_Interpreter_Language_Code_ECDS],
    m.[patient.interpreter_language.is_code_approved] AS [Patient_Interpreter_Language_Is_Code_Approved_ECDS],
    m.[patient.overseas_visitor_charging_category] AS [Patient_Overseas_Visitor_Charging_Category_ECDS],
    m.[patient.withheld_identity_reason] AS [Patient_Withheld_Identity_Reason_ECDS],
    -- Attendance Details Group
    m.[attendance.location.hes_provider_3] AS [Attendance_Location_HES_Provider_3_ECDS],
    m.[attendance.location.hes_provider_5] AS [Attendance_Location_HES_Provider_5_ECDS],
    m.[attendance.location.government_office_region] AS [Attendance_Location_GOR_ECDS],
    m.[attendance.location.hes_ccg_from_treatment_site.value] AS [Attendance_Location_HES_CCG_From_Treatment_Site_Value_ECDS],
    m.[attendance.location.hes_ccg_from_treatment_site.origin] AS [Attendance_Location_HES_CCG_From_Treatment_Site_Origin_ECDS],
    m.[attendance.location.lsoa_provider_distance.value] AS [Attendance_Location_LSOA_Provider_Distance_Value_ECDS],
    m.[attendance.location.lsoa_provider_distance.origin] AS [Attendance_Location_LSOA_Provider_Distance_Origin_ECDS],
    m.[attendance.location.lsoa_site_of_treatment_distance.value] AS [Attendance_Location_LSOA_Site_Distance_Value_ECDS],
    m.[attendance.location.lsoa_site_of_treatment_distance.origin] AS [Attendance_Location_LSOA_Site_Distance_Origin_ECDS],
    m.[attendance.arrival.month] AS [Arrival_Month_ECDS],
    m.[attendance.arrival.arrival_mode.is_code_approved] AS [EM_Mode_of_Arrival_Is_Code_Approved_ECDS],
    m.[attendance.arrival.planned] AS [EM_Attendance_Planned_Indicator_ECDS],
    m.[attendance.arrival.attendance_source.is_code_approved] AS [EM_Referral_Source_Is_Code_Approved_ECDS],
    m.[attendance.arrival.ambulance_incident_number] AS [EM_Ambulance_Incident_Number_ECDS],
    m.[attendance.arrival.conveying_ambulance_trust] AS [EM_Conveying_Ambulance_Trust_Code_ECDS],
    m.[attendance.arrival.attendance_source_organisation] AS [EM_Referral_Source_Organisation_Code_ECDS],
    m.[attendance.initial_assessment.time_since_arrival] AS [EM_Initial_Assessment_Time_Since_Arrival_Minutes_ECDS],
    m.[attendance.departure.time_since_arrival] AS [EM_Departure_Time_Since_Arrival_Minutes_ECDS],
    m.[attendance.decision_to_admit.date] AS [EM_Decision_To_Admit_Date_ECDS],
    m.[attendance.decision_to_admit.time] AS [EM_Decision_To_Admit_Time_ECDS],
    m.[attendance.decision_to_admit.time_since_arrival] AS [EM_Decision_To_Admit_Time_Since_Arrival_Minutes_ECDS],
    m.[attendance.decision_to_admit.receiving_site] AS [EM_Decision_To_Admit_Receiving_Site_Code_ECDS],
    m.[attendance.decision_to_admit.treatment_function_code] AS [EM_Decision_To_Admit_Treatment_Function_Code_ECDS],
    m.[attendance.discharge.status.is_code_approved] AS [EM_Attendance_Disposal_Is_Code_Approved_ECDS],
    m.[attendance.discharge.destination.code] AS [EM_Discharge_Destination_Code_ECDS],
    m.[attendance.discharge.destination.is_code_approved] AS [EM_Discharge_Destination_Is_Code_Approved_ECDS],
    m.[attendance.discharge.follow_up.code] AS [EM_Discharge_Follow_Up_Code_ECDS],
    m.[attendance.discharge.follow_up.is_code_approved] AS [EM_Discharge_Follow_Up_Is_Code_Approved_ECDS],
    m.[attendance.discharge.information_given.code] AS [EM_Discharge_Information_Given_Code_v35_ECDS],
    m.[attendance.discharge.information_given.is_code_approved] AS [EM_Discharge_Information_Given_Is_Code_Approved_v35_ECDS],
    -- Clinical Information Group (from emergency_care)
    m.[clinical.chief_complaint.code] AS [Clinical_Chief_Complaint_Code_ECDS],
    m.[clinical.chief_complaint.is_code_approved] AS [Clinical_Chief_Complaint_Is_Code_Approved_ECDS],
    m.[clinical.chief_complaint.is_injury_related] AS [Clinical_Chief_Complaint_Is_Injury_Related_ECDS],
    m.[clinical.chief_complaint.extended_code] AS [Clinical_Chief_Complaint_Extended_Code_ECDS],
    m.[clinical.acuity.code] AS [Clinical_Acuity_Code_ECDS],
    m.[clinical.acuity.is_code_approved] AS [Clinical_Acuity_Is_Code_Approved_ECDS],
    m.[clinical.injury.date] AS [Clinical_Injury_Date_ECDS],
    m.[clinical.injury.time] AS [Clinical_Injury_Time_ECDS],
    m.[clinical.injury.activity_status.code] AS [Clinical_Injury_Activity_Status_Code_ECDS],
    m.[clinical.injury.activity_status.is_code_approved] AS [Clinical_Injury_Activity_Status_Is_Code_Approved_ECDS],
    m.[clinical.injury.activity_type.code] AS [Clinical_Injury_Activity_Type_Code_ECDS],
    m.[clinical.injury.activity_type.is_code_approved] AS [Clinical_Injury_Activity_Type_Is_Code_Approved_ECDS],
    m.[clinical.injury.intent.code] AS [Clinical_Injury_Intent_Code_ECDS],
    m.[clinical.injury.intent.is_code_approved] AS [Clinical_Injury_Intent_Is_Code_Approved_ECDS],
    m.[clinical.injury.mechanism.code] AS [Clinical_Injury_Mechanism_Code_ECDS],
    m.[clinical.injury.mechanism.is_code_approved] AS [Clinical_Injury_Mechanism_Is_Code_Approved_ECDS],
    m.[clinical.injury.place.is_type_approved] AS [EM_Incident_Location_Is_Type_Approved_ECDS],
    m.[clinical.injury.place.latitude] AS [EM_Injury_Place_Latitude_ECDS],
    m.[clinical.injury.place.longitude] AS [EM_Injury_Place_Longitude_ECDS],
    m.[clinical.disease_notification] AS [Clinical_Disease_Notification_ECDS],
    m.[clinical.disease_notification_code] AS [Clinical_Disease_Notification_Code_ECDS],
    m.[clinical.disease_notification_description] AS [Clinical_Disease_Notification_Description_ECDS],
    -- Commissioning Group
    m.[commissioning.service_agreement.is_commissioner_recognised] AS [Commissioning_Is_Commissioner_Recognised_ECDS],
    m.[commissioning.service_agreement.provider_type] AS [Commissioning_Provider_Type_ECDS],
    m.[commissioning.national_pricing.excluded] AS [Commissioning_National_Pricing_Excluded_Bit_ECDS], -- Raw bit flag
    -- Referral Group
    m.[referral.ubrn.issuer] AS [Referral_UBRN_Issuer_ECDS],
    m.[referral.waiting_time_measurement_type] AS [Referral_Waiting_Time_Measurement_Type_ECDS],
    -- Data Quality Group
    m.[data_quality.chief_complaint.expected] AS [DQ_Chief_Complaint_Expected_ECDS],
    m.[data_quality.chief_complaint.completed] AS [DQ_Chief_Complaint_Completed_ECDS],
    m.[data_quality.chief_complaint.valid] AS [DQ_Chief_Complaint_Valid_ECDS],
    m.[data_quality.primary_diagnosis.expected] AS [DQ_Primary_Diagnosis_Expected_ECDS],
    m.[data_quality.primary_diagnosis.completed] AS [DQ_Primary_Diagnosis_Completed_ECDS],
    m.[data_quality.primary_diagnosis.valid] AS [DQ_Primary_Diagnosis_Valid_ECDS]

FROM [Data_Store_SUS_Unified].[ECDS].[emergency_care] m (NOLOCK)
LEFT JOIN [Dictionary].[dbo].[Dates] dt (NOLOCK) on m.[attendance.departure.date] = dt.FullDate
LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[commissioning.national_pricing.exclusion_reasons] exclusion_reasons (NOLOCK)
    ON m.PRIMARYKEY_ID = exclusion_reasons.PRIMARYKEY_ID
   AND exclusion_reasons.ROWNUMBER_ID = 1

LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Diag
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max1 ON max1.PRIMARYKEY_ID = m.PRIMARYKEY_ID
LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Inv
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max2 ON max2.PRIMARYKEY_ID = m.PRIMARYKEY_ID
LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Treat
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max3 ON max3.PRIMARYKEY_ID = m.PRIMARYKEY_ID
)

SELECT
    [SK_EncounterID] -- Unique system key for the encounter (maps to ECDS PRIMARYKEY_ID)
    ,[SUS_Version] -- Timestamp of when the record was added to the SUS+ database (CCYYMMDDHHMMSSmmm)
    ,[NHS_RID_From_Provider] -- CDS Record Identifier submitted by the provider
    ,[Attendance_Identifier] -- SUS+ generated unique identifier for an attendance
    ,[Generated_Record_ID] -- SUS+ generated unique identifier for the episode/record
    ,[CDS_Record_Type] -- Commissioning Data Set record type code (e.g., 011 for ECDS)
    ,[CDS_Group_Indicator] -- Identifies Commissioning Data Set group type for PbR processing
    ,[Bulk_Replacement_CDS_Group] -- CDS Bulk Replacement Group Code
    ,[Att_In_PbR_Not_In_PbR] -- Indicates if Attendance is in Payment by Results (0=No, 1=Yes, 2=Excluded from PbR)
    ,[Exclusion_Reason] -- Reason why the record/spell is excluded from national pricing
    ,[Confidentiality_Category] -- Code indicating confidentiality status of the record
    ,[Code_Cleaning] -- Indicates if relevant clinical codes were cleaned before grouping (0=No, 1=Yes)
    ,[Local_Patient_Identifier] -- Patient identifier used by the local provider system
    ,[Org_Code_Local_Patient_Identifier] -- ODS code of the organisation that assigned the Local Patient Identifier
    ,[SK_PatientID] -- Pseudonymized NHS Number of the patient
    ,[Age_At_CDS_Activity_Date] -- Patient's age in years at the CDS activity date
    ,[Derived_Age] -- Patient's age at arrival, derived by SUS+
    ,[Patient_Type] -- Patient type or age band, derived by SUS+
    ,[Age_Range_Derived] -- Patient age range in 5-year increments, derived by SUS+
    ,[Age_at_Record_Start] -- HES derived age of patient at record start
    ,[Age_at_Record_End] -- HES derived age of patient at record end
	,[Ethnic_Category_Code] -- Patient's stated ethnic category code
    ,[NHS_Number_Status_Indicator] -- Status of the patient's NHS Number tracing
    ,[Gender_Code] -- Patient's stated gender code (0=Indeterminate/Not Stated, 1=Male, 2=Female, 9=Not Known)
    ,[Postcode_of_Usual_Address] -- Pseudonymized postcode of the patient's usual address
    ,[Organisation_Code_PCT_of_Residence] -- ODS code of the patient's CCG/PCT of residence (submitted)
    ,[Patient_Postcode_Derived_PCT] -- CCG/PCT ODS code derived from patient's postcode by SUS+
    ,[Area_Code_Derived] -- Outward part of patient's postcode (postcode district)
    ,[PCT_Responsible] -- Responsible CCG/PCT ODS code, typically derived from GP practice
    ,[Country] -- Country derived from patient's usual address postcode
    ,[EM_Attendance_Number] -- Emergency Medicine attendance number allocated by the ED
    ,[EM_Mode_of_Arrival] -- Mode of patient arrival at Emergency Medicine (SNOMED CT code)
    ,[EM_Attendance_Category] -- Category of Emergency Care attendance (e.g., 1=First, 2=Follow-up)
    ,[EM_Attendance_Disposal] -- Disposal/Discharge status from Emergency Medicine (SNOMED CT code)
    ,[EM_Incident_Location_Type] -- Type of location where incident occurred (SNOMED CT code, injury specific)
    ,[EM_Staff_Member_Code] -- Staff member code involved in care (currently NULL)
    ,[EM_Referral_Source] -- Source of referral to Emergency Medicine (SNOMED CT code)
    ,[Arrival_Date] -- Date of patient arrival at Emergency Department (from ECDS)
    ,[EM_Patient_Group] -- Patient group (currently NULL)
    ,[EM_Attendance_Conclusion_Time] -- Time A&E attendance concluded (HH:MM:SS)
    ,[EM_Departure_Time] -- Time patient departed A&E (HH:MM:SS)
    ,[EM_Initial_Assessment_Time] -- Time of initial assessment in A&E (HH:MM:SS)
    ,[EM_Time_Seen_for_Treatment] -- Time patient seen for treatment by clinical decision maker (HH:MM:SS)
    ,[Arrival_Time] -- Time of patient arrival at A&E (HH:MM)
    ,[dv_Activity_Period_Date] -- Date of activity period, based on ED departure date (YYYYMMDD)
    ,[EM_Conclusion_Waiting_Time_Minutes] -- Waiting time from arrival to attendance conclusion or treatment, whichever is greater (minutes)
    ,[EM_Duration_Time_Minutes] -- Total duration of A&E attendance from arrival to departure (minutes)
    ,[EM_Treatment_Wait_Time_Minutes] -- Waiting time from arrival to being seen for treatment (minutes)
    ,[Commissioning_Serial_No_Agreement_No] -- Commissioning serial number or agreement number for service
    ,[NHS_Service_Agreement_Line_No] -- NHS service agreement line number
    ,[Provider_Reference_No] -- Provider reference number for commissioning
    ,[Commissioner_Reference_No] -- Commissioner reference number for commissioning
    ,[SHA_Commissioner] -- Derived SHA/LAT of the commissioner
    ,[SHA_Provider] -- Derived SHA/LAT of the provider
    ,[Organisation_Code_Code_of_Provider] -- ODS code of the healthcare provider organisation
    ,[Provider_Site_Code] -- ODS site code of the provider where treatment occurred
    ,[Organisation_Code_Code_of_Commissioner] -- ODS code of the commissioning organisation (submitted by provider)
    ,[Commissioner_Code_Original_Data] -- Original submitted commissioner ODS code
    ,[PCT_Derived_from_GP_Practice] -- CCG/PCT ODS code derived from the patient's GP practice
    ,[GP_Practice_Derived_from_PDS] -- GP Practice ODS code derived from PDS (currently NULL)
    ,[Provider_Code_Original_Data] -- Original submitted provider ODS code
    ,[Registered_GMP_Code_Original_Data] -- Original submitted PPD code for patient's GP
    ,[GP_Practice_Code_Original_Data] -- Original submitted GP Practice ODS Code
    ,[GP_Practice_Code] -- Patient's registered GP Practice ODS Code (from PDS or submitted)
    ,[Applicable_Costing_Period] -- Formatted costing period (e.g., "M01 - Apr 2016")
    ,[Core_HRG] -- Core Healthcare Resource Group (HRG) derived by SUS grouper
    ,[HRG_Code_Version_Calculated] -- Version of the HRG grouper algorithm used
    ,[HRG_Dominant_Grouping_Variable_Procedure] -- Dominant procedure for HRG grouping (currently NULL)
    ,[Diagnosis_Scheme_In_Use] -- Coding scheme used for diagnoses (SNOMED CT for ECDS)
    ,[ICD_10_Primary_Diagnosis] -- Primary diagnosis in ICD-10 (currently NULL, ECDS uses SNOMED)
    ,[Investigation_Scheme_In_Use] -- Coding scheme used for investigations (SNOMED CT for ECDS)
    ,[Procedure_Scheme_In_Use] -- Coding scheme used for procedures/treatments (SNOMED CT for ECDS)
    ,[EM_Department_Type] -- Type of Emergency Medicine department where patient was treated
    ,[Tariff_Initial_Amount_National] -- National tariff amount before MFF adjustment
    ,[Tariff_Pre_MFF_Adjusted_National] -- National tariff before MFF adjustment
    ,[Applied_MFF_National] -- Applied Market Forces Factor (MFF) value
    ,[MFF_Adjustment] -- Monetary adjustment due to Market Forces Factor
    ,[Tariff_Total_Payment_National] -- Total national tariff payment including MFF
    ,[PbR_Final_Tariff] -- Final Payment by Results (PbR) tariff/price for the activity
    ,[Final_Tariff_Applied] -- Description of the final tariff applied (e.g., Best Practice Tariff)
    ,[Number_Diagnosis] -- Count of diagnoses recorded for the attendance
    ,[Number_Procedures] -- Count of procedures/treatments recorded (mapped from treatment count)
    ,[Number_EM_Investigations] -- Count of Emergency Medicine investigations recorded
    ,[Number_EM_Treatments] -- Count of Emergency Medicine treatments recorded
    ,[Organisation_Code_Sender] -- ODS code of the organisation sending the CDS interchange
    ,[Staging_Loaded_Date] -- Date the interchange was received by SUS+ (YYYYMMDD)
    ,[Protocol_Identifier] -- CDS Submission Protocol (NET/BULK)
    ,[Unique_CDS_Identifier] -- CDS unique identifier for the episode/activity
    ,[Applicable_Date_and_Time] -- CDS Applicable Date of the update event (YYYYMMDD from source)
    ,CONVERT(VARCHAR(8), [Extract_Date_Source], 112) AS [Extract_Date] -- CDS Extract Date from provider, formatted YYYYMMDD
    ,CONVERT(VARCHAR(8), [Report_Period_Start_Date_Source], 112) AS [Report_Period_Start_Date] -- CDS Bulk Replacement report period start, formatted YYYYMMDD
    ,CONVERT(VARCHAR(8), [Report_Period_End_Date_Source], 112) AS [Report_Period_End_Date] -- CDS Bulk Replacement report period end, formatted YYYYMMDD
    ,[Finished_Indicator] -- Indicates if an event is finished or unfinished
    ,[Interchange_ID] -- Generated interchange identifier by SUS+
    ,[Attendance_Site_Code] -- ODS site code of the attendance location (same as Provider_Site_Code)
    ,[Prime_Recipient] -- ODS code of the CDS Prime Recipient
    ,[Provider_Location] -- Postcode district of the provider organisation
    ,[Update_Type] -- CDS Update Type code (e.g., Add, Replace, Delete)
    ,[Grouping_Algorithm_Version] -- Version of the HRG grouping algorithm (same as HRG_Code_Version_Calculated)
    ,[CDS_Schema_Version] -- CDS Schema Version from the submitted interchange (ECDS v3.5 field)
    ,[Query_Date] -- Timestamp of when the extract query was run by SUS+ (YYYYMMDDHHMMSS)
    ,[Unique_Query_Id] -- System generated query ID for the extract
    ,[dv_Extract_Type] -- Type of data extract, hardcoded to 'Unified SUS ECDS'
    ,[dv_Query_ID] -- Unique identifier for the data extract query
    ,[dv_FinYear] -- Financial Year of the activity (e.g., 2023/2024)
    ,[dv_FinMonth] -- Financial Month number of the activity
    ,[dv_EM_Initial_Assessment_Date] -- Date of initial assessment in EM (YYYYMMDD from source)
    ,[dv_EM_Date_Seen_for_Treatment] -- Date patient was seen for treatment in EM (YYYYMMDD from source)
    ,[dv_EM_Attendance_Conclusion_Date] -- Date the EM attendance concluded (YYYYMMDD from source)
    ,[EM_Departure_Date] -- Date of patient departure from EM (YYYYMMDD from source)
    ,[dv_LSOA] -- Lower Layer Super Output Area (2011) from patient's usual address
    ,CASE
        WHEN TRY_CAST([Arrival_Date] AS DATE) IS NOT NULL AND TRY_CAST([Arrival_Time] AS TIME) IS NOT NULL
        THEN CAST([Arrival_Date] AS DATETIME) + CAST([Arrival_Time] AS DATETIME)
        ELSE NULL
    END AS dv_AE_Arrival_DateTime -- Combined date and time of A&E arrival (DATETIME)
    ,CASE
        WHEN TRY_CAST([EM_Departure_Date] AS DATE) IS NOT NULL AND TRY_CAST([EM_Departure_Time] AS TIME) IS NOT NULL
        THEN CAST([EM_Departure_Date] AS DATETIME) + CAST([EM_Departure_Time] AS DATETIME)
        ELSE NULL
    END AS dv_AE_Departure_DateTime -- Combined date and time of A&E departure (DATETIME)

    ----------------------------------------------------------------------------------------------------
    -- NEWLY ADDED ECDS v3.5 FIELDS FROM emergency_care - NEED TO VERIFY AND TEST --
    ----------------------------------------------------------------------------------------------------
    -- System/Transaction Group
    ,[CDS_Applicable_Time] -- Time of the update event (HH:MM:SS)
    ,[CDS_Extract_Time] -- Time of data extract from provider system (HH:MM:SS)
    ,[CDS_Activity_Date_Source] -- CDS Originating Date (often departure/conclusion for ECDS)
    -- Patient Demographics & Details Group
    ,[Patient_NHS_Number_Is_Valid_ECDS] -- Flag if NHS Number is valid
    ,[Patient_Fractional_Age_At_Arrival_ECDS] -- Patient age with fractions for infants
    ,[Patient_Usual_Address_Is_Postcode_Valid_ECDS] -- Flag if patient's postcode is valid
    ,[Patient_Usual_Address_OA11_ECDS] -- 2011 Census Output Area for patient's address
    ,[Patient_Usual_Address_MSOA11_ECDS] -- 2011 Census Middle Layer Super Output Area for patient's address
    ,[Patient_Usual_Address_GOR_ECDS] -- Government Office Region for patient's address
    ,[Patient_Usual_Address_County_ECDS] -- County for patient's address
    ,[Patient_Usual_Address_LA_District_ECDS] -- Local Authority District for patient's address
    ,[Patient_Usual_Address_Parliamentary_Constituency_ECDS] -- Parliamentary Constituency for patient's address
    ,[Patient_IMD_Decile_ECDS] -- Index of Multiple Deprivation decile for patient's LSOA
    ,[Patient_IMD_Decile_Description_ECDS] -- Description of IMD decile
    ,[Patient_Rural_Urban_Indicator_ECDS] -- Rural/Urban indicator for patient's address
    ,[Patient_Cancer_Registry_ECDS] -- Cancer Registry for patient's postcode
    ,[Patient_Commissioning_Region_ECDS] -- Commissioning Region for patient's postcode
    ,[Patient_HES_CCG_From_Postcode_ECDS] -- HES derived CCG from patient's postcode
    ,[Patient_HES_CCG_From_GP_ECDS] -- HES derived CCG from patient's GP practice
    ,[Patient_HES_Responsible_CCG_Value_ECDS] -- HES derived responsible CCG ODS code
    ,[Patient_HES_Responsible_CCG_Origin_ECDS] -- Origin of HES responsible CCG derivation
    ,[Patient_Accommodation_Status_Code_ECDS] -- SNOMED CT code for patient's accommodation status
    ,[Patient_Accommodation_Status_Is_Code_Approved_ECDS] -- Flag if accommodation status SNOMED code is approved
    ,[Patient_Preferred_Spoken_Language_Code_ECDS] -- SNOMED CT code for patient's preferred spoken language
    ,[Patient_Preferred_Spoken_Language_Is_Code_Approved_ECDS] -- Flag if preferred language SNOMED code is approved
    ,[Patient_Accessible_Info_Prof_Required_Code_ECDS] -- SNOMED CT code if accessible info professional required
    ,[Patient_Accessible_Info_Prof_Required_Is_Code_Approved_ECDS] -- Flag if accessible info code is approved
    ,[Patient_Interpreter_Language_Code_ECDS] -- SNOMED CT code for interpreter language needed
    ,[Patient_Interpreter_Language_Is_Code_Approved_ECDS] -- Flag if interpreter language code is approved
    ,[Patient_Overseas_Visitor_Charging_Category_ECDS] -- Charging category for overseas visitor
    ,[Patient_Withheld_Identity_Reason_ECDS] -- Reason for withholding patient identity
    -- Attendance Details Group
    ,[Attendance_Location_HES_Provider_3_ECDS] -- First 3 chars of provider ODS code
    ,[Attendance_Location_HES_Provider_5_ECDS] -- First 5 chars of provider ODS code
    ,[Attendance_Location_GOR_ECDS] -- Government Office Region of treatment location
    ,[Attendance_Location_HES_CCG_From_Treatment_Site_Value_ECDS] -- HES derived CCG from treatment site
    ,[Attendance_Location_HES_CCG_From_Treatment_Site_Origin_ECDS] -- Origin of HES CCG from treatment site derivation
    ,[Attendance_Location_LSOA_Provider_Distance_Value_ECDS] -- Distance between patient LSOA and provider LSOA
    ,[Attendance_Location_LSOA_Provider_Distance_Origin_ECDS] -- Origin of LSOA provider distance derivation
    ,[Attendance_Location_LSOA_Site_Distance_Value_ECDS] -- Distance between patient LSOA and treatment site LSOA
    ,[Attendance_Location_LSOA_Site_Distance_Origin_ECDS] -- Origin of LSOA site distance derivation
    ,[Arrival_Month_ECDS] -- Month of patient arrival (numeric)
    ,[EM_Mode_of_Arrival_Is_Code_Approved_ECDS] -- Flag if arrival mode SNOMED code is approved
    ,[EM_Attendance_Planned_Indicator_ECDS] -- Derived indicator if attendance was planned
    ,[EM_Referral_Source_Is_Code_Approved_ECDS] -- Flag if referral source SNOMED code is approved
    ,[EM_Ambulance_Incident_Number_ECDS] -- Ambulance incident number if arrived by ambulance
    ,[EM_Conveying_Ambulance_Trust_Code_ECDS] -- ODS code of conveying ambulance trust
    ,[EM_Referral_Source_Organisation_Code_ECDS] -- ODS code of the organisation site patient arrived from
    --,[EM_Initial_Assessment_Date_Source] -- Date of initial assessment (YYYYMMDD from source)
    ,[EM_Initial_Assessment_Time_Since_Arrival_Minutes_ECDS] -- Waiting time from arrival to initial assessment (minutes)
    --,[EM_Date_Seen_for_Treatment_Source] -- Date seen for treatment (YYYYMMDD from source)
    --,[EM_Attendance_Conclusion_Date_Source] -- Date attendance concluded (YYYYMMDD from source)
    --,[EM_Departure_Date_Source] -- Date of departure (YYYYMMDD from source)
    ,[EM_Departure_Time_Since_Arrival_Minutes_ECDS] -- Waiting time from arrival to departure (minutes)
    ,[EM_Decision_To_Admit_Date_ECDS] -- Date of decision to admit
    ,[EM_Decision_To_Admit_Time_ECDS] -- Time of decision to admit (HH:MM:SS)
    ,[EM_Decision_To_Admit_Time_Since_Arrival_Minutes_ECDS] -- Waiting time from arrival to decision to admit (minutes)
    ,[EM_Decision_To_Admit_Receiving_Site_Code_ECDS] -- ODS site code for admission destination
    ,[EM_Decision_To_Admit_Treatment_Function_Code_ECDS] -- Treatment function code for admission
    ,[EM_Attendance_Disposal_Is_Code_Approved_ECDS] -- Flag if discharge status SNOMED code is approved
    ,[EM_Discharge_Destination_Code_ECDS] -- SNOMED CT code for discharge destination
    ,[EM_Discharge_Destination_Is_Code_Approved_ECDS] -- Flag if discharge destination SNOMED code is approved
    ,[EM_Discharge_Follow_Up_Code_ECDS] -- SNOMED CT code for discharge follow-up service
    ,[EM_Discharge_Follow_Up_Is_Code_Approved_ECDS] -- Flag if discharge follow-up SNOMED code is approved
    ,[EM_Discharge_Information_Given_Code_v35_ECDS] -- ECDS v3.5: SNOMED CT code for discharge information given
    ,[EM_Discharge_Information_Given_Is_Code_Approved_v35_ECDS] -- ECDS v3.5: Flag if discharge info code is approved
    -- Clinical Information Group (from emergency_care)
    ,[Clinical_Chief_Complaint_Code_ECDS] -- SNOMED CT code for chief complaint
    ,[Clinical_Chief_Complaint_Is_Code_Approved_ECDS] -- Flag if chief complaint SNOMED code is approved
    ,[Clinical_Chief_Complaint_Is_Injury_Related_ECDS] -- Flag if chief complaint is injury related
    ,[Clinical_Chief_Complaint_Extended_Code_ECDS] -- Extended/Lorenzo code for chief complaint
    ,[Clinical_Acuity_Code_ECDS] -- SNOMED CT code for patient acuity
    ,[Clinical_Acuity_Is_Code_Approved_ECDS] -- Flag if acuity SNOMED code is approved
    ,[Clinical_Injury_Date_ECDS] -- Date of injury
    ,[Clinical_Injury_Time_ECDS] -- Time of injury (HH:MM:SS)
    ,[Clinical_Injury_Activity_Status_Code_ECDS] -- SNOMED CT for patient's activity status when injured
    ,[Clinical_Injury_Activity_Status_Is_Code_Approved_ECDS] -- Flag if injury activity status code is approved
    ,[Clinical_Injury_Activity_Type_Code_ECDS] -- SNOMED CT for type of activity when injured
    ,[Clinical_Injury_Activity_Type_Is_Code_Approved_ECDS] -- Flag if injury activity type code is approved
    ,[Clinical_Injury_Intent_Code_ECDS] -- SNOMED CT for intent of injury
    ,[Clinical_Injury_Intent_Is_Code_Approved_ECDS] -- Flag if injury intent code is approved
    ,[Clinical_Injury_Mechanism_Code_ECDS] -- SNOMED CT for mechanism of injury
    ,[Clinical_Injury_Mechanism_Is_Code_Approved_ECDS] -- Flag if injury mechanism code is approved
    ,[EM_Incident_Location_Is_Type_Approved_ECDS] -- Flag if incident location SNOMED code is approved
    ,[EM_Injury_Place_Latitude_ECDS] -- Latitude of injury place
    ,[EM_Injury_Place_Longitude_ECDS] -- Longitude of injury place
    ,[Clinical_Disease_Notification_ECDS] -- Disease outbreak notification text
    ,[Clinical_Disease_Notification_Code_ECDS] -- SNOMED CT for disease outbreak notification
    ,[Clinical_Disease_Notification_Description_ECDS] -- Description for disease outbreak notification
    -- Commissioning Group
    ,[Commissioning_Is_Commissioner_Recognised_ECDS] -- Flag if submitted commissioner is recognised
    ,[Commissioning_Provider_Type_ECDS] -- Derived provider type
    ,[Commissioning_National_Pricing_Excluded_Bit_ECDS] -- Raw bit flag if excluded from national pricing
    -- Referral Group
    ,[Referral_UBRN_Issuer_ECDS] -- ODS code of UBRN issuer
    ,[Referral_Waiting_Time_Measurement_Type_ECDS] -- Type of RTT waiting time measurement
    -- Data Quality Group
    ,[DQ_Chief_Complaint_Expected_ECDS] -- ECDS DQ: If chief complaint was expected
    ,[DQ_Chief_Complaint_Completed_ECDS] -- ECDS DQ: If expected chief complaint was completed
    ,[DQ_Chief_Complaint_Valid_ECDS] -- ECDS DQ: If completed chief complaint was valid
    ,[DQ_Primary_Diagnosis_Expected_ECDS] -- ECDS DQ: If primary diagnosis was expected
    ,[DQ_Primary_Diagnosis_Completed_ECDS] -- ECDS DQ: If expected primary diagnosis was completed
    ,[DQ_Primary_Diagnosis_Valid_ECDS] -- ECDS DQ: If completed primary diagnosis was valid
	
	---------------------------------------------------------------------------------------------------
    -- NEWLY ADDED ECDS v4.0 Specific Columns - NEED TO VERIFY AND TEST --
    ----------------------------------------------------------------------------------------------------
    ,[ECDS_Schema_Version_v4] -- ECDS v4.0 specific schema version from source
    ,[Urgent_And_Emergency_Care_Activity_Type_v4] -- ECDS v4: Type of Urgent and Emergency Care Activity
    ,[Attendance_Arrival_Timestamp_v4] -- ECDS v4: Timestamp of patient arrival
    ,[Attendance_Consultation_Mechanism_v4] -- ECDS v4: Main consultation mechanism (e.g., face-to-face)
    ,[Attendance_Initial_Assessment_Timestamp_v4] -- ECDS v4: Timestamp of initial assessment
    ,[Attendance_Seen_For_Treatment_Timestamp_v4] -- ECDS v4: Timestamp patient seen for treatment
    ,[Attendance_Clinically_Ready_To_Proceed_Timestamp_v4] -- ECDS v4: Timestamp patient clinically ready to proceed
    ,[Attendance_Departure_Timestamp_v4] -- ECDS v4: Timestamp of patient departure
    ,[Attendance_Decision_To_Admit_Timestamp_v4] -- ECDS v4: Timestamp of decision to admit
    ,[Attendance_Extended_Care_Episode_Identifier_v4] -- ECDS v4: Identifier for an extended care episode
    ,[Injury_Timestamp_v4] -- ECDS v4: Timestamp of injury
    ,[Fit_Note_Assessment_Date_v4] -- ECDS v4: Date of eMED3 Fit Note assessment
    ,[Fit_Note_Condition_SNOMED_v4] -- ECDS v4: SNOMED CT code for eMED3 Fit Note condition
    ,[Fit_Note_Start_Date_v4] -- ECDS v4: Start date of eMED3 Fit Note
    ,[Fit_Note_End_Date_v4] -- ECDS v4: End date of eMED3 Fit Note
    ,[Fit_Note_Duration_v4] -- ECDS v4: Duration of eMED3 Fit Note
    ,[Discharge_Information_Given_Indicator_v4] -- ECDS v4: Indicator if discharge information was given to patient

FROM data
GO
