USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_OP_Main_To_PBR]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--View from Derek which creates the mapping from Unified Spells to Spells (PBR) which is then used be denormalised tables
--Do not use this for anything else
--Sridhar Peddi 13/01/2025
CREATE VIEW [Unified].[vw_OP_Main_To_PBR]
AS
SELECT a.[system.record.version] AS [SUS Version],                                                                                            -- Derived (DPP - Y)
       a.[system.interchange.cds_record_identifier] AS [NHS RID (From Provider)],                                                             -- Submitted (DPP - Y)
       a.[system.record.identifier] AS [Spell Identifier],                                                                                    -- Derived (DPP - Y)
       a.[system.record.identifier] AS [Generated Record ID],                                                                                 -- Derived (DPP - Y)
       a.[system.transaction.cds_record_type] AS [CDS Record Type],                                                                           -- Submitted (DPP - Y)
       --ISNULL(rfa.[1], '') + ISNULL(rfa.[2], '') + ISNULL(rfa.[3], '') + ISNULL(rfa.[4], '') + ISNULL(rfa.[5], '')
       --+ ISNULL(rfa.[6], '') + ISNULL(rfa.[7], '') AS [Reason Access Provided],                                                               -- Derived (DPP - Y)
       NULL AS [CDS Group Derived],                                                                                                           -- Obsolete (DPP - N)
       a.[system.record.cds_group_indicator] AS [CDS Group Indicator],                                                                        -- Derived (DPP - N)
       a.[system.transaction.cds_bulk_replacement_group] AS [Bulk Replacement CDS Group],                                                     -- Submitted (DPP - N)
       a.[appointment.commissioning.tariff_calculation.excluded_from_pbr] AS [Spell In PbR/Not In PbR],                                       -- Derived (DPP - Y)
       excl.exclusion_reasons AS [Exclusion Reason],                                                                                           -- Derived (DPP - Y)
       NULL AS [Pseudonymised Status],                                                                                                        -- Obsolete (DPP - Y)
       a.[system.record.confidentiality_category] AS [Confidentiality Category],                                                              -- Derived (DPP - Y)
       NULL AS [Configurable Indicator],                                                                                                      -- Obsolete (DPP - Y)
       CAST(a.[appointment.commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) AS [Code Cleaning],                                   -- Derived (DPP - Y)
       a.[appointment.patient.identity.local_patient_identifier.value] AS [Local Patient Identifier],                                         -- Submitted (DPP - Y)
       a.[appointment.patient.identity.local_patient_identifier.issuer] AS [Org Code Local Patient Identifier],                               -- Submitted (DPP - Y)
       a.[appointment.patient.identity.nhs_number.value Pseudo] AS [NHS Number],                                                                     -- Submitted (DPP - Y)
       NULL AS [Patient Name],                                                                                                                -- Submitted (DPP - N)
       NULL AS [Patient Usual Address],                                                                                                       -- Submitted (DPP - N)
       NULL AS [Lead Care Activity Indicator],                                                                                                -- Obsolete (DPP - Y)
       a.[appointment.referral_to_treatment.patient_pathway_identifier.issuer] AS [Organisation Code Patient Pathway Identifier],             -- Submitted (DPP - Y)
       a.[appointment.referral_to_treatment.patient_pathway_identifier.value Pseudo] AS [RTT Patient Pathway Identifier],                            -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[appointment.referral_to_treatment.period_end_date], 112) AS [RTT Period End Date],                              -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[appointment.referral_to_treatment.period_start_date], 112) AS [RTT Period Start Date],                          -- Submitted (DPP - Y)
       a.[appointment.referral_to_treatment.period_status] AS [RTT Status],                                                                   -- Submitted (DPP - Y)
       a.[appointment.referral_to_treatment.ubrn.value Pseudo] AS [Unique Booking Reference Number (Converted)],                                     -- Submitted (DPP - Y)
       a.[appointment.referral_to_treatment.period_length] AS [RTT Length (Derived)],                                                         -- Derived (DPP - N)
       CONVERT(VARCHAR(8), a.[appointment.patient.identity.birth_date], 112) AS [Birth Date],                                                 -- Submitted (DPP - Y)
       a.[appointment.patient.identity.age_at_cds_activity_date] AS [Age],                                                                    -- Submitted (DPP - Y)
       a.[appointment.patient.identity.age_at_record_start] AS [Derived Age],                                                                 -- Derived (DPP - Y)
       a.[appointment.commissioning.tariff_calculation.patient_type] AS [Patient Type],                                                       -- Derived (DPP - Y)
       a.[appointment.patient.identity.birth_year] AS [Year of Birth],                                                                        -- Derived (DPP - N)
       a.[appointment.patient.identity.birth_month] AS [Month of Birth],                                                                      -- Derived (DPP - N)
       a.[appointment.patient.identity.hes_age_at_record_start] AS [Age at Record End],                                                       -- Derived (DPP - N)
       a.[appointment.patient.identity.hes_age_at_record_end] AS [Age at Record Start],                                                       -- Derived (DPP - N)
       a.[appointment.patient.identity.age_range] AS [Age Range Derived],                                                                     -- Derived (DPP - N)
       a.[appointment.patient.identity.carer_support_indicator] AS [Carer Support Indicator],                                                 -- Submitted (DPP - Y)
       a.[appointment.patient.identity.ethnic_category] AS [Ethnic Category Code],                                                            -- Submitted (DPP - Y)
       NULL AS [Marital Status],                                                                                                              -- Submitted (DPP - Y)
       a.[appointment.patient.identity.nhs_number.status] AS [NHS Number Status Indicator],                                                   -- Submitted (DPP - Y)
       a.[appointment.patient.identity.gender] AS [Gender Code],                                                                              -- Submitted (DPP - Y)
       a.[appointment.patient.residence.postcode Pseudo] AS [Postcode of Usual Address],                                                             -- Submitted (DPP - Y)
       REPLACE(REPLACE(LEFT(a.[appointment.patient.residence.postcode Pseudo], 6), '  ', ' '), '  ', ' ') AS [Postcode Sector of Usual Address],                         -- Derived (DPP - Y) - Change by DA to remove double spacing which then agrees with current PbR extract
       a.[appointment.patient.residence.residence_ccg] AS [Organisation Code (PCT of Residence)],                                             -- Submitted (DPP - Y)
       NULL AS [Patient Postcode Derived PCT Type],                                                                                           -- Derived (DPP - Y)
       a.[appointment.patient.residence_derived.residence_ccg_from_patient_postcode] AS [Patient Postcode Derived PCT],                       -- Derived (DPP - Y)
       NULL AS [Patient Postcode Electoral Ward],                                                                                             -- Obsolete (DPP - N)
       a.[appointment.patient.residence_derived.postcode_district] AS [Area Code Derived],                                                    -- Derived (DPP - N)
       NULL AS [Organisation Code Type PCT of Residence],                                                                                     -- Obsolete (DPP - N)
       NULL AS [SHA from Patient Postcode],                                                                                                   -- Obsolete (DPP - N)
       NULL AS [SHA Type from Patient Postcode],                                                                                              -- Obsolete (DPP - N)
       NULL AS [Census Output Area 2001],                                                                                                     -- Obsolete (DPP - N)
       a.[appointment.patient.residence_derived.country] AS [Country],                                                                        -- Derived (DPP - N)
       NULL AS [County Code],                                                                                                                 -- Obsolete (DPP - N)
       a.[appointment.patient.residence_derived.ed_county_code] AS [ED County Code],                                                          -- Derived (DPP - N)
       a.[appointment.patient.residence_derived.ed_district_code] AS [ED District Code],                                                      -- Derived (DPP - N)
       NULL AS [Electoral Ward Division],                                                                                                     -- Obsolete (DPP - N)
       NULL AS [Government Office Region Code],                                                                                               -- Obsolete (DPP - N)
       NULL AS [Local Authority Code],                                                                                                        -- Obsolete (DPP - N)
       NULL AS [SHA Old Org Code],                                                                                                            -- Obsolete (DPP - N)
       a.[appointment.patient.residence_derived.electoral_ward_1998] AS [Electoral Ward 1998],                                                -- Derived (DPP - N)
       a.[appointment.identifier] AS [Attendance Identifier],                                                                                 -- Submitted (DPP - Y)
       a.[appointment.administrative_category] AS [Administrative Category],                                                                  -- Submitted (DPP - Y)
       a.[appointment.attended_or_dna] AS [Attended Or Did Not Attend],                                                                       -- Submitted (DPP - Y)
       a.[appointment.first_attendance] AS [First Attendance],                                                                                -- Submitted (DPP - Y)
       a.[appointment.outcome] AS [Outcome Of Attendance],                                                                                    -- Submitted (DPP - Y)
       a.[appointment.care_professional.medical_staff_type] AS [Medical Staff Type Seeing Patient],                                           -- Submitted (DPP - Y)
       a.[appointment.referral.source_op] AS [Source of Referral for Outpatients],                                                            -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[appointment.date], 112) AS [Appointment Date],                                                                  -- Submitted (DPP - Y)
       a.[appointment.clinical_coding.procedure.operation_status] AS [Operation Status],                                                      -- Submitted (DPP - Y)
       a.[appointment.commissioning.tariff_calculation.outpatient_type] AS [OP Episode Type],                                                 -- Derived (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.transaction.cds_activity_date], 112) AS [CDS Activity Date],                                             -- Submitted (DPP - Y)
       NULL AS [Attendance Date],                                                                                                             -- Obsolete (DPP - N)
       NULL AS [Attender Type Derived],                                                                                                       -- Obsolete (DPP - N)
       a.[appointment.commissioning.service_agreement.commissioning_serial_number] AS [Commissioning Serial No (Agreement No)],               -- Submitted (DPP - Y)
       a.[appointment.commissioning.service_agreement.line_number] AS [NHS Service Agreement Line No],                                        -- Submitted (DPP - Y)
       a.[appointment.commissioning.service_agreement.provider_reference_number] AS [Provider Reference No],                                  -- Submitted (DPP - Y)
       a.[appointment.commissioning.service_agreement.commissioner_reference_number] AS [Commissioner Reference No],                          -- Submitted (DPP - Y)
       NULL AS [SHA Commissioner],                                                                                                            -- Derived (DPP - Y)
       a.[appointment.care_location.organisation_geographies.sha_provider] AS [SHA Provider],                                                 -- Derived (DPP - Y)
       a.[appointment.commissioning.service_agreement.provider_derived] AS [Organisation Code (Code of Provider)],                            -- Derived (DPP - Y)
       a.[appointment.commissioning.service_agreement.provider_derived] AS [Provider Site Code],                                              -- Submitted (DPP - Y)
       a.[appointment.commissioning.service_agreement.commissioner_derived] AS [Organisation Code (Code of Commissioner)],                    -- Derived (DPP - Y)
       a.[appointment.commissioning.service_agreement.commissioner] AS [Commissioner Code (Original Data)],                                   -- Submitted (DPP - Y)
       NULL AS [Commissioner Site Code],                                                                                                      -- Obsolete (DPP - Y)
       NULL AS [PCT Derived from GP],                                                                                                         -- Obsolete (DPP - Y)
       CASE WHEN
	   a.[appointment.patient.registration_derived.responsible_ccg_from_pds] = '59999' THEN a.[appointment.patient.registration.responsible_ccg]
	   ELSE a.[appointment.patient.registration_derived.responsible_ccg_from_pds] END AS [PCT Derived from GP Practice], -- Derived (DPP - Y) Change made based on email SC 21/2/23
       NULL AS [GP Practice Derived from PDS],                                                                                                -- Derived (DPP - Y)
       a.[appointment.care_location.class] AS [Location Class],                                                                               -- Submitted (DPP - Y)
       a.[appointment.care_location.site_code_of_treatment] AS [Site code of Treatment],                                                      -- Submitted (DPP - Y)
       NULL AS [Organisation Code Type Provider],                                                                                             -- Obsolete (DPP - N)
       NULL AS [Organisation Code Type Commissioner],                                                                                         -- Obsolete (DPP - N)
       NULL AS [GP PCT Type (Derived)],                                                                                                       -- Obsolete (DPP - N)
       a.[appointment.patient.residence.residence_ccg] AS [PCT of Residence (Original)],                                                      -- Submitted (DPP - N)
       a.[appointment.patient.registration.responsible_ccg] AS [PCT Responsible],                                                             -- Derived (DPP - N)
       a.[appointment.care_location.type] AS [Location Type Code],                                                                            -- Submitted (DPP - N)
       NULL AS [Attendance Organisation Code Type],                                                                                           -- Obsolete (DPP - N)
       a.[appointment.care_location.organisation_geographies.postcode_district] AS [Provider Location],                                       -- Derived (DPP - N)
       a.[appointment.care_professional.consultant] AS [Consultant Code],                                                                     -- Submitted (DPP - Y)
       a.[appointment.care_professional.main_specialty] AS [Main Specialty Code],                                                             -- Submitted (DPP - Y)
       a.[appointment.care_professional.treatment_function] AS [Treatment Function Code],                                                     -- Submitted (DPP - Y)
       NULL AS [Consultant Code Type],                                                                                                        -- Obsolete (DPP - N)
       NULL AS [Consultant Organisation Code],                                                                                                -- Obsolete (DPP - N)
       NULL AS [Organisation Code Type Consultant],                                                                                           -- Obsolete (DPP - N)
       NULL AS [Registered GMP Code],                                                                                                         -- Obsolete (DPP - Y)
       a.[appointment.patient.registration.general_practitioner] AS [GP Code],                                                                -- Submitted (DPP - Y)
       NULL AS [GP Practice Code],                                                                                                            -- Obsolete (DPP - Y)
       NULL AS [GP Consortium Code],                                                                                                          -- Obsolete (DPP - Y)
       a.[appointment.patient.registration.general_practice] AS [GP Practice Code (Original Data)],                                           -- Submitted (DPP - Y)
       ISNULL(a.[appointment.patient.registration_derived.general_practice_from_pds], a.[appointment.patient.registration.general_practice]) AS [GP Practice Code (Derived)], -- Derived (DPP - Y) Chnage made based on SC email 21/2/23
       a.[appointment.referral.referrer] AS [Referrer Code],                                                                                  -- Submitted (DPP - Y)
       a.[appointment.referral.referring_organisation] AS [Referring Organisation Code],                                                      -- Submitted (DPP - Y)
       NULL AS [GP Code Type],                                                                                                                -- Obsolete (DPP - N)
       NULL AS [Organisation Code Type GP],                                                                                                   -- Obsolete (DPP - N)
       NULL AS [First GP Organisation Code],                                                                                                  -- Obsolete (DPP - N)
       NULL AS [Organisation Code of GP],                                                                                                     -- Obsolete (DPP - N)
       NULL AS [SHA from GP (Derived)],                                                                                                       -- Obsolete (DPP - N)
       NULL AS [SHA Type from GP (Derived)],                                                                                                  -- Obsolete (DPP - N)
       NULL AS [Referrer Code Type],                                                                                                          -- Obsolete (DPP - N)
       NULL AS [Organisation Code Type Referrer],                                                                                             -- Obsolete (DPP - N)
       a.[appointment.referral.priority_type] AS [Priority Type],                                                                             -- Submitted (DPP - Y)
       a.[appointment.referral.service_type_requested] AS [Service Type Requested],                                                           -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[appointment.referral.received_date], 112) AS [Referral Request Received Date],                                  -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[appointment.last_dna_or_cancelled_date], 112) AS [Last DNA or Patient Cancelled Date],                          -- Submitted (DPP - Y)
       NULL AS [Request Received Date Status],                                                                                                -- Obsolete (DPP - N)
       NULL AS [Last Did Not Arrive Date],                                                                                                    -- Obsolete (DPP - N)
       NULL AS [Spell Version As At Date And Time],                                                                                           -- Obsolete (DPP - Y)
       a.[appointment.commissioning.service_agreement.applicable_costing_period] AS [Applicable Costing Period],                              -- Derived (DPP - Y)
       NULL AS [PbR Spell Status Indicator],                                                                                                  -- Obsolete (DPP - Y)
       NULL AS [PbR Spell Frozen Indicator],                                                                                                  -- Obsolete (DPP - Y)
       NULL AS [PbR Spell Cost ID],                                                                                                           -- Obsolete (DPP - N)
       NULL AS [Spell Cost Version Date],                                                                                                     -- Obsolete (DPP - N)
       NULL AS [Spell Error Status],                                                                                                          -- Obsolete (DPP - N)
       NULL AS [Spell Const Version No],                                                                                                      -- Obsolete (DPP - N)
       NULL AS [HRG (Submitted)],                                                                                                             -- Obsolete (DPP - Y)
       a.[system.report.grouper_version] AS [Core HRG Version (Calculated)],                                                                  -- Derived (DPP - Y)
       a.[appointment.commissioning.grouping.core_hrg] AS [Core HRG],                                                                         -- Derived (DPP - Y)
       a.[appointment.commissioning.grouping.sus_hrg] AS [SUS HRG],                                                                           -- Derived (DPP - Y)
       NULL AS [HRG Version (Submitted)],                                                                                                     -- Obsolete (DPP - N)
       a.[appointment.clinical_coding.grouper_derived.dominant_procedure] AS [HRG Dominant Grouping Variable Procedure],                      -- Derived (DPP - N)
       unb1.code AS [Unbundled HRG 1],                                                                                                -- Derived (DPP - Y)
       unb2.code AS [Unbundled HRG 2],                                                                                                -- Derived (DPP - Y)
       unb3.code AS [Unbundled HRG 3],                                                                                                -- Derived (DPP - Y)
       unb4.code AS [Unbundled HRG 4],                                                                                                -- Derived (DPP - Y)
       unb5.code AS [Unbundled HRG 5],                                                                                                -- Derived (DPP - Y)
       unb6.code AS [Unbundled HRG 6],                                                                                                -- Derived (DPP - Y)
	   unb7.code AS [Unbundled HRG 7],                                                                                                -- Derived (DPP - Y)
       unb8.code AS [Unbundled HRG 8],                                                                                                -- Derived (DPP - Y)
       unb9.code AS [Unbundled HRG 9],                                                                                                -- Derived (DPP - Y)
       unb10.code AS [Unbundled HRG 10],                                                                                              -- Derived (DPP - Y)
       unb11.code AS [Unbundled HRG 11],                                                                                              -- Derived (DPP - Y)
       unb12.code AS [Unbundled HRG 12],                                                                                              -- Derived (DPP - Y)
       NULL AS [HRG Dominant Grouping Variable],                                                                                              -- Obsolete (DPP - N)
       NULL AS [HRG Procedure Scheme],                                                                                                        -- Obsolete (DPP - N)
       NULL AS [Diagnosis Scheme In Use],                                                                                                     -- Submitted (DPP - Y)
       icd1.code AS [Primary Diagnosis Code],                                                                                                   -- Submitted (DPP - Y)
       icd2.code AS [Secondary Diagnosis Code 1],                                                                                               -- Submitted (DPP - Y)
       icd3.code AS [Secondary Diagnosis Code 2],                                                                                               -- Submitted (DPP - Y)
       icd4.code AS [Secondary Diagnosis Code 3],                                                                                               -- Submitted (DPP - Y)
       icd5.code AS [Secondary Diagnosis Code 4],                                                                                               -- Submitted (DPP - Y)
       icd6.code AS [Secondary Diagnosis Code 5],                                                                                               -- Submitted (DPP - Y)
       icd7.code AS [Secondary Diagnosis Code 6],                                                                                               -- Submitted (DPP - Y)
       icd8.code AS [Secondary Diagnosis Code 7],                                                                                               -- Submitted (DPP - Y)
       icd9.code AS [Secondary Diagnosis Code 8],                                                                                               -- Submitted (DPP - Y)
       icd10.code AS [Secondary Diagnosis Code 9],                                                                                              -- Submitted (DPP - Y)
       icd11.code AS [Secondary Diagnosis Code 10],                                                                                             -- Submitted (DPP - Y)
       icd12.code AS [Secondary Diagnosis Code 11],                                                                                             -- Submitted (DPP - Y)
       icd13.code AS [Secondary Diagnosis Code 12],                                                                                             -- Submitted (DPP - Y)
       NULL AS [Procedure Scheme In Use],                                                                                                     -- Submitted (DPP - Y)
       opcs1.code AS [Primary Procedure Code],                                                                                            -- Submitted (DPP - Y)
       opcs2.code AS [Secondary Procedure Code 1],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs2.date, 112) AS [Secondary Procedure Date 1],                                                              -- Submitted (DPP - Y)
       opcs3.code AS [Secondary Procedure Code 2],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs3.date, 112) AS [Secondary Procedure Date 2],                                                              -- Submitted (DPP - Y)
       opcs4.code AS [Secondary Procedure Code 3],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs4.date, 112) AS [Secondary Procedure Date 3],                                                              -- Submitted (DPP - Y)
       opcs5.code AS [Secondary Procedure Code 4],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs5.date, 112) AS [Secondary Procedure Date 4],                                                              -- Submitted (DPP - Y)
       opcs6.code AS [Secondary Procedure Code 5],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs6.date, 112) AS [Secondary Procedure Date 5],                                                              -- Submitted (DPP - Y)
       opcs7.code AS [Secondary Procedure Code 6],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs7.date, 112) AS [Secondary Procedure Date 6],                                                              -- Submitted (DPP - Y)
       opcs8.code AS [Secondary Procedure Code 7],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs8.date, 112) AS [Secondary Procedure Date 7],                                                              -- Submitted (DPP - Y)
       opcs9.code AS [Secondary Procedure Code 8],                                                                                        -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs9.date, 112) AS [Secondary Procedure Date 8],                                                              -- Submitted (DPP - Y)
       opcs10.code AS [Secondary Procedure Code 9],                                                                                       -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs10.date, 112) AS [Secondary Procedure Date 9],                                                             -- Submitted (DPP - Y)
       opcs11.code AS [Secondary Procedure Code 10],                                                                                      -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs11.date, 112) AS [Secondary Procedure Date 10],                                                            -- Submitted (DPP - Y)
       opcs12.code AS [Secondary Procedure Code 11],                                                                                      -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs12.date, 112) AS [Secondary Procedure Date 11],                                                            -- Submitted (DPP - Y)
       opcs13.code AS [Secondary Procedure Code 12],                                                                                      -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs13.date, 112) AS [Secondary Procedure Date 12],                                                            -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), opcs1.date, 112) AS [Primary Procedure Date],                                                                  -- Submitted (DPP - N)
       NULL AS [HRG Used for Tariff],                                                                                                         -- Derived (DPP - Y)
       CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT) AS [Tariff Initial Amount National],                      -- Derived (DPP - Y)
       CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT) AS [Aggregate UnBundled Adjustment National], -- Derived (DPP - Y)
       NULL AS [Tariff Financial Adjustment National],                                                                                        -- Obsolete (DPP - Y)
       NULL AS [Tariff Adjustment Future Use_1 National],                                                                                     -- Obsolete (DPP - Y)
       NULL AS [Tariff Adjustment Future Use_2 National],                                                                                     -- Obsolete (DPP - Y)
       CASE
           WHEN a.[appointment.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
               + ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
       END AS [Tariff Pre MFF Adjusted National],                                                                                             -- Derived
       a.[appointment.commissioning.tariff_calculation.market_forces_factor] AS [Applied MFF National],                                       -- Derived
       CASE
           WHEN a.[appointment.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               CAST(ROUND(
                             (ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                              + ISNULL(
                                          CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),
                                          0
                                      )
                             ) * a.[appointment.commissioning.tariff_calculation.market_forces_factor]
                             - (ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                                + ISNULL(
                                            CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),
                                            0
                                        )
                               ),
                             0
                         ) AS INT)
       END AS [MFF Adjustment],                                                                                                               -- Derived
       CASE
           WHEN a.[appointment.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
               + ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
               + CAST(ROUND(
                               (ISNULL(CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                                + ISNULL(
                                            CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),
                                            0
                                        )
                               ) * a.[appointment.commissioning.tariff_calculation.market_forces_factor]
                               - (ISNULL(
                                            CAST(a.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT),
                                            0
                                        )
                                  + ISNULL(
                                              CAST(a.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),
                                              0
                                          )
                                 ),
                               0
                           ) AS INT)
       END AS [Tariff Total Payment National],                                                                                                -- Derived
       NULL AS [Outpatient Tariff],                                                                                                           -- Derived (DPP - N)
       NULL AS [Market Forces Factor ID],                                                                                                     -- Obsolete (DPP - N)
       NULL AS [Tariff Initial Amount Non Mandatory],                                                                                         -- Obsolete (DPP - Y)
       NULL AS [Aggregate UnBundled Adjustment Non Mandatory],                                                                                -- Obsolete (DPP - Y)
       NULL AS [Tariff Financial Adjustment Non Mandatory],                                                                                   -- Obsolete (DPP - Y)
       NULL AS [Tariff Adjustment Future Use_1 Non Mandatory],                                                                                -- Obsolete (DPP - Y)
       NULL AS [Tariff Adjustment Future Use_2 Non Mandatory],                                                                                -- Obsolete (DPP - Y)
       NULL AS [Tariff Pre MFF Adjusted Non Mandatory],                                                                                       -- Obsolete (DPP - Y)
       NULL AS [Applied MFF Non Mandatory],                                                                                                   -- Obsolete (DPP - Y)
       NULL AS [MFF Adjustment Non Mandatory],                                                                                                -- Obsolete (DPP - Y)
       NULL AS [Tariff Total Payment Non Mandatory],                                                                                          -- Obsolete (DPP - Y)
       NULL AS [Non Mandatory Core Tariff (with UB)],                                                                                         -- Obsolete (DPP - Y)
       NULL AS [Tarrif Initial Amount Local],                                                                                                 -- Obsolete (DPP - Y)
       NULL AS [Aggregate UnBundled Adjustment Local],                                                                                        -- Obsolete (DPP - Y)
       NULL AS [Tariff Total Payment Local],                                                                                                  -- Obsolete (DPP - Y)
       NULL AS [Local Core Tariff (with UB)],                                                                                                 -- Obsolete (DPP - Y)
       CAST(a.[appointment.commissioning.tariff_calculation.final_price] AS INT) AS [PbR Final Tariff],                                       -- Derived (DPP - Y)  
       a.[appointment.commissioning.tariff_calculation.tariff_applied] AS [Final Tariff Applied],                                             -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
           WHEN max1.Num_Diag IS NULL THEN
               0
           ELSE
               max1.Num_Diag
       END AS [Number Diagnosis],                                                                                                             -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
           WHEN max2.Num_Procs IS NULL THEN
               0
           ELSE
               max2.Num_Procs
       END AS [Number Procedures],                                                                                                            -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
           WHEN max3.Num_Unb IS NULL THEN
			   0
		   ELSE
               max3.Num_Unb
       END AS [Number Unbundled HRGs],                                                                                                        -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
			WHEN Unb_NonTariff.Num_Unb IS NULL THEN
               0
           ELSE
               Unb_NonTariff.Num_Unb
       END AS [Number Unbundled Non Priced HRGs],                                                                                             -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
			WHEN Unb_Tariff.Num_Unb IS NULL THEN 
               0
           ELSE
               Unb_Tariff.Num_Unb
       END AS [Number Unbundled Priced HRGs],                                                                                                 -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       NULL AS [Number BPT Indicators],                                                                                                       -- Derived (DPP - Y)
       a.[system.transaction.cds_sender] AS [Organisation Code (Sender)],                                                                     -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.interchange.received_date], 112) AS [Staging Loaded Date],                                               -- Derived (DPP - Y)
       a.[system.transaction.cds_protocol_identifier] AS [Protocol Identifier],                                                               -- Submitted (DPP - Y)
       a.[system.transaction.cds_unique_identifier] AS [Unique CDS Identifier],                                                               -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.transaction.cds_applicable_date], 112) AS [Applicable Date],                                             -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.transaction.cds_extract_date], 112) AS [Extract Date],                                                   -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.transaction.cds_report_period_start_date], 112) AS [Report Period Start Date],                           -- Submitted (DPP - Y)
       CONVERT(VARCHAR(8), a.[system.transaction.cds_report_period_end_date], 112) AS [Report Period End Date],                               -- Submitted (DPP - Y)
       NULL AS [Organisation Code Type Sender],                                                                                               -- Obsolete (DPP - N)
       NULL AS [Match Criterion Indicator],                                                                                                   -- Obsolete (DPP - N)
       NULL AS [Costing Batch Sequence],                                                                                                      -- Obsolete (DPP - N)
       NULL AS [Current Period Number],                                                                                                       -- Obsolete (DPP - N)
       a.[system.record.finished_indicator] AS [Finished Indicator],                                                                          -- Derived (DPP - N)
       NULL AS [HES Identifier],                                                                                                              -- Obsolete (DPP - N)
       NULL AS [Intended Procedure Status],                                                                                                   -- Obsolete (DPP - N)
       a.[system.interchange.identifier] AS [Interchange ID],                                                                                 -- Derived (DPP - N)
       a.[system.transaction.cds_prime_recipient] AS [Prime Recipient],                                                                       -- Submitted (DPP - Y)
       NULL AS [Organisation Code Type Prime Recipient],                                                                                      -- Obsolete (DPP - N)
       NULL AS [Other Indicator],                                                                                                             -- Obsolete (DPP - N)
       NULL AS [PbR Generated Interchange ID],                                                                                                -- Obsolete (DPP - N)
       NULL AS [Record Extraction Indicator],                                                                                                 -- Obsolete (DPP - N)
       NULL AS [Re-costing Requested Flag],                                                                                                   -- Obsolete (DPP - N)
       NULL AS [Temporary Cost Period Status],                                                                                                -- Obsolete (DPP - N)
       NULL AS [Test Indicator],                                                                                                              -- Obsolete (DPP - N)
       a.[system.transaction.cds_update_type] AS [Update Type],                                                                               -- Submitted (DPP - N)
       NULL AS [Version Sequence Number],                                                                                                     -- Obsolete (DPP - N)
       NULL AS [Hierarchy],                                                                                                                   -- Obsolete (DPP - N)
       NULL AS [Costed Indicator],                                                                                                            -- Obsolete (DPP - N)
       NULL AS [Spare 1],                                                                                                                     -- Unknown (DPP - Y)
       NULL AS [Spare 2],                                                                                                                     -- Unknown (DPP - Y)
       NULL AS [Spare 3],                                                                                                                     -- Unknown (DPP - Y)
       NULL AS [Spare 4],                                                                                                                     -- Unknown (DPP - Y)
       NULL AS [Spare 5],                                                                                                                     -- Unknown (DPP - Y)
       a.[appointment.commissioning.tariff_calculation.direct_access_applies] AS [Direct access tariff flag],                                 -- Derived (DPP - Y)
       a.[appointment.commissioning.pss_grouping.national_programme_code] AS [Spell NPOC],                                                    -- Derived (DPP - Y)
       a.[appointment.commissioning.pss_grouping.prescribed_service_line_code] AS [Spell Service Line],                                       -- Derived (DPP - Y)
       NULL AS [Commissioning Region],                                                                                                        -- Obsolete (DPP - Y)
       NULL AS [Unbundled exclusion reason],                                                                                                  -- Obsolete (DPP - N)
       a.[system.report.grouper_version] AS [Grouping Algorithm Version],                                                                     -- Derived (DPP - Y)
       NULL AS [Grouping Reference Data Version],                                                                                             -- Obsolete (DPP - Y)
       NULL AS [Grouping HRG Version],                                                                                                        -- Obsolete (DPP - Y)
       a.[system.interchange.cds_message_version_number] AS [CDS Schema Version],                                                             -- Submitted (DPP - Y)
                                                                                                                                              --,REPLACE(CONVERT(VARCHAR(8),a.[system.report.query_date],112) + CONVERT(VARCHAR(8),a.[system.report.query_time],114),':','') AS [Query Date]    -- Derived (DPP - Y)
       CAST(LEFT(CONVERT(VARCHAR(10), a.[system.report.query_date], 112), 4)
            + SUBSTRING(CONVERT(VARCHAR(10), a.[system.report.query_date], 112), 5, 2)
            + RIGHT(CONVERT(VARCHAR(10), a.[system.report.query_date], 112), 2) + LEFT(a.[system.report.query_time], 2)
            + SUBSTRING(a.[system.report.query_time], 4, 2) + RIGHT(a.[system.report.query_time], 2) AS VARCHAR(14)) AS [Query Date],
       a.[system.report.query_identifier] AS [Unique Query Id],                                                                               -- Derived (DPP - Y)
       cr1.cds_copy_recipients + CASE
                                 WHEN cr2.cds_copy_recipients IS NULL THEN
                                     ''
                                 ELSE
                                     ' ' + cr2.cds_copy_recipients
                             END + CASE
                                       WHEN cr3.cds_copy_recipients IS NULL THEN
                                           ''
                                       ELSE
                                           ' ' + cr3.cds_copy_recipients
                                   END + CASE
                                             WHEN cr4.cds_copy_recipients IS NULL THEN
                                                 ''
                                             ELSE
                                                 ' ' + cr4.cds_copy_recipients
                                         END + CASE
                                                   WHEN cr5.cds_copy_recipients IS NULL THEN
                                                       ''
                                                   ELSE
                                                       ' ' + cr5.cds_copy_recipients
                                               END + CASE
                                                         WHEN cr6.cds_copy_recipients IS NULL THEN
                                                             ''
                                                         ELSE
                                                             ' ' + cr6.cds_copy_recipients
                                                     END + CASE
                                                               WHEN cr7.cds_copy_recipients IS NULL THEN
                                                                   ''
                                                               ELSE
                                                                   ' ' + cr7.cds_copy_recipients
                                                           END + CASE
                                                                     WHEN cr8.cds_copy_recipients IS NULL THEN
                                                                         ''
                                                                     ELSE
                                                                         ' ' + cr8.cds_copy_recipients
                                                                 END AS [Copy Recipients],                                                    -- Submitted
       a.[appointment.commissioning.commissioner_assignment.commissioner] AS [Derived Commissioner],                                          -- Derived (DPP - Y)
       a.[appointment.commissioning.commissioner_assignment.flowchart_reference] AS [Derived Commissioner Type],                              -- Derived (DPP - Y)
       a.[appointment.referral_to_treatment.ubrn.is_valid] AS [Is Valid UBRN],                                                                -- Derived (DPP - Y)
       a.[appointment.referral_to_treatment.ubrn.occurrences] AS [UBRN Occurrence Count]                                                     -- Derived (DPP - Y)
FROM [Data_Store_SUS_Unified].[OP].[appointment] a
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.tariff_calculation.exclusion_reasons] excl on excl.PRIMARYKEY_ID = a.PRIMARYKEY_ID and excl.EXCLUSION_REASONS_ID = 1
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb1 on unb1.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb1.UNBUNDLED_HRG_ID = 1
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb2 on unb2.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb2.UNBUNDLED_HRG_ID = 2
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb3 on unb3.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb3.UNBUNDLED_HRG_ID = 3
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb4 on unb4.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb4.UNBUNDLED_HRG_ID = 4
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb5 on unb5.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb5.UNBUNDLED_HRG_ID = 5
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb6 on unb6.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb6.UNBUNDLED_HRG_ID = 6
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb7 on unb7.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb7.UNBUNDLED_HRG_ID = 7
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb8 on unb8.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb8.UNBUNDLED_HRG_ID = 8
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb9 on unb9.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb9.UNBUNDLED_HRG_ID = 9
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb10 on unb10.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb10.UNBUNDLED_HRG_ID = 10
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb11 on unb11.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb11.UNBUNDLED_HRG_ID = 11
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] unb12 on unb12.PRIMARYKEY_ID = a.PRIMARYKEY_ID and unb12.UNBUNDLED_HRG_ID = 12
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd1 on icd1.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd1.ICD_ID = 1
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd2 on icd2.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd2.ICD_ID = 2
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd3 on icd3.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd3.ICD_ID = 3
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd4 on icd4.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd4.ICD_ID = 4
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd5 on icd5.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd5.ICD_ID = 5
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd6 on icd6.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd6.ICD_ID = 6
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd7 on icd7.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd7.ICD_ID = 7
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd8 on icd8.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd8.ICD_ID = 8
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd9 on icd9.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd9.ICD_ID = 9
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd10 on icd10.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd10.ICD_ID = 10
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd11 on icd11.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd11.ICD_ID = 11
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd12 on icd12.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd12.ICD_ID = 12
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] icd13 on icd13.PRIMARYKEY_ID = a.PRIMARYKEY_ID and icd13.ICD_ID = 13
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs1 on opcs1.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs1.OPCS_ID = 1
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs2 on opcs2.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs2.OPCS_ID = 2
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs3 on opcs3.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs3.OPCS_ID = 3
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs4 on opcs4.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs4.OPCS_ID = 4
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs5 on opcs5.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs5.OPCS_ID = 5
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs6 on opcs6.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs6.OPCS_ID = 6
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs7 on opcs7.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs7.OPCS_ID = 7
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs8 on opcs8.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs8.OPCS_ID = 8
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs9 on opcs9.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs9.OPCS_ID = 9
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs10 on opcs10.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs10.OPCS_ID = 10
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs11 on opcs11.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs11.OPCS_ID = 11
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs12 on opcs12.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs12.OPCS_ID = 12
	left outer join [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] opcs13 on opcs13.PRIMARYKEY_ID = a.PRIMARYKEY_ID and opcs13.OPCS_ID = 13
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr1 on cr1.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr1.CDS_COPY_RECIPIENTS_ID = 1
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr2 on cr2.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr2.CDS_COPY_RECIPIENTS_ID = 2
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr3 on cr3.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr3.CDS_COPY_RECIPIENTS_ID = 3
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr4 on cr4.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr4.CDS_COPY_RECIPIENTS_ID = 4
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr5 on cr5.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr5.CDS_COPY_RECIPIENTS_ID = 5
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr6 on cr6.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr6.CDS_COPY_RECIPIENTS_ID = 6
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr7 on cr7.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr7.CDS_COPY_RECIPIENTS_ID = 7
	left outer join [Data_Store_SUS_Unified].[OP].[system.transaction.cds_copy_recipients] cr8 on cr8.PRIMARYKEY_ID = a.PRIMARYKEY_ID and cr8.CDS_COPY_RECIPIENTS_ID = 8
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(ICD_ID) As Num_Diag from [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] group by PRIMARYKEY_ID ) max1 on max1.PRIMARYKEY_ID = a.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(OPCS_ID) As Num_Procs from [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] group by PRIMARYKEY_ID ) max2 on max2.PRIMARYKEY_ID = a.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(UNBUNDLED_HRG_ID) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] group by PRIMARYKEY_ID ) max3 on max3.PRIMARYKEY_ID = a.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, count(*) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] where tariff > 0 group by PRIMARYKEY_ID ) Unb_Tariff on Unb_Tariff.PRIMARYKEY_ID = a.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, count(*) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] where tariff is null group by PRIMARYKEY_ID ) Unb_NonTariff on Unb_NonTariff.PRIMARYKEY_ID = a.PRIMARYKEY_ID



GO
