USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_ECDS_Main_To_PBR]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Unified].[vw_ECDS_Main_To_PBR]
AS

SELECT
	m.[PRIMARYKEY_ID]
	,CAST(m.[system.record.version] AS VARCHAR(17)) AS [SUS Version] -- Derived (DPP - Y),
	,m.[system.record.cds_record_identifier] AS [NHS RID (From Provider)] -- Submitted (DPP - Y),
	,CAST(m.[system.record.identifier] AS VARCHAR(32)) AS [Spell Identifier] -- Derived (DPP - Y),
	,CAST(m.[system.record.identifier] AS VARCHAR(32)) AS [Generated Record ID] -- Derived (DPP - Y),
	,m.[system.record.cds_record_type] AS [CDS Record Type] -- Submitted (DPP - Y),
	--,ISNULL(rfa.[1],'') + ISNULL(rfa.[2],'') + ISNULL(rfa.[3],'') + ISNULL(rfa.[4],'') +
	--ISNULL(rfa.[5],'') + ISNULL(rfa.[6],'') + ISNULL(rfa.[7],'') AS [Reason Access Provided] -- Derived (DPP - Y),
	,NULL AS [CDS Group Derived] -- Obsolete (DPP - N),
	,m.[system.record.cds_group_indicator] AS [CDS Group Indicator] -- Derived (DPP - N),
	,CAST(m.[system.transaction.cds_bulk_replacement_group] AS VARCHAR(3)) AS [Bulk Replacement CDS Group] -- Submitted (DPP - N),
	,case when CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1)) = 1 then '2' else
	CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1)) end AS [Spell In PbR/Not In PbR] -- Derived (DPP - Y) - Change by DA to replicate PbR Field.,
	,CAST(exclusion_reasons.exclusion_reasons AS VARCHAR(100)) AS [Exclusion Reason] -- Derived (DPP - Y),
	,NULL AS [Pseudonymised Status] -- Obsolete (DPP - Y),
	,m.[system.record.confidentiality_category] AS [Confidentiality Category] -- Derived (DPP - Y),
	,NULL AS [Configurable Indicator] -- Obsolete (DPP - Y),
	,CASE when CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) is null then 0 else
	CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) end AS [Code Cleaning] -- Derived (DPP - Y)  -- Chnage by DA to replace NULL values with 0,
	,CAST(m.[patient.local_patient_identifier.value] AS VARCHAR(32)) AS [Local Patient Identifier] -- Submitted (DPP - Y),
	,m.[patient.local_patient_identifier.issuer] AS [Org Code Local Patient Identifier] -- Submitted (DPP - Y),
	,m.[patient.nhs_number.value Pseudo] AS [NHS Number] -- Submitted (DPP - Y),
	,NULL AS [Patient Name] -- Submitted (DPP - N),
	,NULL AS [Patient Usual Address] -- Submitted (DPP - N),
	,NULL AS [Lead Care Activity Indicator] -- Obsolete (DPP - Y),
	,m.[referral.patient_pathway_identifier.issuer] AS [Organisation Code Patient Pathway Identifier] -- Submitted (DPP - Y),
	,m.[referral.patient_pathway_identifier.value Pseudo] AS [RTT Patient Pathway Identifier] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[referral.period_end_date],112) AS [RTT Period End Date] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[referral.period_start_date],112) AS [RTT Period Start Date] -- Submitted (DPP - Y),
	,CAST(m.[referral.period_status] AS VARCHAR(2)) AS [RTT Status] -- Submitted (DPP - Y),
	,m.[referral.ubrn.value Pseudo] as [Unique Booking Reference Number (Converted)] -- Submitted (DPP - Y),
	,m.[referral.period_length] AS [RTT Length (Derived)] -- Derived (DPP - N),
	,NULL AS [Birth Date] -- Submitted (DPP - Y),
	,m.[patient.age_at_cds_activity_date] AS [Age At CDS Activity Date] -- Submitted (DPP - Y),
	,m.[patient.age_at_arrival] AS [Derived Age] -- Derived (DPP - Y),
	,m.[patient.patient_type] AS [Patient Type] -- Derived (DPP - Y),
	,m.[patient.age_range] AS [Age Range Derived] -- Derived (DPP - N),
	,NULL AS [Year of Birth] -- Derived (DPP - N),
	,NULL AS [Month of Birth] -- Derived (DPP - N),
	,m.[patient.hes_age_at_arrival] AS [Age at Record Start] -- Derived (DPP - N) ,
	,m.[patient.hes_age_at_departure] AS [Age at Record End] -- Derived (DPP - N),
	,NULL AS [Carer Support Indicator] -- Submitted (DPP - Y),
	,m.[patient.ethnic_category] AS [Ethnic Category Code] -- Submitted (DPP - Y),
	,NULL AS [Marital Status] -- Submitted (DPP - Y),
	,m.[patient.nhs_number.status] AS [NHS Number Status Indicator] -- Submitted (DPP - Y),
	,case when m.[patient.stated_gender] = 'X' then '0' else m.[patient.stated_gender] end AS [Gender Code] -- Submitted (DPP - Y) - Chnage by DA to remap X to 0,
	,m.[patient.usual_address.postcode Pseudo] AS [Postcode of Usual Address] -- Submitted (DPP - Y),
--	,replace(replace(LEFT(padded.cleanedPostcode,6),'  ',' '),'  ',' ') AS [Postcode Sector of Usual Address] -- Derived (DPP - Y) - Change by DA to remove double spacing which then agrees with current PbR extract,
	,m.[patient.residence_ccg] AS [Organisation Code (PCT of Residence)] -- Submitted (DPP - Y),
	,NULL AS [Patient Postcode Derived PCT Type] -- Derived (DPP - Y),
	,m.[patient.residence_ccg_from_patient_postcode] AS [Patient Postcode Derived PCT] -- Derived (DPP - Y),
	,NULL AS [Patient Postcode Electoral Ward] -- Obsolete (DPP - N),
	,NULL AS [SHA from Patient Postcode] -- Obsolete (DPP - N),
	,NULL AS [SHA Type from Patient Postcode] -- Obsolete (DPP - N),
	,m.[patient.usual_address.postcode_district] AS [Area Code Derived] -- Derived (DPP - N),
	,NULL AS [Organisation Code Type PCT of Residence] -- Obsolete (DPP - N),
	,NULL AS [PCT of Residence (Original)] -- Submitted (DPP - N)
	,m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT Responsible] -- Derived (DPP - N),
	,NULL AS [Census Output Area 2001] -- Obsolete (DPP - N),
	,m.[patient.usual_address.country] AS [Country] -- Derived (DPP - N),
	,NULL AS [County Code] -- Obsolete (DPP - N)
	,m.[patient.usual_address.ed_county_code] AS [ED County Code] -- Derived (DPP - N),
	,m.[patient.usual_address.ed_district_code] AS [ED District Code] -- Derived (DPP - N),
	,NULL AS [Electoral Ward Division] -- Obsolete (DPP - N),
	,NULL AS [Government Office Region Code] -- Obsolete (DPP - N),
	,NULL AS [Local Authority Code] -- Obsolete (DPP - N),
	,NULL AS [SHA Old Org Code] -- Obsolete (DPP - N),
	,m.[patient.usual_address.electoral_ward_1998] AS [Electoral Ward 1998] -- Derived (DPP - N),
	,m.[attendance.arrival.attendance_identifier] AS [EM Attendance Number] -- Submitted (DPP - Y),
	,NULL AS [EM Mode of Arrival] -- NULL so like PbR Extract,
	,m.[attendance.arrival.attendance_category] AS [EM Attendance Category] -- Submitted (DPP - Y),
	,NULL AS [EM Attendance Disposal] -- Submitted (DPP - Y),
	,NULL AS [EM Incident Location Type] -- Submitted (DPP - Y),
	,NULL AS [EM Staff Member Code] -- Submitted (DPP - Y),
	,NULL AS [EM Referral Source] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[attendance.arrival.date],112) AS [Arrival Date] -- Submitted (DPP - Y),
	,NULL AS [EM Patient Group] -- Submitted (DPP - Y),
	,m.[attendance.conclusion.time] AS [EM Attendance Conclusion Time] -- Submitted (DPP - Y),
	,m.[attendance.departure.time] AS [EM Departure Time] -- Submitted (DPP - Y),
	,m.[attendance.initial_assessment.time] AS [EM Initial Assessment Time] -- Submitted (DPP - Y),
	,m.[attendance.seen_for_treatment.time] AS [EM Time Seen for Treatment] -- Submitted (DPP - Y),
	,LEFT(m.[attendance.arrival.time],5) AS [Arrival Time] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.record.cds_activity_date],112) AS [CDS Activity Date] -- Submitted (DPP - Y),
	,NULL AS [EM Attendance Category ID] -- Obsolete (DPP - N),
	,NULL AS [Consultant Code Type] -- Obsolete (DPP - N),
	,NULL AS [Consultant Organisation Code] -- Obsolete (DPP - N),
	,NULL AS [Organisation Code Type Consultant] -- Obsolete (DPP - N),
	,NULL AS [EM Conclusion Waiting Time] -- Obsolete (DPP - N),
	,NULL AS [EM Duration Time] -- Obsolete (DPP - N),
	,NULL AS [EM Assessment Waiting Time] -- Obsolete (DPP - N),
	,NULL AS [EM Treatment Wait Time] -- Obsolete (DPP - N),
	,m.[commissioning.service_agreement.commissioning_serial_number] AS [Commissioning Serial No (Agreement No)] -- Submitted (DPP - Y),
	,m.[commissioning.service_agreement.line_number] AS [NHS Service Agreement Line No] -- Submitted (DPP - Y),
	,m.[commissioning.service_agreement.provider_reference_number] AS [Provider Reference No] -- Submitted (DPP - Y),
	,m.[commissioning.service_agreement.commissioner_reference_number] AS [Commissioner Reference No] -- Submitted (DPP - Y),
	,m.[commissioning.service_agreement.sha_commissioner] AS [SHA Commissioner] -- Derived (DPP - Y),
	,m.[attendance.location.sha_provider] AS [SHA Provider] -- Derived (DPP - Y),
	,m.[system.record.provider] AS [Organisation Code (Code of Provider)] -- Derived (DPP - Y),
	,m.[attendance.location.site] AS [Provider Site Code] -- Submitted (DPP - Y),
	,m.[system.record.commissioner] AS [Organisation Code (Code of Commissioner)] -- Derived (DPP - Y),
	,m.[commissioning.service_agreement.commissioner] AS [Commissioner Code (Original Data)] -- Submitted (DPP - Y),
	,NULL AS [Commissioner Site Code] -- Obsolete (DPP - Y),
	,NULL AS [PCT Derived from GP] -- Obsolete (DPP - Y),
	,m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT Derived from GP Practice] -- Derived (DPP - Y),
	,NULL AS [GP Practice Derived from PDS] -- Derived (DPP - Y),
	,NULL AS [Organisation Code Type Provider] -- Obsolete (DPP - N),
	,m.[commissioning.service_agreement.provider] AS [Provider Code (Original Data)] -- Submitted (DPP - N),
	,NULL AS [Organisation Code Type Commissioner] -- Obsolete (DPP - N),
	,NULL AS [GP PCT Type (Derived)] -- Obsolete (DPP - N),
	,NULL AS [Registered GMP Code] -- Obsolete (DPP - Y),
	,m.[patient.gp_registration.general_practitioner] AS [Registered GMP Code (Original Data)] -- Submitted (DPP - Y),
	,m.[patient.gp_registration.general_practice] AS [GP Practice Code (Original Data)] -- Submitted (DPP - Y),
	,ISNULL(m.[patient.gp_registration.pds_general_practice],m.[patient.gp_registration.general_practice]) AS [GP Practice Code] -- Derived (DPP - Y), Amended in line with SC email 21/2/23
	,NULL AS [GP Consortium Code] -- Obsolete (DPP - Y),
	,NULL AS [GP Code Type] -- Obsolete (DPP - N),
	,NULL AS [Organisation Code GP] -- Obsolete (DPP - N),
	,NULL AS [Organisation Code Type GP] -- Obsolete (DPP - N),
	,NULL AS [First GP Organisation Code] -- Obsolete (DPP - N),
	,NULL AS [SHA from GP (Derived)] -- Obsolete (DPP - N),
	,NULL AS [SHA Type from GP (Derived)] -- Obsolete (DPP - N),
	,NULL AS [Spell Version As At Date And Time] -- Obsolete (DPP - Y),
	,m.[commissioning.national_pricing.costing_period] AS [Applicable Costing Period] -- Derived (DPP - Y),
	,NULL AS [PbR Spell Status Indicator] -- Obsolete (DPP - Y),
	,NULL AS [PbR Spell Frozen Indicator] -- Obsolete (DPP - Y),
	,NULL AS [HRG Code - Submitted] -- Obsolete (DPP - Y),
	,NULL AS [HRG Code Version - Submitted] -- Obsolete (DPP - Y),
	,m.[commissioning.grouping.health_resource_group] AS [Core HRG] -- Derived (DPP - Y),
	,m.[commissioning.grouping.grouper_version]  AS [HRG Code Version - Calculated] -- Derived (DPP - Y),
	,NULL AS [HRG Dominant Grouping Variable] -- Obsolete (DPP - N),
	,NULL AS [HRG Dominant Grouping Variable Procedure] -- Derived (DPP - N),
	,NULL AS [HRG Procedure Scheme] -- Obsolete (DPP - N),
	,NULL AS [Diagnosis Scheme In Use] -- Submitted (DPP - Y),
	,NULL AS [ICD 10 Primary Diagnosis] -- Submitted (DPP - Y),
	,NULL AS [Secondary Diagnosis Code 1] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 2] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 3] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 4] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 5] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 6] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 7] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 8] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 9] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 10] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 11] -- Submitted (DPP - N),
	,NULL AS [Secondary Diagnosis Code 12] -- Submitted (DPP - N),
	,diag1.equivalent_ae_code AS [EM Diagnosis First] -- Submitted (DPP - Y),
	,diag2.equivalent_ae_code AS [EM Diagnosis Second 1] -- Submitted (DPP - Y),
	,diag3.equivalent_ae_code AS [EM Diagnosis Second 2] -- Submitted (DPP - Y),
	,diag4.equivalent_ae_code AS [EM Diagnosis Second 3] -- Submitted (DPP - Y),
	,diag5.equivalent_ae_code AS [EM Diagnosis Second 4] -- Submitted (DPP - Y),
	,diag6.equivalent_ae_code AS [EM Diagnosis Second 5] -- Submitted (DPP - Y),
	,diag7.equivalent_ae_code AS [EM Diagnosis Second 6] -- Submitted (DPP - Y),
	,diag8.equivalent_ae_code AS [EM Diagnosis Second 7] -- Submitted (DPP - Y),
	,diag9.equivalent_ae_code AS [EM Diagnosis Second 8] -- Submitted (DPP - Y),
	,diag10.equivalent_ae_code AS [EM Diagnosis Second 9] -- Submitted (DPP - Y),
	,diag11.equivalent_ae_code AS [EM Diagnosis Second 10] -- Submitted (DPP - Y),
	,diag12.equivalent_ae_code AS [EM Diagnosis Second 11] -- Submitted (DPP - Y),
	,diag13.equivalent_ae_code AS [EM Diagnosis Second 12] -- Submitted (DPP - Y),
	,NULL AS [Diagnosis Type] -- Obsolete (DPP - Y),
	,NULL AS [Investigation Scheme In Use] -- Submitted (DPP - Y),
	,inv1.equivalent_ae_code AS [EM Investigation First] -- Submitted (DPP - Y),
	,inv2.equivalent_ae_code AS [EM Investigation Second 1] -- Submitted (DPP - Y),
	,inv3.equivalent_ae_code AS [EM Investigation Second 2] -- Submitted (DPP - Y),
	,inv4.equivalent_ae_code AS [EM Investigation Second 3] -- Submitted (DPP - Y),
	,inv5.equivalent_ae_code AS [EM Investigation Second 4] -- Submitted (DPP - Y),
	,inv6.equivalent_ae_code AS [EM Investigation Second 5] -- Submitted (DPP - Y),
	,inv7.equivalent_ae_code AS [EM Investigation Second 6] -- Submitted (DPP - Y),
	,inv8.equivalent_ae_code AS [EM Investigation Second 7] -- Submitted (DPP - Y),
	,inv9.equivalent_ae_code AS [EM Investigation Second 8] -- Submitted (DPP - Y),
	,inv10.equivalent_ae_code AS [EM Investigation Second 9] -- Submitted (DPP - Y),
	,inv11.equivalent_ae_code AS [EM Investigation Second 10] -- Submitted (DPP - Y),
	,inv12.equivalent_ae_code AS [EM Investigation Second 11] -- Submitted (DPP - Y),
	,inv13.equivalent_ae_code AS [EM Investigation Second 12] -- Submitted (DPP - Y),
	,NULL AS [Procedure Scheme In Use] -- Submitted (DPP - Y),
	,treat1.equivalent_ae_code AS [EM Treatment First] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat1.date,112) AS [PROCEDURE DATE (of First Treatment)] -- Submitted (DPP - Y),
	,treat2.equivalent_ae_code AS [EM Treatment Second 1] -- Submitted (DPP - Y)
	,CONVERT(VARCHAR(8),treat2.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 1] -- Submitted (DPP - Y),
	,treat3.equivalent_ae_code AS [EM Treatment Second 2] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat3.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 2] -- Submitted (DPP - Y),
	,treat4.equivalent_ae_code AS [EM Treatment Second 3] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat4.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 3] -- Submitted (DPP - Y),
	,treat5.equivalent_ae_code AS [EM Treatment Second 4] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat5.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 4] -- Submitted (DPP - Y),
	,treat6.equivalent_ae_code AS [EM Treatment Second 5] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat6.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 5] -- Submitted (DPP - Y),
	,treat7.equivalent_ae_code AS [EM Treatment Second 6] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat7.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 6] -- Submitted (DPP - Y),
	,treat8.equivalent_ae_code AS [EM Treatment Second 7] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat8.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 7] -- Submitted (DPP - Y),
	,treat9.equivalent_ae_code AS [EM Treatment Second 8] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat9.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 8] -- Submitted (DPP - Y),
	,treat10.equivalent_ae_code AS [EM Treatment Second 9] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat10.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 9] -- Submitted (DPP - Y),
	,treat11.equivalent_ae_code AS [EM Treatment Second 10] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat11.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 10] -- Submitted (DPP - Y),
	,treat12.equivalent_ae_code AS [EM Treatment Second 11] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat12.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 11] -- Submitted (DPP - Y),
	,treat13.equivalent_ae_code AS [EM Treatment Second 12] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),treat13.date,112) AS [PROCEDURE DATE (of Subsequent Treatments) 12] -- Submitted (DPP - Y),
	,NULL AS [PRIMARY PROCEDURE] -- Submitted (DPP - N),
	,NULL AS [Primary Procedure Date] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 1] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 1] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 2] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 2] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 3] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 3] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 4] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 4] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 5] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 5] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 6] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 6] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 7] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 7] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 8] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 8] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 9] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 9] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 10] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 10] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 11] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 11] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Code 12] -- Submitted (DPP - N),
	,NULL AS [Secondary Procedure Date 12] -- Submitted (DPP - N),
	,NULL AS [Derived EM Department Type] -- Obsolete (DPP - Y),
	,m.[attendance.location.department_type] AS [EM Department Type] -- Submitted (DPP - Y),
	,NULL AS [EM Department Type MIU Indicator Derived] -- Obsolete (DPP - Y),
	,m.[commissioning.national_pricing.tariff] AS [Tariff Initial Amount National] -- Derived (DPP - Y),
	,NULL AS [Tariff Financial Adjustment National] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Adjustment Future Use_1 National] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Adjustment Future Use_2 National] -- Obsolete (DPP - Y),
	,m.[commissioning.national_pricing.tariff] AS [Tariff Pre MFF Adjusted National] -- Derived (DPP - Y),
	,m.[commissioning.national_pricing.market_forces_factor] AS [Applied MFF National] -- Derived (DPP - Y),
	,m.[commissioning.national_pricing.market_forces_adjustment] AS [MFF Adjustment] -- Derived (DPP - Y),
	,m.[commissioning.national_pricing.tariff] + m.[commissioning.national_pricing.market_forces_adjustment] AS [Tariff Total Payment National] -- Derived (DPP - Y),
	,NULL AS [EM Tariff ID] -- Obsolete (DPP - N),
	,NULL AS [Market Forces Factor ID] -- Obsolete (DPP - N),
	,NULL AS [Tariff Initial Amount Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Financial Adjustment Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Adjustment Future Use_1 Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Adjustment Future Use_2 Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Pre MFF Adjusted Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Applied MFF Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [MFF Adjustment Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Total Payment Non Mandatory] -- Obsolete (DPP - Y),
	,NULL AS [Tarrif Initial Amount Local] -- Obsolete (DPP - Y),
	,NULL AS [Tariff Total Payment Local] -- Obsolete (DPP - Y),
	,m.[commissioning.national_pricing.final_price] AS [PbR Final Tariff] -- Derived (DPP - Y),
	,m.[commissioning.national_pricing.tariff_description] AS [Final Tariff Applied] -- Derived (DPP - Y),
	,case when max1.Num_Diag is null then 0 else max1.Num_Diag end AS [Number Diagnosis] -- Derived (DPP - Y) ** Chnage by DA so NULL is 0,
	,0 AS [Number Procedures] -- Derived (DPP - Y) ** Change by DA to mirror PbR Extracts,
	,case when max2.Num_Inv is null then 0 else max2.Num_Inv end AS [Number EM Investigations] -- Derived (DPP - Y) ** Chnage by DA so NULL is 0,
	,case when max3.Num_Treat is null then 0 else max3.Num_Treat end AS [Number EM Treatments] -- Derived (DPP - Y) ** Chnage by DA so NULL is 0,
	,m.[system.record.sender] AS [Organisation Code (Sender)] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.interchange.received_date],112) AS [Staging Loaded Date] -- Derived (DPP - Y),
	,m.[system.transaction.cds_protocol_identifier] AS [Protocol Identifier] -- Submitted (DPP - Y),
	,m.[system.transaction.cds_unique_identifier] AS [Unique CDS Identifier] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.transaction.cds_applicable_date],112) AS [Applicable Date and Time] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.transaction.cds_extract_date],112) AS [Extract Date] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.transaction.cds_report_period_start_date],112) AS [Report Period Start Date] -- Submitted (DPP - Y),
	,CONVERT(VARCHAR(8),m.[system.transaction.cds_report_period_end_date],112) AS [Report Period End Date] -- Submitted (DPP - Y),
	,NULL AS [Organisation Code Type Sender] -- Obsolete (DPP - N),
	,NULL AS [Match Criterion Indicator] -- Obsolete (DPP - N),
	,NULL AS [Cost Period Spell Status Indicator] -- Obsolete (DPP - N),
	,NULL AS [Costed Indicator] -- Obsolete (DPP - N),
	,NULL AS [Costing Batch Sequence] -- Obsolete (DPP - N),
	,NULL AS [Current Period Number] -- Obsolete (DPP - N),
	,m.[system.record.finished_indicator] AS [Finished Indicator] -- Derived (DPP - N),
	,NULL AS [HES Identifier] -- Obsolete (DPP - N),
	,NULL AS [Intended Procedure Status] -- Obsolete (DPP - N),
	,m.[system.interchange.identifier] AS [Interchange ID] -- Derived (DPP - N),
	,NULL AS [Attendance Location Class] -- Obsolete (DPP - N),
	,NULL AS [Location Type Code] -- Submitted (DPP - N),
	,m.[attendance.location.site] AS [Attendance Site Code] -- Submitted (DPP - N),
	,m.[system.record.prime_recipient] AS [Prime Recipient] -- Submitted (DPP - Y),
	,NULL AS [Organisation Code Type Prime Recipient] -- Obsolete (DPP - N),
	,NULL AS [Organisation Code Type Location] -- Obsolete (DPP - N),
	,NULL AS [Other Indicator] -- Obsolete (DPP - N),
	,NULL AS [PbR Generated Interchange ID] -- Obsolete (DPP - N),
	,NULL AS [Spell Const Version No] -- Obsolete (DPP - N),
	,NULL AS [PbR Spell Cost ID] -- Obsolete (DPP - N),
	,NULL AS [PbR Spell Cost Version Date] -- Obsolete (DPP - N),
	,m.[attendance.location.postcode_district] AS [Provider Location] -- Derived (DPP - N),
	,NULL AS [Record Extraction Indicator] -- Obsolete (DPP - N),
	,NULL AS [Re-costing Requested Flag] -- Obsolete (DPP - N),
	,NULL AS [Referrer Code Type] -- Obsolete (DPP - N),
	,NULL AS [Organisation Code Type Referrer] -- Obsolete (DPP - N),
	,NULL AS [First Referrer Organisation Code] -- Obsolete (DPP - N),
	,NULL AS [Spell Complete Indicator] -- Obsolete (DPP - N),
	,NULL AS [Temporary Cost Period Status] -- Obsolete (DPP - N),
	,NULL AS [Test Indicator] -- Obsolete (DPP - N),
	,m.[system.transaction.cds_update_type] AS [Update Type] -- Submitted (DPP - N),
	,NULL AS [Version Sequence Number] -- Obsolete (DPP - N),
	,NULL AS [Maximum Episode Date] -- Obsolete (DPP - N),
	,NULL AS [Hierarchy] -- Obsolete (DPP - N),
	,NULL AS [PbR Spell Service ID Version] -- Obsolete (DPP - N),
	,NULL AS [Spell Error Status] -- Obsolete (DPP - N),
	,NULL AS [Spare 1] -- Submitted (DPP - Y),
	,NULL AS [Spare 2] -- Unknown (DPP - Y),
	,NULL AS [Spare 3] -- Unknown (DPP - Y),
	,NULL AS [Spare 4] -- Unknown (DPP - Y),
	,NULL AS [Spare 5] -- Unknown (DPP - Y),
	,CAST(m.[commissioning.grouping.grouper_version] AS VARCHAR(8)) AS [Grouping Algorithm Version] -- Derived (DPP - Y),
	,NULL AS [Grouping Reference Data Version] -- Obsolete (DPP - Y),
	,NULL AS [Grouping HRG Version] -- Obsolete (DPP - Y),
	,m.[system.interchange.schema_version] AS [CDS Schema Version] -- Submitted (DPP - Y),
	,CAST(LEFT(CONVERT(VARCHAR(10),m.[system.report.query_date],112),4) + SUBSTRING(CONVERT(VARCHAR(10),m.[system.report.query_date],112),5,2) +
	RIGHT(CONVERT(VARCHAR(10),m.[system.report.query_date],112),2) + LEFT(m.[system.report.query_time],2) +
	SUBSTRING(m.[system.report.query_time],4,2) + RIGHT(m.[system.report.query_time],2) AS VARCHAR(14)) AS [Query Date]
	,m.[system.report.query_identifier] AS [Unique Query Id] -- Derived (DPP - Y),
	,cr1.copy_recipients + CASE WHEN cr2.copy_recipients IS NULL THEN '' ELSE ' ' + cr2.copy_recipients END +
	CASE WHEN cr3.copy_recipients IS NULL THEN '' ELSE ' ' + cr3.copy_recipients END +
	CASE WHEN cr4.copy_recipients IS NULL THEN '' ELSE ' ' + cr4.copy_recipients END +
	CASE WHEN cr5.copy_recipients IS NULL THEN '' ELSE ' ' + cr5.copy_recipients END +
	CASE WHEN cr6.copy_recipients IS NULL THEN '' ELSE ' ' + cr6.copy_recipients END +
	CASE WHEN cr7.copy_recipients IS NULL THEN '' ELSE ' ' + cr7.copy_recipients END +
	CASE WHEN cr8.copy_recipients IS NULL THEN '' ELSE ' ' + cr8.copy_recipients END AS [Copy Recipients]
	,NULL AS [Derived Commissioner] -- Derived,
	,NULL AS [Derived Commissioner Type] -- Derived
FROM
	[Data_Store_SUS_Unified].[ECDS].[emergency_care] m
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[commissioning.national_pricing.exclusion_reasons] exclusion_reasons on m.PRIMARYKEY_ID = exclusion_reasons.PRIMARYKEY_ID and exclusion_reasons.ROWNUMBER_ID = 1
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag1 on m.PRIMARYKEY_ID = diag1.PRIMARYKEY_ID and diag1.SNOMED_ID = 1
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag2 on m.PRIMARYKEY_ID = diag2.PRIMARYKEY_ID and diag2.SNOMED_ID = 2
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag3 on m.PRIMARYKEY_ID = diag3.PRIMARYKEY_ID and diag3.SNOMED_ID = 3
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag4 on m.PRIMARYKEY_ID = diag4.PRIMARYKEY_ID and diag4.SNOMED_ID = 4
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag5 on m.PRIMARYKEY_ID = diag5.PRIMARYKEY_ID and diag5.SNOMED_ID = 5
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag6 on m.PRIMARYKEY_ID = diag6.PRIMARYKEY_ID and diag6.SNOMED_ID = 6
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag7 on m.PRIMARYKEY_ID = diag7.PRIMARYKEY_ID and diag7.SNOMED_ID = 7
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag8 on m.PRIMARYKEY_ID = diag8.PRIMARYKEY_ID and diag8.SNOMED_ID = 8
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag9 on m.PRIMARYKEY_ID = diag9.PRIMARYKEY_ID and diag9.SNOMED_ID = 9
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag10 on m.PRIMARYKEY_ID = diag10.PRIMARYKEY_ID and diag10.SNOMED_ID = 10
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag11 on m.PRIMARYKEY_ID = diag11.PRIMARYKEY_ID and diag11.SNOMED_ID = 11
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag12 on m.PRIMARYKEY_ID = diag12.PRIMARYKEY_ID and diag12.SNOMED_ID = 12
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag13 on m.PRIMARYKEY_ID = diag13.PRIMARYKEY_ID and diag13.SNOMED_ID = 13
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv1 on m.PRIMARYKEY_ID = inv1.PRIMARYKEY_ID and inv1.SNOMED_ID = 1
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv2 on m.PRIMARYKEY_ID = inv2.PRIMARYKEY_ID and inv2.SNOMED_ID = 2
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv3 on m.PRIMARYKEY_ID = inv3.PRIMARYKEY_ID and inv3.SNOMED_ID = 3
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv4 on m.PRIMARYKEY_ID = inv4.PRIMARYKEY_ID and inv4.SNOMED_ID = 4
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv5 on m.PRIMARYKEY_ID = inv5.PRIMARYKEY_ID and inv5.SNOMED_ID = 5
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv6 on m.PRIMARYKEY_ID = inv6.PRIMARYKEY_ID and inv6.SNOMED_ID = 6
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv7 on m.PRIMARYKEY_ID = inv7.PRIMARYKEY_ID and inv7.SNOMED_ID = 7
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv8 on m.PRIMARYKEY_ID = inv8.PRIMARYKEY_ID and inv8.SNOMED_ID = 8
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv9 on m.PRIMARYKEY_ID = inv9.PRIMARYKEY_ID and inv9.SNOMED_ID = 9
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv10 on m.PRIMARYKEY_ID = inv10.PRIMARYKEY_ID and inv10.SNOMED_ID = 10
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv11 on m.PRIMARYKEY_ID = inv11.PRIMARYKEY_ID and inv11.SNOMED_ID = 11
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv12 on m.PRIMARYKEY_ID = inv12.PRIMARYKEY_ID and inv12.SNOMED_ID = 12
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv13 on m.PRIMARYKEY_ID = inv13.PRIMARYKEY_ID and inv13.SNOMED_ID = 13
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat1 on m.PRIMARYKEY_ID = treat1.PRIMARYKEY_ID and treat1.SNOMED_ID = 1
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat2 on m.PRIMARYKEY_ID = treat2.PRIMARYKEY_ID and treat2.SNOMED_ID = 2
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat3 on m.PRIMARYKEY_ID = treat3.PRIMARYKEY_ID and treat3.SNOMED_ID = 3
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat4 on m.PRIMARYKEY_ID = treat4.PRIMARYKEY_ID and treat4.SNOMED_ID = 4
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat5 on m.PRIMARYKEY_ID = treat5.PRIMARYKEY_ID and treat5.SNOMED_ID = 5
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat6 on m.PRIMARYKEY_ID = treat6.PRIMARYKEY_ID and treat6.SNOMED_ID = 6
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat7 on m.PRIMARYKEY_ID = treat7.PRIMARYKEY_ID and treat7.SNOMED_ID = 7
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat8 on m.PRIMARYKEY_ID = treat8.PRIMARYKEY_ID and treat8.SNOMED_ID = 8
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat9 on m.PRIMARYKEY_ID = treat9.PRIMARYKEY_ID and treat9.SNOMED_ID = 9
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat10 on m.PRIMARYKEY_ID = treat10.PRIMARYKEY_ID and treat10.SNOMED_ID = 10
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat11 on m.PRIMARYKEY_ID = treat11.PRIMARYKEY_ID and treat11.SNOMED_ID = 11
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat12 on m.PRIMARYKEY_ID = treat12.PRIMARYKEY_ID and treat12.SNOMED_ID = 12
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat13 on m.PRIMARYKEY_ID = treat13.PRIMARYKEY_ID and treat13.SNOMED_ID = 13
--	OUTER APPLY [processing].[NumInvest_EM](m.[system.record.identifier]) numinvest
--	OUTER APPLY [processing].[TreatCode_EM](m.[system.record.identifier]) treat_code
--	OUTER APPLY [processing].[NumTreat_EM](m.[system.record.identifier]) numtreat
--	OUTER APPLY [processing].[TreatDate_EM](m.[system.record.identifier]) treat_date
--	OUTER APPLY [SUS_Live].[dbo].[PaddedPostCode_DK](p.[patient.usual_address.postcode]) padded
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr1 on m.PRIMARYKEY_ID = cr1.PRIMARYKEY_ID and cr1.COPY_RECIPIENTS_ID = 1
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr2 on m.PRIMARYKEY_ID = cr2.PRIMARYKEY_ID and cr2.COPY_RECIPIENTS_ID = 2
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr3 on m.PRIMARYKEY_ID = cr3.PRIMARYKEY_ID and cr3.COPY_RECIPIENTS_ID = 3
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr4 on m.PRIMARYKEY_ID = cr4.PRIMARYKEY_ID and cr4.COPY_RECIPIENTS_ID = 4
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr5 on m.PRIMARYKEY_ID = cr5.PRIMARYKEY_ID and cr5.COPY_RECIPIENTS_ID = 5
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr6 on m.PRIMARYKEY_ID = cr6.PRIMARYKEY_ID and cr6.COPY_RECIPIENTS_ID = 6
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr7 on m.PRIMARYKEY_ID = cr7.PRIMARYKEY_ID and cr7.COPY_RECIPIENTS_ID = 7
	LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr8 on m.PRIMARYKEY_ID = cr8.PRIMARYKEY_ID and cr8.COPY_RECIPIENTS_ID = 8
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(SNOMED_ID) As Num_Diag from [Data_Store_SUS_Unified].ecds.[clinical.diagnoses.snomed] group by PRIMARYKEY_ID ) max1 on max1.PRIMARYKEY_ID = m.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(SNOMED_ID) As Num_Inv from [Data_Store_SUS_Unified].ecds.[clinical.investigations.snomed] group by PRIMARYKEY_ID ) max2 on max2.PRIMARYKEY_ID = m.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, max(SNOMED_ID) As Num_Treat from [Data_Store_SUS_Unified].ecds.[clinical.treatments.snomed] group by PRIMARYKEY_ID ) max3 on max3.PRIMARYKEY_ID = m.PRIMARYKEY_ID
GO
