USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_IP_EncounterDenormalised_DateRange_Inc_Open_Spells]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
















/********************************************************************************
-- View Name: [Unified].[vw_IP_EncounterDenormalised_DateRange]
--
-- Description:
--   This view maps and transforms data from the [Data_Store_SUS_Unified].[APC].[spell] table to align with
--   the table structure of the [IP].[EncounterDenormalised_DateRange]. It incorporates patient demographics,
--   admission and discharge details, referral information, clinical coding,
--   commissioning, and tariff details. Unmapped columns from IP daterange are included with
--   NULL placeholders for future mapping. 
--
-- Change Log:
--   Date         Author          Description
--   ----------   --------------  -------------------------------------------------
--   2024-11-29   Sridhar Peddi   Initial creation of the view.
--   2024-11-29   Your Name       Included unmapped fields with NULL placeholders.
--
********************************************************************************/

Create   VIEW [Unified].[vw_IP_EncounterDenormalised_DateRange_Inc_Open_Spells]
AS
WITH DATA AS (
SELECT 

  -- Identification and System Fields
    APC.[system.record.identifier] AS [SK_EncounterID],  -- Primary key identifier for the encounter
    'Unified SUS' AS [dv_Extract_Type],  -- Placeholder for Extract Type
    APC.[system.report.query_identifier] AS [dv_Query_ID],  -- Query identifier
   
    CAST(FORMAT(APC.[spell.discharge.date],'yyyyMMdd') AS varchar(8)) AS [dv_Activity_Period_Date],  -- Activity period start date
    APC.[system.record.identifier] AS [Generated_Record_ID],  -- Unique record identifier
    --APC.[spell.hospital_provider_spell_number] AS [Spell_Identifier],  -- Spell identifier??
	APC.[system.record.identifier] AS [Spell_Identifier],
    DTFC.[system.transaction.cds_unique_identifier] AS [Unique_CDS_Identifier],  -- Placeholder for Unique CDS Identifier??
    APC.[spell.hospital_provider_spell_number] AS [Hospital_Provider_Spell_No],  -- Hospital provider spell number??

    -- Referral Information
    APC.[spell.referral.referrer] AS [Referrer_Code],  -- Referrer code
    APC.[spell.referral.referring_organisation] AS [Referring_Organisation_Code],  -- Referring organisation code
    APC.[spell.referral_to_treatment.patient_pathway_identifier.issuer] AS [Organisation_Code_Patient_Pathway_Identifier],  -- Patient pathway identifier issuer
    APC.[spell.referral_to_treatment.patient_pathway_identifier.value Pseudo] AS [RTT_Patient_Pathway_Identifier],  -- RTT patient pathway identifier (pseudonymized)
    APC.[spell.referral_to_treatment.period_end_date] AS [RTT_Period_End_Date],  -- RTT period end date
    APC.[spell.referral_to_treatment.period_start_date] AS [RTT_Period_Start_Date],  -- RTT period start date
    APC.[spell.referral_to_treatment.period_length] AS [dv_RTT_Length_Derived],  -- Derived RTT period length
    APC.[spell.referral_to_treatment.period_status] AS [RTT_Status],  -- RTT status
    APC.[spell.referral.decided_to_admit_date] AS [Decided_To_Admit_Date],  -- Decided to admit date

    -- Episode Details (Placeholders)
    DTFC.start_date AS [Episode_Start_Date],  -- Placeholder for Episode Start Date
    DTFC.end_date AS [Episode_End_Date],  -- Placeholder for Episode End Date
    TRY_CAST(DATEDIFF(DD, DTFC.start_date, DTFC.end_date) AS INT) AS [dv_EpisodeGrossLengthOfStay],  -- Placeholder for Episode Gross Length of Stay
    DTFC.EPISODES_ID AS [Episode_Number],  -- Placeholder for Episode Number
    DTFC.last_episode_indicator AS [Last_Episode_in_Spell_Indicator],  -- Placeholder for Last Episode in Spell Indicator

    -- Admission and Discharge Details
    APC.[spell.admission.date] AS [Start_Date_Hospital_Provider_Spell],  -- Admission date
    APC.[spell.admission.time] AS [Start_Time_Hospital_Provider_Spell],  -- Admission time
    APC.[spell.discharge.date] AS [End_Date_Hospital_Provider_Spell],  -- Discharge date
    APC.[spell.discharge.time] AS [Discharge_Time_Hospital_Provider_Spell],  -- Discharge time
    APC.[spell.discharge.ready_date] AS [Ready_For_Discharge_Date],  -- Ready for discharge date
    APC.[spell.discharge.length_of_hospital_stay] AS [dv_LengthOfStay_Gross],  -- Gross length of stay
    APC.[system.transaction.cds_activity_date] AS [dv_CDSActivityDate],  -- CDS activity date
    APC.[spell.admission.source] AS [Source_of_Admission_Hospital_Provider_Spell],  -- Source of admission
    APC.[spell.discharge.destination] AS [Discharge_Destination_Hospital_Provider_Spell],  -- Discharge destination
    APC.[spell.discharge.method] AS [Discharge_Method_Hospital_Provider_Spell],  -- Discharge method
    APC.[spell.admission.administrative_category] AS [Administrative_Category_on_Admission],  -- Administrative category on admission
    NULL AS [First_Regular_Day_Night_Admission],  -- Placeholder for First Regular Day/Night Admission
    APC.[spell.admission.intended_management] AS [Intended_Management],  -- Intended management
    APC.[spell.admission.patient_classification] AS [Patient_Classification],  -- Patient classification
    APC.[spell.admission.method] AS [Admission_Method_Hospital_Provider_Spell],  -- Admission method
    APC.[spell.patient.identity.age_range] AS [Age_Group_Intended_at_Epiend],  -- Age group intended at episode end
    DTFC.neonatal_level_of_care AS [Neonatal_Level_of_Care],  -- Placeholder for Neonatal Level of Care

    -- Patient Identifiers
	APC.[spell.patient.identity.nhs_number.value Pseudo] AS [SK_PatientID], --NHS Number
    --NULL AS [SK_PatientID],  -- Placeholder for Patient Surrogate Key
    null AS [DW_NHS_Number],  -- NHS number (pseudonymized)
    NULL AS [CCG_NHS_Number],  -- Placeholder for CCG NHS Number
    APC.[spell.patient.identity.local_patient_identifier.value] AS [Local_Patient_Identifier],  -- Local patient identifier
    APC.[spell.patient.identity.carer_support_indicator] AS [Carer_Support_Indicator],  -- Carer support indicator

    -- Patient Demographics
    APC.[spell.patient.identity.ethnic_category] AS [Ethnic_Category_Code],  -- Ethnic category code
    APC.[spell.patient.identity.age_at_cds_activity_date] AS [Age_At_CDS_Activity_Date],  -- Age at CDS activity date
    CONVERT(VARCHAR(8), APC.[spell.patient.identity.birth_date], 112)  AS [Birth_Date],  -- Birth date
    APC.[spell.patient.identity.birth_year] AS [dv_YearOfBirth],  -- Year of birth
    APC.[spell.patient.identity.gender] AS [Gender_Code],  -- Gender code
    APC.[spell.patient.residence.postcode Pseudo] AS [Postcode_of_Usual_Address],  -- Postcode of usual address (pseudonymized)
    APC.[spell.patient.residence_derived.lsoa_11] AS [dv_LSOACode],  -- LSOA code
    APC.[spell.patient.mental_health_act_legal_status.classification] AS [Legal_Status_Classification_Code],  -- Legal status classification code

    -- GP and Practice Codes
    APC.[spell.patient.registration.general_practitioner] AS [GP_Code_Original_data],  -- Original GP code
    APC.[spell.patient.registration.general_practice] AS [GP_Practice_Code_Original_Data],  -- Original GP practice code
    APC.[spell.patient.registration_derived.general_practice_from_pds] AS [GP_Practice_Code_Derived],  -- Derived GP practice code
    NULL AS [dv_PracticeCode_Validated],  -- Placeholder for Practice Code Validated

    -- Service Agreement and Provider Details
    --APC.[spell.commissioning.service_agreement.provider] AS [Provider_Reference_No],  -- Provider reference number
	APC.[spell.commissioning.service_agreement.provider_reference_number] AS [Provider_Reference_No],
    APC.[spell.commissioning.service_agreement.commissioner_reference_number] AS [Commissioner_Reference_No],  -- Commissioner reference number
    APC.[spell.commissioning.service_agreement.commissioning_serial_number] AS [Commissioner_Serial_No_Agreement_No],  -- Commissioning serial number
    APC.[spell.commissioning.service_agreement.line_number] AS [NHS_Service_Agreement_Line_No],  -- NHS service agreement line number

    -- Organisation and Commissioner Codes
	--APC.[spell.commissioning.service_agreement.provider] AS [Organisation_Code_Code_of_Provider]
    APC.[spell.commissioning.service_agreement.provider_derived] AS [Organisation_Code_Code_of_Provider],  -- Provider organisation code	
    APC.[spell.commissioning.service_agreement.commissioner] AS [Organisation_Code_Code_of_Commissioner],  -- Commissioner organisation code
    APC.[spell.care_location.site_code_of_treatment] AS [Site_code_of_Treatment_at_start_of_episode],  -- Site code of treatment at start of episode
    APC.[spell.patient.residence.residence_ccg] AS [Organisation_Code_PCT_of_Residence],  -- PCT of residence
    APC.[spell.commissioning.service_agreement.commissioner] AS [Commissioner_Code_Original_Data],  -- Commissioner code original data
    APC.[spell.patient.registration_derived.responsible_ccg_from_pds] AS [PCT_Derived_from_GP_Practice],  -- PCT derived from GP practice
    APC.[spell.patient.residence_derived.residence_ccg_from_patient_postcode] AS [Patient_Postcode_Derived_PCT],  -- Patient postcode derived PCT

	APC.[spell.commissioning.commissioner_assignment.commissioner] AS [dv_Commissioner_Code],                                          -- Derived (DPP - Y)
    APC.[spell.commissioning.commissioner_assignment.flowchart_reference] AS [dv_Commissioner_Type],                              -- Derived (DPP - Y)

    -- Additional Organisation Codes (Placeholders)
    NULL AS [dv_CCAM_SEL],  -- Placeholder for CCAM SEL
    NULL AS [dv_CCAM_SWL],  -- Placeholder for CCAM SWL
    APC.[spell.patient.residence.residence_ccg] AS [dv_Commissioner_Code_of_Residence],  -- Placeholder for Commissioner Code of Residence
    APC.[spell.commissioning.service_agreement.commissioner] AS [dv_Purchaser_ID],  -- Placeholder for Purchaser ID
    NULL AS [dv_Contract_Suffix],  -- Placeholder for Contract Suffix
    NULL AS [dv_CostMethodDescription],  -- Placeholder for Cost Method Description

    -- Clinical Coding and HRG
    APC.[spell.commissioning.grouping.programme_budgeting_category] AS [Programme_Budgeting_Category],  -- Programme budgeting category
    null AS [Core_HRG_Calculated],  -- Core HRG calculated
    APC.[spell.commissioning.grouping.core_hrg] AS [Spell_Core_HRG],  -- Spell core HRG
    NULL AS [dv_HRG],  -- Placeholder for Derived HRG
    NULL AS [dv_Local_Cost_Code],  -- Placeholder for Local Cost Code
    NULL AS [dv_Reason_for_Difference],  -- Placeholder for Reason for Difference

    -- PbR and Tariff Details
    APC.[spell.commissioning.tariff_calculation.excluded_from_pbr] AS [Spell_In_Pbr_Not_In_Pbr],  -- Excluded from PbR
    NULL AS [dv_IsPBR],  -- Placeholder for Is PbR
    --APC.[spell.commissioning.tariff_calculation.tariff_applied] AS [dv_ApplicableTariff],  -- Applicable tariff
	--CAST(s.[spell.commissioning.tariff_calculation.initial_tariff] AS INT)
	cast(APC.[spell.commissioning.tariff_calculation.initial_tariff] as int) AS [dv_ApplicableTariff],
    cast(APC.[spell.commissioning.tariff_calculation.initial_tariff] as int) AS [dv_Base_Cost],  -- Base cost
    NULL AS [dv_IsShortStay],  -- Placeholder for Is Short Stay
    NULL AS [dv_SpecialServiceID],  -- Placeholder for Special Service ID
    CAST(APC.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT) AS [dv_ServiceAdjustment_Cost],  -- Placeholder for Service Adjustment Cost
    APC.[spell.commissioning.grouping.best_practice_flag] AS [dv_BestPracticeTariff_Code],  -- Placeholder for Best Practice Tariff Code
    APC.[spell.commissioning.tariff_calculation.pbr_length_of_stay.palliative_care_days] AS [dv_SpecialistPalliativeCareDays],  -- Specialist palliative care days
    APC.[spell.commissioning.tariff_calculation.pbr_length_of_stay.rehabilitation_days] AS [dv_RehabDays],  -- Rehabilitation days
    APC.[spell.commissioning.tariff_calculation.pbr_length_of_stay.pbr_delayed_discharge_days] AS [dv_DelayedDischargeDays],  -- Delayed discharge days
    NULL AS [dv_TariffType],  -- Placeholder for Tariff Type
    APC.[spell.commissioning.tariff_calculation.pbr_length_of_stay.qualifying_days] AS [dv_LengthOfStay_Net],  -- Net length of stay
    APC.[spell.commissioning.tariff_calculation.pbr_length_of_stay.excess_bed_days] AS [dv_ExcessBedDays],  -- Excess bed days
    APC.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS [dv_ExcessBedDays_Cost],  -- Excess bed days cost
    APC.[spell.commissioning.tariff_calculation.market_forces_factor] AS [dv_MFF_Index_Applied],  -- Market Forces Factor applied
    APC.[spell.commissioning.tariff_calculation.final_price] AS [Pbr_Final_Tariff],  -- PbR final tariff
    --NULL AS [dv_Total_Cost_Inc_MFF],  -- Placeholder for Total Cost Including MFF

    --APC.[spell.open_spell_indicator] ,  -- Open spell indicator
	1 - APC.[spell.open_spell_indicator] AS [dv_IsSpell], --using the Open Spell Indicator to determine if this is a spell.
	--08/01 SP Commenting this as it causes SQL performance hit
    -- Secondary Diagnosis Codes (Placeholders)
 --	Diagnosis.[1] AS [Secondary_Diagnosis_Code_01],
	--Diagnosis.[2] AS [Secondary_Diagnosis_Code_02],
	--Diagnosis.[3] AS [Secondary_Diagnosis_Code_03],
	--Diagnosis.[4] AS [Secondary_Diagnosis_Code_04],
	--Diagnosis.[5] AS [Secondary_Diagnosis_Code_05],
	--Diagnosis.[6] AS [Secondary_Diagnosis_Code_06],
	--Diagnosis.[7] AS [Secondary_Diagnosis_Code_07],
	--Diagnosis.[8] AS [Secondary_Diagnosis_Code_08],
	--Diagnosis.[9] AS [Secondary_Diagnosis_Code_09],
	--Diagnosis.[10] AS [Secondary_Diagnosis_Code_10],
	--Diagnosis.[11] AS [Secondary_Diagnosis_Code_11],
	--Diagnosis.[12] AS [Secondary_Diagnosis_Code_12],
	--Diagnosis.[13] AS [Secondary_Diagnosis_Code_13],
	 icd_code_1 AS [Secondary_Diagnosis_Code_1],
	 icd_code_2 AS [Secondary_Diagnosis_Code_2],
	icd_code_3 AS [Secondary_Diagnosis_Code_3],
	 icd_code_4 AS [Secondary_Diagnosis_Code_4],
	 icd_code_5 AS [Secondary_Diagnosis_Code_5],
	 icd_code_6 AS [Secondary_Diagnosis_Code_6],
	 icd_code_7 AS [Secondary_Diagnosis_Code_7],
	 icd_code_8 AS [Secondary_Diagnosis_Code_8],
	 icd_code_9 AS [Secondary_Diagnosis_Code_9],
	 icd_code_10 AS [Secondary_Diagnosis_Code_10],
	 icd_code_11 AS [Secondary_Diagnosis_Code_11],
	 icd_code_12 AS [Secondary_Diagnosis_Code_12],
	 icd_code_13 AS [Secondary_Diagnosis_Code_13],

    -- Procedure Codes and Dates
    APC.[spell.clinical_coding.procedure.operation_status] AS [Operation_Status],  -- Operation status
    --APC.[spell.clinical_coding.grouper_derived.dominant_procedure] AS [Primary_Procedure_Code],  -- Primary procedure code
	OPCS.code_1 AS [Primary_Procedure_Code],
    APC.[spell.clinical_coding.grouper_derived.primary_diagnosis] AS [Primary_Diagnosis_Code],  -- Primary diagnosis code
	NULL AS [Primary_Procedure_Date],  -- Placeholder for Primary Procedure Date
	--08/01 SP Commenting this as it causes SQL performance hit
    -- Secondary Procedure Codes and Dates (Placeholders)
   	OPCS.[code_1] AS [Secondary_Procedure_Code_1],
	OPCS.[code_2] AS [Secondary_Procedure_Code_2],
	OPCS.[code_3] AS [Secondary_Procedure_Code_3],
	OPCS.[code_4] AS [Secondary_Procedure_Code_4],
	OPCS.[code_5] AS [Secondary_Procedure_Code_5],
	OPCS.[code_6] AS [Secondary_Procedure_Code_6],
	OPCS.[code_7] AS [Secondary_Procedure_Code_7],
	OPCS.[code_8] AS [Secondary_Procedure_Code_8],
	OPCS.[code_9] AS [Secondary_Procedure_Code_9],
	OPCS.[code_10] AS [Secondary_Procedure_Code_10],
	OPCS.[code_11] AS [Secondary_Procedure_Code_11],
	OPCS.[code_12] AS [Secondary_Procedure_Code_12],
	OPCS.[code_13] AS [Secondary_Procedure_Code_13],
	-- NULL AS [Secondary_Procedure_Code_1],
	--NULL AS [Secondary_Procedure_Code_2],
	--NULL AS [Secondary_Procedure_Code_3],
	--NULL AS [Secondary_Procedure_Code_4],
	--NULL AS [Secondary_Procedure_Code_5],
	--NULL AS [Secondary_Procedure_Code_6],
	--NULL AS [Secondary_Procedure_Code_7],
	--NULL AS [Secondary_Procedure_Code_8],
	--NULL AS [Secondary_Procedure_Code_9],
	--NULL AS [Secondary_Procedure_Code_10],
	--NULL AS [Secondary_Procedure_Code_11],
	--NULL AS [Secondary_Procedure_Code_12],
	--NULL AS [Secondary_Procedure_Code_13],

    --NULL AS [Secondary_Procedure_Code_12],  -- Placeholder for Secondary Procedure Code 12
    --NULL AS [Secondary_Procedure_Date_12],  -- Placeholder for Secondary Procedure Date 12

    -- Unbundled HRG Codes and Costs (Placeholders)
    unbundled_hrg_1 AS [dv_Unbundled_HRG_1],  -- Placeholder for Unbundled HRG 1
    unbundled_hrg_2 AS [dv_Unbundled_HRG_2],  -- Placeholder for Unbundled HRG 2
    unbundled_hrg_3 AS [dv_Unbundled_HRG_3],  -- Placeholder for Unbundled HRG 3
    unbundled_hrg_4 AS [dv_Unbundled_HRG_4],  -- Placeholder for Unbundled HRG 4
    unbundled_hrg_5 AS [dv_Unbundled_HRG_5],  -- Placeholder for Unbundled HRG 5
    unbundled_hrg_6 AS [dv_Unbundled_HRG_6],  -- Placeholder for Unbundled HRG 6
    unbundled_hrg_7 AS [dv_Unbundled_HRG_7],  -- Placeholder for Unbundled HRG 7
    unbundled_hrg_8 AS [dv_Unbundled_HRG_8],  -- Placeholder for Unbundled HRG 8
    unbundled_hrg_9 AS [dv_Unbundled_HRG_9],  -- Placeholder for Unbundled HRG 9
    Unbundled_HRG_10 AS [dv_Unbundled_HRG_10],  -- Placeholder for Unbundled HRG 10
    unbundled_hrg_11 AS [dv_Unbundled_HRG_11],  -- Placeholder for Unbundled HRG 11
    unbundled_hrg_12 AS [dv_Unbundled_HRG_12],  -- Placeholder for Unbundled HRG 12
    null AS [dv_Unbundled_Days_Total],  -- Placeholder for Unbundled Days Total
    null AS [dv_Unbundled_Cost_Total],  -- Placeholder for Unbundled Cost Total
    [spell.commissioning.tariff_calculation.pbr_length_of_stay.critical_care_days] AS [dv_Critical_CareDay_Count],  -- Critical care day count



    -- Diagnosis and Procedure Information
    DiagCount.[Total count of Diagnosis] AS [dv_NumberDiagnoses],  -- Total number of diagnoses
    OPCS_Count.[Total count of Procedure] AS [dv_NumberProcedures],  -- Total number of procedures
    Unbundled_HRG_Count.[Total count of Unbundled HRG] AS [dv_NumberUnbundledHRGs],  -- Total number of unbundled HRGs
    --Unbundled_HRG.[Unbundled HRG (List)] AS [dv_Unbundled_HRG_List],  -- List of unbundled HRGs
	null AS [dv_Unbundled_HRG_List],
    -- Additional Fields
    --WardStart.ward_code AS [dv_WardCode_At_Admission],  -- Ward code at admission
    --WardEnd.ward_code AS [dv_WardCode_At_Discharge],  -- Ward code at discharge
	null AS [dv_WardCode_At_Admission],  -- Ward code at admission
    null AS [dv_WardCode_At_Discharge],  -- Ward code at discharge
    DTFC.[care_professional.main_specialty] AS [Main_Specialty_Code],  -- Main specialty code
    DTFC.[care_professional.treatment_function] AS [Treatment_Function_Code],  -- Treatment function code

	 -- Additional Fields (Unmapped columns with placeholders)
    DTFC.[care_professional.consultant] AS [Consultant_Code],                 -- Placeholder for Consultant Code
    NULL AS [Local_Sub_Specialty_Code],        -- Placeholder for Local Sub Specialty Code
    NULL AS [Ward_Code_at_Episode_Start_Date], -- Placeholder for Ward Code at Episode Start Date
    NULL AS [Ward_Code_at_Episode_End_Date],   -- Placeholder for Ward Code at Episode End Date

    -- Specialised Commissioning Codes
    APC.[spell.commissioning.pss_grouping.prescribed_service_line_code] AS [dv_SpecCom_ServiceCode_National_Spell],  -- National specialised commissioning code
    APC.[spell.commissioning.pss_grouping.prescribed_service_line_code] AS [dv_SpecCom_ServiceCode_Local_Spell],  -- Local specialised commissioning code
    DTFC.[commissioning.pss_grouping.prescribed_service_line_code]  AS [dv_SpecCom_ServiceCode_National_Episode],  -- Placeholder for SpecCom Service Code National Episode
    DTFC.[commissioning.pss_grouping.prescribed_service_line_code]  AS [dv_SpecCom_ServiceCode_Local_Episode],  -- Placeholder for SpecCom Service Code Local Episode


    -- Other Fields (No direct mapping but included for completeness)
    APC.dmicImportLogId AS [dmicImportLogId],  -- Import log identifier (if needed)
	
	--Other dervived fields
	CAST(REPLACE(dt.FiscalCalendarYearName,'-','/20') AS varchar(9)) AS [dv_FinYear],  --Financial Year
    dt.FiscalCalendarMonthNumber AS [dv_FinMonth], -- Financial Month

	CASE
           WHEN APC.[spell.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND APC.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.final_price] AS INT), 0)
               - (ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                  + ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS INT), 0)
                  + ISNULL(CAST(APC.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT), 0)
                  + ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
                 )
       END AS [MFF Adjustment],                                                                                                         -- Derived (DPP - Y)
       CASE
           WHEN APC.[spell.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND APC.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
               + ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.excess_bed_days_tariff] AS INT), 0)
               + ISNULL(CAST(APC.[spell.commissioning.pss_grouping.tariff_uplift_rate] AS INT), 0)
               + ISNULL(CAST(APC.[spell.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
       END AS [Tariff Pre MFF Adjusted National],                                                                                       -- Derived (DPP - Y)
       CAST(APC.[spell.commissioning.tariff_calculation.final_price] AS INT) AS [dv_Total_Cost_Inc_MFF],                          -- Derived (DPP - Y)
	   DTFC.CDS_Version
FROM
    [Data_Store_SUS_Unified].[APC].[spell] APC
--INNER JOIN [Data_Store_SUS_Unified].[APC].[InsertDeleteLog] dl on APC.PRIMARYKEY_ID = dl.PRIMARYKEY_ID  AND APC.dmicImportLogId = dl.dmicImportLogId
LEFT JOIN [Dictionary].[dbo].[Dates] dt on APC.[spell.discharge.date] = dt.FullDate
	

	-- Unbundled HRG Count
	--LEFT JOIN (
	--	SELECT 
	--	[PRIMARYKEY_ID],
	--	COUNT([Code]) AS [Total count of Unbundled HRG],
	--	COUNT(DISTINCT [Code]) AS [Unique count of Unbundled HRG]
	--	FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg]
	--	GROUP BY 
	--	[PRIMARYKEY_ID]
	--	) Unbundled_HRG_Count	ON (APC.PRIMARYKEY_ID = Unbundled_HRG_Count.PRIMARYKEY_ID)

		-- Unbundled HRG
	--	LEFT JOIN (SELECT Unbunbled_HRG.[PRIMARYKEY_ID], Unbundled_HRG.[dmicImportLogId], STRING_AGG(Unbunbled_HRG.[Code],',') AS [Unbundled HRG (List)] FROM 
	--	(
	--	SELECT DISTINCT [PRIMARYKEY_ID],[dmicImportLogId],[code]
	--	FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg]) Unbunbled_HRG
	--	GROUP BY Unbunbled_HRG.[PRIMARYKEY_ID], [dmicImportLogId]
	--) Unbundled_HRG	ON APC.PRIMARYKEY_ID = Unbundled_HRG.PRIMARYKEY_ID AND APC.[dmicImportLogId] = Unbundled_HRG.[dmicImportLogId]

	-- Dominant Ep
	LEFT JOIN (
	SELECT * FROM (

		SELECT 
		[PRIMARYKEY_ID],
		[EPISODES_ID],
		[start_date],
		[start_time], 
		[care_professional.consultant], 
		[care_professional.main_specialty],
		[care_professional.treatment_function], 
		[dominant_episode_flag],
		[system.transaction.cds_unique_identifier],
		[end_date],
		ROW_NUMBER () OVER (PARTITION BY [PRIMARYKEY_ID] ORDER BY [Start_date], [Start_time], [Episodes_ID]) AS [Order],
		neonatal_level_of_care,
		last_episode_indicator,
		[commissioning.pss_grouping.prescribed_service_line_code],
		[dmicImportLogId],
		[system.interchange.cds_message_version_number] as CDS_Version
		FROM [Data_Store_SUS_Unified].[APC].[spell.episodes]
		WHERE dominant_episode_flag = 1) DomTFC

		WHERE DomTFC.[Order] = 1
	) DTFC 	ON APC.PRIMARYKEY_ID = DTFC.PRIMARYKEY_ID AND  APC.[dmicImportLogId] = DTFC.[dmicImportLogId]

	-- Diagnosis Count
	LEFT JOIN 	
	( select PRIMARYKEY_ID, [dmicImportLogId], Episodes_id, COUNT([Code]) AS [Total count of Diagnosis] from [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.diagnosis.icd] group by PRIMARYKEY_ID, [dmicImportLogId],Episodes_id ) DiagCount on DiagCount.PRIMARYKEY_ID = APC.PRIMARYKEY_ID and DiagCount.dmicImportLogId = APC.dmicImportLogId and  DiagCount.Episodes_id = DTFC.EPISODES_ID
	--Procedure Count
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], Episodes_id, COUNT([Code]) AS [Total count of Procedure] from [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.procedure.opcs] group by PRIMARYKEY_ID, Episodes_id, [dmicImportLogId] ) OPCS_Count on OPCS_Count.PRIMARYKEY_ID = APC.PRIMARYKEY_ID and OPCS_Count.dmicImportLogId = APC.dmicImportLogId and OPCS_Count.Episodes_id = DTFC.EPISODES_ID
	--Unbundled HRG Count
	LEFT JOIN 
	( select PRIMARYKEY_ID, [dmicImportLogId], Episodes_id, COUNT(distinct [Code]) AS [Total count of Unbundled HRG] from [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg] group by PRIMARYKEY_ID,Episodes_id, [dmicImportLogId] ) Unbundled_HRG_Count on Unbundled_HRG_Count.PRIMARYKEY_ID = APC.PRIMARYKEY_ID and Unbundled_HRG_Count.dmicImportLogId = APC.dmicImportLogId and Unbundled_HRG_Count.EPISODES_ID = DTFC.EPISODES_ID

	 LEFT JOIN
    (
		SELECT 
			[PRIMARYKEY_ID],
            [EPISODES_ID],
            [dmicImportLogId],
            MAX(CASE WHEN [ICD_ID] = 1 THEN [code] END) AS [icd_code_1],
			MAX(CASE WHEN [ICD_ID] = 2 THEN [code] END) AS [icd_code_2],
			MAX(CASE WHEN [ICD_ID] = 3 THEN [code] END) AS [icd_code_3],
			MAX(CASE WHEN [ICD_ID] = 4 THEN [code] END) AS [icd_code_4],
			MAX(CASE WHEN [ICD_ID] = 5 THEN [code] END) AS [icd_code_5],
			MAX(CASE WHEN [ICD_ID] = 6 THEN [code] END) AS [icd_code_6],
			MAX(CASE WHEN [ICD_ID] = 7 THEN [code] END) AS [icd_code_7],
			MAX(CASE WHEN [ICD_ID] = 8 THEN [code] END) AS [icd_code_8],
			MAX(CASE WHEN [ICD_ID] = 9 THEN [code] END) AS [icd_code_9],
			MAX(CASE WHEN [ICD_ID] = 10 THEN [code] END) AS [icd_code_10],
			MAX(CASE WHEN [ICD_ID] = 11 THEN [code] END) AS [icd_code_11],
			MAX(CASE WHEN [ICD_ID] = 12 THEN [code] END) AS [icd_code_12],
			MAX(CASE WHEN [ICD_ID] = 13 THEN [code] END) AS [icd_code_13]
        FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.diagnosis.icd]
        GROUP BY [PRIMARYKEY_ID],
			[EPISODES_ID],
            [dmicImportLogId]
    ) DIAG
        ON	APC.[PRIMARYKEY_ID] = DIAG.[PRIMARYKEY_ID]
			AND DTFC.[EPISODES_ID] = DIAG.[EPISODES_ID]
			AND APC.[dmicImportLogId] = DIAG.[dmicImportLogId]
	 LEFT JOIN
    (
		SELECT 
			[PRIMARYKEY_ID],
            [EPISODES_ID],
            [dmicImportLogId],
            MAX(CASE WHEN [OPCS_ID] = 1 THEN [code] END) AS [code_1],
			MAX(CASE WHEN [OPCS_ID] = 2 THEN [code] END) AS [code_2],
			MAX(CASE WHEN [OPCS_ID] = 3 THEN [code] END) AS [code_3],
			MAX(CASE WHEN [OPCS_ID] = 4 THEN [code] END) AS [code_4],
			MAX(CASE WHEN [OPCS_ID] = 5 THEN [code] END) AS [code_5],
			MAX(CASE WHEN [OPCS_ID] = 6 THEN [code] END) AS [code_6],
			MAX(CASE WHEN [OPCS_ID] = 7 THEN [code] END) AS [code_7],
			MAX(CASE WHEN [OPCS_ID] = 8 THEN [code] END) AS [code_8],
			MAX(CASE WHEN [OPCS_ID] = 9 THEN [code] END) AS [code_9],
			MAX(CASE WHEN [OPCS_ID] = 10 THEN [code] END) AS [code_10],
			MAX(CASE WHEN [OPCS_ID] = 11 THEN [code] END) AS [code_11],
			MAX(CASE WHEN [OPCS_ID] = 12 THEN [code] END) AS [code_12],
			MAX(CASE WHEN [OPCS_ID] = 13 THEN [code] END) AS [code_13]
        FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.procedure.opcs]
        GROUP BY [PRIMARYKEY_ID],
			[EPISODES_ID],
            [dmicImportLogId]
    ) OPCS
        ON	APC.[PRIMARYKEY_ID] = OPCS.[PRIMARYKEY_ID]
			AND DTFC.[EPISODES_ID] = OPCS.[EPISODES_ID]
			AND APC.[dmicImportLogId] = OPCS.[dmicImportLogId]
	LEFT JOIN
    (
        SELECT 
			[PRIMARYKEY_ID],
			[dmicImportLogId],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 1 THEN [code] END) AS [unbundled_hrg_1],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 2 THEN [code] END) AS [unbundled_hrg_2],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 3 THEN [code] END) AS [unbundled_hrg_3],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 4 THEN [code] END) AS [unbundled_hrg_4],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 5 THEN [code] END) AS [unbundled_hrg_5],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 6 THEN [code] END) AS [unbundled_hrg_6],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 7 THEN [code] END) AS [unbundled_hrg_7],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 8 THEN [code] END) AS [unbundled_hrg_8],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 9 THEN [code] END) AS [unbundled_hrg_9],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 10 THEN [code] END) AS [unbundled_hrg_10],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 11 THEN [code] END) AS [unbundled_hrg_11],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 12 THEN [code] END) AS [unbundled_hrg_12]
	FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg]
        GROUP BY [PRIMARYKEY_ID],
                 [dmicImportLogId]
    ) hrg
        ON APC.[PRIMARYKEY_ID] = hrg.[PRIMARYKEY_ID]
           AND APC.[dmicImportLogId] = hrg.[dmicImportLogId]

	--[Data_Store_SUS_Unified].[APC].[spell.episodes]
	--[Data_Store_SUS_Unified].[APC].[spell.episodes.care_location]
	--[Data_Store_SUS_Unified].[APC].[spell.episodes.commissioning.grouping.unbundled_hrg]
	--[Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.procedure.opcs]
	--[Data_Store_SUS_Unified].[APC].[spell.episodes.clinical_coding.diagnosis.icd]

	
	-- Ward Code Start
	--LEFT JOIN (
	--	SELECT 
	--		PRIMARYKEY_ID, 
	--		ward_code 
	--	FROM (
	--		SELECT 
	--			PRIMARYKEY_ID,
	--			ward_code,
	--			ROW_NUMBER() OVER (PARTITION BY PRIMARYKEY_ID ORDER BY EPISODES_ID, CARE_Location_ID) AS [Order]   
	--		FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.care_location]
	--		WHERE stage = 'Episode_start'
	--	) WS
	--	WHERE WS.[Order] = 1
	--) WardStart
	--ON APC.PRIMARYKEY_ID = WardStart.PRIMARYKEY_ID

	---- Ward Code End
	--LEFT JOIN (
	--	SELECT 
	--		PRIMARYKEY_ID, 
	--		ward_code 
	--	FROM (
	--		SELECT 
	--			PRIMARYKEY_ID,
	--			ward_code,
	--			ROW_NUMBER() OVER (PARTITION BY PRIMARYKEY_ID ORDER BY EPISODES_ID DESC, CARE_Location_ID DESC) AS [Order]   
	--		FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.care_location]
	--		WHERE stage = 'Episode_end'
	--	) WE
	--	WHERE WE.[Order] = 1
	--) WardEnd
	--ON APC.PRIMARYKEY_ID = WardEnd.PRIMARYKEY_ID


	---- Site of treatment START
	--LEFT JOIN (
	--SELECT DISTINCT PRIMARYKEY_ID, site_code_of_treatment
	--FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.care_location]
	--WHERE site_code_of_treatment IS NOT NULL
	--AND Stage = 'Episode_Start'
	--AND EPISODES_ID = 1) Site_code_treatment_start
	--ON APC.PRIMARYKEY_ID = Site_code_treatment_start.PRIMARYKEY_ID

	---- Site of treatment END
	--LEFT JOIN (
	--SELECT Site_code_end.PRIMARYKEY_ID, Site_code_end.site_code_of_treatment FROM
	--(SELECT Site_End.*, ROW_NUMBER () OVER (PARTITION BY Site_End.PRIMARYKEY_ID ORDER BY Site_End.EPISODES_ID DESC) AS [Order]  FROM
	--(SELECT DISTINCT PRIMARYKEY_ID, EPISODES_ID, site_code_of_treatment
	--FROM [Data_Store_SUS_Unified].[APC].[spell.episodes.care_location]
	--WHERE site_code_of_treatment IS NOT NULL
	--AND Stage = 'Episode_End') Site_End ) Site_code_end
	--WHERE Site_code_end.[Order] = 1 ) Site_code_treatment_end
	--ON APC.PRIMARYKEY_ID = Site_code_treatment_end.PRIMARYKEY_ID
WHERE APC.[spell.open_spell_indicator] IN(1,0) --AND dl.dmicIsDeleted = 0
)
SELECT [SK_EncounterID]
      ,[dv_Extract_Type]
      ,[dv_Query_ID]
      ,[dv_FinYear]
      ,[dv_FinMonth]
      ,[dv_Activity_Period_Date]
      ,[Generated_Record_ID]
      ,[Spell_Identifier]
      ,[Unique_CDS_Identifier]
      ,[Hospital_Provider_Spell_No]
      ,[Referrer_Code]
      ,[Referring_Organisation_Code]
      ,[Organisation_Code_Patient_Pathway_Identifier]
      ,[RTT_Patient_Pathway_Identifier]
      ,[RTT_Period_End_Date]
      ,[RTT_Period_Start_Date]
      ,[dv_RTT_Length_Derived]
      ,[RTT_Status]
      ,[Decided_To_Admit_Date]
      ,[Episode_Start_Date]
      ,[Episode_End_Date]
      ,[dv_EpisodeGrossLengthOfStay]
      ,[Episode_Number]
      ,[Last_Episode_in_Spell_Indicator]
      ,[Start_Date_Hospital_Provider_Spell]
      ,[Start_Time_Hospital_Provider_Spell]
      ,[End_Date_Hospital_Provider_Spell]
      ,[Discharge_Time_Hospital_Provider_Spell]
      ,[Ready_For_Discharge_Date]
      ,[dv_LengthOfStay_Gross]
      ,[dv_CDSActivityDate]
      ,[Source_of_Admission_Hospital_Provider_Spell]
      ,[Discharge_Destination_Hospital_Provider_Spell]
      ,[Discharge_Method_Hospital_Provider_Spell]
      ,[Administrative_Category_on_Admission]
      ,[First_Regular_Day_Night_Admission]
      ,[Intended_Management]
      ,[Patient_Classification]
      ,[Admission_Method_Hospital_Provider_Spell]
      ,[Age_Group_Intended_at_Epiend]
      ,[Neonatal_Level_of_Care]
      ,[dv_NumberDiagnoses]
      ,[dv_NumberProcedures]
      ,[dv_NumberUnbundledHRGs]
      ,[SK_PatientID]
      ,[DW_NHS_Number]
      ,[CCG_NHS_Number]
      ,[Local_Patient_Identifier]
      ,[Carer_Support_Indicator]
      ,[Ethnic_Category_Code]
      ,[Age_At_CDS_Activity_Date]
      ,[Birth_Date]
      ,[dv_YearOfBirth]
      ,[Gender_Code]
      ,[Postcode_of_Usual_Address]
      ,[dv_LSOACode]
      ,[Legal_Status_Classification_Code]
      ,[GP_Code_Original_data]
      ,[GP_Practice_Code_Original_Data]
      ,[GP_Practice_Code_Derived]
      ,[dv_PracticeCode_Validated]
      ,[Provider_Reference_No]
      ,[Commissioner_Reference_No]
      ,[Commissioner_Serial_No_Agreement_No]
      ,[NHS_Service_Agreement_Line_No]
      ,[Consultant_Code]
      ,[Main_Specialty_Code]
      ,[Treatment_Function_Code]
      ,[Local_Sub_Specialty_Code]
      ,[Ward_Code_at_Episode_Start_Date]
      ,[Ward_Code_at_Episode_End_Date]
      ,[dv_WardCode_At_Admission]
      ,[dv_WardCode_At_Discharge]
      ,[dv_SpecCom_ServiceCode_National_Episode]
      ,[dv_SpecCom_ServiceCode_National_Spell]
      ,[dv_SpecCom_ServiceCode_Local_Episode]
      ,[dv_SpecCom_ServiceCode_Local_Spell]
      ,[Organisation_Code_Code_of_Provider]
      ,[Organisation_Code_Code_of_Commissioner]
      ,[Site_code_of_Treatment_at_start_of_episode]
      ,[Organisation_Code_PCT_of_Residence]
      ,[Commissioner_Code_Original_Data]
      ,[PCT_Derived_from_GP_Practice]
      ,[Patient_Postcode_Derived_PCT]
      ,[dv_CCAM_SEL]
      ,[dv_CCAM_SWL]
      ,[dv_Commissioner_Code_of_Residence]
      ,[dv_Purchaser_ID]
      ,[dv_Contract_Suffix]
      ,[dv_CostMethodDescription]
      ,[Programme_Budgeting_Category]
      ,[Core_HRG_Calculated]
      ,[Spell_Core_HRG]
      ,[dv_HRG]
      ,[dv_Local_Cost_Code]
      ,[dv_Reason_for_Difference]
      ,[Spell_In_Pbr_Not_In_Pbr]
      ,[dv_IsPBR]
      ,[dv_ApplicableTariff]
      ,[dv_Base_Cost]
      ,[dv_IsShortStay]
      ,[dv_SpecialServiceID]
      ,[dv_ServiceAdjustment_Cost]
      ,[dv_BestPracticeTariff_Code]
      ,[dv_SpecialistPalliativeCareDays]
      ,[dv_RehabDays]
      ,[dv_DelayedDischargeDays]
      ,[dv_TariffType]
      ,[dv_LengthOfStay_Net]
      ,[dv_ExcessBedDays]
      ,[dv_ExcessBedDays_Cost]
      ,[dv_MFF_Index_Applied]
      ,[Pbr_Final_Tariff]
      ,[dv_Total_Cost_Inc_MFF]
      ,[Primary_Diagnosis_Code]
      ,[dv_IsSpell]
      ,[Secondary_Diagnosis_Code_1]
      ,[Secondary_Diagnosis_Code_2]
      ,[Secondary_Diagnosis_Code_3]
      ,[Secondary_Diagnosis_Code_4]
      ,[Secondary_Diagnosis_Code_5]
      ,[Secondary_Diagnosis_Code_6]
      ,[Secondary_Diagnosis_Code_7]
      ,[Secondary_Diagnosis_Code_8]
      ,[Secondary_Diagnosis_Code_9]
      ,[Secondary_Diagnosis_Code_10]
      ,[Secondary_Diagnosis_Code_11]
      ,[Secondary_Diagnosis_Code_12]
      ,[Operation_Status]
      ,[Primary_Procedure_Code]
      ,[Primary_Procedure_Date]
      ,[Secondary_Procedure_Code_1]
      ,null as [Secondary_Procedure_Date_1]
      ,[Secondary_Procedure_Code_2]
      ,null as [Secondary_Procedure_Date_2]
      ,[Secondary_Procedure_Code_3]
      ,null as [Secondary_Procedure_Date_3]
      ,[Secondary_Procedure_Code_4]
      ,null as [Secondary_Procedure_Date_4]
      ,[Secondary_Procedure_Code_5]
      ,null as [Secondary_Procedure_Date_5]
      ,[Secondary_Procedure_Code_6]
      ,null as [Secondary_Procedure_Date_6]
      ,[Secondary_Procedure_Code_7]
      ,null as [Secondary_Procedure_Date_7]
      ,[Secondary_Procedure_Code_8]
      ,null as [Secondary_Procedure_Date_8]
      ,[Secondary_Procedure_Code_9]
      ,null as [Secondary_Procedure_Date_9]
      ,[Secondary_Procedure_Code_10]
      ,null as [Secondary_Procedure_Date_10]
      ,[Secondary_Procedure_Code_11]
      ,null as [Secondary_Procedure_Date_11]
      ,[Secondary_Procedure_Code_12]
      ,null as [Secondary_Procedure_Date_12]
      ,[dv_Unbundled_HRG_1]
      ,[dv_Unbundled_HRG_2]
      ,[dv_Unbundled_HRG_3]
      ,[dv_Unbundled_HRG_4]
      ,[dv_Unbundled_HRG_5]
      ,[dv_Unbundled_HRG_6]
      ,[dv_Unbundled_HRG_7]
      ,[dv_Unbundled_HRG_8]
      ,[dv_Unbundled_HRG_9]
      ,[dv_Unbundled_HRG_10]
      ,[dv_Unbundled_HRG_11]
      ,[dv_Unbundled_HRG_12]
      ,[dv_Unbundled_Days_Total]
      ,[dv_Unbundled_Cost_Total]
      ,[dv_Critical_CareDay_Count]
	  ,[Tariff Pre MFF Adjusted National]
	  ,[MFF Adjustment]
	  ,[dmicImportLogId]
	  ,CDS_Version
	  
  FROM DATA

GO
