USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_ED_EncounterDenormalised_DateRange]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/********************************************************************************
-- View Name: [ECDS2_View]
--
-- Description:
--   This view maps and transforms data from the [Data_Store_SUS_Unified].[ECDS].[emergency_care] table 
--   to align with the column structure of [AE].[EncounterDenormalised_DateRange]. 
--   It covers core identification fields, arrival and attendance details, referral information, patient demographics, 
--   commissioning details, and diagnoses/procedures. 
--   Where no direct mapping exists, NULL placeholders are used.
--   Original column names from ECDS1 are used; previous alias names appear only in comments.
--
-- Change Log:
--   Date         Author           Description
--   ----------   ---------------  -----------------------------------------------
--   2025-01-01   Sridhar Peddi        Updated to in-line comments for mapping lines.
--
********************************************************************************/

CREATE   VIEW [Unified].[vw_ED_EncounterDenormalised_DateRange] 
AS
WITH DATA AS (
SELECT

    m.[PRIMARYKEY_ID] AS [SK_EncounterID],                 -- was "m.[PRIMARYKEY_ID]"
    CAST(m.[system.record.version] AS VARCHAR(17)) AS [SUS_Version],  -- was "CAST(m.[system.record.version] AS VARCHAR(17))"  -- [SUS Version] Derived (DPP - Y)
    m.[system.record.cds_record_identifier] AS [NHS_RID_From_Provider],  -- was "m.[system.record.cds_record_identifier]"  -- [NHS RID (From Provider)]
    CAST(m.[attendance.unique_identifier] AS VARCHAR(32)) AS [Attendance_Identifier],  -- was "CAST(m.[system.record.identifier] AS VARCHAR(32))"  -- [Spell Identifier]
    CAST(m.[system.record.identifier] AS VARCHAR(32)) AS [Generated_Record_ID],  -- was "CAST(m.[system.record.identifier] AS VARCHAR(32))"  -- [Generated Record ID]
    m.[system.record.cds_record_type] AS [CDS_Record_Type],  -- was "m.[system.record.cds_record_type]"  -- [CDS Record Type] Submitted (DPP - Y)
    -- Example of a line commented out in ECDS1:
    -- ISNULL(rfa.[1],'') + ISNULL(rfa.[2],'') + ... AS [Reason Access Provided],  -- Derived (DPP - Y)
    NULL AS [CDS_Group_Derived],  -- was "NULL AS [CDS Group Derived]"  -- Obsolete (DPP - N)
    m.[system.record.cds_group_indicator] AS [CDS_Group_Indicator],  -- was "m.[system.record.cds_group_indicator]"  -- Derived (DPP - N)
    CAST(m.[system.transaction.cds_bulk_replacement_group] AS VARCHAR(3)) AS [Bulk_Replacement_CDS_Group], -- was "CAST(m.[system.transaction.cds_bulk_replacement_group] AS VARCHAR(3))"  -- Submitted (DPP - N)
    CASE 
      WHEN CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1)) = '1' THEN '2' 
      ELSE CAST(m.[commissioning.national_pricing.excluded] AS VARCHAR(1)) 
    END AS [Spell_In_PbR_Not_In_PbR],  -- Derived (DPP - Y)
	NULL AS [Exclusion_Reason],
    --CAST(exclusion_reasons.exclusion_reasons AS VARCHAR(100)) AS [Exclusion_Reason], -- was "CAST(exclusion_reasons.exclusion_reasons AS VARCHAR(100))"  -- Derived (DPP - Y)
    NULL AS [Pseudonymised_Status],  -- Obsolete (DPP - Y)
    m.[system.record.confidentiality_category] AS [Confidentiality_Category],  -- was "m.[system.record.confidentiality_category]"  -- Derived (DPP - Y)
    NULL AS [Configurable_Indicator],  -- Obsolete (DPP - Y)
    CASE 
      WHEN CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1)) IS NULL THEN 0
      ELSE CAST(m.[commissioning.grouping.code_cleaning_applied] AS VARCHAR(1))
    END AS [Code_Cleaning],  -- Derived (DPP - Y)

    ----------------------------------------------------------------------------
    -- Patient Identifiers
    ----------------------------------------------------------------------------

    CAST(m.[patient.local_patient_identifier.value] AS VARCHAR(32)) AS [Local_Patient_Identifier],  -- was "CAST(m.[patient.local_patient_identifier.value] AS VARCHAR(32))"  -- Submitted (DPP - Y)
    m.[patient.local_patient_identifier.issuer] AS [Org_Code_Local_Patient_Identifier],              -- Submitted (DPP - Y)

    m.[patient.nhs_number.value Pseudo] AS SK_PatientID,  -- was "m.[patient.nhs_number.value Pseudo]"  -- Submitted (DPP - Y)

    NULL AS [Patient_Name],          -- Submitted (DPP - N)
    NULL AS [Patient_Usual_Address], -- Submitted (DPP - N)
    NULL AS [Lead_Care_Activity_Indicator],  -- Obsolete (DPP - Y)

    ----------------------------------------------------------------------------
    -- RTT / Referral Pathway Identifiers
    ----------------------------------------------------------------------------

    m.[referral.patient_pathway_identifier.issuer] AS [Organisation_Code_Patient_Pathway_Identifier],  -- Submitted (DPP - Y)
    m.[referral.patient_pathway_identifier.value Pseudo] AS [RTT_Patient_Pathway_Identifier],          -- Submitted (DPP - Y)
    CONVERT(VARCHAR(8), m.[referral.period_end_date], 112) AS [RTT_Period_End_Date],                   -- was "CONVERT(VARCHAR(8),m.[referral.period_end_date],112)"  -- Submitted (DPP - Y)
    CONVERT(VARCHAR(8), m.[referral.period_start_date], 112) AS [RTT_Period_Start_Date],               -- Submitted (DPP - Y)
    CAST(m.[referral.period_status] AS VARCHAR(2)) AS [RTT_Status],                                   -- was "CAST(m.[referral.period_status] AS VARCHAR(2))"  -- Submitted (DPP - Y)
    m.[referral.ubrn.value Pseudo] AS [Unique_Booking_Reference_Number_Converted],                    -- [Unique Booking Reference Number (Converted)]
    m.[referral.period_length] AS [RTT_Length_Derived],  -- was "m.[referral.period_length]"  -- Derived (DPP - N)

    ----------------------------------------------------------------------------
    -- Demographics: Birth Date, Age, Gender, etc.
    ----------------------------------------------------------------------------

    NULL AS [Birth_Date],   -- Submitted (DPP - Y)
    m.[patient.age_at_cds_activity_date] AS [Age_At_CDS_Activity_Date], -- Submitted (DPP - Y)
    m.[patient.age_at_arrival] AS [Derived_Age],  -- Derived (DPP - Y)
    m.[patient.patient_type] AS [Patient_Type],   -- Derived (DPP - Y)
    m.[patient.age_range] AS [Age_Range_Derived], -- Derived (DPP - N)

    NULL AS [Year_of_Birth],  -- Derived (DPP - N)
    NULL AS [Month_of_Birth], -- Derived (DPP - N)

    m.[patient.hes_age_at_arrival] AS [Age_at_Record_Start],   -- Derived (DPP - N)
    m.[patient.hes_age_at_departure] AS [Age_at_Record_End],   -- Derived (DPP - N)
    NULL AS [Carer_Support_Indicator],                        -- Submitted (DPP - Y) but set to NULL
    m.[patient.ethnic_category] AS [Ethnic_Category_Code],    -- Submitted (DPP - Y)
    NULL AS [Marital_Status],                                 -- Submitted (DPP - Y)
    m.[patient.nhs_number.status] AS [NHS_Number_Status_Indicator],  -- Submitted (DPP - Y)

    CASE WHEN m.[patient.stated_gender] = 'X' THEN '0' ELSE m.[patient.stated_gender] END AS [Gender_Code], 
      -- was "case when m.[patient.stated_gender] = 'X' then '0' else m.[patient.stated_gender] end"  -- Submitted (DPP - Y)

    m.[patient.usual_address.postcode Pseudo] AS [Postcode_of_Usual_Address],  -- [Postcode of Usual Address]
    m.[patient.residence_ccg] AS [Organisation_Code_PCT_of_Residence],         -- [Organisation Code (PCT of Residence)]

    NULL AS [Patient_Postcode_Derived_PCT_Type],        -- Derived (DPP - Y)
    m.[patient.residence_ccg_from_patient_postcode] AS [Patient_Postcode_Derived_PCT],  -- Derived (DPP - Y)

    NULL AS [Patient_Postcode_Electoral_Ward],          -- Obsolete (DPP - N)
    NULL AS [SHA_from_Patient_Postcode],                -- Obsolete (DPP - N)
    NULL AS [SHA_Type_from_Patient_Postcode],           -- Obsolete (DPP - N)

    m.[patient.usual_address.postcode_district] AS [Area_Code_Derived],  -- Derived (DPP - N)

    NULL AS [Organisation_Code_Type_PCT_of_Residence],   -- Obsolete (DPP - N)
    NULL AS [PCT_of_Residence_Original],                 -- Submitted (DPP - N)

    m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT_Responsible],  -- Derived (DPP - N)

    NULL AS [Census_Output_Area_2001],   -- Obsolete (DPP - N)
    m.[patient.usual_address.country] AS [Country],  -- Derived (DPP - N)
    NULL AS [County_Code],               -- Obsolete (DPP - N)
    m.[patient.usual_address.ed_county_code] AS [ED_County_Code],    -- Derived (DPP - N)
    m.[patient.usual_address.ed_district_code] AS [ED_District_Code],-- Derived (DPP - N)
    NULL AS [Electoral_Ward_Division],   -- Obsolete (DPP - N)
    NULL AS [Government_Office_Region_Code], -- Obsolete (DPP - N)
    NULL AS [Local_Authority_Code],          -- Obsolete (DPP - N)
    NULL AS [SHA_Old_Org_Code],              -- Obsolete (DPP - N)
    m.[patient.usual_address.electoral_ward_1998] AS [Electoral_Ward_1998],  -- Derived (DPP - N)

    ----------------------------------------------------------------------------
    -- EM Attendance
    ----------------------------------------------------------------------------

    m.[attendance.arrival.attendance_identifier] AS [EM_Attendance_Number],  -- Submitted (DPP - Y) (repeated if needed)
    m.[attendance.arrival.arrival_mode.code] AS [EM_Mode_of_Arrival],                                            -- NULL so like PbR Extract
    m.[attendance.arrival.attendance_category] AS [EM_Attendance_Category],  -- Submitted (DPP - Y)
    NULL AS [EM_Attendance_Disposal],                                        -- Submitted (DPP - Y)
    NULL AS [EM_Incident_Location_Type],                                     -- Submitted (DPP - Y)
    NULL AS [EM_Staff_Member_Code],                                          -- Submitted (DPP - Y)
    -1  AS [EM_Referral_Source],                                            -- Submitted (DPP - Y)

    m.[attendance.arrival.date] AS [Arrival_Date],  -- was "CONVERT(VARCHAR(8),m.[attendance.arrival.date],112)" 
    NULL AS [EM_Patient_Group],  -- Submitted (DPP - Y)

    m.[attendance.conclusion.time] AS [EM_Attendance_Conclusion_Time],  -- [EM Attendance Conclusion Time]
    m.[attendance.departure.time] AS [EM_Departure_Time],               -- [EM Departure Time]
    m.[attendance.initial_assessment.time] AS [EM_Initial_Assessment_Time],  -- [EM Initial Assessment Time] re-labeled if needed
    m.[attendance.seen_for_treatment.time] AS [EM_Time_Seen_for_Treatment],  -- Submitted (DPP - Y)

    LEFT(m.[attendance.arrival.time],5) AS [Arrival_Time],        -- was "LEFT(m.[attendance.arrival.time],5)"  -- Submitted (DPP - Y)

    CONVERT(VARCHAR(8), m.[attendance.departure.date], 112) AS [dv_Activity_Period_Date],  -- was "CONVERT(VARCHAR(8),m.[system.record.cds_activity_date],112)"  -- Submitted (DPP - Y)
    NULL AS [EM_Attendance_Category_ID],            -- Obsolete (DPP - N)
    NULL AS [Consultant_Code_Type],                 -- Obsolete (DPP - N)
    NULL AS [Consultant_Organisation_Code],         -- Obsolete (DPP - N)
    NULL AS [Organisation_Code_Type_Consultant],    -- Obsolete (DPP - N)
    NULL AS [EM_Conclusion_Waiting_Time],           -- Obsolete (DPP - N)
    NULL AS [EM_Duration_Time],                     -- Obsolete (DPP - N)
    NULL AS [EM_Assessment_Waiting_Time],           -- Obsolete (DPP - N)
    NULL AS [EM_Treatment_Wait_Time],               -- Obsolete (DPP - N)

    ----------------------------------------------------------------------------
    -- Commissioning and Service Agreements
    ----------------------------------------------------------------------------

    m.[commissioning.service_agreement.commissioning_serial_number] AS [Commissioning_Serial_No_Agreement_No],  -- [Commissioning Serial No (Agreement No)]
    m.[commissioning.service_agreement.line_number] AS [NHS_Service_Agreement_Line_No],                        -- [NHS Service Agreement Line No]
    m.[commissioning.service_agreement.provider_reference_number] AS [Provider_Reference_No],                  -- [Provider Reference No]
    m.[commissioning.service_agreement.commissioner_reference_number] AS [Commissioner_Reference_No],          -- [Commissioner Reference No]
    m.[commissioning.service_agreement.sha_commissioner] AS [SHA_Commissioner],                                -- Derived (DPP - Y)
    m.[attendance.location.sha_provider] AS [SHA_Provider],                                                    -- Derived (DPP - Y)
    m.[system.record.provider] AS [Organisation_Code_Code_of_Provider],                                        -- [Organisation Code (Code of Provider)]
    m.[attendance.location.site] AS [Provider_Site_Code],                                                      -- [Provider Site Code]
    m.[system.record.commissioner] AS [Organisation_Code_Code_of_Commissioner],                                -- [Organisation Code (Code of Commissioner)]
    m.[commissioning.service_agreement.commissioner] AS [Commissioner_Code_Original_Data],                     -- Submitted (DPP - Y)
    NULL AS [Commissioner_Site_Code],                                                                          -- Obsolete (DPP - Y)
    NULL AS [PCT_Derived_from_GP],                                                                             -- Obsolete (DPP - Y)
    m.[patient.gp_registration.responsible_ccg_from_general_practice] AS [PCT_Derived_from_GP_Practice],       -- Derived (DPP - Y)
    NULL AS [GP_Practice_Derived_from_PDS],                                                                    -- Derived (DPP - Y)
    NULL AS [Organisation_Code_Type_Provider],                                                                 -- Obsolete (DPP - N)
    m.[commissioning.service_agreement.provider] AS [Provider_Code_Original_Data],                             -- Submitted (DPP - N)
    NULL AS [Organisation_Code_Type_Commissioner],                                                             -- Obsolete (DPP - N)
    NULL AS [GP_PCT_Type_Derived],                                                                             -- Obsolete (DPP - N)
    NULL AS [Registered_GMP_Code],                                                                             -- Obsolete (DPP - Y)

    m.[patient.gp_registration.general_practitioner] AS [Registered_GMP_Code_Original_Data],             -- re-labeled if needed
    m.[patient.gp_registration.general_practice] AS [GP_Practice_Code_Original_Data],                    -- re-labeled

    ISNULL(m.[patient.gp_registration.pds_general_practice], m.[patient.gp_registration.general_practice]) AS [GP_Practice_Code], 
      -- [GP Practice Code] derived

    NULL AS [GP_Consortium_Code],            -- Obsolete (DPP - Y)
    NULL AS [GP_Code_Type],                  -- Obsolete (DPP - N)
    NULL AS [Organisation_Code_GP],          -- Obsolete (DPP - N)
    NULL AS [Organisation_Code_Type_GP],     -- Obsolete (DPP - N)
    NULL AS [First_GP_Organisation_Code],    -- Obsolete (DPP - N)
    NULL AS [SHA_from_GP_Derived],           -- Obsolete (DPP - N)
    NULL AS [SHA_Type_from_GP_Derived],      -- Obsolete (DPP - N)
    NULL AS [Spell_Version_As_At_Date_And_Time], -- Obsolete (DPP - Y)

    ----------------------------------------------------------------------------
    -- National Pricing / Tariff
    ----------------------------------------------------------------------------

    m.[commissioning.national_pricing.costing_period] AS [Applicable_Costing_Period],  -- Derived (DPP - Y)
    NULL AS [PbR_Spell_Status_Indicator],    -- Obsolete (DPP - Y)
    NULL AS [PbR_Spell_Frozen_Indicator],    -- Obsolete (DPP - Y)
    NULL AS [HRG_Code_Submitted],            -- Obsolete (DPP - Y)
    NULL AS [HRG_Code_Version_Submitted],    -- Obsolete (DPP - Y)

    m.[commissioning.grouping.health_resource_group] AS [Core_HRG], -- Derived (DPP - Y)
    m.[commissioning.grouping.grouper_version] AS [HRG_Code_Version_Calculated],  -- Derived (DPP - Y)

    NULL AS [HRG_Dominant_Grouping_Variable],            -- Obsolete (DPP - N)
    NULL AS [HRG_Dominant_Grouping_Variable_Procedure],  -- Derived (DPP - N)
    NULL AS [HRG_Procedure_Scheme],                     -- Obsolete (DPP - N)

    ----------------------------------------------------------------------------
    -- Diagnosis Info (Schemes)
    ----------------------------------------------------------------------------

    NULL AS [Diagnosis_Scheme_In_Use],     -- Submitted (DPP - Y)
    NULL AS [ICD_10_Primary_Diagnosis],    -- Submitted (DPP - Y)

    ----------------------------------------------------------------------------
    -- Secondary Diagnosis Placeholders
    ----------------------------------------------------------------------------

    --NULL AS [Secondary_Diagnosis_Code_1],  -- Submitted (DPP - N)
    --NULL AS [Secondary_Diagnosis_Code_2],
    --NULL AS [Secondary_Diagnosis_Code_3],
    --NULL AS [Secondary_Diagnosis_Code_4],
    --NULL AS [Secondary_Diagnosis_Code_5],
    --NULL AS [Secondary_Diagnosis_Code_6],
    --NULL AS [Secondary_Diagnosis_Code_7],
    --NULL AS [Secondary_Diagnosis_Code_8],
    --NULL AS [Secondary_Diagnosis_Code_9],
    --NULL AS [Secondary_Diagnosis_Code_10],
    --NULL AS [Secondary_Diagnosis_Code_11],
    --NULL AS [Secondary_Diagnosis_Code_12],

    --diag1.equivalent_ae_code AS [EM_Diagnosis_First],   -- [EM Diagnosis First]
    --diag2.equivalent_ae_code AS [EM_Diagnosis_Second_1],
    --diag3.equivalent_ae_code AS [EM_Diagnosis_Second_2],
    --diag4.equivalent_ae_code AS [EM_Diagnosis_Second_3],
    --diag5.equivalent_ae_code AS [EM_Diagnosis_Second_4],
    --diag6.equivalent_ae_code AS [EM_Diagnosis_Second_5],
    --diag7.equivalent_ae_code AS [EM_Diagnosis_Second_6],
    --diag8.equivalent_ae_code AS [EM_Diagnosis_Second_7],
    --diag9.equivalent_ae_code AS [EM_Diagnosis_Second_8],
    --diag10.equivalent_ae_code AS [EM_Diagnosis_Second_9],
    --diag11.equivalent_ae_code AS [EM_Diagnosis_Second_10],
    --diag12.equivalent_ae_code AS [EM_Diagnosis_Second_11],
    --diag13.equivalent_ae_code AS [EM_Diagnosis_Second_12],

    NULL AS [Diagnosis_Type],  -- Obsolete (DPP - Y)

    ----------------------------------------------------------------------------
    -- Investigation Schemes
    ----------------------------------------------------------------------------

    NULL AS [Investigation_Scheme_In_Use],  -- Submitted (DPP - Y)

    --inv1.equivalent_ae_code AS [EM_Investigation_First],    -- [EM Investigation First]
    --inv2.equivalent_ae_code AS [EM_Investigation_Second_1],
    --inv3.equivalent_ae_code AS [EM_Investigation_Second_2],
    --inv4.equivalent_ae_code AS [EM_Investigation_Second_3],
    --inv5.equivalent_ae_code AS [EM_Investigation_Second_4],
    --inv6.equivalent_ae_code AS [EM_Investigation_Second_5],
    --inv7.equivalent_ae_code AS [EM_Investigation_Second_6],
    --inv8.equivalent_ae_code AS [EM_Investigation_Second_7],
    --inv9.equivalent_ae_code AS [EM_Investigation_Second_8],
    --inv10.equivalent_ae_code AS [EM_Investigation_Second_9],
    --inv11.equivalent_ae_code AS [EM_Investigation_Second_10],
    --inv12.equivalent_ae_code AS [EM_Investigation_Second_11],
    --inv13.equivalent_ae_code AS [EM_Investigation_Second_12],

    ----------------------------------------------------------------------------
    -- Procedure / Treatment Schemes
    ----------------------------------------------------------------------------

    NULL AS [Procedure_Scheme_In_Use],  -- Submitted (DPP - Y)

    --treat1.equivalent_ae_code AS [EM_Treatment_First],               -- [EM Treatment First]
    --CONVERT(VARCHAR(8), treat1.date, 112) AS [Procedure_Date_of_First_Treatment], -- [PROCEDURE DATE (of First Treatment)]

    --treat2.equivalent_ae_code AS [EM_Treatment_Second_1],
    --CONVERT(VARCHAR(8), treat2.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_1],

    --treat3.equivalent_ae_code AS [EM_Treatment_Second_2],
    --CONVERT(VARCHAR(8), treat3.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_2],

    --treat4.equivalent_ae_code AS [EM_Treatment_Second_3],
    --CONVERT(VARCHAR(8), treat4.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_3],

    --treat5.equivalent_ae_code AS [EM_Treatment_Second_4],
    --CONVERT(VARCHAR(8), treat5.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_4],

    --treat6.equivalent_ae_code AS [EM_Treatment_Second_5],
    --CONVERT(VARCHAR(8), treat6.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_5],

    --treat7.equivalent_ae_code AS [EM_Treatment_Second_6],
    --CONVERT(VARCHAR(8), treat7.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_6],

    --treat8.equivalent_ae_code AS [EM_Treatment_Second_7],
    --CONVERT(VARCHAR(8), treat8.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_7],

    --treat9.equivalent_ae_code AS [EM_Treatment_Second_8],
    --CONVERT(VARCHAR(8), treat9.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_8],

    --treat10.equivalent_ae_code AS [EM_Treatment_Second_9],
    --CONVERT(VARCHAR(8), treat10.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_9],

    --treat11.equivalent_ae_code AS [EM_Treatment_Second_10],
    --CONVERT(VARCHAR(8), treat11.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_10],

    --treat12.equivalent_ae_code AS [EM_Treatment_Second_11],
    --CONVERT(VARCHAR(8), treat12.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_11],

    --treat13.equivalent_ae_code AS [EM_Treatment_Second_12],
    --CONVERT(VARCHAR(8), treat13.date, 112) AS [Procedure_Date_of_Subsequent_Treatments_12],

    --NULL AS [PRIMARY_PROCEDURE],        -- Submitted (DPP - N)
    --NULL AS [Primary_Procedure_Date],   -- Submitted (DPP - N)
    --NULL AS [Secondary_Procedure_Code_1],  -- more placeholders
    --NULL AS [Secondary_Procedure_Date_1],
    --NULL AS [Secondary_Procedure_Code_2],
    --NULL AS [Secondary_Procedure_Date_2],
    --NULL AS [Secondary_Procedure_Code_3],
    --NULL AS [Secondary_Procedure_Date_3],
    --NULL AS [Secondary_Procedure_Code_4],
    --NULL AS [Secondary_Procedure_Date_4],
    --NULL AS [Secondary_Procedure_Code_5],
    --NULL AS [Secondary_Procedure_Date_5],
    --NULL AS [Secondary_Procedure_Code_6],
    --NULL AS [Secondary_Procedure_Date_6],
    --NULL AS [Secondary_Procedure_Code_7],
    --NULL AS [Secondary_Procedure_Date_7],
    --NULL AS [Secondary_Procedure_Code_8],
    --NULL AS [Secondary_Procedure_Date_8],
    --NULL AS [Secondary_Procedure_Code_9],
    --NULL AS [Secondary_Procedure_Date_9],
    --NULL AS [Secondary_Procedure_Code_10],
    --NULL AS [Secondary_Procedure_Date_10],
    --NULL AS [Secondary_Procedure_Code_11],
    --NULL AS [Secondary_Procedure_Date_11],
    --NULL AS [Secondary_Procedure_Code_12],
    --NULL AS [Secondary_Procedure_Date_12],

    ----------------------------------------------------------------------------
    -- Department Type, Tariffs, Etc.
    ----------------------------------------------------------------------------

    NULL AS [Derived_EM_Department_Type],               -- Obsolete (DPP - Y)
    m.[attendance.location.department_type] AS [EM_Department_Type],  -- Submitted (DPP - Y)
    NULL AS [EM_Department_Type_MIU_Indicator_Derived], -- Obsolete (DPP - Y)

    m.[commissioning.national_pricing.tariff] AS [Tariff_Initial_Amount_National], 
      -- Derived (DPP - Y)

    NULL AS [Tariff_Financial_Adjustment_National],         -- Obsolete
    NULL AS [Tariff_Adjustment_Future_Use_1_National],      -- Obsolete
    NULL AS [Tariff_Adjustment_Future_Use_2_National],      -- Obsolete

    m.[commissioning.national_pricing.tariff] AS [Tariff_Pre_MFF_Adjusted_National], -- Derived
    m.[commissioning.national_pricing.market_forces_factor] AS [Applied_MFF_National], -- Derived
    m.[commissioning.national_pricing.market_forces_adjustment] AS [MFF_Adjustment],   -- Derived
    (m.[commissioning.national_pricing.tariff] + m.[commissioning.national_pricing.market_forces_adjustment]) AS [Tariff_Total_Payment_National],
      -- Derived (DPP - Y)

    NULL AS [EM_Tariff_ID],              -- Obsolete (DPP - N)
    NULL AS [Market_Forces_Factor_ID],   -- Obsolete (DPP - N)
    NULL AS [Tariff_Initial_Amount_Non_Mandatory],  -- Obsolete (DPP - Y)
    NULL AS [Tariff_Financial_Adjustment_Non_Mandatory],  -- Obsolete
    NULL AS [Tariff_Adjustment_Future_Use_1_Non_Mandatory], -- Obsolete
    NULL AS [Tariff_Adjustment_Future_Use_2_Non_Mandatory], -- Obsolete
    NULL AS [Tariff_Pre_MFF_Adjusted_Non_Mandatory],        -- Obsolete
    NULL AS [Applied_MFF_Non_Mandatory],                    -- Obsolete
    NULL AS [MFF_Adjustment_Non_Mandatory],                 -- Obsolete
    NULL AS [Tariff_Total_Payment_Non_Mandatory],           -- Obsolete
    NULL AS [Tarrif_Initial_Amount_Local],                  -- Obsolete
    NULL AS [Tariff_Total_Payment_Local],                   -- Obsolete

    m.[commissioning.national_pricing.final_price] AS [PbR_Final_Tariff],   -- Derived (DPP - Y)
    m.[commissioning.national_pricing.tariff_description] AS [Final_Tariff_Applied], -- Derived (DPP - Y)

    CASE WHEN max1.Num_Diag IS NULL THEN 0 ELSE max1.Num_Diag END AS [Number_Diagnosis],  
      -- was "case when max1.Num_Diag is null then 0 else max1.Num_Diag end AS [Number Diagnosis]"

    0 AS [Number_Procedures],  -- was "0 AS [Number Procedures]"  -- Derived (DPP - Y)

    CASE WHEN max2.Num_Inv IS NULL THEN 0 ELSE max2.Num_Inv END AS [Number_EM_Investigations],
    CASE WHEN max3.Num_Treat IS NULL THEN 0 ELSE max3.Num_Treat END AS [Number_EM_Treatments],

    m.[system.record.sender] AS [Organisation_Code_Sender],  -- was "m.[system.record.sender]"  -- Submitted (DPP - Y)

    CONVERT(VARCHAR(8), m.[system.interchange.received_date], 112) AS [Staging_Loaded_Date],  -- was "CONVERT(VARCHAR(8),m.[system.interchange.received_date],112)"  -- Derived (DPP - Y)

    m.[system.transaction.cds_protocol_identifier] AS [Protocol_Identifier],  -- was "m.[system.transaction.cds_protocol_identifier]" -- Submitted
    m.[system.transaction.cds_unique_identifier]  AS [Unique_CDS_Identifier],           -- re-labeled if needed

    CONVERT(VARCHAR(8), m.[system.transaction.cds_applicable_date], 112) AS [Applicable_Date_and_Time],  -- [Applicable Date and Time]
    CONVERT(VARCHAR(8), m.[system.transaction.cds_extract_date], 112) AS [Extract_Date],                  -- [Extract Date]
    CONVERT(VARCHAR(8), m.[system.transaction.cds_report_period_start_date], 112) AS [Report_Period_Start_Date], 
    CONVERT(VARCHAR(8), m.[system.transaction.cds_report_period_end_date],   112) AS [Report_Period_End_Date],

    NULL AS [Organisation_Code_Type_Sender],          -- Obsolete
    NULL AS [Match_Criterion_Indicator],              -- Obsolete
    NULL AS [Cost_Period_Spell_Status_Indicator],     -- Obsolete
    NULL AS [Costed_Indicator],                       -- Obsolete
    NULL AS [Costing_Batch_Sequence],                 -- Obsolete
    NULL AS [Current_Period_Number],                  -- Obsolete

    m.[system.record.finished_indicator] AS [Finished_Indicator],  -- Derived (DPP - N)

    NULL AS [HES_Identifier],                 -- Obsolete
    NULL AS [Intended_Procedure_Status],      -- Obsolete
    m.[system.interchange.identifier] AS [Interchange_ID],  -- was "m.[system.interchange.identifier]"  -- Derived (DPP - N)
    NULL AS [Attendance_Location_Class],      -- Obsolete
    NULL AS [Location_Type_Code],            -- Submitted (DPP - N)
    m.[attendance.location.site] AS [Attendance_Site_Code], -- [Attendance Site Code]
    m.[system.record.prime_recipient] AS [Prime_Recipient], -- [Prime Recipient]

    NULL AS [Organisation_Code_Type_Prime_Recipient], -- Obsolete
    NULL AS [Organisation_Code_Type_Location],        -- Obsolete
    NULL AS [Other_Indicator],                       -- Obsolete
    NULL AS [PbR_Generated_Interchange_ID],          -- Obsolete
    NULL AS [Spell_Const_Version_No],                -- Obsolete
    NULL AS [PbR_Spell_Cost_ID],                     -- Obsolete
    NULL AS [PbR_Spell_Cost_Version_Date],           -- Obsolete

    m.[attendance.location.postcode_district] AS [Provider_Location],  -- Derived (DPP - N)

    NULL AS [Record_Extraction_Indicator],     -- Obsolete
    NULL AS [Re_costing_Requested_Flag],       -- Obsolete
    NULL AS [Referrer_Code_Type],             -- Obsolete
    NULL AS [Organisation_Code_Type_Referrer], -- Obsolete
    NULL AS [First_Referrer_Organisation_Code],-- Obsolete
    NULL AS [Spell_Complete_Indicator],       -- Obsolete
    NULL AS [Temporary_Cost_Period_Status],   -- Obsolete
    NULL AS [Test_Indicator],                -- Obsolete

    m.[system.transaction.cds_update_type] AS [Update_Type], -- Submitted (DPP - N)

    NULL AS [Version_Sequence_Number],  -- Obsolete
    NULL AS [Maximum_Episode_Date],     -- Obsolete
    NULL AS [Hierarchy],                -- Obsolete
    NULL AS [PbR_Spell_Service_ID_Version], -- Obsolete
    NULL AS [Spell_Error_Status],       -- Obsolete

    NULL AS [Spare_1], -- Submitted (DPP - Y)
    NULL AS [Spare_2], -- Unknown (DPP - Y)
    NULL AS [Spare_3], -- Unknown (DPP - Y)
    NULL AS [Spare_4], -- Unknown (DPP - Y)
    NULL AS [Spare_5], -- Unknown (DPP - Y)

    CAST(m.[commissioning.grouping.grouper_version] AS VARCHAR(8)) AS [Grouping_Algorithm_Version],  -- Derived (DPP - Y)

    NULL AS [Grouping_Reference_Data_Version],  -- Obsolete
    NULL AS [Grouping_HRG_Version],             -- Obsolete

    m.[system.interchange.schema_version] AS [CDS_Schema_Version],  -- [CDS Schema Version]

    CAST(
      LEFT(CONVERT(VARCHAR(10), m.[system.report.query_date], 112),4)
      + SUBSTRING(CONVERT(VARCHAR(10), m.[system.report.query_date], 112), 5,2)
      + RIGHT(CONVERT(VARCHAR(10), m.[system.report.query_date], 112),2)
      + LEFT(m.[system.report.query_time],2)
      + SUBSTRING(m.[system.report.query_time],4,2)
      + RIGHT(m.[system.report.query_time],2)
      AS VARCHAR(14)
    ) AS [Query_Date],

    m.[system.report.query_identifier] AS [Unique_Query_Id],  -- Derived (DPP - Y)

    --cr1.copy_recipients 
    --  + CASE WHEN cr2.copy_recipients IS NULL THEN '' ELSE ' ' + cr2.copy_recipients END
    --  + CASE WHEN cr3.copy_recipients IS NULL THEN '' ELSE ' ' + cr3.copy_recipients END
    --  + CASE WHEN cr4.copy_recipients IS NULL THEN '' ELSE ' ' + cr4.copy_recipients END
    --  + CASE WHEN cr5.copy_recipients IS NULL THEN '' ELSE ' ' + cr5.copy_recipients END
    --  + CASE WHEN cr6.copy_recipients IS NULL THEN '' ELSE ' ' + cr6.copy_recipients END
    --  + CASE WHEN cr7.copy_recipients IS NULL THEN '' ELSE ' ' + cr7.copy_recipients END
    --  + CASE WHEN cr8.copy_recipients IS NULL THEN '' ELSE ' ' + cr8.copy_recipients END
    --  AS [Copy_Recipients],

    NULL AS [Derived_Commissioner],       -- Derived
    NULL AS [Derived_Commissioner_Type],   -- Derived
	--Derived and unmapped
	'Unified SUS ECDS' AS [dv_Extract_Type],
	[system.report.query_identifier] AS dv_Query_ID,
	REPLACE(dt.FiscalCalendarYearName,'-','/20') AS [dv_FinYear],  --Financial Year
    dt.FiscalCalendarMonthNumber AS [dv_FinMonth], -- Financial Month
	--NULL AS dv_Activity_Period_Date,
	m.[attendance.initial_assessment.date] AS dv_EM_Initial_Assessment_Date,
	m.[attendance.seen_for_treatment.date] AS dv_EM_Date_Seen_for_Treatment,
	m.[attendance.conclusion.date] AS dv_EM_Attendance_Conclusion_Date,
	m.[attendance.departure.date] AS EM_Departure_Date,
	NULL AS dv_EM_Conclusion_Waiting_Time,
	NULL AS dv_EM_Treatment_Wait_Time,
	NULL AS DW_NHS_Number,
	NULL AS CCG_NHS_Number,
	[patient.usual_address.lsoa_11] AS dv_LSOA, -- is this right?
	NULL AS dv_CCAM_SWL,
	NULL AS dv_Commissioner_Code_of_Residence,
	NULL AS dv_Purchaser_ID,
	NULL AS dv_Contract_Suffix,
	NULL AS dv_CostMethodDescription,
	NULL AS dv_HRG,
	NULL AS dv_Local_Cost_Code,
	NULL AS dv_Reason_for_Difference,
	NULL AS dv_IsPBR,
	NULL AS dv_Base_Cost,
	NULL AS dv_MFF_Index_Applied,
	NULL AS dv_Total_Cost_Inc_MFF

FROM [Data_Store_SUS_Unified].[ECDS].[emergency_care] m (NOLOCK)
LEFT JOIN [Dictionary].[dbo].[Dates] dt (NOLOCK) on m.[attendance.departure.date] = dt.FullDate
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[commissioning.national_pricing.exclusion_reasons] exclusion_reasons (NOLOCK)
--    ON m.PRIMARYKEY_ID = exclusion_reasons.PRIMARYKEY_ID
--   AND exclusion_reasons.ROWNUMBER_ID = 1

-- If rfa / padded or other tables are needed, 
-- left join them as well, e.g.:
-- LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[some_table] rfa ON ...
-- LEFT JOIN [SUS_Live].[dbo].[PaddedPostCode_DK](...) padded ON ...

-- Diagnoses SNOMED
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag1  ON m.PRIMARYKEY_ID = diag1.PRIMARYKEY_ID  AND diag1.SNOMED_ID = 1
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag2  ON m.PRIMARYKEY_ID = diag2.PRIMARYKEY_ID  AND diag2.SNOMED_ID = 2
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag3  ON m.PRIMARYKEY_ID = diag3.PRIMARYKEY_ID  AND diag3.SNOMED_ID = 3
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag4  ON m.PRIMARYKEY_ID = diag4.PRIMARYKEY_ID  AND diag4.SNOMED_ID = 4
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag5  ON m.PRIMARYKEY_ID = diag5.PRIMARYKEY_ID  AND diag5.SNOMED_ID = 5
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag6  ON m.PRIMARYKEY_ID = diag6.PRIMARYKEY_ID  AND diag6.SNOMED_ID = 6
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag7  ON m.PRIMARYKEY_ID = diag7.PRIMARYKEY_ID  AND diag7.SNOMED_ID = 7
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag8  ON m.PRIMARYKEY_ID = diag8.PRIMARYKEY_ID  AND diag8.SNOMED_ID = 8
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag9  ON m.PRIMARYKEY_ID = diag9.PRIMARYKEY_ID  AND diag9.SNOMED_ID = 9
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag10 ON m.PRIMARYKEY_ID = diag10.PRIMARYKEY_ID AND diag10.SNOMED_ID = 10
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag11 ON m.PRIMARYKEY_ID = diag11.PRIMARYKEY_ID AND diag11.SNOMED_ID = 11
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag12 ON m.PRIMARYKEY_ID = diag12.PRIMARYKEY_ID AND diag12.SNOMED_ID = 12
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] diag13 ON m.PRIMARYKEY_ID = diag13.PRIMARYKEY_ID AND diag13.SNOMED_ID = 13

---- Investigations SNOMED
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv1  ON m.PRIMARYKEY_ID = inv1.PRIMARYKEY_ID  AND inv1.SNOMED_ID = 1
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv2  ON m.PRIMARYKEY_ID = inv2.PRIMARYKEY_ID  AND inv2.SNOMED_ID = 2
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv3  ON m.PRIMARYKEY_ID = inv3.PRIMARYKEY_ID  AND inv3.SNOMED_ID = 3
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv4  ON m.PRIMARYKEY_ID = inv4.PRIMARYKEY_ID  AND inv4.SNOMED_ID = 4
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv5  ON m.PRIMARYKEY_ID = inv5.PRIMARYKEY_ID  AND inv5.SNOMED_ID = 5
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv6  ON m.PRIMARYKEY_ID = inv6.PRIMARYKEY_ID  AND inv6.SNOMED_ID = 6
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv7  ON m.PRIMARYKEY_ID = inv7.PRIMARYKEY_ID  AND inv7.SNOMED_ID = 7
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv8  ON m.PRIMARYKEY_ID = inv8.PRIMARYKEY_ID  AND inv8.SNOMED_ID = 8
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv9  ON m.PRIMARYKEY_ID = inv9.PRIMARYKEY_ID  AND inv9.SNOMED_ID = 9
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv10 ON m.PRIMARYKEY_ID = inv10.PRIMARYKEY_ID AND inv10.SNOMED_ID = 10
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv11 ON m.PRIMARYKEY_ID = inv11.PRIMARYKEY_ID AND inv11.SNOMED_ID = 11
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv12 ON m.PRIMARYKEY_ID = inv12.PRIMARYKEY_ID AND inv12.SNOMED_ID = 12
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] inv13 ON m.PRIMARYKEY_ID = inv13.PRIMARYKEY_ID AND inv13.SNOMED_ID = 13

---- Treatments SNOMED
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat1  ON m.PRIMARYKEY_ID = treat1.PRIMARYKEY_ID  AND treat1.SNOMED_ID = 1
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat2  ON m.PRIMARYKEY_ID = treat2.PRIMARYKEY_ID  AND treat2.SNOMED_ID = 2
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat3  ON m.PRIMARYKEY_ID = treat3.PRIMARYKEY_ID  AND treat3.SNOMED_ID = 3
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat4  ON m.PRIMARYKEY_ID = treat4.PRIMARYKEY_ID  AND treat4.SNOMED_ID = 4
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat5  ON m.PRIMARYKEY_ID = treat5.PRIMARYKEY_ID  AND treat5.SNOMED_ID = 5
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat6  ON m.PRIMARYKEY_ID = treat6.PRIMARYKEY_ID  AND treat6.SNOMED_ID = 6
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat7  ON m.PRIMARYKEY_ID = treat7.PRIMARYKEY_ID  AND treat7.SNOMED_ID = 7
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat8  ON m.PRIMARYKEY_ID = treat8.PRIMARYKEY_ID  AND treat8.SNOMED_ID = 8
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat9  ON m.PRIMARYKEY_ID = treat9.PRIMARYKEY_ID  AND treat9.SNOMED_ID = 9
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat10 ON m.PRIMARYKEY_ID = treat10.PRIMARYKEY_ID AND treat10.SNOMED_ID = 10
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat11 ON m.PRIMARYKEY_ID = treat11.PRIMARYKEY_ID AND treat11.SNOMED_ID = 11
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat12 ON m.PRIMARYKEY_ID = treat12.PRIMARYKEY_ID AND treat12.SNOMED_ID = 12
--LEFT OUTER JOIN [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] treat13 ON m.PRIMARYKEY_ID = treat13.PRIMARYKEY_ID AND treat13.SNOMED_ID = 13

-- Aggregated Queries for Diagnoses / Investigations / Treatments
LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Diag
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.diagnoses.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max1 ON max1.PRIMARYKEY_ID = m.PRIMARYKEY_ID

LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Inv
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.investigations.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max2 ON max2.PRIMARYKEY_ID = m.PRIMARYKEY_ID

LEFT JOIN (
    SELECT PRIMARYKEY_ID, MAX(SNOMED_ID) AS Num_Treat
    FROM [Data_Store_SUS_Unified].[ECDS].[clinical.treatments.snomed] (NOLOCK)
    GROUP BY PRIMARYKEY_ID
) max3 ON max3.PRIMARYKEY_ID = m.PRIMARYKEY_ID

-- If copy_recipients are needed:
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr1 ON m.PRIMARYKEY_ID = cr1.PRIMARYKEY_ID AND cr1.COPY_RECIPIENTS_ID = 1
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr2 ON m.PRIMARYKEY_ID = cr2.PRIMARYKEY_ID AND cr2.COPY_RECIPIENTS_ID = 2
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr3 ON m.PRIMARYKEY_ID = cr3.PRIMARYKEY_ID AND cr3.COPY_RECIPIENTS_ID = 3
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr4 ON m.PRIMARYKEY_ID = cr4.PRIMARYKEY_ID AND cr4.COPY_RECIPIENTS_ID = 4
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr5 ON m.PRIMARYKEY_ID = cr5.PRIMARYKEY_ID AND cr5.COPY_RECIPIENTS_ID = 5
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr6 ON m.PRIMARYKEY_ID = cr6.PRIMARYKEY_ID AND cr6.COPY_RECIPIENTS_ID = 6
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr7 ON m.PRIMARYKEY_ID = cr7.PRIMARYKEY_ID AND cr7.COPY_RECIPIENTS_ID = 7
--LEFT JOIN [Data_Store_SUS_Unified].[ECDS].[system.record.copy_recipients] cr8 ON m.PRIMARYKEY_ID = cr8.PRIMARYKEY_ID AND cr8.COPY_RECIPIENTS_ID = 8


	)

	SELECT  [SK_EncounterID]
      ,[dv_Extract_Type]
      ,[dv_Query_ID]
      ,[dv_FinYear]
      ,[dv_FinMonth]
      ,[dv_Activity_Period_Date]
      ,[CDS_Record_Type]
      ,[Generated_Record_ID]
      ,Attendance_Identifier
      ,[Unique_CDS_Identifier]
      ,[EM_Attendance_Number]
      ,[Arrival_Date]
      ,[Arrival_Time]
      ,[EM_Referral_Source]
      ,[EM_Mode_of_Arrival]
      ,[EM_Department_Type]
      ,[EM_Attendance_Category]
      ,[EM_Incident_Location_Type]
      ,[EM_Patient_Group]
      ,[EM_Staff_Member_Code]
      ,[dv_EM_Initial_Assessment_Date]
      ,[EM_Initial_Assessment_Time]
      ,[EM_Time_Seen_for_Treatment]
      ,[dv_EM_Date_Seen_for_Treatment]
      ,[dv_EM_Attendance_Conclusion_Date]
      ,[EM_Attendance_Conclusion_Time]
      ,[EM_Attendance_Disposal]
      ,[EM_Departure_Date]
      ,[EM_Departure_Time]
      ,[dv_EM_Conclusion_Waiting_Time]
      ,[EM_Duration_Time]
      ,[dv_EM_Treatment_Wait_Time]
      ,[Number_Diagnosis]
      ,[Number_Procedures]
      ,[SK_PatientID]
      ,[DW_NHS_Number]
      ,[CCG_NHS_Number]
      ,[Local_Patient_Identifier]
      ,[Carer_Support_Indicator]
      ,[Ethnic_Category_Code]
      ,[Age_At_CDS_Activity_Date]
      ,[Gender_Code]
      ,[Postcode_of_Usual_Address]
      ,[dv_LSOA]
      ,[Registered_GMP_Code_Original_Data]
      ,[GP_Practice_Code]
      ,[GP_Practice_Code_Original_Data]
      ,[Provider_Reference_No]
      ,[Commissioner_Reference_No]
      ,[Commissioning_Serial_No_Agreement_No]
      ,[NHS_Service_Agreement_Line_No]
      ,[Organisation_Code_Code_of_Provider]
      ,[Provider_Site_Code]
      ,[Organisation_Code_Code_of_Commissioner]
      ,[Organisation_Code_PCT_of_Residence]
      ,[PCT_Derived_from_GP_Practice]
      ,[Patient_Postcode_Derived_PCT]
      ,[PCT_of_Residence_Original]
      ,[PCT_Responsible]
      ,[dv_CCAM_SWL]
      ,[dv_Commissioner_Code_of_Residence]
      ,[dv_Purchaser_ID]
      ,[dv_Contract_Suffix]
      ,[dv_CostMethodDescription]
      ,[Core_HRG]
      ,[dv_HRG]
      ,[dv_Local_Cost_Code]
      ,[dv_Reason_for_Difference]
      ,[dv_IsPBR]
      ,[dv_Base_Cost]
      ,[dv_MFF_Index_Applied]
      ,[Tariff_Initial_Amount_National]
      ,[Tariff_Pre_MFF_Adjusted_National]
      ,[Applied_MFF_National]
      ,[Tariff_Total_Payment_National]
      ,[PBR_Final_Tariff]
      ,[dv_Total_Cost_Inc_MFF]
	  ,CASE
                WHEN TRY_CAST([Arrival_Date] AS DATE) IS NOT NULL AND TRY_CAST([Arrival_Time] AS TIME) IS NOT NULL
                THEN CAST([Arrival_Date] AS DATETIME) + CAST([Arrival_Time] AS DATETIME)
                ELSE NULL
            END AS dv_AE_Arrival_DateTime
		, CASE
                WHEN TRY_CAST([EM_Departure_Date] AS DATE) IS NOT NULL AND TRY_CAST([EM_Departure_Time] AS TIME) IS NOT NULL
                THEN CAST([EM_Departure_Date] AS DATETIME) + CAST([EM_Departure_Time] AS DATETIME)
                ELSE NULL
            END AS dv_AE_Departure_DateTime
      --,[EM_Diagnosis_First]
      --,[EM_Diagnosis_Second_1]
      --,[EM_Diagnosis_Second_2]
      --,[EM_Diagnosis_Second_3]
      --,[EM_Diagnosis_Second_4]
      --,[EM_Diagnosis_Second_5]
      --,[EM_Diagnosis_Second_6]
      --,[EM_Diagnosis_Second_7]
      --,[EM_Diagnosis_Second_8]
      --,[EM_Diagnosis_Second_9]
      --,[EM_Diagnosis_Second_10]
      --,[EM_Diagnosis_Second_11]
      --,[EM_Diagnosis_Second_12]
      --,[EM_Investigation_First]
      --,[EM_Investigation_Second_1]
      --,[EM_Investigation_Second_2]
      --,[EM_Investigation_Second_3]
      --,[EM_Investigation_Second_4]
      --,[EM_Investigation_Second_5]
      --,[EM_Investigation_Second_6]
      --,[EM_Investigation_Second_7]
      --,[EM_Investigation_Second_8]
      --,[EM_Investigation_Second_9]
      --,[EM_Investigation_Second_10]
      --,[EM_Investigation_Second_11]
      --,[EM_Investigation_Second_12]
      --,[EM_Treatment_First]
      --,[EM_Treatment_Second_1]
      --,[EM_Treatment_Second_2]
      --,[EM_Treatment_Second_3]
      --,[EM_Treatment_Second_4]
      --,[EM_Treatment_Second_5]
      --,[EM_Treatment_Second_6]
      --,[EM_Treatment_Second_7]
      --,[EM_Treatment_Second_8]
      --,[EM_Treatment_Second_9]
      --,[EM_Treatment_Second_10]
      --,[EM_Treatment_Second_11]
      --,[EM_Treatment_Second_12]
  FROM data
GO
