USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_Admissions]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*
25-06-2025  Sridhar Peddi  Amended the View to point to the Materialised Unified SUS IP table

*/
CREATE VIEW [Unified].[vw_Admissions]
AS
With Data as (
SELECT 
  'IP' AS Dataset,
  [dv_FinYear],
  [dv_FinMonth],
  CASE
    WHEN Gender_Code IN (2) THEN 'Female'
    WHEN Gender_Code IN (1) THEN 'Male'
    ELSE 'NotKnown'
  END AS Gender,
  Treatment_Function_Code,
  [SpecialtyName],
  Treatment_Function_Code + ' - ' + [SpecialtyName] as [SpecialtyName2],
  NULL AS Clinic_Code,
  NULL AS Clinic_Code_Description,
  [Organisation_Code_Code_of_Provider] AS ProviderCode,
  ORG.[Organisation_Name] AS ProviderName,
  [Site_code_of_Treatment_at_start_of_episode] AS ProvderSiteCode,
  --O3.[Organisation_Name] AS ProviderSiteName,
  LEFT(Organisation_Code_Code_Of_Commissioner, 3) AS CommissionerCode,
  LEFT([dv_CCAM_SWL], 3) AS CommissionerCode_CCAM_SWL,
  GP_Practice_Code_Derived,
  --GP_Practice_Code_Derived + ' - ' + O.[Organisation_Name] AS GP_Description,
  Spell_Core_HRG,
  HRGDescription AS HRGDescription,
  HRGChapter,
  HRGSubChapter,
  [Primary_Procedure_Code],
  p.[Description] AS Primary_Procedure_Description,
  [Category] AS Primary_Procedure_Category,
   d.Code as Primary_Diagnosis_Code,
  d.[ShortDescription] AS Primary_Diagnosis_Description,
  d1.[Code] as Secondary_Diagnosis_Code,
  d1.[ShortDescription] AS Secondary_Diagnosis_Description,
  d.[Chapter] AS Primary_Diagnosis_Chapter_Description,
  d.[SubChapter] AS Primary_Diagnosis_SubChapter_Description,
  CASE
    WHEN ([dv_NumberDiagnoses] IS NULL OR
      [dv_NumberDiagnoses] = 0) THEN 'No Diagnoses'
    WHEN ([dv_NumberDiagnoses] IS NOT NULL OR
      [dv_NumberDiagnoses] > 0) THEN 'Diagnoses >= 1'
  END
  +
  ' ' +
  CASE
    WHEN ([dv_NumberProcedures] IS NULL OR
      [dv_NumberProcedures] = 0) THEN 'No Procedures'
    WHEN ([dv_NumberProcedures] IS NOT NULL OR
      [dv_NumberProcedures] > 0) THEN 'Procedures >= 1'
  END

  AS Procedure_Diagnoses_Split,
  '' AS PriorityType,
  '' AS Attendance_Type,
  '' AS Referral_Summary1,
  '' AS Referral_Summary2,
  '' AS Outcome_Of_Attendance,
  ---->>
   [dv_NumberUnbundledHRGs],
  e2.[EthnicityCategory],
  e2.[EthnicityDesc],
  CASE 
	WHEN Admission_Method_Hospital_Provider_Spell in ('11','12','13') AND Patient_Classification in ('1','01') THEN 'EL' 
	WHEN Admission_Method_Hospital_Provider_Spell in ('11','12','13') AND Patient_Classification  in ('2','02')  THEN 'DC' 
	WHEN Admission_Method_Hospital_Provider_Spell in ('11','12','13') AND Patient_Classification in ('3','03') THEN 'RDA'
	WHEN  LEFT([Admission_Method_Hospital_Provider_Spell], 1) IN ('2', '3', '8') AND Patient_Classification in ('1','01') AND  [dv_LengthOfStay_Net] = 0 THEN 'NEL=0'
	WHEN  LEFT([Admission_Method_Hospital_Provider_Spell], 1) IN ('2', '3', '8') AND Patient_Classification in ('1','01') AND  [dv_LengthOfStay_Net] >0  THEN 'NEL>0'
  END AS POD,
  1 AS Activity,
  COALESCE([dv_Total_Cost_Inc_MFF], 0) AS [dv_Total_Cost_Inc_MFF],
  dv_Local_Cost_Code,
  
coalesce(CAST(Primary_Diagnosis_Code AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_1 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_2 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_3 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_4 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_5 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_6 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_7 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_8 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_9 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_10 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_11 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Diagnosis_Code_12 AS varchar(5)),'') as AllDiag,

coalesce(CAST(Primary_Procedure_Code AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_1 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_2 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_3 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_4 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_5 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_6 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_7 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_8 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_9 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_10 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_11 AS varchar(5)),'')+','+
coalesce(CAST(Secondary_Procedure_Code_12 AS varchar(5)),'') as AllProc,

SK_PatientID,
a.[SK_EncounterID],
a.Start_Date_Hospital_Provider_Spell as AdmissionDate,
a.End_Date_Hospital_Provider_Spell as DischargeDate,
a.Hospital_Provider_Spell_No,
[RTT_Period_End_Date],
[RTT_Period_Start_Date],
[dv_RTT_Length_Derived],
dv_LengthOfStay_Net as LOS,
[dv_WardCode_At_Admission], 
	[dv_WardCode_At_Discharge],
	--coalesce(C.[Name],[dv_WardCode_At_Admission])  as AdmissionWard_Description,
	--coalesce(C2.[Name],[dv_WardCode_At_Discharge])  as DischargeWard_Description,
--[dv_NumberUnbundledHRGs],
[End_Date_Hospital_Provider_Spell],
[dv_ExcessBedDays],
[dv_ExcessBedDays_Cost],
[dv_LengthOfStay_Gross],
[dv_LengthOfStay_Net],
[dv_Critical_CareDay_Count],
[Age_At_CDS_Activity_Date],
[dv_LSOACode],
[Patient_Classification],
[Admission_Method_Hospital_Provider_Spell],
  T.TFC_Group,
  left([dv_Activity_Period_Date],6) Month_of_End_of_Spell,
  Organisation_Code_PCT_of_Residence,
  Local_Patient_Identifier,
  Discharge_Destination_Hospital_Provider_Spell,
  dd.DischargeDestinationName,
  a.dv_CDSActivityDate,
  	 EndOfISOWeekDate as WeekEndingDt,
	 ISOWeekOfFiscalYearNumber as WeekNumber,
	coalesce(bh.IsBankholiday,0) as IsBankholiday,
	coalesce(sd.IsStrikeday,0) as IsStrikeday,
	dt.IsWeekend,
	CASE WHEN IsWeekend = 1 then 0 ELSE 1 END as IsWeekday,
	[DayofWeek],
	Administrative_Category_on_Admission,
	Unique_CDS_Identifier,
		 Provider_Type = CASE WHEN LEFT(A.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') then 'SWL Trust'
						 WHEN LEFT(A.Organisation_Code_Code_of_Commissioner,3) IN ('36L','07V','08J','08P','08R','08T','08X') AND (A.Organisation_Code_Code_of_Provider) IN ('NPG00', 'NT3X3', 'NT436', 'NVC01', 'NVC11', 'R0F4N', 'M7C9Q') THEN 'ISP'
						 --ORG.OrganisationPrimaryRole IN ('RO172', 'RO176') 
						 WHEN LEFT(A.Organisation_Code_Code_of_Commissioner,3) IN ('36L','07V','08J','08P','08R','08T','08X') AND  LEFT(A.Organisation_Code_Code_of_Provider, 3) IN ('R1H', 'R1K', 'RA2', 'RAL', 'RAN', 'RDU', 'RJ1', 'RJ2', 'RJZ', 'RP4', 'RP6', 'RQM', 'RRV', 'RTK', 'RTP', 'RY', 'RYR') THEN 'OOS'
						 --ORG.OrganisationPrimaryRole IN ('RO197', 'RO198') THEN 'OOS'
						 ELSE 'Unknown'
					END, EndOfMonthDate
					,Ready_For_Discharge_Date,
	CASE 
		WHEN LEFT(ISNULL([Organisation_Code_Code_of_Commissioner],''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR 
		LEFT(ISNULL(Organisation_Code_PCT_of_Residence,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR
		LEFT(ISNULL(Commissioner_Code_Original_Data,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR
		LEFT(ISNULL(PCT_Derived_from_GP_Practice,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR
		LEFT(ISNULL(Patient_Postcode_Derived_PCT,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR
		LEFT(ISNULL(dv_Commissioner_Code_of_Residence,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') OR
		LEFT(ISNULL(dv_Purchaser_ID,''), 3) in ('36L','07V','08J','08P','08R','08T','08X') THEN 1
		ELSE 0
	END as Is_SWLPatient,	
	CASE 
	when  left(Spell_Core_HRG,2) LIKE 'NZ%' THEN 1 ELSE 0 END AS Is_Maternity,
	SK_EncounterID AS ActivityID,
	[Pbr_Final_Tariff],
	--ERF Related
	Price =CASE WHEN [Combined_Day_Case_Ordinary_Elective_Spell_Tariff] IS NULL THEN 
				--SP 02/08 When there is no Combined Day case use either DC or EL tariff (cataracts for example) 'BZ34[A-C]' 
				CASE WHEN Patient_Classification in ('1','01') THEN Ordinary_Elective_Spell_Tariff WHEN Patient_Classification IN ('2','02') THEN Day_Case_Spell_Tariff  ELSE NULL END
			ELSE [Combined_Day_Case_Ordinary_Elective_Spell_Tariff] END,
    Excess_bed_days = CASE WHEN (Patient_Classification in ('1','01') AND [dv_LengthOfStay_Net] > [Ordinary_Elective_Long_Stay_Trimpoint_Days]) THEN [dv_LengthOfStay_Net] - [Ordinary_Elective_Long_Stay_Trimpoint_Days] ELSE 0 END,
	Per_Day_Long_Stay_Payment_For_Days_Exceeding_Trim_Point as [LongStay_Day_Tariff],
	[dv_MFF_Index_Applied],
	dv_SpecCom_ServiceCode_National_Spell,
	dv_SpecCom_ServiceCode_National_Episode
--INTO SWL.QIPP_IP_SWL_DateRange
--FROM [SUS].[IP].[EncounterDenormalised_DateRange] a
FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[Unified].[vw_IP_EncounterDenormalised_DateRange]*/ a  WITH (NOLOCK)--[CSU_MDT].[IP].[IP_Repriced_1920_Tariff_Denormalised_DateRange] a
--LEFT JOIN [SWL].[Local_Ward] c   ON CAST(c.CODE AS varchar(50)) = [dv_WardCode_At_Admission]
--LEFT JOIN [SWL].[Local_Ward] c2   ON CAST(c2.CODE AS varchar(50)) = [dv_WardCode_At_Discharge]
LEFT JOIN [Dictionary].[dbo].[HRG] h  WITH (NOLOCK)  ON h.HRGCode = A.Spell_Core_HRG
--LEFT JOIN [Dictionary].[dbo].[Organisation] o   ON o.Organisation_Code = A.[GP_Practice_Code_Derived]
LEFT JOIN [Dictionary].[dbo].[Specialties] S  WITH (NOLOCK)  ON S.[BK_SpecialtyCode] = A.Treatment_Function_Code
--LEFT JOIN [Dictionary].[dbo].[Organisation] o2   ON o2.[Organisation_Code] = LEFT(A.[Organisation_Code_Code_Of_Provider], 3)
--LEFT JOIN [Dictionary].[dbo].[Organisation] o3   ON o3.[Organisation_Code] = A.[Site_code_of_Treatment_at_start_of_episode]
LEFT JOIN [Dictionary].[dbo].[Procedure] p   WITH (NOLOCK) ON p.Code = a.[Primary_Procedure_Code]
--LEFT JOIN [Dictionary].[dbo].[Diagnosis] G ON G.[Code] = LEFT(A.[Primary_Diagnosis_Code],4)
-- LEFT JOIN [Dictionary].[dbo].[Procedure] p ON p.[Code] = LEFT(A.[Primary_Procedure_Code],4)
LEFT JOIN [Dictionary].[dbo].[PatientClassification] I  WITH (NOLOCK)  ON I.[BK_PatientClassificationCode] = A.[Patient_Classification]
LEFT JOIN [Dictionary].[dbo].[Diagnosis] d  WITH (NOLOCK)  ON d.[Code] = a.Primary_Diagnosis_Code
LEFT JOIN [Dictionary].[dbo].[Diagnosis] d1   WITH (NOLOCK) ON d1.[Code] = a.[Secondary_Diagnosis_Code_1]

LEFT JOIN [Dictionary].[dbo].[Ethnicity] e   WITH (NOLOCK) ON e.[BK_EthnicityCode] = [Ethnic_Category_Code]
LEFT JOIN [Dictionary].[dbo].[Ethnicity2] e2  WITH (NOLOCK)  ON e2.[SK_EthnicityID] = e.[SK_EthnicityID]
LEFT JOIN [Dictionary].IP.DischargeDestination dd on dd.BK_DischargeDestinationCode = Discharge_Destination_Hospital_Provider_Spell
INNER JOIN [Dictionary].[dbo].[Dates] dt  WITH (NOLOCK) ON a.End_Date_Hospital_Provider_Spell = dt.FullDate --dt.FiscalCalendarYearName = A.FiscalCalendarYearName and a.FiscalCalendarMonthNumber = dt.FiscalCalendarMonthNumber and dt.[Day] = 1
--LEFT JOIN [Dictionary].[dbo].[Organisation] ORG ON ORG.Organisation_Code = CASE when RIGHT([Organisation_Code_Code_of_Provider],2)= '00' then LEFT([Organisation_Code_Code_of_Provider],3) ELSE [Organisation_Code_Code_of_Provider] END
LEFT JOIN [SWL].[vw_Bankholidays_Daily] bh on bh.BankholidayDate = FullDate
LEFT JOIN [SWL].[vw_Strikedays_Daily] sd on sd.Strikedate = FullDate

left join [Data_Lab_SWL].[ref].[TreatmentSpecialities] T  WITH (NOLOCK) ON T.[TFC] = A.Treatment_Function_code
--select * from  [Data_Lab_SWL].[ref].[TreatmentSpecialities]
LEFT JOIN [Dictionary].[dbo].[Organisation] ORG ON ORG.Organisation_Code = CASE when RIGHT(Organisation_Code_Code_of_Provider,2)= '00' then LEFT(Organisation_Code_Code_of_Provider,3) ELSE Organisation_Code_Code_of_Provider END
LEFT JOIN  [SWL].[tbl_Tariff_APC_OPPROC] tariff ON Spell_Core_HRG = tariff.[HRG_Code] and  dv_FinYear = FinancialYear

WHERE
--LEFT(Organisation_Code_Code_Of_Commissioner, 3) in ('08P') and 
[End_Date_Hospital_Provider_Spell] >= '2017-04-01'
--and dv_IsSpell = 1
--AND [dv_Total_Cost_Inc_MFF] IS NOT NULL

)

SELECT  
[Dataset]
      ,[dv_FinYear]
      ,[dv_FinMonth]
      ,[Gender]
      ,[Treatment_Function_Code]
      ,[SpecialtyName]
	  ,[SpecialtyName2]
      ,[Clinic_Code]
      ,[Clinic_Code_Description]
      ,[ProviderCode]
      --,[ProviderName]
      ,[ProvderSiteCode]
      --,[ProviderSiteName]
      ,[CommissionerCode]
      ,[CommissionerCode_CCAM_SWL]
      ,[GP_Practice_Code_Derived]
      --,[GP_Description]
	  ,Spell_Core_HRG
      ,[HRGDescription]
      ,[HRGChapter]
      ,[HRGSubChapter]
	  ,[Primary_Procedure_Code]
      ,[Primary_Procedure_Description]
      ,[Primary_Procedure_Category]
	  ,Primary_Diagnosis_Code
      ,[Primary_Diagnosis_Description]
	  ,Secondary_Diagnosis_Code
      ,[Secondary_Diagnosis_Description]
      ,[Primary_Diagnosis_Chapter_Description]
      ,[Primary_Diagnosis_SubChapter_Description]
      ,[Procedure_Diagnoses_Split]
      ,[PriorityType]
      ,[Attendance_Type]
      ,[Referral_Summary1]
      ,[Referral_Summary2]
      ,[Outcome_Of_Attendance]
      ,[EthnicityCategory]
      ,[EthnicityDesc]
      ,[POD]
      --,[Age_Band]
      --,[AgeBand_Sort]
      ,[Activity]
      ,[dv_Total_Cost_Inc_MFF]
      ,[dv_Local_Cost_Code]
      ,[AllDiag]
	  ,AllProc
      ,[SK_PatientID]
      ,[SK_EncounterID]
      ,[AdmissionDate]
      ,[DischargeDate]
      ,[Hospital_Provider_Spell_No]
      ,[RTT_Period_End_Date]
      ,[RTT_Period_Start_Date]
      ,[dv_RTT_Length_Derived]
      ,[LOS]
      ,[dv_WardCode_At_Admission]
      ,[dv_WardCode_At_Discharge]
      --,[AdmissionWard_Description]
      --,[DischargeWard_Description]
      ,[dv_NumberUnbundledHRGs]
      ,[End_Date_Hospital_Provider_Spell]
      ,[dv_ExcessBedDays]
      ,[dv_ExcessBedDays_Cost]
      ,[dv_LengthOfStay_Gross]
      ,[dv_LengthOfStay_Net]
      ,[dv_Critical_CareDay_Count]
      ,[Age_At_CDS_Activity_Date]
      ,[dv_LSOACode]
      ,[Patient_Classification]
      ,[Admission_Method_Hospital_Provider_Spell]
	  ,Case when left(POD,3) IN( 'EL','DC') then 'Elective'
		  when left(POD,3) IN ('NEL') then 'Non-Elective' end
		  as Activity_Type
	--,NHSE_TFC
	,Month_of_End_of_Spell
	,Organisation_Code_PCT_of_Residence
	,Local_Patient_Identifier
	 ,Discharge_Destination_Hospital_Provider_Spell
  ,DischargeDestinationName
  --,Age_Band2
  ,dv_CDSActivityDate,
   WeekEndingDt,
	WeekNumber,
	IsBankholiday,
	IsStrikeday,
	IsWeekend,
	IsWeekday,
	[DayofWeek],
	Administrative_Category_on_Admission,
	Unique_CDS_Identifier,
	Provider_Type,
	EndOfMonthDate,
	ProviderName,
	Ready_For_Discharge_Date, 
	Is_SWLPatient,
	Is_Maternity,
	ActivityID,
	[Pbr_Final_Tariff],
	coalesce(((Activity * Price) + (Excess_bed_days * Activity * [LongStay_Day_Tariff])) /* * Specialist_Topup*/  * [dv_MFF_Index_Applied],0) as ERF_TotalCostInclMFF
	,dv_SpecCom_ServiceCode_National_Spell,
	dv_SpecCom_ServiceCode_National_Episode
  FROM Data
  --where dv_finyear = '2024-25' and dv_finmonth = 8 and ProviderCode like 'RJ7%'

GO
