USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_ECDS_OSV_AggregatedMetrics]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/********************************************************************************
-- View Name: [Unified].[vw_ECDS_OSV_AggregatedMetrics]
--
-- Description: Aggregates OSV category submissions and total activity for ECDS emergency care records.
--
-- Change Log:
--   Date         Author          Description
--   ----------   --------------  -------------------------------------------------
--   2025-03-23   Sridhar Peddi   Initial creation of the view.
--   2024-11-29   Your Name       Included unmapped fields with NULL placeholders.
--
********************************************************************************/

CREATE   VIEW [Unified].[vw_ECDS_OSV_AggregatedMetrics] AS
WITH DATA AS (
    SELECT 
        [system.record.provider] AS [Organisation_Code_Code_of_Provider],
		SWL.GetProviderType([system.record.provider],[system.record.commissioner]) as Provider_Type,
        [system.record.commissioner] AS [Organisation_Code_Code_of_Commissioner], -- Not used downstream
        [patient.overseas_visitor_charging_category] AS [OSV_Charging_Category],
        [SWL].[GetOSVCategory]([patient.overseas_visitor_charging_category]) AS OSV_Description,
        NULL AS [OSV_Classification], -- Not used downstream
        NULL AS [Treatment_Function_Code], -- Not used downstream
        CAST(REPLACE(dt.FiscalCalendarYearName, '-', '/20') AS VARCHAR(9)) AS [dv_FinYear],
        CASE 
            WHEN ([patient.overseas_visitor_charging_category] IS NOT NULL 
                  AND [patient.overseas_visitor_charging_category] <> '9' 
                  AND [patient.overseas_visitor_charging_category] IN ('A','B','C','D','E','F','P'))
            THEN 1 ELSE 0 
        END AS OSV_Category_Submitted,
        CASE 
            WHEN ([patient.overseas_visitor_charging_category] IS NOT NULL 
                  AND [patient.overseas_visitor_charging_category] = '9')
            THEN 1 ELSE 0 
        END AS OSV_Default_Category_Submitted,
        dt.FiscalCalendarMonthNumber AS [dv_FinMonth],
        1 AS Activity,
		EndOfMonthDate
    FROM [Data_Store_SUS_Unified].[ECDS].[emergency_care] appt
         LEFT JOIN [Dictionary].[dbo].[Dates] dt 
            ON appt.[system.record.cds_activity_date] = dt.FullDate
    WHERE REPLACE(dt.FiscalCalendarYearName, '-', '/20') IN ( '2024/2025',  '2025/2026')
      AND [system.record.provider] IN ('RVR','RPY','RAX','RJ6','RJ7')
)
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    OSV_Description AS Metric, 
    SUM(OSV_Category_Submitted) AS [Value]
FROM DATA 
WHERE OSV_Description IS NOT NULL
GROUP BY [Organisation_Code_Code_of_Provider], OSV_Description, [dv_FinYear], [dv_FinMonth],EndOfMonthDate,Provider_Type
UNION ALL
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    'OSV Default Category Submitted (Unified SUS)' AS Metric, 
    SUM(OSV_Default_Category_Submitted) AS [Value]
FROM DATA 
GROUP BY [Organisation_Code_Code_of_Provider], [dv_FinYear], Provider_Type,EndOfMonthDate,[dv_FinMonth]
UNION ALL
SELECT 
    [Organisation_Code_Code_of_Provider], 
	Provider_Type,
    [dv_FinYear], 
    [dv_FinMonth], 
	EndOfMonthDate,
    'Total Activity (Unified SUS)' AS Metric, 
    SUM(Activity) AS [Value]
FROM DATA 
GROUP BY [Organisation_Code_Code_of_Provider], [dv_FinYear], Provider_Type,EndOfMonthDate,[dv_FinMonth];
GO
