USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [Unified].[sp_Refresh_Active_IP]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
====================================================================================================
Object Name:        Unified.sp_Refresh_Active_IP_Last12Months (Static SQL Version)
Description:        Stored procedure to refresh the last 12 months of Outpatient (OP) encounter
                    data within the 'Unified.tbl_IP_EncounterDenormalised_Active' table.
                    This version uses static SQL, requiring source table/column names
                    to be hardcoded within the SP if different from defaults.
                    Relies on an existing [dv_FinYear] column (format YYYY/YYYY) and an
                    ActivityDate column in the source.
Author:             Sridhar Peddi
Created Date:       21/05/2025
Parameters:
    @MonthsToRefresh INT = 12   - Optional. The number of past months (from today)
                                  for which data should be refreshed. Defaults to 12.
Source Table:
                    Default: [Data_Store_SUS_Unified].[Unified].[vw_IP_EncounterDenormalised_DateRange]
Target Table:
                    [Unified].[tbl_IP_EncounterDenormalised_Active]
Logging:
                    Logs execution status, start/end times, and record counts to
                    [Unified].[tbl_RefreshLog].
Change History:
Date        Version     Author                  Description
----------------------------------------------------------------------------------------------------
21/05/2025      1.0         Sridhar Peddi   Initial static SQL version.
28/05/2025      1.1         Forster Amfo   Added the Published and Unpublished to the table to Indentify SUS published data.
29/05/2025      1.2         Sridhar Peddi   Introduced Clean SWAP as a result of SQL agent job failure which wiped the base tables, this change will ensure
					                        the change happens in a transaction.
23/06/2025      1.3         Sridhar Peddi   Fixed the historical refresh logic and validation
26/06/2025      1.4         Sridhar Peddi   Amended the code to enable recreating the materialised table from scratch
30/12/2025      1.5         Sridhar Peddi   Fixed the typo from sp_Refresh_Active_OP to sp_Refresh_Active_IP
====================================================================================================
*/


CREATE PROCEDURE [Unified].[sp_Refresh_Active_IP]
    @MonthsToRefresh INT 
AS
BEGIN
    SET NOCOUNT ON;
	--declare @MonthsToRefresh INT = 12

    /*
    CLEAN SWAP TABLE PATTERN - No Dynamic SQL, No Constraints
    1. Validate source data
    2. Create new table structure  
    3. Insert fresh data
    4. Atomic table swap
    5. Preserve original as backup
    */

    DECLARE @LogID INT, @AffectedRowsTotal INT = 0;
   DECLARE @CurrentDate DATE = GETDATE();
   DECLARE @LastInclusionDate DATE;
   DECLARE @DefaultStartDate DATE = '2024-04-01' 
   DECLARE @HistoricalRowsInserted INT;
	SELECT @LastInclusionDate = StartOfMonthDate FROM [SWL].[GetMaxFinPeriodBySUSDeliveryDate](@CurrentDate);

    --DECLARE @RefreshStartDate DATE = DATEADD(MONTH, -@MonthsToRefresh, @LastInclusionDate);
	DECLARE @RefreshStartDate DATE = 
		CASE 
			WHEN @MonthsToRefresh = 0 THEN  @DefaultStartDate -- Full refresh from fixed date
			ELSE DATEADD(MONTH, -@MonthsToRefresh, @LastInclusionDate)
		END;

    -- Initialize logging
    --INSERT INTO [Unified].[tbl_RefreshLog] ([ProcedureName], [TargetTable], [Status], [Message])
    --VALUES ('sp_Refresh_Active_OP', 'Unified.tbl_IP_EncounterDenormalised_Active', 'Running', 
    --        'SWAP TABLE refresh: ' + CONVERT(VARCHAR, @RefreshStartDate, 23) + ' to ' + CONVERT(VARCHAR, @CurrentDate, 23));
    --SET @LogID = SCOPE_IDENTITY();
	-- Initialize logging with enhanced message
	INSERT INTO [Unified].[tbl_RefreshLog] ([ProcedureName], [TargetTable], [Status], [Message])
	VALUES ('sp_Refresh_Active_IP', 'Unified.tbl_IP_EncounterDenormalised_Active', 'Running', 
			CASE 
				WHEN @MonthsToRefresh = 0 THEN 'FULL REFRESH: ' + CONVERT(VARCHAR, @RefreshStartDate, 23) + ' to ' + CONVERT(VARCHAR, @CurrentDate, 23)
				ELSE 'INCREMENTAL REFRESH (' + CAST(@MonthsToRefresh AS VARCHAR) + ' months): ' + CONVERT(VARCHAR, @RefreshStartDate, 23) + ' to ' + CONVERT(VARCHAR, @CurrentDate, 23)
			END);
	SET @LogID = SCOPE_IDENTITY();

    BEGIN TRY

        -- ================================================================
        -- VALIDATE SOURCE DATA AVAILABILITY
        -- ================================================================
        DECLARE @SourceRowCount INT;
        SELECT @SourceRowCount = COUNT(*)
        FROM [Unified].[vw_IP_EncounterDenormalised_DateRange] s 
        WHERE s.[dv_Activity_Period_Date] BETWEEN @RefreshStartDate AND @CurrentDate 
            --AND s.[dv_FinYear] IN (@CurrentActiveFY, @PreviousActiveFY);

        IF @SourceRowCount = 0
        BEGIN
            RAISERROR('No source data available for refresh period. Aborting operation.', 16, 1);
        END

        RAISERROR('Source validation: %d rows available', 0, 1, @SourceRowCount) WITH NOWAIT;

        -- ================================================================
        -- CREATE NEW TABLE STRUCTURE
        -- ================================================================
        
        -- Drop existing temp table if exists
        IF OBJECT_ID('Unified.tbl_IP_EncounterDenormalised_Active_New', 'U') IS NOT NULL
            DROP TABLE [Unified].[tbl_IP_EncounterDenormalised_Active_New];

        -- Create new table with identical structure (no data)
        SELECT TOP 0 *, 'UnPublished' AS DataAtInclusionPoint, 0 as LogId
        INTO [Unified].[tbl_IP_EncounterDenormalised_Active_New] 
        FROM [Unified].[vw_IP_EncounterDenormalised_DateRange] --[Unified].[tbl_IP_EncounterDenormalised_Active]
		--WHERE [dv_Activity_Period_Date] NOT BETWEEN '2024-04-01' AND @CurrentDate 
		--DROP table [Unified].[tbl_IP_EncounterDenormalised_Active_New]
		

        RAISERROR('New table structure created', 0, 1) WITH NOWAIT;		

		-- FIXED: Insert historical data (data outside the refresh period) using calculated date
        --INSERT INTO [Unified].[tbl_IP_EncounterDenormalised_Active_New]
        --SELECT * 
        --FROM [Unified].[tbl_IP_EncounterDenormalised_Active]
        --WHERE [dv_Activity_Period_Date] NOT BETWEEN @RefreshStartDate AND @CurrentDate;

		 --DECLARE @HistoricalRowsInserted INT = @@ROWCOUNT;

		-- Only insert historical data if NOT doing a full refresh
		IF @MonthsToRefresh > 0  -- Add this condition
		BEGIN
			INSERT INTO [Unified].[tbl_IP_EncounterDenormalised_Active_New]
			SELECT * 
			FROM [Unified].[tbl_IP_EncounterDenormalised_Active]
			WHERE [dv_Activity_Period_Date] NOT BETWEEN @RefreshStartDate AND @CurrentDate;
    
			SET @HistoricalRowsInserted = @@ROWCOUNT;
			RAISERROR('Inserted %d historical rows (outside refresh period)', 0, 1, @HistoricalRowsInserted) WITH NOWAIT;
		END
		ELSE
		BEGIN
			SET @HistoricalRowsInserted = 0;
			RAISERROR('Full refresh mode: No historical data preserved', 0, 1) WITH NOWAIT;
		END

       
        --RAISERROR('Inserted %d historical rows (outside refresh period)', 0, 1, @HistoricalRowsInserted) WITH NOWAIT;


        -- ================================================================
        -- POPULATE NEW TABLE WITH FRESH DATA
        -- ================================================================
        RAISERROR('Inserting fresh data...', 0, 1) WITH NOWAIT;

        INSERT INTO [Unified].[tbl_IP_EncounterDenormalised_Active_New] 
        SELECT s.*, 
               CASE WHEN dt.SK_Date <= InclDate.SK_DATE THEN 'Published' ELSE 'UnPublished' END AS DataAtInclusionPoint, 
               @LogID
        FROM [Unified].[vw_IP_EncounterDenormalised_DateRange] s 
        INNER JOIN [Dictionary].[dbo].[Dates] dt WITH (NOLOCK) 
            ON s.[dv_Activity_Period_Date] = dt.FullDate
        CROSS APPLY SWL.GetMaxFinPeriodBySUSDeliveryDate(GETDATE()) InclDate
        WHERE s.[dv_Activity_Period_Date] BETWEEN @RefreshStartDate AND @CurrentDate 

        OPTION (OPTIMIZE FOR UNKNOWN, MAXDOP 4);

        SET @AffectedRowsTotal = @@ROWCOUNT;
        
        IF @AffectedRowsTotal = 0
        BEGIN
            RAISERROR('INSERT completed but no rows were inserted. Check source data and filter conditions.', 16, 1);
        END

        RAISERROR('Successfully inserted %d rows', 0, 1, @AffectedRowsTotal) WITH NOWAIT;

        -- ================================================================
        -- VALIDATE NEW TABLE DATA
        -- ================================================================
		  -- FIXED: Re-enabled and corrected validation logic
        DECLARE @ExpectedTotalRows INT = @HistoricalRowsInserted + @AffectedRowsTotal;        

        DECLARE @NewTableRowCount INT;
        SELECT @NewTableRowCount = COUNT(*) FROM [Unified].[tbl_IP_EncounterDenormalised_Active_New];
        
		IF @NewTableRowCount != @ExpectedTotalRows
        BEGIN
            RAISERROR('Data validation failed: Expected %d rows (%d historical + %d fresh), found %d rows in new table', 
                     16, 1, @ExpectedTotalRows, @HistoricalRowsInserted, @AffectedRowsTotal, @NewTableRowCount);
        END

        RAISERROR('Data validation passed: %d total rows (%d historical + %d fresh)', 
                 0, 1, @NewTableRowCount, @HistoricalRowsInserted, @AffectedRowsTotal) WITH NOWAIT;


        --IF @NewTableRowCount != @AffectedRowsTotal
        --BEGIN
        --    RAISERROR('Data validation failed: Expected %d rows, found %d rows in new table', 16, 1, @AffectedRowsTotal, @NewTableRowCount);
        --END

		-- ================================================================
		-- CLEANUP EXISTING BACKUP TABLE
		-- ================================================================
		RAISERROR('Dropping the table tbl_IP_EncounterDenormalised_Active_Old...', 0, 1) WITH NOWAIT;
		IF OBJECT_ID('Unified.tbl_IP_EncounterDenormalised_Active_Old', 'U') IS NOT NULL
		BEGIN
			RAISERROR('Removing existing backup table...', 0, 1) WITH NOWAIT;
			DROP TABLE [Unified].[tbl_IP_EncounterDenormalised_Active_Old];
		END

        -- ================================================================
        -- ATOMIC TABLE SWAP
        -- ================================================================
        RAISERROR('Performing atomic table swap...', 0, 1) WITH NOWAIT;

        BEGIN TRANSACTION AtomicSwap;

            -- Rename original to backup
            EXEC sp_rename 'Unified.tbl_IP_EncounterDenormalised_Active', 'tbl_IP_EncounterDenormalised_Active_Old';
            
            -- Rename new to active
            EXEC sp_rename 'Unified.tbl_IP_EncounterDenormalised_Active_New', 'tbl_IP_EncounterDenormalised_Active';

        COMMIT TRANSACTION AtomicSwap;

        -- ================================================================
        -- FINAL VERIFICATION
        -- ================================================================
        DECLARE @FinalRowCount INT;
        SELECT @FinalRowCount = COUNT(*) FROM [Unified].[tbl_IP_EncounterDenormalised_Active];
        
        IF @FinalRowCount !=  @ExpectedTotalRows
        BEGIN
            RAISERROR('CRITICAL: Final validation failed. Row count mismatch after swap.', 16, 1);
        END

        -- Success logging
        UPDATE [Unified].[tbl_RefreshLog]
        SET [EndTime] = SYSDATETIME(), 
            [Status] = 'Completed', 
            [RecordsAffected] = @AffectedRowsTotal, 
            [Message] = 'SWAP TABLE refresh successful. Backup: tbl_IP_EncounterDenormalised_Active_Old'
        WHERE [LogID] = @LogID;

        RAISERROR('SWAP REFRESH COMPLETED: %d rows refreshed', 0, 1, @AffectedRowsTotal) WITH NOWAIT;

    END TRY
    BEGIN CATCH
        
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Rollback any active transaction
        IF @@TRANCOUNT > 0 
            ROLLBACK TRANSACTION;

        -- Clean up new table if it exists
        IF OBJECT_ID('Unified.tbl_IP_EncounterDenormalised_Active_New', 'U') IS NOT NULL
            DROP TABLE [Unified].[tbl_IP_EncounterDenormalised_Active_New];

        -- Emergency restoration if swap partially occurred
        IF OBJECT_ID('Unified.tbl_IP_EncounterDenormalised_Active_Old', 'U') IS NOT NULL 
           AND OBJECT_ID('Unified.tbl_IP_EncounterDenormalised_Active', 'U') IS NULL
        BEGIN
            EXEC sp_rename 'Unified.tbl_IP_EncounterDenormalised_Active_Old', 'tbl_IP_EncounterDenormalised_Active';
            SET @ErrorMessage = @ErrorMessage + ' [Original table restored from backup]';
        END

        -- Log failure
        UPDATE [Unified].[tbl_RefreshLog]
        SET [EndTime] = SYSDATETIME(), 
            [Status] = 'Failed', 
            [RecordsAffected] = @AffectedRowsTotal, 
            [Message] = @ErrorMessage
        WHERE [LogID] = @LogID;

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN;

    END CATCH

END;
GO
