USE [Data_Lab_SWL]
GO
/****** Object:  View [Unified].[vw_OP_EncounterDenormalised_DateRange]    Script Date: 31/12/2025 14:18:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/********************************************************************************
-- View Name: [Unified][vw_OP_EncounterDenormalised_DateRange]
--
-- Description:
--   This view transforms and maps data from the  [Data_Store_SUS_Unified].[OP].[appointment] table to match the
--   column structure of the [OP].[EncounterDenormalised_DateRange] table. It includes patient demographics,
--   appointment details, referral information, care location and professional
--   details, clinical coding, commissioning, and tariff details.
-- Change Log:
--   Date         Author          Description
--   ----------   --------------  -------------------------------------------------
--   2024-12-02   Sridhar Peddi   Initial creation of the view.
--   2024-11-29   Sridhar       Included unmapped fields with suggested aliases.
--   2025-01-20   Forster Amfo    Added COALESCE to [appointment.administrative_category] to take care of the Nulls.   
--   2025-01-20   Forster Amfo    Added COALESCE to [appointment.attended_or_dna] to take care of the Nulls.
--   2025-06-09   Sridhar Peddi   Restoring this version from a backup as the code for this view got decimated following an update on 3/6/25 at 16:42
--   2025-06-26   Sridhar Peddi   Amending this to incorporate ERF at the source level and removed various null columns and organised the order of columns
--   2025-07-07   Forster Amfo    Changed [tbl_Specialist_TopUp_Rates_2425]  to the new [tbl_Specialist_TopUp_Rates]
--   2025-12-31   Sridhar Peddi   Amended the line Appt.[appointment.attended_or_dna],'-1')
********************************************************************************/

CREATE   VIEW [Unified].[vw_OP_EncounterDenormalised_DateRange]
AS
With Data as (
SELECT 
   
   
 
    -- Identification and System Fields
    Appt.[PRIMARYKEY_ID] AS [SK_EncounterID],  -- Primary key identifier for the encounter
    --NULL AS [dv_Extract_Type],  -- Placeholder for Extract Type
    Appt.[system.report.query_identifier] AS [dv_Query_ID],  -- Query identifier
    CAST(REPLACE(dt.FiscalCalendarYearName,'-','/20') AS varchar(9)) AS [dv_FinYear],  -- Placeholder for Financial Year
    dt.FiscalCalendarMonthNumber AS [dv_FinMonth],  -- Placeholder for Financial Month
    CAST(FORMAT(Appt.[appointment.date],'yyyyMMdd') AS varchar(8))  AS [dv_Activity_Period_Date],  -- Activity period date
    --NULL AS [dv_Month_at_End_Activity],  -- Placeholder for Month at End Activity
    Appt.[system.record.identifier] AS [Generated_Record_ID],  -- Unique record identifier
    Appt.[appointment.identifier] AS [Attendance_Identifier],  -- Attendance identifier
    Appt.[system.record.identifier] AS [Spell_Identifier],  -- Placeholder for Spell Identifier
    Appt.[system.transaction.cds_unique_identifier] AS [Unique_CDS_Identifier],  -- Unique CDS Identifier

    -- Referral Information
    Appt.[appointment.referral.referrer] AS [Referrer_Code],  -- Referrer code
    Appt.[appointment.referral.referring_organisation] AS [Referring_Organisation_Code],  -- Referring organisation code
    Appt.[appointment.referral.received_date] AS [Referral_Request_Received_Date],  -- Referral request received date
    Appt.[appointment.referral.priority_type] AS [Priority_Type],  -- Priority type
    Appt.[appointment.referral.service_type_requested] AS [Service_Type_Requested],  -- Service type requested
    Appt.[appointment.referral.source_op] AS [Source_of_Referral_for_Outpatients],  -- Source of referral for outpatients
    Appt.[appointment.referral_to_treatment.ubrn.is_valid] AS [Is_Valid_UBRN],  -- Is Valid UBRN
    Appt.[appointment.referral_to_treatment.ubrn.occurrences] AS [UBRN_Occurrence_Count],  -- UBRN Occurrence Count
    Appt.[appointment.referral_to_treatment.patient_pathway_identifier.issuer] AS [Organisation_Code_Patient_Pathway_Identifier],  -- Patient pathway identifier issuer
    Appt.[appointment.referral_to_treatment.patient_pathway_identifier.value Pseudo] AS [RTT_Patient_Pathway_Identifier],  -- RTT Patient Pathway Identifier (pseudonymized)
    Appt.[appointment.referral_to_treatment.period_start_date] AS [RTT_Period_Start_Date],  -- RTT Period Start Date
    Appt.[appointment.referral_to_treatment.period_end_date] AS [RTT_Period_End_Date],  -- RTT Period End Date
    Appt.[appointment.referral_to_treatment.period_length] AS [dv_RTT_Length_Derived],  -- Derived RTT Length
    Appt.[appointment.referral_to_treatment.period_status] AS [RTT_Status],  -- RTT Status

    -- Appointment Details
    Appt.[appointment.date] AS [Appointment_Date],  -- Appointment Date
    Appt.[appointment.time] AS [Appointment_Time],  -- Appointment Time
    Appt.[system.transaction.cds_activity_date] AS [dv_CDSActivityDate],  -- CDS Activity Date
    COALESCE(Appt.[appointment.administrative_category],0) AS [Administrative_Category],  -- Administrative Category
    Appt.[appointment.first_attendance] AS [First_Attendance],  -- First Attendance
    COALESCE(Appt.[appointment.attended_or_dna],'-1') AS [Attended_Or_Did_Not_Attend],  -- Attended or Did Not Attend
    Appt.[appointment.outcome] AS [Outcome_of_Attendance],  -- Outcome of Attendance

    -- Care Professional Details
    Appt.[appointment.care_professional.consultant] AS [Consultant_Code],  -- Consultant code
	cp.[professional_registration_identifier] as [Consultant_Code_63],
    COALESCE(Appt.[appointment.care_professional.medical_staff_type],'00') AS [Medical_Staff_Type_Seeing_Patient],  -- Medical staff type
    Appt.[appointment.care_location.type] AS [Location_Type_Code],  -- Location type code

    -- Patient Identifiers
    Appt.[appointment.patient.identity.nhs_number.value Pseudo] AS [SK_PatientID],  -- Placeholder for SK_PatientID; Where is this mapped to?? ASK ISL
    Appt.[appointment.patient.identity.nhs_number.value Pseudo] AS [DW_NHS_Number],  -- NHS Number (pseudonymized)
    --NULL AS [CCG_NHS_Number],  -- Placeholder for CCG NHS Number
    Appt.[appointment.patient.identity.local_patient_identifier.value] AS [Local_Patient_Identifier],  -- Local patient identifier

    -- Patient Demographics
    Appt.[appointment.patient.identity.ethnic_category] AS [Ethnic_Category_Code],  -- Ethnic category code
    Appt.[appointment.patient.identity.age_at_cds_activity_date] AS [Age],  -- Age at CDS activity date
    Appt.[appointment.patient.identity.birth_year] AS [dv_YearOfBirth],  -- Year of birth
    Appt.[appointment.patient.identity.gender] AS [Gender_Code],  -- Gender code
    Appt.[appointment.patient.residence.postcode Pseudo] AS [Postcode_of_Usual_Address],  -- Postcode of usual address (pseudonymized)
    Appt.[appointment.patient.residence_derived.lsoa_11] AS [dv_LSOA],  -- LSOA code

    -- GP and Practice Codes
    Appt.[appointment.patient.registration.general_practitioner] AS [GP_Code],  -- GP code
    Appt.[appointment.patient.registration.general_practice] AS [GP_Practice_Code_Original_Data],  -- Original GP practice code
    Appt.[appointment.patient.registration_derived.general_practice_from_pds] AS [GP_Practice_Code_Derived],  -- Derived GP practice code
    --NULL AS [dv_PracticeCode_Validated],  -- Placeholder for Practice Code Validated

    -- Service Agreement and Provider Details
    Appt.[appointment.commissioning.service_agreement.provider_reference_number] AS [Provider_Reference_No],  -- Provider reference number
    Appt.[appointment.commissioning.service_agreement.commissioner_reference_number] AS [Commissioner_Reference_No],  -- Commissioner reference number
    Appt.[appointment.commissioning.service_agreement.commissioning_serial_number] AS [Commissioning_Serial_No_Agreement_No],  -- Commissioning serial number
    Appt.[appointment.commissioning.service_agreement.line_number] AS [NHS_Service_Agreement_Line_No],  -- NHS service agreement line number

    -- Clinical Professional Details
    Appt.[appointment.care_professional.main_specialty] AS [Main_Specialty_Code],  -- Main specialty code
    Appt.[appointment.care_professional.treatment_function] AS [Treatment_Function_Code],  -- Treatment function code
    Appt.[appointment.care_professional.local_sub_specialty] AS [Local_Sub_Specialty_Code],  -- Local sub-specialty code
    Appt.[appointment.care_location.clinic_code] AS [Clinic_Code],  -- Clinic code

    ---- Specialised Commissioning Codes
    --Appt.[appointment.commissioning.pss_grouping.national_programme_code] AS [dv_SpecCom_ServiceCode_National],  -- National SpecCom service code
    --Appt.[appointment.commissioning.pss_grouping.prescribed_service_line_code] AS [dv_SpecCom_ServiceCode_Local],  -- Local SpecCom service code
    appt.[appointment.commissioning.pss_grouping.national_programme_code] AS [Spell_NPOC],  -- Placeholder for Spell NPOC

    -- Organisation and Commissioner Codes
    Appt.[appointment.commissioning.service_agreement.provider] AS [Organisation_Code_Code_of_Provider],  -- Provider organisation code
    Appt.[appointment.care_location.site_code_of_treatment] AS [Site_code_of_Treatment],  -- Site code of treatment
	
    Appt.[appointment.patient.residence.residence_ccg] AS [Organisation_Code_PCT_of_Residence],  -- PCT of residence
    Appt.[appointment.patient.residence_derived.residence_ccg_from_patient_postcode] AS [Patient_Postcode_Derived_PCT],  -- Patient postcode derived PCT
    Appt.[appointment.commissioning.service_agreement.commissioner] AS [Organisation_Code_Code_of_Commissioner],  -- Commissioner organisation code
    --Appt.[appointment.patient.registration_derived.responsible_ccg_from_pds] AS [PCT_Derived_from_GP_Practice],  -- PCT derived from GP practice
	CASE WHEN
	   Appt.[appointment.patient.registration_derived.responsible_ccg_from_pds] = '59999' THEN Appt.[appointment.patient.registration.responsible_ccg]
	   ELSE Appt.[appointment.patient.registration_derived.responsible_ccg_from_pds] END AS [PCT_Derived_from_GP_Practice],
    --NULL AS [dv_CCAM_SWL],  -- Placeholder for CCAM SWL
    Appt.[appointment.patient.residence.residence_ccg] AS [dv_Commissioner_Code_of_Residence],  -- Placeholder for Commissioner Code of Residence
    Appt.[appointment.commissioning.service_agreement.commissioner] AS [dv_Purchaser_ID],  -- Placeholder for Purchaser ID
    --NULL AS [dv_Contract_Suffix],  -- Placeholder for Contract Suffix
    --NULL AS [dv_CostMethodDescription],  -- Placeholder for Cost Method Description

    -- Clinical Coding and HRG
    Appt.[appointment.commissioning.grouping.core_hrg] AS [Core_HRG],  -- Core HRG
    --NULL AS [dv_HRGUsedForTariff],  -- Placeholder for HRG Used For Tariff
    --NULL AS [dv_HRG],  -- Placeholder for Derived HRG
    --NULL AS [dv_Local_Cost_Code],  -- Placeholder for Local Cost Code
    --NULL AS [dv_Reason_for_Difference],  -- Placeholder for Reason for Difference

    -- PbR and Tariff Details
    Appt.[appointment.commissioning.tariff_calculation.excluded_from_pbr] AS [Spell_In_PbR_Not_In_PbR],  -- Excluded from PbR
    --NULL AS [dv_IsPBR],  -- Placeholder for Is PbR
    Appt.[appointment.commissioning.tariff_calculation.tariff_applied] AS [dv_ApplicableTariff],  -- Applicable tariff
    --Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS [dv_Base_Cost],  -- Base cost
    --NULL AS [dv_TariffType],  -- Placeholder for Tariff Type
    Appt.[appointment.commissioning.tariff_calculation.market_forces_factor] AS [dv_MFF_Index_Applied],  -- MFF index applied
    Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS [Tariff_Initial_Amount_National],  -- Tariff initial amount (national)
    CASE
        WHEN Appt.[appointment.commissioning.tariff_calculation.initial_tariff] IS NULL
            AND Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
            NULL
        ELSE
            ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
            + ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
    END AS  [Tariff_Pre_MFF_Adjusted_National],   

	--NULL AS [Tariff_Pre_MFF_Adjusted_National],  -- Placeholder for Tariff Pre MFF Adjusted National
    --Appt.[appointment.commissioning.tariff_calculation.final_price] AS [Tariff_Total_Payment_National],  -- Tariff total payment (national)
	CASE
           WHEN Appt.[appointment.commissioning.tariff_calculation.initial_tariff] IS NULL
                AND Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] IS NULL THEN
               NULL
           ELSE
               ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
               + ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT), 0)
               + CAST(ROUND(
                               (ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT), 0)
                                + ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),0)
                               ) * Appt.[appointment.commissioning.tariff_calculation.market_forces_factor]
                               - (ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.initial_tariff] AS INT),0)
                                  + ISNULL(CAST(Appt.[appointment.commissioning.tariff_calculation.aggregate_unbundled_tariff] AS INT),0)
                                 ),
                               2
                           ) AS INT)
       END AS [Tariff_Total_Payment_National],   --SP: Very complicated not sure what exactly is going on here, from Derek

    Appt.[appointment.commissioning.tariff_calculation.final_price] AS [Pbr_Final_Tariff],  -- PbR final tariff
    --NULL AS [dv_Total_Cost_Inc_MFF],  -- Placeholder for Total Cost Including MFF


    Appt.[appointment.clinical_coding.procedure.operation_status] AS [Operation_Status],  -- Operation status
    --NULL AS [Number_Procedures],  -- Placeholder for Number of Procedures
    Appt.[appointment.clinical_coding.grouper_derived.dominant_procedure] AS [Primary_Procedure_Code],  -- Primary procedure code
	
    icd_code_1 AS [Primary_Diagnosis_Code],  -- Primary diagnosis code

    --NULL AS [Primary_Procedure_Date],  -- Placeholder for Primary Procedure Date
    --NULL AS [Secondary_Procedure_Code_1],  -- Placeholder for Secondary Procedure Code 1
    --NULL AS null as [Secondary_Procedure_Date_1],  -- Placeholder for Secondary Procedure Date 1
    -- Continue placeholders for Secondary Procedure Codes and Dates up to 12
  
         CASE
           WHEN max3.Num_Unb IS NULL THEN
			   0
		   ELSE
               max3.Num_Unb
       END AS [Number_Unbundled_HRGs],                                                                                                        -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
			WHEN Unb_NonTariff.Num_Unb IS NULL THEN
               0
           ELSE
               Unb_NonTariff.Num_Unb
       END AS [Number_Unbundled_Non_Priced_HRGs],                                                                                             -- Derived (DPP - Y) -- Changed by DA 31/3/23 so that NULL is 0
       CASE
			WHEN Unb_Tariff.Num_Unb IS NULL THEN 
               0
           ELSE
               Unb_Tariff.Num_Unb
       END AS [Number_Unbundled_Priced_HRGs],  

    -- Specialised Commissioning Codes
    appt.[appointment.commissioning.pss_grouping.prescribed_service_line_code] AS [dv_SpecCom_ServiceCode_National],  -- National specialised commissioning service code
    --null AS [dv_SpecCom_ServiceCode_Local],  -- Local specialised commissioning service code

	DiagCount.[Total count of Diagnosis] AS [Number_Diagnosis],
	DiagCount.[Unique count of Diagnosis] AS [Unique_count_of_diagnosis_DV],
	icd_code_1 AS [Secondary_Diagnosis_Code_1],
	icd_code_2 AS [Secondary_Diagnosis_Code_2],
	icd_code_3 AS [Secondary_Diagnosis_Code_3],
	icd_code_4 AS [Secondary_Diagnosis_Code_4],
	icd_code_5 AS [Secondary_Diagnosis_Code_5],
	icd_code_6 AS [Secondary_Diagnosis_Code_6],
	icd_code_7 AS [Secondary_Diagnosis_Code_7],
	icd_code_8 AS [Secondary_Diagnosis_Code_8],
	icd_code_9 AS [Secondary_Diagnosis_Code_9],
	icd_code_10 AS [Secondary_Diagnosis_Code_10],
	icd_code_11 AS [Secondary_Diagnosis_Code_11],
	icd_code_12 AS [Secondary_Diagnosis_Code_12],
	icd_code_13 AS [Secondary_Diagnosis_Code_13],

	---- OPCS Code
	OPCS_Count.[Total count of Procedure] AS [Number_Procedures],
	OPCS_Count.[Unique count of Procedure] AS [Unique_count_of_procedure_DV],

	OPCS.[code_1] AS [Secondary_Procedure_Code_1],
	OPCS.[code_2] AS [Secondary_Procedure_Code_2],
	OPCS.[code_3] AS [Secondary_Procedure_Code_3],
	OPCS.[code_4] AS [Secondary_Procedure_Code_4],
	OPCS.[code_5] AS [Secondary_Procedure_Code_5],
	OPCS.[code_6] AS [Secondary_Procedure_Code_6],
	OPCS.[code_7] AS [Secondary_Procedure_Code_7],
	OPCS.[code_8] AS [Secondary_Procedure_Code_8],
	OPCS.[code_9] AS [Secondary_Procedure_Code_9],
	OPCS.[code_10] AS [Secondary_Procedure_Code_10],
	OPCS.[code_11] AS [Secondary_Procedure_Code_11],
	OPCS.[code_12] AS [Secondary_Procedure_Code_12],

	unbundled_hrg_1 AS [dv_Unbundled_HRG_1],  -- Placeholder for Unbundled HRG 1
	unbundled_hrg_2 AS [dv_Unbundled_HRG_2],  -- Placeholder for Unbundled HRG 2
	unbundled_hrg_3 AS [dv_Unbundled_HRG_3],  -- Placeholder for Unbundled HRG 3
	unbundled_hrg_4 AS [dv_Unbundled_HRG_4],  -- Placeholder for Unbundled HRG 4
	unbundled_hrg_5 AS [dv_Unbundled_HRG_5],  -- Placeholder for Unbundled HRG 5
	unbundled_hrg_6 AS [dv_Unbundled_HRG_6],  -- Placeholder for Unbundled HRG 6
	unbundled_hrg_7 AS [dv_Unbundled_HRG_7],  -- Placeholder for Unbundled HRG 7
	unbundled_hrg_8 AS [dv_Unbundled_HRG_8],  -- Placeholder for Unbundled HRG 8
	unbundled_hrg_9 AS [dv_Unbundled_HRG_9],  -- Placeholder for Unbundled HRG 9
	Unbundled_HRG_10 AS [dv_Unbundled_HRG_10],  -- Placeholder for Unbundled HRG 10
	unbundled_hrg_11 AS [dv_Unbundled_HRG_11],  -- Placeholder for Unbundled HRG 11
	unbundled_hrg_12 AS [dv_Unbundled_HRG_12],  -- Placeholder for Unbundled HRG 12
	Appt.[appointment.commissioning.commissioner_assignment.commissioner] AS [Derived_Commissioner],                                          -- Derived (DPP - Y)
	Appt.[appointment.commissioning.commissioner_assignment.flowchart_reference] AS [Derived_Commissioner Type],                              -- Derived (DPP - Y)
	Appt.[appointment.referral_to_treatment.ubrn.is_valid] AS [Is Valid UBRN],                                                                -- Derived (DPP - Y)
	Appt.[appointment.referral_to_treatment.ubrn.occurrences] AS [UBRN Occurrence Count],                                                     -- Derived (DPP - Y)
	Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date] as [OSV_Charging_Category],
	Appt.[appointment.patient.overseas_visitor.classification] as [OSV_Classification]	
	
FROM
    [Data_Store_SUS_Unified].[OP].[appointment] appt (NOLOCK)
	--INNER JOIN [Data_Store_SUS_Unified].[OP].[InsertDeleteLog] dl on appt.PRIMARYKEY_ID = dl.PRIMARYKEY_ID AND appt.dmicImportLogId = dl.dmicImportLogId
	LEFT JOIN [Dictionary].[dbo].[Dates] dt (NOLOCK) on dt.FullDate = appt.[system.transaction.cds_activity_date]
	----Diagnosis
	--LEFT JOIN (
	--	SELECT * FROM (
	--		SELECT [PRIMARYKEY_ID], ICD_ID, code
	--		FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] (NOLOCK)) AS DiagData 
	--		PIVOT (MAX([Code]) FOR [ICD_ID] IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15])) AS DiagPivot
	--	) Diagnosis ON Appt.PRIMARYKEY_ID = Diagnosis.PRIMARYKEY_ID
	----OPCS Code
	--LEFT JOIN (
	--	SELECT * FROM (
	--		SELECT [PRIMARYKEY_ID], OPCS_ID, code
	--		FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] (NOLOCK)) AS OPCS_Code_Data

	--		PIVOT (
	--		MAX([Code])
	--		FOR [OPCS_ID] IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15])) AS OPCS_Code_Pivot
	--) OPCS_Code	ON Appt.PRIMARYKEY_ID = OPCS_Code.PRIMARYKEY_ID
	-- 
	LEFT JOIN [Data_Store_SUS_Unified].[OP].[appointment.care_professionals] cp ON Appt.PRIMARYKEY_ID = cp.PRIMARYKEY_ID and CP.CARE_PROFESSIONALS_ID = 1
	-- Diagnosis Count
	LEFT JOIN (
		SELECT 
		[PRIMARYKEY_ID],
		COUNT([Code]) AS [Total count of Diagnosis],
		COUNT(DISTINCT [Code]) AS [Unique count of Diagnosis]
		FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] (NOLOCK)
		GROUP BY 
		[PRIMARYKEY_ID]
	) DiagCount ON Appt.PRIMARYKEY_ID = DiagCount.PRIMARYKEY_ID

	-- Procedure Count
	LEFT JOIN (
		SELECT 
		[PRIMARYKEY_ID],
		COUNT([Code]) AS [Total count of Procedure],
		COUNT(DISTINCT [Code]) AS [Unique count of Procedure]
		FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] (NOLOCK)
		GROUP BY 
		[PRIMARYKEY_ID]
	) OPCS_Count ON Appt.PRIMARYKEY_ID = OPCS_Count.PRIMARYKEY_ID

 LEFT JOIN
    (
		SELECT 
			[PRIMARYKEY_ID],
            --[EPISODES_ID],
            [dmicImportLogId],
            MAX(CASE WHEN [ICD_ID] = 1 THEN [code] END) AS [icd_code_1],
			MAX(CASE WHEN [ICD_ID] = 2 THEN [code] END) AS [icd_code_2],
			MAX(CASE WHEN [ICD_ID] = 3 THEN [code] END) AS [icd_code_3],
			MAX(CASE WHEN [ICD_ID] = 4 THEN [code] END) AS [icd_code_4],
			MAX(CASE WHEN [ICD_ID] = 5 THEN [code] END) AS [icd_code_5],
			MAX(CASE WHEN [ICD_ID] = 6 THEN [code] END) AS [icd_code_6],
			MAX(CASE WHEN [ICD_ID] = 7 THEN [code] END) AS [icd_code_7],
			MAX(CASE WHEN [ICD_ID] = 8 THEN [code] END) AS [icd_code_8],
			MAX(CASE WHEN [ICD_ID] = 9 THEN [code] END) AS [icd_code_9],
			MAX(CASE WHEN [ICD_ID] = 10 THEN [code] END) AS [icd_code_10],
			MAX(CASE WHEN [ICD_ID] = 11 THEN [code] END) AS [icd_code_11],
			MAX(CASE WHEN [ICD_ID] = 12 THEN [code] END) AS [icd_code_12],
			MAX(CASE WHEN [ICD_ID] = 13 THEN [code] END) AS [icd_code_13]
        FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.diagnosis.icd] (NOLOCK)
        GROUP BY [PRIMARYKEY_ID],
			--[EPISODES_ID],
            [dmicImportLogId]
    ) DIAG
        ON	appt.[PRIMARYKEY_ID] = DIAG.[PRIMARYKEY_ID]
			--AND DTFC.[EPISODES_ID] = DIAG.[EPISODES_ID]
			AND appt.[dmicImportLogId] = DIAG.[dmicImportLogId]
	 LEFT JOIN
    (
		SELECT 
			[PRIMARYKEY_ID],
            --[EPISODES_ID],
            [dmicImportLogId],
            MAX(CASE WHEN [OPCS_ID] = 1 THEN [code] END) AS [code_1],
			MAX(CASE WHEN [OPCS_ID] = 2 THEN [code] END) AS [code_2],
			MAX(CASE WHEN [OPCS_ID] = 3 THEN [code] END) AS [code_3],
			MAX(CASE WHEN [OPCS_ID] = 4 THEN [code] END) AS [code_4],
			MAX(CASE WHEN [OPCS_ID] = 5 THEN [code] END) AS [code_5],
			MAX(CASE WHEN [OPCS_ID] = 6 THEN [code] END) AS [code_6],
			MAX(CASE WHEN [OPCS_ID] = 7 THEN [code] END) AS [code_7],
			MAX(CASE WHEN [OPCS_ID] = 8 THEN [code] END) AS [code_8],
			MAX(CASE WHEN [OPCS_ID] = 9 THEN [code] END) AS [code_9],
			MAX(CASE WHEN [OPCS_ID] = 10 THEN [code] END) AS [code_10],
			MAX(CASE WHEN [OPCS_ID] = 11 THEN [code] END) AS [code_11],
			MAX(CASE WHEN [OPCS_ID] = 12 THEN [code] END) AS [code_12],
			MAX(CASE WHEN [OPCS_ID] = 13 THEN [code] END) AS [code_13]
        FROM [Data_Store_SUS_Unified].[OP].[appointment.clinical_coding.procedure.opcs] (NOLOCK)
        GROUP BY [PRIMARYKEY_ID],
			--[EPISODES_ID],
            [dmicImportLogId]
    ) OPCS
        ON	appt.[PRIMARYKEY_ID] = OPCS.[PRIMARYKEY_ID]
			--AND DTFC.[EPISODES_ID] = OPCS.[EPISODES_ID]
			AND appt.[dmicImportLogId] = OPCS.[dmicImportLogId]
	LEFT JOIN
    (
        SELECT 
			[PRIMARYKEY_ID],
			[dmicImportLogId],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 1 THEN [code] END) AS [unbundled_hrg_1],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 2 THEN [code] END) AS [unbundled_hrg_2],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 3 THEN [code] END) AS [unbundled_hrg_3],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 4 THEN [code] END) AS [unbundled_hrg_4],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 5 THEN [code] END) AS [unbundled_hrg_5],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 6 THEN [code] END) AS [unbundled_hrg_6],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 7 THEN [code] END) AS [unbundled_hrg_7],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 8 THEN [code] END) AS [unbundled_hrg_8],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 9 THEN [code] END) AS [unbundled_hrg_9],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 10 THEN [code] END) AS [unbundled_hrg_10],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 11 THEN [code] END) AS [unbundled_hrg_11],
			MAX(CASE WHEN [UNBUNDLED_HRG_ID] = 12 THEN [code] END) AS [unbundled_hrg_12]
	FROM [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] (NOLOCK)
        GROUP BY [PRIMARYKEY_ID],
                 [dmicImportLogId]
  ) hrg
        ON appt.[PRIMARYKEY_ID] = hrg.[PRIMARYKEY_ID]
           AND appt.[dmicImportLogId] = hrg.[dmicImportLogId]

	LEFT JOIN 
	( select PRIMARYKEY_ID, max(UNBUNDLED_HRG_ID) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] group by PRIMARYKEY_ID ) max3 on max3.PRIMARYKEY_ID = appt.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, count(*) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] where tariff > 0 group by PRIMARYKEY_ID ) Unb_Tariff on Unb_Tariff.PRIMARYKEY_ID = appt.PRIMARYKEY_ID
	LEFT JOIN 
	( select PRIMARYKEY_ID, count(*) As Num_Unb from [Data_Store_SUS_Unified].[OP].[appointment.commissioning.grouping.unbundled_hrg] where tariff is null group by PRIMARYKEY_ID ) Unb_NonTariff on Unb_NonTariff.PRIMARYKEY_ID = appt.PRIMARYKEY_ID
	WHERE 1=1 
	--AND dl.dmicIsDeleted = 0
)
-- Add new CTE for ERF calculations at the end
,ERFCalculations AS (
    SELECT 
        Data.*,
        -- Add tariff lookups
        tariff_proc.Outpatient_Procedure_Tariff,
        tariff_op.WF01B_First_Attendance_Single_Professional,
        tariff_op.WF02B_First_Attendance_Multiprofessional,
        topup.Rate as Specialist_Topup_Rate,
        org.OrganisationPrimaryRole
        
    FROM Data
    LEFT JOIN [SWL].[tbl_Tariff_APC_OPPROC] tariff_proc 
        ON Data.Core_HRG = tariff_proc.HRG_Code 
        AND Data.dv_FinYear = tariff_proc.FinancialYear
        AND tariff_proc.Outpatient_Procedure_Tariff IS NOT NULL
    LEFT JOIN [SWL].[tbl_Tariff_OP] tariff_op 
        ON Data.Treatment_Function_Code = tariff_op.Treatment_Function_Code 
        AND Data.dv_FinYear = tariff_op.FinancialYear
    LEFT JOIN [Dictionary].[dbo].[Organisation] org 
        ON org.Organisation_Code = CASE 
            WHEN RIGHT(Data.Organisation_Code_Code_of_Provider, 2) = '00' 
            THEN LEFT(Data.Organisation_Code_Code_of_Provider, 3) 
            ELSE Data.Organisation_Code_Code_of_Provider 
        END
    LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates] topup  --FA 07-07-2025 Changed [tbl_Specialist_TopUp_Rates_2425]
        ON topup.PSS_Flag = Data.dv_SpecCom_ServiceCode_National AND dv_FinYear = topup.Financial_Year
)


SELECT 
    -- ================================
    -- RECORD IDENTIFICATION & SYSTEM FIELDS
    -- Core identifiers and system-generated fields that uniquely identify each appointment record
    -- ================================
    [SK_EncounterID]  -- The unique identifier for the record. This can be used to link the record across all tables. (Source: Appt.PRIMARYKEY_ID)
    --,[dv_Extract_Type]  -- Static value 'Unified SUS' indicating the source system or extract type.
    ,[dv_Query_ID]  -- The system generated query ID appended to an extract. (Source: Appt.[system.report.query_identifier])
    ,[Generated_Record_ID]  -- The generated unique identifier for the episode. (Source: Appt.[system.record.identifier])
    ,[Attendance_Identifier]  -- This is an identifier for each attendance and is generated by the provider organisation. (Source: Appt.[appointment.identifier])
    ,[Spell_Identifier]  -- Unique Spell ID, using system record identifier for OP. (Source: Appt.[system.record.identifier])
    ,[Unique_CDS_Identifier]  -- A Commissioning Data Set data element providing a unique identity for the life-time of an episode. (Source: Appt.[system.transaction.cds_unique_identifier])

    -- ================================
    -- FINANCIAL PERIOD & ACTIVITY DATES
    -- Temporal fields that establish when the appointment occurred and relevant financial reporting periods
    -- ================================
    ,[dv_FinYear]  -- Derived financial year of the appointment, formatted 'YYYY/YY'.
    ,[dv_FinMonth]  -- Derived financial month number of the appointment.
    ,[dv_Activity_Period_Date]  -- Activity date of the appointment, formatted YYYYMMDD. (Source: Appt.[appointment.date])
    --,[dv_Month_at_End_Activity]  -- Placeholder: Month at the end of the activity period.
    ,[Appointment_Date]  -- Date of the outpatient appointment. (Source: Appt.[appointment.date])
    ,[Appointment_Time]  -- Time of the outpatient appointment. (Source: Appt.[appointment.time])
    ,[dv_CDSActivityDate]  -- CDS Activity Date, usually Appointment Date for OP. (Source: Appt.[system.transaction.cds_activity_date])

    -- ================================
    -- REFERRAL INFORMATION & RTT PATHWAY
    -- Fields capturing the referral process, referrer details, and Referral to Treatment (RTT) pathway tracking
    -- ================================
    ,[Referrer_Code]  -- Referrer code is the code of the person making the referral request. (Source: Appt.[appointment.referral.referrer])
    ,[Referring_Organisation_Code]  -- Referring Organisation Code is the Organisation Code of the Organisation from which the referral is made. (Source: Appt.[appointment.referral.referring_organisation])
    ,[Referral_Request_Received_Date]  -- The date the Referral request was received by the Health Care Provider. (Source: Appt.[appointment.referral.received_date])
    ,[Priority_Type]  -- The priority of a request for services. (Source: Appt.[appointment.referral.priority_type])
    ,[Service_Type_Requested]  -- The terms of reference for the Referral Request. (Source: Appt.[appointment.referral.service_type_requested])
    ,[Source_of_Referral_for_Outpatients]  -- Shows how the series of consultations within an outpatient episode originated. (Source: Appt.[appointment.referral.source_op])
    ,[Is_Valid_UBRN]  -- Flag indicating if the Unique Booking Reference Number (UBRN) is valid. (Source: Appt.[appointment.referral_to_treatment.ubrn.is_valid])
    ,[UBRN_Occurrence_Count]  -- Count of UBRN occurrences. (Source: Appt.[appointment.referral_to_treatment.ubrn.occurrences])
    ,[Organisation_Code_Patient_Pathway_Identifier]  -- ODS code of the org that issued the Patient Pathway ID. (Source: Appt.[appointment.referral_to_treatment.patient_pathway_identifier.issuer])
    ,[RTT_Patient_Pathway_Identifier]  -- RTT Patient Pathway Identifier (pseudonymized). (Source: Appt.[appointment.referral_to_treatment.patient_pathway_identifier.value Pseudo])
    ,[RTT_Period_Start_Date]  -- Start date of the RTT period. (Source: Appt.[appointment.referral_to_treatment.period_start_date])
    ,[RTT_Period_End_Date]  -- End date of the RTT period. (Source: Appt.[appointment.referral_to_treatment.period_end_date])
    ,[dv_RTT_Length_Derived]  -- Derived length of RTT period in days. (Source: Appt.[appointment.referral_to_treatment.period_length])
    ,[RTT_Status]  -- Status of RTT period. (Source: Appt.[appointment.referral_to_treatment.period_status])

    -- ================================
    -- APPOINTMENT DETAILS & ATTENDANCE
    -- Core appointment information including attendance status and administrative categorisation
    -- ================================
    ,[Administrative_Category]  -- Administrative category for appointment, COALESCEd to 0 if NULL. (Source: Appt.[appointment.administrative_category])
    ,[First_Attendance]  -- Code indicating first attendance in a series. (Source: Appt.[appointment.first_attendance])
    ,[Attended_Or_Did_Not_Attend]  -- Code indicating if patient attended or DNA'd, COALESCEd to -1 if NULL. (Source: Appt.[appointment.attended_or_dna])
    ,[Outcome_of_Attendance]  -- Code for the outcome of the attendance. (Source: Appt.[appointment.outcome])
    ,[Location_Type_Code]  -- Type of location where activity occurred. (Source: Appt.[appointment.care_location.type])

    -- ================================
    -- PATIENT DEMOGRAPHICS & IDENTITY
    -- Patient identification, demographic information, and residence details
    -- ================================
    ,[SK_PatientID]  -- Placeholder: Surrogate key for the patient.
    ,[DW_NHS_Number]  -- Patient's NHS Number (pseudonymized). (Source: Appt.[appointment.patient.identity.nhs_number.value Pseudo])
    --,[CCG_NHS_Number]  -- Placeholder: CCG specific NHS Number.
    ,[Local_Patient_Identifier]  -- Local patient identifier from provider. (Source: Appt.[appointment.patient.identity.local_patient_identifier.value])
    ,[Ethnic_Category_Code]  -- Patient's stated ethnic category. (Source: Appt.[appointment.patient.identity.ethnic_category])
    ,[Age]  -- Patient's age at CDS activity date. (Source: Appt.[appointment.patient.identity.age_at_cds_activity_date])
    ,[dv_YearOfBirth]  -- Patient's year of birth. (Source: Appt.[appointment.patient.identity.birth_year])
    ,[Gender_Code]  -- Patient's current gender. (Source: Appt.[appointment.patient.identity.gender])
    ,[Postcode_of_Usual_Address]  -- Patient's usual address postcode (pseudonymized). (Source: Appt.[appointment.patient.residence.postcode Pseudo])
    ,[dv_LSOA]  -- Derived LSOA for patient's residence. (Source: Appt.[appointment.patient.residence_derived.lsoa_11])
    ,[OSV_Charging_Category] -- Charging category for an overseas visitor at CDS activity date. (Source: Appt.[appointment.patient.overseas_visitor_charging_category_at_cds_activity_date])
    ,[OSV_Classification] -- A classification of Overseas Visitor Status. (Source: Appt.[appointment.patient.overseas_visitor.classification])

    -- ================================
    -- GP REGISTRATION & PRIMARY CARE
    -- Patient's GP and practice registration information, both submitted and derived
    -- ================================
    ,[GP_Code]  -- PPD code of patient's specified General Medical Practitioner. (Source: Appt.[appointment.patient.registration.general_practitioner])
    ,[GP_Practice_Code_Original_Data]  -- Submitted ODS code of patient's registered GP Practice. (Source: Appt.[appointment.patient.registration.general_practice])
    ,[GP_Practice_Code_Derived]  -- Patient's GP Practice ODS code derived from PDS. (Source: Appt.[appointment.patient.registration_derived.general_practice_from_pds])
    --,[dv_PracticeCode_Validated]  -- Placeholder: Validated GP Practice Code.

    -- ================================
    -- CARE TEAM & CLINICAL SPECIALTIES
    -- Information about the clinical team providing care and their specialties
    -- ================================
    ,[Consultant_Code]  -- Code of consultant (e.g., GMC/GDC). (Source: Appt.[appointment.care_professional.consultant])
    ,[Medical_Staff_Type_Seeing_Patient]  -- Code for type of medical staff seeing patient, COALESCEd to '00' if NULL. (Source: Appt.[appointment.care_professional.medical_staff_type])
    ,[Main_Specialty_Code]  -- Main specialty code of the consultant/care professional. (Source: Appt.[appointment.care_professional.main_specialty])
    ,[Treatment_Function_Code]  -- Treatment function code for the activity. (Source: Appt.[appointment.care_professional.treatment_function])
    ,[Local_Sub_Specialty_Code]  -- Local sub-specialty code. (Source: Appt.[appointment.care_professional.local_sub_specialty])
    ,[Clinic_Code]  -- Code identifying the clinic or facility. (Source: Appt.[appointment.care_location.clinic_code])
    ,[Consultant_Code_63] -- Consultant's professional registration identifier (CDS v6.3). (Source: cp.[professional_registration_identifier])

    -- ================================
    -- COMMISSIONING & SERVICE AGREEMENTS
    -- Organisational codes, commissioning arrangements, and service agreements
    -- ================================
    ,[Provider_Reference_No]  -- Locally defined provider reference number. (Source: Appt.[appointment.commissioning.service_agreement.provider_reference_number])
    ,[Commissioner_Reference_No]  -- Locally defined commissioner reference number. (Source: Appt.[appointment.commissioning.service_agreement.commissioner_reference_number])
    ,[Commissioning_Serial_No_Agreement_No]  -- Commissioning serial number for service agreement. (Source: Appt.[appointment.commissioning.service_agreement.commissioning_serial_number])
    ,[NHS_Service_Agreement_Line_No]  -- NHS service agreement line number. (Source: Appt.[appointment.commissioning.service_agreement.line_number])
    ,[Organisation_Code_Code_of_Provider]  -- ODS code of the healthcare provider organisation. (Source: Appt.[appointment.commissioning.service_agreement.provider])
    ,[Site_code_of_Treatment]  -- ODS site code where treatment occurred. (Source: Appt.[appointment.care_location.site_code_of_treatment])
    ,[Organisation_Code_PCT_of_Residence]  -- ODS Code derived from patient's postcode of usual address. (Source: Appt.[appointment.patient.residence.residence_ccg])
    ,[Patient_Postcode_Derived_PCT]  -- The CCG of residence looked up in ODS from PDS or submitted postcode. (Source: Appt.[appointment.patient.residence_derived.residence_ccg_from_patient_postcode])
    ,[Organisation_Code_Code_of_Commissioner]  -- The ODS Code of the Organisation commissioning health care. (Source: Appt.[appointment.commissioning.service_agreement.commissioner])
    ,[PCT_Derived_from_GP_Practice]  -- CCG code from ODS associated with PDS practice code, or submitted responsible CCG. (Derived in CTE)

    -- ================================
    -- SPECIALISED COMMISSIONING
    -- Fields specific to specialised commissioning and national programmes of care
    -- ================================
    ,[dv_SpecCom_ServiceCode_National]  -- National Programme of Care code for specialised commissioning. (Source: Appt.[appointment.commissioning.pss_grouping.prescribed_service_line_code])
    --,[dv_SpecCom_ServiceCode_Local]  -- Local specialised commissioning service code (placeholder).
    ,[Spell_NPOC]  -- National Programme of Care code. (Source: Appt.[appointment.commissioning.pss_grouping.national_programme_code])
    --,[dv_CCAM_SWL]  -- Placeholder: CCAM SWL specific field.
    ,[dv_Commissioner_Code_of_Residence]  -- ODS Code derived from patient's postcode of usual address. (Source: Appt.[appointment.patient.residence.residence_ccg])
    ,[dv_Purchaser_ID]  -- The ODS Code of the Organisation commissioning health care. (Source: Appt.[appointment.commissioning.service_agreement.commissioner])
    --,[dv_Contract_Suffix]  -- Placeholder: Contract Suffix.

    -- ================================
    -- HRG GROUPING & CLINICAL CODING
    -- Healthcare Resource Group (HRG) assignment and clinical coding information
    -- ================================
    ,[Core_HRG]  -- The core HRG derived by SUS - as a result of HRG grouping. (Source: Appt.[appointment.commissioning.grouping.core_hrg])
    --,[dv_HRGUsedForTariff]  -- Placeholder: HRG Used For Tariff.
    --,[dv_HRG]  -- Placeholder: Derived HRG.
    --,[dv_Local_Cost_Code]  -- Placeholder: Local Cost Code.
    --,[dv_Reason_for_Difference]  -- Placeholder: Reason for Difference.
    ,[Operation_Status]  -- Indicates whether an operative procedure was carried out. (Source: Appt.[appointment.clinical_coding.procedure.operation_status])

    -- ================================
    -- DIAGNOSIS CODES (ICD-10)
    -- Primary and secondary diagnosis codes recorded for the appointment
    -- ================================
    ,[Number_Diagnosis] -- Total count of ICD diagnosis codes recorded for the appointment. (From DiagCount CTE)
    ,[Primary_Diagnosis_Code]  -- 1st ICD diagnosis code recorded for the appointment. (From DIAG CTE: icd_code_1)
    ,[Secondary_Diagnosis_Code_1]  -- 2nd ICD diagnosis code recorded (effectively 1st secondary). (From DIAG CTE: icd_code_1 - Note: Check CTE for distinct secondary codes)
    ,[Secondary_Diagnosis_Code_2]  -- 3rd ICD diagnosis code recorded. (From DIAG CTE: icd_code_2)
    ,[Secondary_Diagnosis_Code_3]  -- 4th ICD diagnosis code recorded. (From DIAG CTE: icd_code_3)
    ,[Secondary_Diagnosis_Code_4]  -- 5th ICD diagnosis code recorded. (From DIAG CTE: icd_code_4)
    ,[Secondary_Diagnosis_Code_5]  -- 6th ICD diagnosis code recorded. (From DIAG CTE: icd_code_5)
    ,[Secondary_Diagnosis_Code_6]  -- 7th ICD diagnosis code recorded. (From DIAG CTE: icd_code_6)
    ,[Secondary_Diagnosis_Code_7]  -- 8th ICD diagnosis code recorded. (From DIAG CTE: icd_code_7)
    ,[Secondary_Diagnosis_Code_8]  -- 9th ICD diagnosis code recorded. (From DIAG CTE: icd_code_8)
    ,[Secondary_Diagnosis_Code_9]  -- 10th ICD diagnosis code recorded. (From DIAG CTE: icd_code_9)
    ,[Secondary_Diagnosis_Code_10]  -- 11th ICD diagnosis code recorded. (From DIAG CTE: icd_code_10)
    ,[Secondary_Diagnosis_Code_11]  -- 12th ICD diagnosis code recorded. (From DIAG CTE: icd_code_11)
    ,[Secondary_Diagnosis_Code_12]  -- 13th ICD diagnosis code recorded. (From DIAG CTE: icd_code_12)

    -- ================================
    -- PROCEDURE CODES (OPCS-4)
    -- Primary and secondary procedure codes recorded for the appointment
    -- ================================
    ,[Number_Procedures]  -- Total count of OPCS procedure codes recorded for the appointment. (From OPCS_Count CTE)
    ,[Primary_Procedure_Code]  -- This is the procedure submitted on the episode with the highest hierarchy rank (dominant procedure). (Source: Appt.[appointment.clinical_coding.grouper_derived.dominant_procedure])
    ,null as [Primary_Procedure_Date]  -- Placeholder: Date of primary procedure.
    ,[Secondary_Procedure_Code_1]  -- 1st OPCS procedure code recorded. (From OPCS CTE: code_1)
    ,null as [Secondary_Procedure_Date_1]  -- Placeholder: Date of 1st secondary procedure.
    ,[Secondary_Procedure_Code_2]  -- 2nd OPCS procedure code recorded. (From OPCS CTE: code_2)
    ,null as [Secondary_Procedure_Date_2]  -- Placeholder: Date of 2nd secondary procedure.
    ,[Secondary_Procedure_Code_3]  -- 3rd OPCS procedure code recorded. (From OPCS CTE: code_3)
    ,null as [Secondary_Procedure_Date_3]  -- Placeholder: Date of 3rd secondary procedure.
    ,[Secondary_Procedure_Code_4]  -- 4th OPCS procedure code recorded. (From OPCS CTE: code_4)
    ,null as [Secondary_Procedure_Date_4]  -- Placeholder: Date of 4th secondary procedure.
    ,[Secondary_Procedure_Code_5]  -- 5th OPCS procedure code recorded. (From OPCS CTE: code_5)
    ,null as [Secondary_Procedure_Date_5]  -- Placeholder: Date of 5th secondary procedure.
    ,[Secondary_Procedure_Code_6]  -- 6th OPCS procedure code recorded. (From OPCS CTE: code_6)
    ,null as [Secondary_Procedure_Date_6]  -- Placeholder: Date of 6th secondary procedure.
    ,[Secondary_Procedure_Code_7]  -- 7th OPCS procedure code recorded. (From OPCS CTE: code_7)
    ,null as [Secondary_Procedure_Date_7]  -- Placeholder: Date of 7th secondary procedure.
    ,[Secondary_Procedure_Code_8]  -- 8th OPCS procedure code recorded. (From OPCS CTE: code_8)
    ,null as [Secondary_Procedure_Date_8]  -- Placeholder: Date of 8th secondary procedure.
    ,[Secondary_Procedure_Code_9]  -- 9th OPCS procedure code recorded. (From OPCS CTE: code_9)
    ,null as [Secondary_Procedure_Date_9]  -- Placeholder: Date of 9th secondary procedure.
    ,[Secondary_Procedure_Code_10]  -- 10th OPCS procedure code recorded. (From OPCS CTE: code_10)
    ,null as [Secondary_Procedure_Date_10]  -- Placeholder: Date of 10th secondary procedure.
    ,[Secondary_Procedure_Code_11]  -- 11th OPCS procedure code recorded. (From OPCS CTE: code_11)
    ,null as [Secondary_Procedure_Date_11]  -- Placeholder: Date of 11th secondary procedure.
    ,[Secondary_Procedure_Code_12]  -- 12th OPCS procedure code recorded. (From OPCS CTE: code_12)
    ,null as [Secondary_Procedure_Date_12]  -- Placeholder: Date of 12th secondary procedure.

    -- ================================
    -- UNBUNDLED HRG CODES
    -- Additional HRG codes for unbundled services and procedures
    -- ================================
    ,[dv_Unbundled_HRG_1]  -- 1st Unbundled HRG code. (From hrg CTE: unbundled_hrg_1)
    ,[dv_Unbundled_HRG_2]  -- 2nd Unbundled HRG code. (From hrg CTE: unbundled_hrg_2)
    ,[dv_Unbundled_HRG_3]  -- 3rd Unbundled HRG code. (From hrg CTE: unbundled_hrg_3)
    ,[dv_Unbundled_HRG_4]  -- 4th Unbundled HRG code. (From hrg CTE: unbundled_hrg_4)
    ,[dv_Unbundled_HRG_5]  -- 5th Unbundled HRG code. (From hrg CTE: unbundled_hrg_5)
    ,[dv_Unbundled_HRG_6]  -- 6th Unbundled HRG code. (From hrg CTE: unbundled_hrg_6)
    ,[dv_Unbundled_HRG_7]  -- 7th Unbundled HRG code. (From hrg CTE: unbundled_hrg_7)
    ,[dv_Unbundled_HRG_8]  -- 8th Unbundled HRG code. (From hrg CTE: unbundled_hrg_8)
    ,[dv_Unbundled_HRG_9]  -- 9th Unbundled HRG code. (From hrg CTE: unbundled_hrg_9)
    ,[dv_Unbundled_HRG_10] -- 10th Unbundled HRG code. (From hrg CTE: Unbundled_HRG_10)
    ,[dv_Unbundled_HRG_11] -- 11th Unbundled HRG code. (From hrg CTE: unbundled_hrg_11)
    ,[dv_Unbundled_HRG_12] -- 12th Unbundled HRG code. (From hrg CTE: unbundled_hrg_12)
    ,[Number_Unbundled_HRGs] AS [dv_Number_Unbundled_HRGs] -- Total count of unbundled HRGs. (From max3 CTE)
    ,[Number_Unbundled_Non_Priced_HRGs] AS [dv_Number_Unbundled_Non_Priced_HRGs] -- Count of unbundled HRGs with no tariff. (From Unb_NonTariff CTE)
    ,[Number_Unbundled_Priced_HRGs] AS [dv_Number_Unbundled_Priced_HRGs] -- Count of unbundled HRGs with a tariff. (From Unb_Tariff CTE)

    -- ================================
    -- PAYMENT BY RESULTS (PBR) & TARIFFS
    -- National tariff calculations and Payment by Results information
    -- ================================
    ,[Spell_In_PbR_Not_In_PbR]  -- Signifies whether the record is priced under PbR or not. (Source: Appt.[appointment.commissioning.tariff_calculation.excluded_from_pbr])
    --,[dv_IsPBR]  -- Placeholder: Is PbR.
    ,[dv_ApplicableTariff]  -- This field will be populated with a string that details which of the possible tariffs has been applied. (Source: Appt.[appointment.commissioning.tariff_calculation.tariff_applied])
    --,[dv_TariffType]  -- Placeholder: Tariff Type.
    ,[dv_MFF_Index_Applied]  -- The MFF adjustment factor applied to the price calculation. (Source: Appt.[appointment.commissioning.tariff_calculation.market_forces_factor])
    ,[Tariff_Initial_Amount_National]  -- The national tariff appropriate for the appointment. (Source: Appt.[appointment.commissioning.tariff_calculation.initial_tariff])
    ,[Tariff_Pre_MFF_Adjusted_National]  -- Calculated sum of initial tariff and aggregate unbundled tariff.
    ,[Tariff_Total_Payment_National]  -- Calculated final price including MFF and unbundled tariffs.
    ,[Pbr_Final_Tariff]  -- This field contains the final calculated national price. (Source: Appt.[appointment.commissioning.tariff_calculation.final_price])
    ,[Tariff_Total_Payment_National] as [dv_Total_Cost_Inc_MFF] -- Alias for calculated final price including MFF.
    --,[dv_CostMethodDescription]  -- Placeholder: Description of the costing method.

    -- ================================
    -- ELECTIVE RECOVERY FUND (ERF) CALCULATIONS
    -- ERF-specific calculations including activity identification and pricing
    -- ================================
    ,CASE 
        WHEN ERFCalculations.Attended_Or_Did_Not_Attend IN ('5', '6')
        AND ERFCalculations.Administrative_Category NOT IN ('2','02')
        AND ERFCalculations.Core_HRG NOT LIKE 'NZ%'
        AND (
            (ERFCalculations.Core_HRG NOT LIKE 'WF%' AND ERFCalculations.Treatment_Function_Code NOT IN ('501', '560', '700', '710', '711', '712', '713', '715', '720', '721', '722', '723', '724', '725', '726', '727', '199', '499')) 
            OR
            (ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.Treatment_Function_Code NOT IN ('501', '560', '700', '710', '711', '712', '713', '715', '720', '721', '722', '723', '724', '725', '726', '727', '199', '499', '812'))
        )
        AND ERFCalculations.Core_HRG NOT IN ('MA50Z', 'MA51Z', 'MA52A', 'MA52B', 'MA53Z', 'MA54Z', 'MA55A', 'MA55B', 'MA56A', 'MA56B')
        AND ERFCalculations.Core_HRG NOT LIKE 'UZ%'
        AND ERFCalculations.Core_HRG <> 'NULL'
        AND (
            -- OPPROC scenario (from first part of UNION)
            (ERFCalculations.Core_HRG NOT LIKE 'WF%' 
             AND COALESCE(ERFCalculations.Outpatient_Procedure_Tariff, 
                    CASE 
                        WHEN ERFCalculations.First_Attendance IN ('1') AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF01B_First_Attendance_Single_Professional
                        WHEN ERFCalculations.First_Attendance IN ('3') AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF02B_First_Attendance_Multiprofessional
                        ELSE 0 
                    END) <> 0)
            OR
            -- OPFA scenario (from second part of UNION) 
            (ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.First_Attendance IN ('1', '3'))
        )
        
        AND (LEFT(ERFCalculations.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') 
             OR LEFT(ERFCalculations.Organisation_Code_Code_of_Commissioner, 3) IN ('36L', '07V', '08J', '08P', '08R', '08T', '08X'))
        AND ISNULL(ERFCalculations.OrganisationPrimaryRole, '') NOT IN ('RO144', 'RO190', 'RO155')
        AND ERFCalculations.Organisation_Code_Code_of_Commissioner NOT LIKE 'VPP00%'
        
        THEN 1 
        ELSE 0 
    END as IsERFActivity

    -- National_Price calculation  

	-- Price_to_apply (apply £197 default where National_Price is NULL)
	,CASE 
		WHEN (
			CASE
				WHEN ERFCalculations.Core_HRG NOT LIKE 'WF%' THEN 
					COALESCE(ERFCalculations.Outpatient_Procedure_Tariff,
						CASE	
							WHEN ERFCalculations.First_Attendance = '1' AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF01B_First_Attendance_Single_Professional
							WHEN ERFCalculations.First_Attendance = '3' AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF02B_First_Attendance_Multiprofessional
							ELSE 0
						END)
				WHEN ERFCalculations.Core_HRG LIKE 'WF%' THEN
					CASE
						WHEN (ERFCalculations.Core_HRG = 'WF01B' OR ERFCalculations.Core_HRG = 'WF01D') THEN ERFCalculations.WF01B_First_Attendance_Single_Professional
						WHEN (ERFCalculations.Core_HRG = 'WF02B' OR ERFCalculations.Core_HRG = 'WF02D') THEN ERFCalculations.WF02B_First_Attendance_Multiprofessional
						ELSE NULL
					END
				ELSE NULL
			END
		) IS NULL THEN 197 
		ELSE (
			CASE
				WHEN ERFCalculations.Core_HRG NOT LIKE 'WF%' THEN 
					COALESCE(ERFCalculations.Outpatient_Procedure_Tariff,
						CASE	
							WHEN ERFCalculations.First_Attendance = '1' AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF01B_First_Attendance_Single_Professional
							WHEN ERFCalculations.First_Attendance = '3' AND ERFCalculations.Treatment_Function_Code <> '812' THEN ERFCalculations.WF02B_First_Attendance_Multiprofessional
							ELSE 0
						END)
				WHEN ERFCalculations.Core_HRG LIKE 'WF%' THEN
					CASE
						WHEN (ERFCalculations.Core_HRG = 'WF01B' OR ERFCalculations.Core_HRG = 'WF01D') THEN ERFCalculations.WF01B_First_Attendance_Single_Professional
						WHEN (ERFCalculations.Core_HRG = 'WF02B' OR ERFCalculations.Core_HRG = 'WF02D') THEN ERFCalculations.WF02B_First_Attendance_Multiprofessional
						ELSE NULL
					END
				ELSE NULL
			END
		)
	END as ERF_Price_To_Apply_Temp

    -- Specialist Topup
    ,COALESCE(ERFCalculations.Specialist_Topup_Rate, 1) as ERF_Specialist_Topup_Temp

    -- ================================
    -- POINT OF DELIVERY (POD) FLAGS
    -- Binary flags indicating different types of outpatient activity
    -- ================================
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.First_Attendance IN ('1', '3') THEN 1 ELSE 0 END as IsOPFA
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.First_Attendance IN ('2', '4') THEN 1 ELSE 0 END as IsOPFU
    ,CASE WHEN ERFCalculations.Core_HRG NOT LIKE 'WF%' AND ERFCalculations.Core_HRG NOT LIKE 'UZ%' THEN 1 ELSE 0 END as IsOPPROC
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF01%' THEN 1 ELSE 0 END as IsSingleProfessional
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF02%' THEN 1 ELSE 0 END as IsMultiProfessional
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.Main_Specialty_Code NOT IN ('560', '900', '901', '902', '903', '904', '950', '960') THEN 1 ELSE 0 END as IsConsultantLed
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.Main_Specialty_Code IN ('560', '900', '901', '902', '903', '904', '950', '960') THEN 1 ELSE 0 END as IsNonConsultantLed
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF01C%' OR ERFCalculations.Core_HRG LIKE 'WF01D%' OR ERFCalculations.Core_HRG LIKE 'WF02C%' OR ERFCalculations.Core_HRG LIKE 'WF02D%' THEN 1 ELSE 0 END as IsNonFaceToFace
    ,CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' AND ERFCalculations.Core_HRG NOT LIKE 'WF01C%' AND ERFCalculations.Core_HRG NOT LIKE 'WF01D%' AND ERFCalculations.Core_HRG NOT LIKE 'WF02C%' AND ERFCalculations.Core_HRG NOT LIKE 'WF02D%' THEN 1 ELSE 0 END as IsFaceToFace

    -- ================================
    -- POD DETAILED CLASSIFICATION
    -- Concatenated string providing detailed Point of Delivery classification
    -- ================================
    --,CONCAT(
    --    'OP',
    --    CASE WHEN ERFCalculations.Core_HRG NOT LIKE 'WF%' AND ERFCalculations.Core_HRG NOT LIKE 'UZ%' THEN 'PROC' ELSE '' END,
    --    CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' THEN CASE WHEN ERFCalculations.First_Attendance IN ('1', '3') THEN 'FA' WHEN ERFCalculations.First_Attendance IN ('2', '4') THEN 'FUP' ELSE '' END ELSE '' END,
    --    CASE WHEN ERFCalculations.Core_HRG LIKE 'WF01%' THEN 'SP' WHEN ERFCalculations.Core_HRG LIKE 'WF02%' THEN 'MP' ELSE '' END,
    --    CASE WHEN ERFCalculations.Core_HRG LIKE 'WF%' THEN CASE WHEN ERFCalculations.Main_Specialty_Code NOT IN ('560', '900', '901', '902', '903', '904', '950', '960') THEN 'CL' ELSE 'NCL' END ELSE '' END,
    --    CASE WHEN ERFCalculations.Core_HRG LIKE 'WF01C%' OR ERFCalculations.Core_HRG LIKE 'WF01D%' OR ERFCalculations.Core_HRG LIKE 'WF02C%' OR ERFCalculations.Core_HRG LIKE 'WF02D%' THEN 'NF2F' ELSE '' END
    --) as POD_Detailed,
	,[OP].[GetPodType]([Core_HRG],Attended_Or_Did_Not_Attend,First_Attendance,Main_Specialty_Code) as POD_Detailed

FROM ERFCalculations

GO
