USE [Data_Lab_SWL]
GO
/****** Object:  UserDefinedFunction [PLNG].[Get_OpPlan_ActivityBridge_IP_UfS]    Script Date: 01/01/2026 16:28:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sridhar Peddi
-- Create date: 13/01/2025
-- Description:	Retrieves OP activity based on Inpatient metrics as defined in the technical guidance
-- =============================================
--drop  FUNCTION [PLNG].[Get_OpPlan_ActivityBridge_Inpatient_UfS] 
ALTER   FUNCTION [PLNG].[Get_OpPlan_ActivityBridge_IP_UfS] 
(
	-- Add the parameters for the function here
	@fin_Year varchar(4)
)
RETURNS TABLE
AS
	RETURN
	SELECT
			SK_EncounterID, 1038 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) = '1' 
			AND (
				(Patient_Classification IN ('1', '2', '5') OR Patient_Classification IS NULL) AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) = 0
				AND
				((Intended_Management IN ('2'))	OR
				 ((Intended_Management IN ('2', '3', '4', '5', '8', '9') OR Intended_Management IS NULL) AND Patient_Classification IN ('2'))
				)
			)
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
		
		UNION ALL

		--E.M.10b Total number of specific acute elective ordinary spells in the period
		SELECT 
			SK_EncounterID, 1039 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) = '1'  
			AND (
				(Patient_Classification = '3' AND DATEDIFF(day, Episode_Start_Date, Episode_End_Date) > 0) OR 
				(Patient_Classification = '4' AND DATEDIFF(day, Episode_Start_Date, Episode_End_Date) > 1) OR 
				-- Patients with intended management code '1' are included in 'Elective Ordinary', regardless of the actual length of stay.
				((Patient_Classification  IS NULL OR Patient_Classification IN ('1','2','5')) AND Intended_Management = '1' ) OR 
				--Patients with intended management code '2' are included if they stay longer than expected (i.e., if they stay overnight when they were not supposed to).
				((Patient_Classification  IS NULL OR Patient_Classification IN ('1','2','5')) AND Intended_Management = '2' AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0) OR 
				--these codes who have at least one overnight stay (or are expected to have) would also fit into the 'ordinary admission' category
				(Patient_Classification IN ('1') AND (Intended_Management IS NULL OR Intended_Management IN ('3','4','5','8','9')))
			)
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
		
		UNION ALL
		
		--E.M.10c Total number of specific acute elective day case spells in the period of which children under 18 years of age
		SELECT
			SK_EncounterID, 1040 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) = '1'  
			AND (Patient_Classification IN ('1','2','5') OR Patient_Classification IS NULL)
			AND (Intended_Management IN ('2', '3','4','5','8','9') OR Intended_Management IS NULL)
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) = 0 
			AND Age_At_CDS_Activity_Date < 18
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
		
		UNION ALL
		
		--E.M.10d Total number of specific acute elective ordinary spells in the period of which children under 18 years of age
		SELECT 
			SK_EncounterID, 1041 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) = '1'  AND 
			(
				(Patient_Classification = '3' AND DATEDIFF(day, Episode_Start_Date, Episode_End_Date) > 0) OR 
				(Patient_Classification = '4' AND DATEDIFF(day, Episode_Start_Date, Episode_End_Date) > 1) OR 
				-- Patients with intended management code '1' are included in 'Elective Ordinary', regardless of the actual length of stay.
				((Patient_Classification  IS NULL OR Patient_Classification IN ('1','2','5')) AND Intended_Management = '1' ) OR 
				--Patients with intended management code '2' are included if they stay longer than expected (i.e., if they stay overnight when they were not supposed to).
				((Patient_Classification  IS NULL OR Patient_Classification IN ('1','2','5')) AND Intended_Management = '2' AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0) OR 
				--these codes who have at least one overnight stay (or are expected to have) would also fit into the 'ordinary admission' category
				(Patient_Classification IN ('1') AND (Intended_Management IS NULL OR Intended_Management IN ('3','4','5','8','9')))
			)
			AND Age_At_CDS_Activity_Date < 18
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
		
		UNION ALL

		--E.M.11a Number of specific acute non-elective spells in the period with a length of stay of zero days
		SELECT 
			SK_EncounterID, 1043 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) IN ('2','3','8')
			--(Admission_Method_Hospital_Provider_Spell LIKE '2%' OR Admission_Method_Hospital_Provider_Spell LIKE '3%' OR Admission_Method_Hospital_Provider_Spell LIKE '8%') 
			
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) = 0 
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'

		UNION ALL

		--E.M.11b Number of specific acute non-elective spells in the period with a length of stay of one or more days
		SELECT 
			SK_EncounterID, 1044 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] /*[SUS].[IP].[EncounterDenormalised_DateRange]*/ ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) IN ('2','3','8') --(Admission_Method_Hospital_Provider_Spell LIKE '2%' OR Admission_Method_Hospital_Provider_Spell LIKE '3%' OR Admission_Method_Hospital_Provider_Spell LIKE '8%') 
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) >= 1 
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')	
			AND tsp.TFC_Group = 'Acute'
		
		UNION ALL

		-- Below are the new metrics introduced for 2025/26 
		-- E.M.11e: Number of specific acute non-elective spells with a length of stay of 7 or more days
		SELECT
			SK_EncounterID, 1387 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) IN ('2','3','8')
			AND ip.Admission_Method_Hospital_Provider_Spell NOT IN ('28')
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) >= 7
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
			AND ip.Treatment_Function_Code NOT IN ('192', '424')

		UNION ALL

		-- E.B.43a (Numerator for E.B.43): Records for Specific Acute non-elective spells with LoS >= 1 day.
		-- Calling query will SUM(DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell)) for these SK_EncounterID.
		SELECT
			SK_EncounterID, 1373 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND LEFT(Admission_Method_Hospital_Provider_Spell,1) IN ('2','3','8') -- Non-elective
            AND ip.Admission_Method_Hospital_Provider_Spell NOT IN ('28')
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) >= 1
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND tsp.TFC_Group = 'Acute'
			AND ip.Treatment_Function_Code NOT IN ('192', '424')

		UNION ALL

		-- E.B.45 (Numerator): Discharge records with either a NULL DRD value or DRD matches Discharge Date
		SELECT
			SK_EncounterID, 1379 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND Age_At_CDS_Activity_Date >= 16
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0
			AND Admission_Method_Hospital_Provider_Spell NOT IN ('31', '32', '82', '83') -- Exclude non-elective/non-emergency admissions
			AND [Discharge_Destination_Hospital_Provider_Spell] NOT IN ('51', '52', '87', '88', '79')
            AND Discharge_Method_Hospital_Provider_Spell NOT IN ('4', '5')
			AND tsp.TFC_Group = 'Acute'
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND (ip.[Ready_For_Discharge_Date] IS NULL OR TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE) = TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE))
			AND Start_Date_Hospital_Provider_Spell IS NOT NULL AND End_Date_Hospital_Provider_Spell IS NOT NULL

		UNION ALL

		-- E.B.45 (Denominator): Total relevant discharge records for E.B.45
		SELECT
			SK_EncounterID, 1380 as MeasureId, 'Inpatient' as Dataset --Clarified MeasureId
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND Age_At_CDS_Activity_Date >= 16
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0
			AND Admission_Method_Hospital_Provider_Spell NOT IN ('31', '32', '82', '83')
			AND [Discharge_Destination_Hospital_Provider_Spell] NOT IN ('51', '52', '87', '88', '79')
            AND Discharge_Method_Hospital_Provider_Spell NOT IN ('4', '5')
			AND tsp.TFC_Group = 'Acute'
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND Start_Date_Hospital_Provider_Spell IS NOT NULL AND End_Date_Hospital_Provider_Spell IS NOT NULL

		UNION ALL

		-- E.B.46 (Numerator): Records for bed days lost through discharge delays.
		-- Calling query will SUM(DATEDIFF(day, [Ready_For_Discharge_Date], End_Date_Hospital_Provider_Spell)) for these.
		SELECT
			SK_EncounterID, 1382 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND Age_At_CDS_Activity_Date >= 16
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0
			AND Admission_Method_Hospital_Provider_Spell NOT IN ('31', '32', '82', '83')
			AND [Discharge_Destination_Hospital_Provider_Spell] NOT IN ('51', '52', '87', '88', '79')
            AND Discharge_Method_Hospital_Provider_Spell NOT IN ('4', '5')
			AND tsp.TFC_Group = 'Acute'
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND ip.[Ready_For_Discharge_Date] IS NOT NULL AND TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE) IS NOT NULL
			AND ip.End_Date_Hospital_Provider_Spell IS NOT NULL AND TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE) IS NOT NULL
			AND TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE) < TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE) -- DRD before Discharge Date
            AND DATEDIFF(day, TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE), TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE)) > 0 -- Explicitly exclude zero delay after DRD

		UNION ALL

		-- E.B.46 (Denominator): Discharge records with a valid DRD value which does not match the Discharge Date (and has a delay > 0)
		SELECT
			SK_EncounterID, 1383 as MeasureId, 'Inpatient' as Dataset
		FROM [Unified].[tbl_IP_EncounterDenormalised_Active] ip WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] tsp WITH (NOLOCK) on ip.Treatment_Function_Code = tsp.TFC
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_year
			AND Age_At_CDS_Activity_Date >= 16
			AND DATEDIFF(day, Start_Date_Hospital_Provider_Spell, End_Date_Hospital_Provider_Spell) > 0
			AND Admission_Method_Hospital_Provider_Spell NOT IN ('31', '32', '82', '83')
			AND [Discharge_Destination_Hospital_Provider_Spell] NOT IN ('51', '52', '87', '88', '79')
            AND Discharge_Method_Hospital_Provider_Spell NOT IN ('4', '5')
			AND tsp.TFC_Group = 'Acute'
			AND [dv_IsSpell] = 1
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND ip.[Ready_For_Discharge_Date] IS NOT NULL AND TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE) IS NOT NULL
			AND ip.End_Date_Hospital_Provider_Spell IS NOT NULL AND TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE) IS NOT NULL
			AND TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE) < TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE) -- DRD before Discharge Date
            AND DATEDIFF(day, TRY_CAST(ip.[Ready_For_Discharge_Date] AS DATE), TRY_CAST(ip.End_Date_Hospital_Provider_Spell AS DATE)) > 0 -- Explicitly exclude zero delay after DRD

--END
