USE [Data_Lab_SWL]
GO
/****** Object:  UserDefinedFunction [PLNG].[Get_OpPlan_ActivityBridge_OP_UfS]    Script Date: 01/01/2026 16:27:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sridhar Peddi
-- Create date: 14/01/2024
-- Description:	Retrieves OP activity based on Inpatient metrics as defined in the technical guidance
-- change log 07/07/25: Old tariff tables and topup tables have been amended
-- =============================================
ALTER  FUNCTION [PLNG].[Get_OpPlan_ActivityBridge_OP_UfS] 
(
	-- Add the parameters for the function here
	@fin_Year varchar(4)
)
RETURNS TABLE
--@OPTable TABLE 
--(
--	-- Add the column definitions for the TABLE variable here
--	SK_EncounterID bigint,
--	MeasureId int,
--	Dataset varchar(10)
--)
AS
RETURN
--BEGIN
	--declare 'Outpatient' varchar(10) = 'Outpatient'
	---- Fill the table variable with the rows for your result set
	--IF @fin_Year <> '' 
	--	INSERT INTO @OPTable
			
		--E.M.32	Total outpatient attendances (all TFC; consultant and non consultant led) 1059		
		SELECT 
			SK_EncounterID, 
			case 
				when First_Attendance IN (1,3) then 1178 --E.M.32g
				when First_Attendance IN (2,4) then 1179 --E.M.32h
			end AS MeasureId,
			'Outpatient' as Dataset 
		FROM [Unified].[tbl_OP_EncounterDenormalised_Active] /*[Unified].[tbl_OP_EncounterDenormalised_Active]*/ WITH (NOLOCK)
		WHERE 1=1
			AND [Attended_Or_Did_Not_Attend] in (5,6)
			AND Treatment_Function_Code NOT IN ('812')
			AND LEFT(dv_FinYear,4) = @fin_Year
			AND First_Attendance IN (1,2,3,4)
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
		UNION ALL

		--E.M.8	Consultant-led first outpatient attendances (Spec acute) 1066
		--E.M.9 Consultant-led follow-up outpatient attendances (Spec acute) 1067
		SELECT 
			SK_EncounterID,CASE WHEN First_Attendance IN (1,3) THEN 1066 ELSE 1067 END AS MeasureId,'Outpatient' as Dataset 
		FROM [Unified].[tbl_OP_EncounterDenormalised_Active] WITH (NOLOCK)
		INNER JOIN [Data_Lab_SWL].[ref].[TreatmentSpecialities] ON TFC = Treatment_Function_Code
		WHERE 1=1
			AND [Attended_Or_Did_Not_Attend] in (5,6)
			AND [Main_Specialty_Code] NOT IN ('560', '950', '960')
			AND Treatment_Function_Code NOT IN ('360','812')
			AND TFC_Group LIKE 'Acute'
			AND LEFT(dv_FinYear,4) = @fin_Year
			AND First_Attendance IN (1,2,3,4)
			AND Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			AND TFC_Group = 'Acute'
		UNION ALL

		--ERF  E.M.40 (NEW): Outpatient procedures – ERF scope
		SELECT 
			distinct SK_EncounterID, 1062 AS MeasureId,'Outpatient' as Dataset 
		FROM [Unified].[tbl_OP_EncounterDenormalised_Active] AS OPA WITH (NOLOCK)
		--LEFT JOIN (select HRG_Code, Outpatient_Procedure_Tariff from [Data_Lab_SWL].[PLNG].vw_APC_OPROC_Tariff_2425 Prices2425 where outpatient_procedure_tariff is not null) tariff_proc ON OPA.[Core_HRG] = tariff_proc.[HRG_Code] SP07/07/2025
		LEFT JOIN [SWL].[tbl_Tariff_APC_OPPROC] tariff_proc ON OPA.[Core_HRG] = tariff_proc.[HRG_Code] and tariff_proc.FinancialYear = OPA.dv_FinYear --SP07/07/2025
		--LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates_2425] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] :SP07/07/2025
		LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] and topup.Financial_Year = OPA.dv_FinYear  --:SP07/07/2025
		
		LEFT JOIN [Dictionary].[dbo].[Organisation] ORG ON ORG.Organisation_Code = CASE when RIGHT(Organisation_Code_Code_of_Provider,2)= '00' then LEFT(Organisation_Code_Code_of_Provider,3) ELSE Organisation_Code_Code_of_Provider END
		--LEFT JOIN PLNG.vw_OP_Tariff_2425 tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code SP07/07/2025	
		LEFT JOIN [SWL].[tbl_Tariff_OP] tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code AND tariff.FinancialYear = OPA.dv_FinYear
		WHERE 1 = 1
			AND LEFT(dv_FinYear,4) = @fin_Year
			-- Method to identify patients who attended
			AND OPA.Attended_Or_Did_Not_Attend IN ('5', '6')
			-- Method used to exclude overseas patients, private patients and patients from Wales, Scotland, Northern Ireland and Isle of Man (i.e. responsibility of devolved administration) 					
			AND OPA.Administrative_Category NOT IN ('2','02')
			-- Method to exclude maternity pathway activity procedure (activity for subchapter NZ (maternity) is excluded)				
			AND OPA.[Core_HRG] NOT LIKE 'NZ%'
			-- Method to exclude mental health TFCs and Maternity TFCs					
			AND OPA.Treatment_Function_Code NOT IN ('501', '560', '700', '710', '711', '712', '713', '715', '720', '721', '722', '723', '724', '725', '726', '727', '199', '499')
			-- To Exclude TOPs HRGs					
			AND OPA.[Core_HRG] NOT IN ('MA50Z', 'MA51Z', 'MA52A', 'MA52B', 'MA53Z', 'MA54Z', 'MA55A', 'MA55B', 'MA56A', 'MA56B')
			--Method to include priced OP procedures only, if marked as local priced will still be included					
			AND OPA.[Core_HRG] <> 'NULL'
			-- Method to exclude 'UZ%' HRG where 'Data Invalid for Grouping'					
			AND OPA.[Core_HRG] NOT LIKE 'UZ%'
	
			-- Exclude zero priced activity	even if it defaults to FU tariff				
			AND coalesce(tariff_proc.Outpatient_Procedure_Tariff, 
									-- Where there is no national price for OPPROC use the corresponding OP attendance tariff based on FA or FU 
									-- (SP 14/06 guidance doesnt suggest to use corresponding TFC price, so commenting the code below)
									CASE	WHEN OPA.First_Attendance = 1 and OPA.Treatment_Function_Code <> 812 THEN [WF01B_First_Attendance_Single_Professional]--Prices2324a.WF01B
											WHEN OPA.First_Attendance = 3 and OPA.Treatment_Function_Code <> 812 THEN [WF02B_First_Attendance_Multiprofessional]--Prices2324a.WF02B
											ELSE 0 
									END
									--0
									) <> 0
			--AND (LEFT(OPA.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') OR LEFT(OPA.Organisation_Code_Code_of_Commissioner, 3) IN ('36L', '07V', '08J', '08P', '08R', '08T', '08X'))
			AND OPA.[Core_HRG] not like 'WF%'
			-- Exclude devolved assemblies such as Welsh, Scotland etc..
			AND ORG.OrganisationPrimaryRole NOT IN ('RO144', 'RO190', 'RO155')
			-- Exclude Private patients
			AND NOT(Organisation_Code_Code_of_Commissioner like 'VPP00')
			AND OPA.First_Attendance IN (1,2,3,4)
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			--SP 02/07/2024 adde below condition
			AND CASE WHEN /*Prices2324.[National Tariff]*/ Outpatient_Procedure_Tariff IS NULL 
							   AND ( 
									CASE	
										WHEN OPA.First_Attendance = 1 and OPA.Treatment_Function_Code <> 812 THEN [WF01B_First_Attendance_Single_Professional]--Prices2324a.WF01B
										WHEN OPA.First_Attendance = 3 and OPA.Treatment_Function_Code <> 812 THEN [WF02B_First_Attendance_Multiprofessional]--Prices2324a.WF02B
									ELSE 0 END
									) <> 0 THEN 'OPFA'
							 ELSE 'OPPROC'
							END = 'OPPROC'
			
		UNION ALL

		--E.M.41 (NEW): Outpatient first attendances without procedure – ERF scope
		SELECT 
			SK_EncounterID, 1063 AS MeasureId,'Outpatient' as Dataset 
		FROM [Unified].[tbl_OP_EncounterDenormalised_Active]  AS OPA WITH (NOLOCK)
		--LEFT JOIN PLNG.vw_OP_Tariff_2425 tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code SP07/07/2025
		LEFT JOIN [SWL].[tbl_Tariff_OP] tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code AND tariff.FinancialYear = OPA.dv_FinYear

		--LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates_2425] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] SP07/07/2025
		LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] and topup.Financial_Year = OPA.dv_FinYear  --:SP07/07/2025

		LEFT JOIN [Dictionary].[dbo].[Organisation] ORG ON ORG.Organisation_Code = CASE when RIGHT(Organisation_Code_Code_of_Provider,2)= '00' then LEFT(Organisation_Code_Code_of_Provider,3) ELSE Organisation_Code_Code_of_Provider END
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_Year	
			AND OPA.Attended_Or_Did_Not_Attend IN ('5', '6')	
			AND OPA.Administrative_Category NOT IN ('2','02')
			-- Method to exclude maternity pathway activity procedure					
			AND OPA.[Core_HRG] NOT LIKE 'NZ%'
			-- Method to exclude mental health TFCs and Maternity TFCs					
			AND OPA.Treatment_Function_Code NOT IN ('501', '560', '700', '710', '711', '712', '713', '715', '720', '721', '722', '723', '724', '725', '726', '727', '199', '499',  '812')
			-- To Exclude TOPs HRGs					
			AND OPA.[Core_HRG] NOT IN ('MA50Z', 'MA51Z', 'MA52A', 'MA52B', 'MA53Z', 'MA54Z', 'MA55A', 'MA55B', 'MA56A', 'MA56B')
			--Method to include priced OP procedures only, if marked as local priced will still be included						
			AND OPA.[Core_HRG] <> 'NULL' --??
			-- Method to exclude 'UZ%' HRG where 'Data Invalid for Grouping'					
			AND OPA.[Core_HRG] NOT LIKE 'UZ%'
			--AND (LEFT(OPA.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') OR LEFT(OPA.Organisation_Code_Code_of_Commissioner, 3) IN ('36L', '07V', '08J', '08P', '08R', '08T', '08X'))
			--with any WF subchapter HRG (i.e. includes first attendances that are consultant-led and non-consultant-led, face to face and non-face to face, multi-professional and single professional)
			AND OPA.[Core_HRG] like 'WF%'
			--which is a first outpatient attendance, follow-ups are excluded
			AND OPA.First_Attendance in (1, 3)
			-- Exclude devolved asseblies such as Welsh, Scotland etc..
			AND ORG.OrganisationPrimaryRole NOT IN ('RO144', 'RO190', 'RO155')
			-- Exclude Private patients
			AND NOT(Organisation_Code_Code_of_Commissioner like 'VPP00')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
			

		UNION ALL

		--E.M.38: Outpatient follow up attendances without procedure - ERF scope
		SELECT 
			SK_EncounterID, 1081 AS MeasureId,'Outpatient' as Dataset 
		FROM [Unified].[tbl_OP_EncounterDenormalised_Active] AS OPA WITH (NOLOCK)
		--LEFT JOIN PLNG.vw_OP_Tariff_2425 tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code SP 07/07/2025
		LEFT JOIN [SWL].[tbl_Tariff_OP] tariff on tariff.[Treatment_Function_Code] = OPA.Treatment_Function_Code AND tariff.FinancialYear = OPA.dv_FinYear
		--LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates_2425] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] SP07/07/2025
		LEFT JOIN [Data_Lab_SWL].[PLNG].[tbl_Specialist_TopUp_Rates] topup ON topup.[PSS_Flag] = [dv_SpecCom_ServiceCode_National] and topup.Financial_Year = OPA.dv_FinYear  --:SP07/07/2025

		LEFT JOIN [Dictionary].[dbo].[Organisation] ORG ON ORG.Organisation_Code = CASE when RIGHT(Organisation_Code_Code_of_Provider,2)= '00' then LEFT(Organisation_Code_Code_of_Provider,3) ELSE Organisation_Code_Code_of_Provider END
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_Year	
			AND OPA.Attended_Or_Did_Not_Attend IN ('5', '6')	
			AND OPA.Administrative_Category NOT IN ('2','02')
			-- Method to exclude maternity pathway activity procedure					
			AND OPA.[Core_HRG] NOT LIKE 'NZ%'
			-- Method to exclude mental health TFCs and Maternity TFCs					
			AND OPA.Treatment_Function_Code NOT IN ('501', '560', '700', '710', '711', '712', '713', '715', '720', '721', '722', '723', '724', '725', '726', '727', '199', '499',  '812')
			-- To Exclude TOPs HRGs					
			AND OPA.[Core_HRG] NOT IN ('MA50Z', 'MA51Z', 'MA52A', 'MA52B', 'MA53Z', 'MA54Z', 'MA55A', 'MA55B', 'MA56A', 'MA56B')
			--Method to include priced OP procedures only, if marked as local priced will still be included						
			AND OPA.[Core_HRG] <> 'NULL' --??
			-- Method to exclude 'UZ%' HRG where 'Data Invalid for Grouping'					
			AND OPA.[Core_HRG] NOT LIKE 'UZ%'
			--AND (LEFT(OPA.Organisation_Code_Code_of_Provider, 3) IN ('RAX', 'RJ6', 'RJ7', 'RPY', 'RVR') OR LEFT(OPA.Organisation_Code_Code_of_Commissioner, 3) IN ('36L', '07V', '08J', '08P', '08R', '08T', '08X'))
			--with any WF subchapter HRG (i.e. includes first attendances that are consultant-led and non-consultant-led, face to face and non-face to face, multi-professional and single professional)
			AND OPA.[Core_HRG] like 'WF%'
			--which is a first outpatient attendance, follow-ups are excluded
			AND OPA.First_Attendance in (2, 4)
			-- Exclude devolved asseblies such as Welsh, Scotland etc..
			AND ORG.OrganisationPrimaryRole NOT IN ('RO144', 'RO190', 'RO155')
			-- Exclude Private patients
			AND NOT(Organisation_Code_Code_of_Commissioner like 'VPP00')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
