USE [Data_Lab_SWL]
GO
/****** Object:  UserDefinedFunction [PLNG].[Get_OpPlan_ActivityBridge_ED_UfS]    Script Date: 01/01/2026 16:29:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Sridhar Peddi
-- Create date: 17/06/2024
-- Description:	Retrieves ED activity based on ED metrics as defined in the technical guidance
-- 21/01/2025 - SP Adapted this for Unified SUS ECDS
-- =============================================
ALTER FUNCTION [PLNG].[Get_OpPlan_ActivityBridge_ED_UfS] 
(
	-- Add the parameters for the function here
	@fin_Year varchar(4)
)
RETURNS TABLE
AS

		RETURN	
		--E.M.13a Number of attendances at type 1 A&E departments.
		SELECT SK_EncounterID, 1117 as MeasureId , 'ED' as Dataset
		FROM [Unified].[tbl_ED_EncounterDenormalised_Active] --[SUS].[AE].[EncounterDenormalised_DateRange] 
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_Year
			AND [EM_Department_Type] IN ('01')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')

		UNION ALL

		--E.M.13b Number of attendances at other type A&E attendances
		SELECT SK_EncounterID, 1118 as MeasureId, 'ED' as Dataset
		FROM [Unified].[tbl_ED_EncounterDenormalised_Active]--[SUS].[AE].[EncounterDenormalised_DateRange] 
		WHERE 1=1
			AND LEFT(dv_FinYear,4) = @fin_Year
			AND [EM_Department_Type] NOT IN ('01','05')
			AND LEFT([Organisation_Code_Code_of_Provider], 3) in ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')

		UNION ALL

	-- E.M.13d (Numerator): Type 1 A&E attendances where patient spent > 12 hours.
		SELECT
            AE.SK_EncounterID,
            1370 as MeasureId,
            'ED' as Dataset
		FROM [Unified].[tbl_ED_EncounterDenormalised_Active] AE WITH (NOLOCK)
		WHERE 1=1
			AND LEFT(AE.dv_FinYear,4) = @fin_Year
			AND AE.[EM_Department_Type] = '01'
			AND LEFT(AE.[Organisation_Code_Code_of_Provider], 3) IN ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
            AND AE.Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
            AND AE.dv_AE_Arrival_DateTime IS NOT NULL -- Use the pre-combined field from your view
            AND AE.dv_AE_Departure_DateTime IS NOT NULL -- Use the pre-combined field from your view
            AND DATEDIFF(MINUTE, AE.dv_AE_Arrival_DateTime, AE.dv_AE_Departure_DateTime) > 720

		UNION ALL

		-- E.M.13 (Numerator for 4-hour performance - Type 1): Type 1 A&E attendances where duration <= 4 hours.
		SELECT
            AE.SK_EncounterID,
            1046 as MeasureId,
            'ED' as Dataset
		FROM [Unified].[tbl_ED_EncounterDenormalised_Active] AE WITH (NOLOCK)
		WHERE 1=1
			AND LEFT(AE.dv_FinYear,4) = @fin_Year
			AND AE.[EM_Department_Type] = '01'
			AND LEFT(AE.[Organisation_Code_Code_of_Provider], 3) IN ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
            AND AE.Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
            AND AE.dv_AE_Arrival_DateTime IS NOT NULL
            AND AE.dv_AE_Departure_DateTime IS NOT NULL
            AND DATEDIFF(MINUTE, AE.dv_AE_Arrival_DateTime, AE.dv_AE_Departure_DateTime) <= 240

		UNION ALL

		-- E.M.13 (Numerator for 4-hour performance - Other Types): Other Type A&E attendances where duration <= 4 hours.
		SELECT
            AE.SK_EncounterID,
            1047 as MeasureId,
            'ED' as Dataset
		FROM [Unified].[tbl_ED_EncounterDenormalised_Active] AE WITH (NOLOCK)
		WHERE 1=1
			AND LEFT(AE.dv_FinYear,4) = @fin_Year
			AND AE.[EM_Department_Type] NOT IN ('01','05')
			AND LEFT(AE.[Organisation_Code_Code_of_Provider], 3) IN ('RVR', 'RAX', 'RJ6', 'RJ7', 'RPY')
            AND AE.Organisation_Code_Code_of_Commissioner NOT IN('VPP00', 'X98')
            AND AE.dv_AE_Arrival_DateTime IS NOT NULL
            AND AE.dv_AE_Departure_DateTime IS NOT NULL
            AND DATEDIFF(MINUTE, AE.dv_AE_Arrival_DateTime, AE.dv_AE_Departure_DateTime) <= 240

