USE [Data_Lab_SWL]
GO
/****** Object:  StoredProcedure [SWL].[sp_OperatingPlan_Metrics_UfS]    Script Date: 09/01/2026 20:54:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
====================================================================================================
Object Name:        SWL.sp_Generate_OPPlan_Metrics_UfS_Production (Production SQL Agent Version)
Description:        Production-ready stored procedure to generate OpPlan metrics data for UfS
                    (Unified Financial System). This procedure extracts and processes activity
                    data from multiple sources (OP, IP, ED) and generates operational planning
                    metrics with enhanced logging and error handling.
                    
                    Maintains the original business logic whilst adding production safeguards:
                    - Enhanced error handling with detailed logging
                    - Parameter validation
                    - Progress reporting
                    - Execution timing and statistics
                    
Author:             Sridhar Peddi
Created Date:       18/06/2025
Parameters:
    @fin_year VARCHAR(10)       - Financial year in YYYY format (e.g., '2024') - REQUIRED
    @description VARCHAR(250)   - Description for the data load process - REQUIRED

Source Tables:
    Multiple TVFs: Get_OpPlan_ActivityBridge_OP_UfS, Get_OpPlan_ActivityBridge_IP_UfS, 
                  Get_OpPlan_ActivityBridge_ED_UfS, Get_OpPlan_Actuals_UfS, Get_OpPlan_TFC_Actuals_UfS
                  
Target Tables:
    [PLNG].[tbl_OpPlan_Activity_Bridge_UfS]
    [PLNG].[tbl_OpPlan_ActualActivity_UfS]
    [PLNG].[tbl_OpPlan_ActualActivity_TFC_UfS]
    
Logging Table:
    [PLNG].[tbl_OpPlan_Load_Log_UfS]

Change History:
Date        Version     Author              Description
----------------------------------------------------------------------------------------------------
18/06/2025      1.0     Sridhar Peddi      Production version maintaining original logic
                                          Added parameter validation and enhanced error handling
02/07/2025      1.1     Sridhar Peddi      Added DM01 provisional data insert with aligned logging
====================================================================================================
*/

ALTER PROCEDURE [SWL].[sp_OperatingPlan_Metrics_UfS]
    @fin_year VARCHAR(10),
    @description VARCHAR(250)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validate required parameters
    IF @fin_year IS NULL OR @fin_year = '' --OR LEN(@fin_year) != 4 OR @fin_year NOT LIKE '[0-9][0-9][0-9][0-9]'
    BEGIN
        RAISERROR('Invalid financial year format. Expected YYYY format (e.g., 2024)', 16, 1);
        RETURN;
    END
    
    IF @description IS NULL OR LEN(LTRIM(RTRIM(@description))) = 0
    BEGIN
        RAISERROR('Description parameter cannot be null or empty', 16, 1);
        RETURN;
    END
    
    DECLARE @version FLOAT, @currentDateTime DATETIME, @currentUser VARCHAR(150), @finYear VARCHAR(10);
    DECLARE @LogId INT;
	DECLARE @DM01Records INT = 0;
    
    -- Additional production variables
    DECLARE @StartTime DATETIME = GETDATE();
    DECLARE @BridgeRecords INT = 0, @ActualRecords INT = 0, @TFCRecords INT = 0;
    
    -- Set up core variables exactly as original
    SET @finYear = CONCAT(CAST(@fin_year AS VARCHAR(4)), '/', CAST((@fin_year + 1) AS VARCHAR(4)));
    SELECT @version = ISNULL(MAX([Version]), 1) 
    FROM [PLNG].[tbl_OpPlan_Load_Log_UfS] 
    WHERE [DataType] = 'SUS' AND [FinancialYear] = @finYear;
    
    PRINT @finYear;
    
    -- Increment version by 0.1 (original logic)
    SET @version = @version + 0.1;
    
    -- Print useful information for the user (original logic)
    PRINT CONCAT('Fin Year: ', @fin_year, ' Version ', @version);
    
    -- Get current date and time
    SET @currentDateTime = GETDATE();
    -- Get connected user  
    SET @currentUser = SYSTEM_USER;
    
    -- Only run the baseline once. If baseline needs to be rerun then comment the below IF condition (ORIGINAL LOGIC)
    IF (@version >= 1)
    BEGIN TRY
        
        RAISERROR('Starting OpPlan metrics generation...', 0, 1) WITH NOWAIT;
        
        -- Insert a new log record and capture the inserted LogId (ORIGINAL)
        INSERT INTO [PLNG].[tbl_OpPlan_Load_Log_UfS] (LogDescription, JobStart, JobStatus, [Version], DataType, FinancialYear)
        VALUES (CONCAT('PRODUCTION: Data Load :', @description), GETDATE(), 0, @version, 'SUS', @finYear);
        
        -- Get hold of the next Log Id (ORIGINAL)
        SET @LogId = SCOPE_IDENTITY();
        
        PRINT CONCAT(' @version: ', @version, ' @currentDateTime: ', @currentDateTime, ' @currentUser: ', @currentUser, ' LogId:', @LogId, ' VersionId:', @version);
        
        -- ================================================================
        -- INSERT INTO BRIDGE TABLE (ORIGINAL LOGIC)
        -- ================================================================
        
        RAISERROR('Inserting bridge table data...', 0, 1) WITH NOWAIT;
        
        -- Insert into Bridge table, uses the SK_EncounterID as a finger print for further analysis and retains the data in a bridge table (ORIGINAL)
        INSERT INTO [PLNG].[tbl_OpPlan_Activity_Bridge_UfS] ([SK_EncounterID], [MeasureId], [Dataset], [Version], LogId)
        -- Extract OP Activity from the TVF (ORIGINAL)
        SELECT [SK_EncounterID], [MeasureId], [Dataset], @version, @LogId 
        FROM [PLNG].[Get_OpPlan_ActivityBridge_OP_UfS](LEFT(@fin_Year,4))
        UNION ALL 
        -- Extract IP Activity from the TVF (ORIGINAL)
        SELECT [SK_EncounterID], [MeasureId], [Dataset], @version, @LogId 
        FROM [PLNG].[Get_OpPlan_ActivityBridge_IP_UfS](LEFT(@fin_Year,4))
        UNION ALL
        -- Extract ED Activity from the TVF (ORIGINAL)
        SELECT [SK_EncounterID], [MeasureId], [Dataset], @version, @LogId 
        FROM [PLNG].[Get_OpPlan_ActivityBridge_ED_UfS](LEFT(@fin_Year,4));
        
        SET @BridgeRecords = @@ROWCOUNT;
        RAISERROR('Bridge records inserted: %d', 0, 1, @BridgeRecords) WITH NOWAIT;
        
        -- ================================================================
        -- INSERT ACTUAL ACTIVITY DATA (ORIGINAL LOGIC)
        -- ================================================================
        
        RAISERROR('Inserting actual activity data...', 0, 1) WITH NOWAIT;
        
        -- Insert new records into the holding table with incremented version, current date and time, and connected user (ORIGINAL)
        INSERT INTO [PLNG].[tbl_OpPlan_ActualActivity_UfS] ([MeasureId], [MonthEnding], [OrgCode], [OrgType], [CommissionedBy], PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], [DataAtInclusionPoint], [Version], LogId)
        SELECT [MeasureId], MonthEndingDate, [OrgCode], 'SWL Trust', [CommissionedBy], PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], [DataAtInclusionPoint], @version, @LogId 
        FROM [PLNG].[Get_OpPlan_Actuals_UfS](@LogId, @fin_year);
        
        SET @ActualRecords = @@ROWCOUNT;
        RAISERROR('Actual activity records inserted: %d', 0, 1, @ActualRecords) WITH NOWAIT;
        
        -- ================================================================
        -- INSERT SPECIALITY LEVEL DATA (ORIGINAL LOGIC)
        -- ================================================================
        
        RAISERROR('Inserting speciality level (TFC) data...', 0, 1) WITH NOWAIT;
        
        -- Insert Speciality level data into the holding table (ORIGINAL)
        INSERT INTO [PLNG].[tbl_OpPlan_ActualActivity_TFC_UfS] ([MeasureId], [MonthEnding], [OrgCode], [OrgType], [CommissionedBy], PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], [Treatment_Function_Code], [DataAtInclusionPoint], [Version], LogId)
        SELECT [MeasureId], MonthEndingDate, [OrgCode], 'SWL Trust', [CommissionedBy], PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], [Treatment_Function_Code], [DataAtInclusionPoint], @version, @LogId 
        FROM [PLNG].[Get_OpPlan_TFC_Actuals_UfS](@LogId, @fin_year);
        
        SET @TFCRecords = @@ROWCOUNT;
        RAISERROR('TFC records inserted: %d', 0, 1, @TFCRecords) WITH NOWAIT;
        

		-- ================================================================
        -- INSERT DM01 PROVISIONAL DATA (NEW ADDITION)
        -- ================================================================
        
        --RAISERROR('Inserting DM01 provisional data...', 0, 1) WITH NOWAIT;
        
        ---- Insert DM01 provisional data from view with measures catalogue lookup
        --INSERT INTO [PLNG].[tbl_OpPlan_ActualActivity_UfS] 
        --([MeasureId], [MonthEnding], [OrgCode], [OrgType], [CommissionedBy], PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], [Version], LogId)
        --SELECT 
        --    m.[MeasureId], [MonthEnding], [OrgCode], [OrgType], [CommissionedBy], m.PlanningRef, MeasureName, MeasureSubject, MeasureSubjectCategory, [ActualValue], @version, @LogId
        --FROM PLNG.vw_OpPlan_DM01_Incl_ProvisionalData d
        --LEFT JOIN [PLNG].[tbl_Measures_Catalogue] m ON d.MeasureId = m.MeasureId
        --WHERE LEFT(dv_FinYear, 4) LIKE @fin_year;
            
        --SET @DM01Records = @@ROWCOUNT;
        --RAISERROR('DM01 provisional records inserted: %d', 0, 1, @DM01Records) WITH NOWAIT;

        -- ================================================================
        -- FINAL SUCCESS LOGGING (ENHANCED FROM ORIGINAL)
        -- ================================================================
        
        -- Finally, update JobEnd using captured LogId (ORIGINAL)
        UPDATE [PLNG].[tbl_OpPlan_Load_Log_UfS]
        SET JobEnd = GETDATE(), 
            JobStatus = 1,
			LogDescription = CONCAT(LogDescription, 
				' | SUCCESS - Bridge: ', @BridgeRecords, 
				', Actual: ', @ActualRecords, 
				', DM01: ', @DM01Records,
				', TFC: ', @TFCRecords,
				', Duration: ', DATEDIFF(SECOND, @StartTime, GETDATE()), 's')
            --LogDescription = CONCAT(LogDescription, 
            --    ' | SUCCESS - Bridge: ', @BridgeRecords, 
            --    ', Actual: ', @ActualRecords, 
            --    ', TFC: ', @TFCRecords,
            --    ', Duration: ', DATEDIFF(SECOND, @StartTime, GETDATE()), 's')
        WHERE Id = @LogId;
        
        -- Success summary
        DECLARE @VersionStr VARCHAR(10) = CAST(@version AS VARCHAR(10));
        RAISERROR('SUCCESS: OpPlan metrics generation completed', 0, 1) WITH NOWAIT;
        RAISERROR('Financial Year: %s | Version: %s', 0, 1, @finYear, @VersionStr) WITH NOWAIT;
        --RAISERROR('Records - Bridge: %d, Actual: %d, TFC: %d', 0, 1, @BridgeRecords, @ActualRecords, @TFCRecords) WITH NOWAIT;
		RAISERROR('Records - Bridge: %d, Actual: %d, DM01: %d, TFC: %d', 0, 1, @BridgeRecords, @ActualRecords, @DM01Records, @TFCRecords) WITH NOWAIT;
        
    END TRY
    BEGIN CATCH
        
        -- Enhanced error handling (production addition)
        DECLARE @ErrorMessage NVARCHAR(MAX) = 
            CONCAT('ERROR DETAILS: ',
                   'Number: ', ERROR_NUMBER(), 
                   ' | Message: ', ERROR_MESSAGE(),
                   ' | Line: ', ERROR_LINE(),
                   ' | Procedure: ', ISNULL(ERROR_PROCEDURE(), 'N/A'),
                   ' | Financial Year: ', @finYear,
                   ' | Version: ', @version,
                   ' | User: ', @currentUser);
        
        -- Original error print (enhanced)
        PRINT(CONCAT('Error found -----> ErrorNumber:', ERROR_NUMBER(), ' ErrorMessage: ', ERROR_MESSAGE()));
        
        -- Update log with failure details (production enhancement)
        IF @LogId IS NOT NULL
        BEGIN
            UPDATE [PLNG].[tbl_OpPlan_Load_Log_UfS]
            SET JobEnd = GETDATE(), 
                JobStatus = -1,
                LogDescription = CONCAT(LogDescription, ' | FAILED: ', @ErrorMessage)
            WHERE Id = @LogId;
        END
        
        -- Re-raise error for SQL Agent job monitoring
        RAISERROR('OpPlan Metrics Generation Failed: %s', 16, 1, @ErrorMessage);
        
    END CATCH
    
END;